{% load i18n %}
<style type="text/css">
img.displayed {
    display: block;
    margin-left: auto;
    margin-right: auto }
</style>
{% if querystring %}
    <div class="endless_container">
        <a class="endless_more" href="{{ path }}{{ querystring }}" rel="{{ querystring_key }}">{% if label %}{{ label }}{% else %}{% trans "more" %}{% endif %}</a>
        <div class="endless_loading" style="display: none;">
            <img class="displayed" src="/static/images/ajaxloader.gif" align="">
        </div>
    </div>
{% endif %}
