{% extends "common/base_without_breadcrumb.html" %}
{% load i18n %}
{% block title %}
    {% if account %}
        {% trans 'twiching: Activation complete' %}
    {% else %}
        {% trans 'twiching: Invalid Activation Link' %}
    {% endif %}
{% endblock %}

{% block content %}
    <div class="grid_12 header_menu">
        <img src="{{ STATIC_URL }}images/twiching_23.jpg" width="10" height="30" style="float:left;"  />
        <div style="float:left;">
            <a href="/" style="text-decoration: none; color: #5d5d5d;">{% trans 'Home' %}</a>&nbsp;››&nbsp;<strong>{% trans 'Registration Link Invalid' %}</strong>
        </div>
        <img src="{{ STATIC_URL }}images/twiching_26.jpg" width="10" height="30" style="float:right;" />
    </div>

    <div class="clear"></div>

    <h1>
        {% if account %}
            {% trans "Account Activated Successfully" %}
        {% else %}
            {% trans 'Invalid Activation Link' %}
        {% endif %}
    </h1>

    <div class="clear"></div>

    <div class="grid_12 main">

        <div class="maintxt" >
            <p>
                {% if account %}
                    {% trans "Congratulations! Your account is activated successfully. You are now a part of twiching family and now <a href='/accounts/login'>login</a> to Twiching with your new username and password. Hope you enjoy your stay in Twiching.com." %}
                {% else %}
                    {% trans "Oops! Looks like you have clicked on to an invalid registration link or the registration link expired. Try again clicking on to the link you recieved via email and if the problem persists then contact our <a href='/contact'>support team</a>" %}
                {% endif %}
            </p>
        </div>
    </div>
{% endblock %}