{% extends "common/base_without_breadcrumb.html" %}
{% load i18n %}
{% block title %}{% trans "twiching: Registration Complete" %}{% endblock %}

{% block content %}
    <div class="grid_12 header_menu">
        <img src="{{ STATIC_URL }}images/twiching_23.jpg" width="10" height="30" style="float:left;"  />
        <div style="float:left;">
            <a href="/" style="text-decoration: none; color: #5d5d5d;">Home</a>&nbsp;››&nbsp;<strong>User Activation Completed</strong>
        </div>
        <img src="{{ STATIC_URL }}images/twiching_26.jpg" width="10" height="30" style="float:right;" />
    </div>

    <div class="clear"></div>

    <h1>{% trans "User Activation Completed" %}</h1>

    <div class="clear"></div>

    <div class="grid_12 main">

        <div class="maintxt" >
            <p>
                {% trans "Congratulations! Your account is activated successfully. You are now a part of twiching family and now login to Twiching with your new username and password. Hope you enjoy your stay in Twiching.com." %}
            </p>
        </div>
    </div>
{% endblock %}