{% extends "common/base.html" %}
{% load i18n %}
{% block title %}{% trans "twiching: Change Password" %}{% endblock %}

{% block content %}
<h1>{% trans 'Change Password' %}</h1>

<p>{% trans "Please enter your old password, for security's sake, and then enter your new password twice so we can verify you typed it in correctly." %}</p>

<form action="" method="post">
{{ form }}
{% csrf_token %}
<input type="submit" name="some_name" value="{% trans 'Change my password' %}">
</form>
{% endblock %}