{% extends "common/base_without_breadcrumb.html" %}
{% load i18n %}
{% block title %}{% trans "twiching: Password Reset" %}{% endblock %}

{% block content %}
    <div class="grid_12 header_menu">
        <img src="{{ STATIC_URL }}images/twiching_23.jpg" width="10" height="30" style="float:left;"  />
        <div style="float:left;">
            <a href="/" style="text-decoration: none; color: #5d5d5d;">{% trans 'Home' %}</a>&nbsp;››&nbsp;<strong>{% trans 'Password Reset' %}</strong>
        </div>
        <img src="{{ STATIC_URL }}images/twiching_26.jpg" width="10" height="30" style="float:right;" />
    </div>

    <div class="clear"></div>

    {% if validlink %}
        <h1>{% trans "Password Reset" %}</h1>
    {% else %}
        <h1>{% trans 'Password reset unsuccessful' %}</h1>
    {% endif %}

    <div class="clear"></div>

    <div class="grid_12 main">

        <div class="maintxt" >
            {% if validlink %}
            <p>{% trans "Please enter your new password twice so we can verify you typed it in correctly." %}</p>
            <form action="" method="post">
                <table border="0" cellspacing="0" cellpadding="0">
                    <tr>
                        <td width="350" align="left" valign="middle">
                            {{ form }}
                        </td>
                        <td align="left" valign="middle">
                            <input type="submit" value="{% trans 'Change my password' %}" />
                        </td>
                    </tr>
                </table>
                {% csrf_token %}
            </form>
            <p>&nbsp;</p>
            {% else %}
                <p>{% trans "The password reset link was invalid, possibly because it has already been used.  Please request a new password reset." %}</p>
            {% endif %}
        </div>
    </div>
{% endblock %}