{% extends "common/base_without_breadcrumb.html" %}
{% load i18n %}
{% block title %}{% trans "twiching: Password Reset Request" %}{% endblock %}

{% block content %}
    <div class="grid_12 header_menu">
        <img src="{{ STATIC_URL }}images/twiching_23.jpg" width="10" height="30" style="float:left;"  />
        <div style="float:left;">
            <a href="/" style="text-decoration: none; color: #5d5d5d;">Home</a>&nbsp;››&nbsp;<strong>Forgot your Password?</strong>
        </div> 
        <img src="{{ STATIC_URL }}images/twiching_26.jpg" width="10" height="30" style="float:right;" />
    </div>

    <div class="clear"></div>

    <h1>{% trans 'Forgot your Password?' %}</h1>

    <div class="clear"></div>

    <div class="grid_12 main">

        <div class="maintxt" >
            <p>
                {% trans "Forgotten your password? Enter your e-mail address below, and we'll e-mail instructions for setting a new one." %}</p>
            <form action="" method="post">
                <table border="0" cellspacing="0" cellpadding="0">
                    <tr>
                        <td width="350" align="left" valign="middle">{{ form }}</td>
                        <td align="left" valign="middle">
                            <input type="submit" value="{% trans 'Reset my password' %}">
                        </td>
                    </tr>
                </table>
                {% csrf_token %}
            </form>
            <p>&nbsp;</p>
        </div>

    </div>
{% endblock %}