{% extends "common/base_without_breadcrumb.html" %}
{% load i18n %}
{% block title %}{% trans "twiching: Password Reset Complete" %}{% endblock %}

{% block content %}
    <div class="grid_12 header_menu">
        <img src="{{ STATIC_URL }}images/twiching_23.jpg" width="10" height="30" style="float:left;"  />
        <div style="float:left;">
            <a href="/" style="text-decoration: none; color: #5d5d5d;">Home</a>&nbsp;››&nbsp;<strong>Password Reset Completed</strong>
        </div>
        <img src="{{ STATIC_URL }}images/twiching_26.jpg" width="10" height="30" style="float:right;" />
    </div>

    <div class="clear"></div>

    <h1>{% trans 'Password reset complete' %}</h1>

    <div class="clear"></div>

    <div class="grid_12 main">

        <div class="maintxt" >
            <p>{% trans "Your password has been set. You may go ahead and " %}<a href="/accounts/login/">{% trans 'log in' %}</a> {% trans "now with your new password." %}</p>
        </div>
    </div>
{% endblock %}