{% extends "common/base.html" %}
{% load i18n %}
{% block title %}{% trans "twiching: Password Changed Successfully" %}{% endblock %}

{% block content %}
<h1>{% trans 'Password change successful' %}</h1>

<p>{% trans 'Your password was changed.' %}</p>
{% endblock %}