{% extends "common/base_without_breadcrumb.html" %}
{% load i18n %}
{% block title %}{% trans "twiching: Registration Complete" %}{% endblock %}

{% block content %}
    <div class="grid_12 header_menu">
        <img src="{{ STATIC_URL }}images/twiching_23.jpg" width="10" height="30" style="float:left;"  />
        <div style="float:left;">
            <a href="/" style="text-decoration: none; color: #5d5d5d;">{% trans "Home" %}</a>&nbsp;››&nbsp;<strong>{% trans "Registration Complete" %}</strong>
        </div>
        <img src="{{ STATIC_URL }}images/twiching_26.jpg" width="10" height="30" style="float:right;" />
    </div>

    <div class="clear"></div>

    <h1>{% trans "Registration Complete" %}</h1>

    <div class="clear"></div>

    <div class="grid_12 main">

        <div class="maintxt" >
            <p>
                {% trans "We've e-mailed you instructions for activating your account to the e-mail address you submitted. You should be receiving it shortly." %}
            </p>
        </div>
    </div>
{% endblock %}