{% extends "common/base.html" %}
{% load i18n %}
{% load widget_tweaks %}
{% block extra_javascript %}
<script type="text/javascript " language="javascript">
    jQuery(document).ready(function () {
        jQuery('#id_retype_email').bind('copy paste', function(e) {
            e.preventDefault();
        });
    });
</script>
{% endblock %}
{% block content %}
    <div class="register">
        <div class="clear"></div>

        <div class="grid_12 main">

            <div class="maintxt">
                <div class="register_title">
                    <img src="{{ STATIC_URL }}images/sign-up-title.png" title="Sign Up Title" />

                    <p>{% trans "Register with us to access lots of features and options that is only available for a registered user. Please note that all fields are mandatory." %} </p>
                </div>


                <div class="clear" style="height:20px;"></div>


                <div class="grid_7 alpha">
                    {% if form.non_field_errors %}
                        <div class="error">
                            {{ form.non_field_errors }}
                        </div>
                    {% endif %}
                    <form method="post" action=".">
                        {% csrf_token %}

                        <span class="label2">{{ form.username.label_tag }}</span>
                        {% if form.username.errors %}
                            {{ form.username|add_class:"field_input_error" }}
                        {% else %}
                            {{ form.username }}
                        {% endif %}
                        {{ form.username.errors }}

                        <div class="clear"></div>
                        <span class="label2">{{ form.password1.label_tag }}</span>
                        {% if form.password1.errors %}
                            {{ form.password1|add_class:"field_input_error" }}
                        {% else %}
                            {{ form.password1 }}
                        {% endif %}
                        {{ form.password1.errors }}

                        <div class="clear"></div>
                        <span class="label2">{% trans 'Re-Type Password' %}</span>
                        {% if form.password2.errors %}
                            {{ form.password2|add_class:"field_input_error" }}
                        {% else %}
                            {{ form.password2 }}
                        {% endif %}
                        {{ form.password2.errors }}

                        <div class="clear"></div>
                        <span class="label2">{{ form.first_name.label_tag }}</span>
                        {% if form.first_name.errors %}
                            {{ form.first_name|add_class:"field_input_error" }}
                        {% else %}
                            {{ form.first_name }}
                        {% endif %}
                        {{ form.first_name.errors }}

                        <div class="clear"></div>
                        <span class="label2">{{ form.last_name.label_tag }}</span>
                        {% if form.last_name.errors %}
                            {{ form.last_name|add_class:"field_input_error" }}
                        {% else %}
                            {{ form.last_name }}
                        {% endif %}
                        {{ form.last_name.errors }}

                        <div class="clear"></div>
                        <span class="label2">{{ form.email.label_tag }}</span>
                        {% if form.email.errors %}
                            {{ form.email|add_class:"field_input_error" }}
                        {% else %}
                            {{ form.email }}
                        {% endif %}
                        {{ form.email.errors }}

                        <div class="clear"></div>
                        <span class="label2">{{ form.retype_email.label_tag }}</span>
                        {% if form.retype_email.errors %}
                            {{ form.retype_email|add_class:"field_input_error" }}
                        {% else %}
                            {{ form.retype_email }}
                        {% endif %}
                        {{ form.retype_email.errors }}

                        <div class="clear"></div>
                        <span class="label2" style="margin: 0px;">{{ form.gender.label_tag }}</span>
                        <label>
                            {{ form.gender }}
                        </label>
                        {{ form.gender.errors }}

                        <div class="clear"></div>
                        <span class="label2">{{ form.dob.label_tag }}</span>
                        {% if form.dob.errors %}
                            {{ form.dob|add_class:"field_input_error" }}
                        {% else %}
                            {{ form.dob }}
                        {% endif %}
                        {{ form.dob.errors }}

                        <div class="clear"></div>
                        <span class="label2">{{ form.user_type.label_tag }}</span>
                        {% if form.user_type.errors %}
                            {{ form.user_type|add_class:"field_input_error" }}
                        {% else %}
                            {{ form.user_type }}
                        {% endif %}
                        {{ form.user_type.errors }}

                        <div class="clear"></div>

                        <div style="margin-left: 90px; float: left;">
                            <strong>Please enter the words below</strong>
                        </div>
                        <div style="margin-left: 90px; float: left;">
                            {{ form.captcha }}
                        </div>
                        {{ form.captcha.errors }}

                        <div class="clear"></div>
                        <div style="margin-left:170px;">
                            {{ form.terms }}
                            {% trans 'I agree to the ' %} <a href="/terms-and-conditions/" target="_blank">{% trans 'Terms of Service' %}</a>
                        </div>
                        {{ form.terms.errors }}
                        <div class="clear"></div>
                        <div class="clear"></div>
                        <span class="label2">&nbsp; </span>&nbsp;
                        <input type="submit" value="{% trans 'Sign Me Up' %}" style="width: 140px; height: 30px;"/>
                    </form>
                </div>

                <div class="grid_1 alpha" style="margin-top:200px; ">
                    <img src="{{ STATIC_URL }}images/or.jpg" width="52" height="52"/>
                </div>

                <div class="grid_3 omega" style="margin-top:180px; text-align:center; "><p>
                    <strong>{% trans "Sign Up using another account" %}</strong><br/>
                    <a href="{% url socialauth_begin 'facebook' %}">
                        <img src="{{ STATIC_URL }}images/fb-icon.png" style="padding: 15px 0 15px 0;" />
                    </a>
                    <br/>
                    {% trans "Use your Facebook account to sign up <br/> for twiching. It's quick and easy!" %}
                </p>
                </div>

                <div class="clear" style="height:35px;"></div>
            </div>

        </div>
    </div>

{% endblock %}