{% load i18n thumbnail endless future %}

{% paginate products %}
{% for product in products %}
{% if product.has_stockrecord %}
<div style="cursor:pointer" onclick="document.location.href='{{ product.get_absolute_url }}'" class="camera-thumb-list" title="{{ product.get_title}}">
    <div style="height: 45px;">
<h3 class="camera-thumb-title">{{ product.get_title|truncatewords:5 }}</h3></div>
                             <div><h4 class="camera-thumb-sub-title">{{ product.get_product_class }}</h4></div>
    {% for image in product.images.all|slice:":1" %}
    {% thumbnail image.original "200x240" upscale=False as thumb %}
    <a href="{{ product.get_absolute_url }}"><img src="{{ thumb.url }}" width="{{ thumb.width }}" height="{{ thumb.height }}" alt="{{ product.get_title }}" class="thumbnail"></a>
    {% endthumbnail %}
    {% endfor %}
    <div class="camera-thumb-det"><a href="{{ product.get_absolute_url }}" title="Details">Details</a></div>
    <h5 class="camera-thumb-price">AED  {{ product.stockrecord.price_incl_tax}}/-</h5>
</div>
{% endif %}
{% endfor %}

{% show_more %}


