{% extends "accounts/accounts_base.html" %}
{% load i18n %}
{% load widget_tweaks %}
{% load endless %}
{% block title %}{% trans "twiching: Manage Photographs" %}{% endblock %}
{% load num_range %}
{% load thumbnail %}

{% block extra_css %}
    <link rel="stylesheet" href="{{ STATIC_URL }}css/colorbox.css"/>
    <link rel="stylesheet" href="{{ STATIC_URL }}css/autocomplete.css"/>
    <link rel="stylesheet" href="{{ STATIC_URL }}css/prettyPhoto.css" type="text/css" media="screen" charset="utf-8"/>
    <link rel="stylesheet" href="{{ STATIC_URL }}css/jquery.fileupload-ui.css" />
{% endblock %}
{% block extra_javascript %}
    <script type="text/javascript" src="{{ STATIC_URL }}js/jquery.history.js"></script>
    <script type="text/javascript" src="{{ STATIC_URL }}js/jquery.opacityrollover.js"></script>
    <script type="text/javascript" src="{{ STATIC_URL }}js/jquery.colorbox-min.js"></script>
    <script type="text/javascript" src="{{ STATIC_URL }}js/jquery.autocomplete.js"></script>
    <script type="text/javascript" src="{{ STATIC_URL }}js/jquery.prettyPhoto.js" charset="utf-8"></script>
    <!-- jQuery Upload files -->
    <!-- Fixing CSRF in Django for jQuery -->
    <script src="{{ STATIC_URL }}js/jquery_fix_csrf.js"></script>
    <script type="text/javascript" src="{{ STATIC_URL }}js/jquery.tmpl.js"></script>
    <script type="text/javascript" src="{{ STATIC_URL }}js/jquery.iframe-transport.js"></script>
    <script type="text/javascript" src="{{ STATIC_URL }}js/jquery.fileupload.js"></script>
    <script type="text/javascript" src="{{ STATIC_URL }}js/jquery.fileupload-ui.js"></script>


    <script type="text/javascript">
        function toggleDiv(state) {
            if (state == "show") {
                jQuery('#show_form_image').slideUp("slow");
                jQuery('#upload_image_div').slideDown("slow");
            } else {
                if (state == "hide") {
                    jQuery('#show_form_image').slideDown("slow");
                    jQuery('#upload_image_div').slideUp("slow");

                }
            }
        }
        jQuery(function() {
            'use strict';
            // Initialize the jQuery File Upload widget
            // For a complete option reference go to
            // https://github.com/blueimp/jQuery-File-Upload
            jQuery('#fileupload').fileupload({
                // this formData is neccessary to pass the csrf and pass uid to django
                formData: [
                    { name: "uid", value: "{{ uid }}"},
                    { name: "csrfmiddlewaretoken", value: "{{ csrf_token }}"}
                ],
                maxFileSize: {{ maxfilesize }},
                minFileSize: {{ minfilesize }},
                sequentialUploads: true
            });

            // Load existing files
           /* jQuery.getJSON(jQuery('#fileupload form').prop('action'), function (files) {
                var fu = jQuery('#fileupload').data('fileupload');
                fu._adjustMaxNumberOfFiles(-files.length);
                fu._renderDownload(files)
                        .appendTo(jQuery('#fileupload .files'))
                        .fadeIn(function () {
                            // Fix for IE7 and lower:
                            jQuery(this).show();
                        });
            });*/

            // Open download dialogs via iframes,
            // to prevent aborting current uploads
            jQuery('#fileupload .files a:not([target^=_blank])').live('click', function (e) {
                e.preventDefault();
                jQuery('<iframe style="display:none;"></iframe>')
                        .prop('src', this.href)
                        .appendTo('body');
            });

        });
        function deleteImage(imageId) {
            jQuery.colorbox.remove()
            var response = confirm("Are you sure you want to delete this photograph?");
            if (response) {
                window.location = "/photograph/delete/" + imageId;
            }
        }

        function editImage(imageId) {
            //Color Box
            jQuery.fn.colorbox({
                href:"/accounts/edit_photo_info/" + imageId,
                title:false,
                iframe:true,
                width:"450px",
                height:"400px",
                onClosed:function () {
                    location.reload(true);
                }
            });
        }

        function changeCategory() {
            var value = document.getElementById("category").value;
            if (value == 0) {
                window.location = "/accounts/photography/";
            } else {
                window.location = "/accounts/photography/" + value;
            }
        }

    </script>
    <script id="template-upload" type="text/x-jquery-tmpl">
        <tr class="template-upload{{ open_tv }}if error{{ close_tv }} ui-state-error{{ open_tv }}/if{{ close_tv }}">
            <td class="preview"></td>
            <td class="name">${name}</td>
            <td class="size">${sizef}</td>
            {{ open_tv }}if error{{ close_tv }}
            <td class="error" colspan="2">Error:
                {{ open_tv }}if error === 'maxFileSize'{{ close_tv }}File is too big
                {{ open_tv }}else error === 'minFileSize'{{ close_tv }}File is too small
                {{ open_tv }}else error === 'acceptFileTypes'{{ close_tv }}Filetype not allowed
                {{ open_tv }}else error === 'maxNumberOfFiles'{{ close_tv }}Max number of files exceeded
                {{ open_tv }}else{{ close_tv }}${error}
                {{ open_tv }}/if{{ close_tv }}
            </td>
            {{ open_tv }}else{{ close_tv }}
            <td class="progress">
                <div></div>
            </td>
            <td class="start" style=" visibility:none;">
                <button style=" visibility:none;">Start</button>
            </td>
            {{ open_tv }}/if{{ close_tv }}
            <td class="cancel">
                <button>Cancel</button>
            </td>
        </tr>
    </script>
    <script id="template-download" type="text/x-jquery-tmpl">
        <tr class="template-download{{ open_tv }}if error{{ close_tv }} ui-state-error{{ open_tv }}/if{{ close_tv }}">
            {{ open_tv }}if error{{ close_tv }}
            <td></td>
            <td class="name">${name}</td>
            <td class="size">${sizef}</td>
            <td class="error" colspan="2">Error: ${error}
                {{ open_tv }}if error === 1{{ close_tv }}File exceeds upload_max_filesize (php.ini directive)
                {{ open_tv }}else error === 2{{ close_tv }}File exceeds MAX_FILE_SIZE (HTML form directive)
                {{ open_tv }}else error === 3{{ close_tv }}File was only partially uploaded
                {{ open_tv }}else error === 4{{ close_tv }}No File was uploaded
                {{ open_tv }}else error === 5{{ close_tv }}Missing a temporary folder
                {{ open_tv }}else error === 6{{ close_tv }}Failed to write file to disk
                {{ open_tv }}else error === 7{{ close_tv }}File upload stopped by extension
                {{ open_tv }}else error === 'maxFileSize'{{ close_tv }}File is too big
                {{ open_tv }}else error === 'minFileSize'{{ close_tv }}File is too small
                {{ open_tv }}else error === 'acceptFileTypes'{{ close_tv }}Filetype not allowed
                {{ open_tv }}else error === 'maxNumberOfFiles'{{ close_tv }}Max number of files exceeded
                {{ open_tv }}else error === 'uploadedBytes'{{ close_tv }}Uploaded bytes exceed file size
                {{ open_tv }}else error === 'emptyResult'{{ close_tv }}Empty file upload result
                {{ open_tv }}else{{ close_tv }}${error}
                {{ open_tv }}/if{{ close_tv }}
            </td>
            {{ open_tv }}else{{ close_tv }}
            <td class="preview">
                {{ open_tv }}if thumbnail_url{{ close_tv }}
                <a href="${url}" target="_blank"><img src="${thumbnail_url}"></a>
                {{ open_tv }}/if{{ close_tv }}
            </td>
            <td class="name">
                <a href="${url}" {{ open_tv }}if thumbnail_url{{ close_tv }}
                   target="_blank"{{ open_tv }}/if{{ close_tv }}>${name}</a>
            </td>
            <td class="size">${sizef}</td>
            <td colspan="2"></td>
            {{ open_tv }}/if{{ close_tv }}
            <td class="delete">
                <button data-type="${delete_type}" data-url="${delete_url}">Delete</button>
            </td>
        </tr>
    </script>
{% endblock %}

{% block content_inner %}
    <div style="width: 100%">
        <span style="width: 200px; float: left;">
            <h2>{% trans "Manage Photographs" %}</h2>
        </span>
    </div>
    <div class="clear"></div>
    <div style="padding: 0 0px 30px 0; text-align: center;" id="show_form_image">
        <a onclick="toggleDiv('show')" style="cursor: pointer;">
            <img src="{{ STATIC_URL }}images/upload-pic-icon.jpg" alt="Upload Image" />
        </a>
    </div>
    {% if form.non_field_errors %}
        <div class="error">
            <p style="clear: both;">{{ form.non_field_errors }}</p>
        </div>
    {% endif %}
    <div id="upload_image_div" {% if openStatus == 0 %} style="display: none;"{% endif %}>

        <div style="border-style: solid; padding: 5px;">
            <h3>{% trans "Upload Photo(s)" %}</h3>
            <div style="clear: both; border-color: red; border-width: 1px; border-style: solid; padding: 3px; margin-bottom: 8px;">
                <b>Important, read this before uploading!</b>
                <br />
		<li>
			{% trans "You are the original copyright holder of the photograph." %}
		</li>
		<li>
			{% trans "You do not upload photographs that are of explicit nature, nude, abusive, or anything which hurts the sentiments of any region, religion or a community." %}
		</li>
		<li>
			{% trans "All photos uploaded will go though our panel of photographers , and photos that maintain a level of standard will only be approved." %}
		</li>
		<li>
			{% trans "Photos that are not categorized and is in the 'default' category will not be displayed in the main stream even after approval. Please make sure you select the category." %}
		</li>
                
                
            </div>
            <form method="POST" enctype="multipart/form-data" action="/accounts/photography/">
                    {% csrf_token %}
                    <!--<span class="label2">{{ form.title.label_tag }}</span> :
                    {% if form.title.errors %}
                        {{ form.title|add_class:"field_input_error" }}
                    {% else %}
                        {{ form.title }}
                    {% endif %}
                    <div class="clear"></div>
                    {{ form.title.errors }}
                    <span class="label2">
                    {{ form.description.label_tag }}
                    </span> :
                    {{ form.description }}
                    <div class="clear"></div>
                    <span class="label2">
                    {{ form.category.label_tag }}
                    </span> :
                    {% if form.category.errors %}
                        {{ form.category|add_class:"field_input_error" }}
                    {% else %}
                        {{ form.category }}
                    {% endif %}
                    <div class="clear"></div>
                    {{ form.category.errors }}-->


                    <div id="fileupload">

                        <div class="fileupload-buttonbar" align="center">
                            <label class="fileinput-button">
                                <span>Add files...</span>
                                <input type="file" name="files[]" multiple>
                            </label>
                            <button type="submit" class="start">Start upload</button>
                            <button type="reset" class="cancel"  onclick="toggleDiv('hide')">Cancel upload</button>
                            <!--<button type="button" class="delete">Delete files</button>-->
                        </div>


                        <div class="fileupload-content">
                            <table class="files"></table>
                            <div class="fileupload-progressbar"></div>
                        </div>
                    </div>
                    <div class="clear"></div>
                    <input type="hidden" name="fileCnt" id="fileCnt" value="0">
                    {{ form.image.errors }}
                    <!--<span class="label2">
                    {{ form.tags.label_tag }}
                    </span> :
                    {{ form.tags }}
                    <div class="clear"></div>
                    <span class="label2">
                    {% trans "Make this image private?" %}
                    </span> :
                    {{ form.private }}
                    <div class="clear"></div>
                    <span class="label2">&nbsp; </span>
                    &nbsp;
                    <input type="submit" value="{% trans 'Upload' %}"/> &nbsp;
                    <input type="button" value="{% trans 'Cancel' %}" onclick="toggleDiv('hide')"/>-->
            </form>
        </div>
        <br />
    </div>

    <hr/>
    <h3>{% trans "Your Photo Gallery" %}</h3>
    <p style="clear: both;">
        {% trans "All photographs which you had uploaded to twiching.com is displayed here." %}
        </a>
    </p>
    <div>
        <div style="float:right; margin-bottom: 10px;">
            <a href="#"><strong>Filter by Categories</strong></a> &nbsp;
            <select name="category" id="category" onchange="changeCategory();">
                <option value="0">--Select--</option>
                {% for category in photoCategories %}
                    <option value="{{ category.id }}" {% if category.id == selectedCategory %}
                            selected="selected" {% endif %}>{{ category.name }}</option>
                {% endfor %}
            </select>
        </div>

        <div style="width: 100%; clear: both; height: auto; min-height: 230px;">
            {% paginate imageLists %}
            {% for images in imageLists %}
                <div style="padding-top: 20px; float:left; width:210px; font-size: 10px; text-align: left; overflow:hidden;">
                    {% if editPhotosPermission or deletePhotosPermission %}
                        <div class="photo_actions" id="photo_actions_{{ forloop.counter }}">
                            {% if editPhotosPermission %}
                                <img width="24" height="24" title="Edit" src="{{ STATIC_URL }}images/edit.png" style="float: left; cursor:pointer;" onclick="editImage({{ images.id }}); return true;"/>
                            {% endif %}
                            &nbsp;
                            {% if deletePhotosPermission %}
                                <img width="24" height="24" title="Delete" src="{{ STATIC_URL }}images/delete.png" style="cursor:pointer;" onclick="deleteImage({{ images.id }})"/>
                            {% endif %}
                        </div>
                    {% endif %}
                    <div class="photo_left3" style="margin: 2.5px; cursor: pointer"
                         id="photo_frame_{{ forloop.counter }}" onclick="show_image({{ images.id }})">
                        <div style="position: relative; ">
                        {% thumbnail images.image "1170x907" as big_im %}
                        <a href="{{ big_im.url }}" rel="eventAlbum" title="{{ images.title }}">
                            {% thumbnail images.image "180x180" crop="center" as im %}
                                <img src="{{ im.url }}" width="{{ im.width }}" height="{{ im.height }}" />
                            {% endthumbnail %}
                        </a>
                        {% endthumbnail %}
                        {% if images.approved  == 0 %}
                            <span class="notApproved">
                                <img src="{{ STATIC_URL }}images/approval-pending-img.png" alt="" >
                            </span>
                        {% endif %}
                        </div>
                        <div class="photo_disc_over" id="imageDetails_{{ forloop.counter }}">
                            <strong>{{ images.title }}</strong>
                            <br>
                            Access:&nbsp;
                            {% if images.private == 1 %}
                                <strong class="number">Private</strong>
                            {% else %}
                                <strong class="number">Public</strong>
                            {% endif %}
                            <br>
                            Category:&nbsp; <strong class="number">{{ images.category.name }}</strong>
                        </div>
                    </div>
                </div>
            {% endfor %}
        </div>
        <div style="width: 100%" align="center" id="pagination">
            {% show_pages %}
        </div>
    </div>
{% endblock %}

