{% load i18n %}
{% load widget_tweaks %}
<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN"
        "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml">
<head>
    <meta http-equiv="Content-Type" content="text/html; charset=utf-8"/>
    <title>{% trans 'Edit account' %}</title>
    <link rel="stylesheet" href="{{ STATIC_URL }}css/twiching.css"/>
    {% if closeColorbox %}
        <script type="text/javascript">
            parent.jQuery.colorbox.close();
        </script>
    {% endif %}
</head>
<body>
<div style="padding: 5px; width: 400px; height: 300px;">
    <h3>{% trans "Edit Photograph Information" %}</h3>

    <form method="POST" action="">
        {% csrf_token %}
        <span class="label2">{{ form.title.label_tag }}</span> :
        {% if form.title.errors %}
            {{ form.title|add_class:"field_input_error" }}
        {% else %}
            {{ form.title }}
        {% endif %}
        <div class="clear"></div>
        {{ form.title.errors }}
                <span class="label2">
		        {{ form.description.label_tag }}
	            </span> :
        {{ form.description }}
        <div class="clear"></div>
                <span class="label2">
		        {{ form.category.label_tag }}
	            </span> :
        {% if form.category.errors %}
            {{ form.category|add_class:"field_input_error" }}
        {% else %}
            {{ form.category }}
        {% endif %}
        <div class="clear"></div>
        {{ form.category.errors }}
        <span class="label2">
		{{ form.tags.label_tag }}
	    </span> :
        {{ form.tags }}
        <div class="clear"></div>
        <span class="label2">
		{% trans "Make this image private?" %}
        </span> :
        {{ form.private }}
        <div class="clear"></div>
        <span class="label2">&nbsp; </span>
        &nbsp;
        <input type="submit" value="{% trans 'Update' %}"/>
    </form>
</div>
</body>
</html>