{% load bad_words_screening %}
{% for comment in comments %}
<div >
    {% if comment.user.get_profile.avatar != '' %}
        <a href="/user/{{ comment.user.username }}/">
        <img src="{{ MEDIA_URL }}{{ PROFILE_IMAGE_UPLOAD_PATH }}/thumbnail/Thumb_{{ comment.user.get_profile.avatar }}" width="48" height="48" title="{{ comment.user.first_name }}&nbsp{{ comment.user.last_name }}">
        </a>
    {% else %}
        <a href="{{ MEDIA_URL }}{{ PROFILE_IMAGE_UPLOAD_PATH }}/{{ comment.user.username }}/">
        <img src="{{ MEDIA_URL }}{{ PROFILE_IMAGE_UPLOAD_PATH }}/thumbnail/Thumb_None.jpg" width="48" height="48" title="{{ comment.user.first_name }}&nbsp{{ comment.user.last_name }}">
        </a>
    {% endif %}
    <span id="divComment_{{ comment.id }}">
        <strong>{{ comment.user.first_name }}&nbsp{{ comment.user.last_name }}</strong> on <strong>{{ comment.created_on|date:"D d M Y" }}</strong>
        <br />
        <span >

        {{ comment.comment|replace_bad_words|urlize }}
        <br/>
        {% if comment.user.id == user.id %}
            <span align="right"><a href="javascript:void(0);" onclick="displayEditBox({{ comment.id }})">Edit</a>&nbsp&nbsp&nbsp&nbsp<a href="#" onclick="deleteComment({{ comment.id }}, {{ photoid }});">Delete</a> </span>
        {%  endif %}
         </span>
    </span>
    <span style="min-height:48px; display: none;" align="center" id="div_{{ comment.id }}">
       <textarea rows="4" cols="15"  name="txtcomment_{{ comment.id }}" id="txtcomment_{{ comment.id }}"
       onkeyup="editComment(event,{{ comment.id }},{{ photoid }})"
       style="margin-top: 2px; margin-bottom: 2px;height: 39px; margin-left: 0px; margin-right: 0px; width: 551px;text-align: left;">{{ comment.comment|replace_bad_words|urlize }}</textarea>
       <span style="padding-left: 240px;">Press Enter to save, Esc to cancel</span>
    </span>
</div>

    <input type="hidden" name="hd_comId_{{ forloop.counter }}" id="hd_comId_{{ forloop.counter }}" value="{{ comment.id}}">
{% endfor %}
<input type="hidden" name="commentCnt" id="commentCnt" value="{{ comments.count}}">
<input type="hidden" id="testId" value="">