{% load i18n %}
{% if featuredPhotos.count > 0 %}
    <div class="grid_4 title" style="float:left; width:255px;">
        <h2>{% trans 'Popular Photographs' %}</h2>
    </div>
    <div class="grid_4" style="float:left; width:255px; margin-bottom: 5px;">

        {% for photo in popularPhotos %}
            <div style="cursor: pointer;" class="photo_left" onclick="window.location='/user/{{ photo.user.username }}/photo/{{ photo.id }}/'">
                <span>
                <img src="{{ MEDIA_URL }}{{ PHOTOGRAPH_UPLOAD_PATH }}/Thumb_{{ photo.image_name }}"
                     width="116" height="86" />
                </span>
                <h2>{{ photo.title }}</h2>
                <strong>{% trans 'Category' %}: {{ photo.category.name }}</strong><br/>
                By {{ photo.user.first_name }}&nbsp;{{ photo.user.last_name }}
            </div>
        {% endfor %}
    </div>
{% endif %}