{% load i18n %}
{% load truncate_letters %}
{% load thumbnail %}
{% if photographs.count > 0 %}
    <div class="grid_4 title" style="float:left; width:255px;">
        <h2>
            {{ title }}
            <span style="float:right; margin-right:5px; position: relative; top: -3px;">
                <a href="/photographs/{{ group_id }}/{{ type }}/" title="{% trans "More Photos" %}" style="float: right;">
                    <img src="{{ STATIC_URL }}images/arrow-more.png" width="24px" height="24px" alt="More" />
                </a>
            </span>
        </h2>
    </div>
    <div class="grid_4" style="float:left; width:255px;">
        {% for photo in photographs %}
            <div {% cycle 'class="photo_left"' 'class="photo_right"' %} style="cursor: pointer;"
                 onclick="window.location='/user/{{ photo.user.username }}/photo/{{ photo.id }}/'">
                {% thumbnail photo.image "116x86" crop="center" as im %}
                    <img src="{{ im.url }}" width="{{ im.width }}" height="{{ im.height }}" />
                {% endthumbnail %}
           
           <div class="feature_box_content" >    <h2>{{ photo.title|truncateletters:15 }}</h2>
                <strong>{% trans 'Category' %}: {{ photo.category.name }}</strong><br/>
                {% trans "By" %} {{ photo.user.first_name }}
               {%  if photo.user.get_profile.country.iso %}
                    <img src="{{ STATIC_URL }}flags/{{ photo.user.get_profile.country.iso|lower }}.gif" width="16" height="11" class="flag"/>
               {% endif %}
                </div>
            </div>
            {% cycle '' '<div class="clear" style="height:10px;"></div>' %}

        {% endfor %}
    </div>
{% endif %}