{% load i18n %}
{% load thumbnail %}
{% if photo != None %}
    <div class="grid_4 title" style="float:left; width:255px;">
        <h2>{% trans "Photo of the month" %} ({{ month }} ‘{{ year }})</h2>
    </div>

    <div class="grid_4 photo_left" style="min-height: 110px !important; cursor: pointer; float:left; width:255px; padding-top:10px; padding-bottom:10px; background:none;
border:none;">
        <a href="/user/{{ photo.photo.user.username }}/photo/{{ photo.photo.id }}/" title="{{ photo.photo.title }}">
        {% thumbnail photo.photo.image "116x86" crop="center" as im %}
            <img src="{{ im.url }}" width="{{ im.width }}" height="{{ im.height }}" style="float:right; max-height: 80px;" class="photo_month"/>
        {% endthumbnail %}
        </a>

        <h2>{{ photo.photo.title }}</h2>
        By {{ photo.photo.user.first_name }}<br/>
        Posted on:
        {{ photo.photo.created_on|date:DATE_FORMAT }}
    </div>
{% endif %}