{% extends "common/base.html" %}
{% load i18n %}
{% load widget_tweaks %}
{% load accounts %}
{% load thumbnail %}
{% load truncate_letters %}
{% load endless %}
{% load photographs %}
{% block extra_javascript %}
    <script src="{{ STATIC_URL }}endless_pagination/js/endless.js" type="text/javascript" charset="utf-8"></script>
    <script src="{{ STATIC_URL }}endless_pagination/js/endless_on_scroll.js" type="text/javascript" charset="utf-8"></script>
    <script type="text/javascript" charset="utf-8">
        var endless_on_scroll_margin = 550;
    </script>
    <script type="text/javascript">
        function filterByCategory() {
            window.location = '/photographs/{{ group_id }}/{{ filter }}/' + document.getElementById('category').value
        }
    </script>
{% endblock %}
{% block content %}
    <div class="clear" style="height:25px;"></div>


    <div style=" width:280px; float:left;">


        {% popular_photographers %}


        <div class="grid_4" style="float:left; width:255px;"></div>
        {#        <div class="grid_4 title" style="float:left; width:255px;">#}
        {#            <h2>Search Photos</h2>#}
        {#        </div>#}
        {##}
        {#        <div class="grid_4 forms " style="float:left; width:255px;">#}
        {#            <table border="0" cellspacing="0" cellpadding="0" style="margin-bottom:10px;">#}
        {#                <tr>#}
        {#                    <td>Orientation:</td>#}
        {#                    <td><input type="checkbox" name="checkbox" id="checkbox"/></td>#}
        {#                    <td> Landscape</td>#}
        {#                    <td><input type="checkbox" name="checkbox2" id="checkbox2"/></td>#}
        {#                    <td> Vertical</td>#}
        {#                </tr>#}
        {#            </table>#}
        {##}
        {#            <select name="select" id="select">#}
        {#                <option>By Photographer</option>#}
        {#            </select>#}
        {#            <select name="select" id="select">#}
        {#                <option>By Category</option>#}
        {#            </select>#}
        {##}
        {#            <input type="button" value="Search"/>#}
        {##}
        {##}
        {#        </div>#}

        {% for groupId in group_id_mapping %}
	{% if not groupId == 9  %}
            {% get_photos groupId filter %}
            <div class="clear" style="height: 5px;"></div>
	{% endif %}
        {% endfor %}
        <div class="grid_4" style="float:left; width:255px; height:15px;"></div>
        {#        <div class="grid_4" style="float:left; width:255px;">#}
        {#            <img src="{{ MEDIA_URL }}/images/photo_banner.png" width="256" height="79"/>#}
        {#        </div>#}

        <div class="grid_4" style="float:left; width:255px; height:15px;"></div>


    </div>
    <div class="grid_8 main" style="width:650px; float:right; margin-right:10px;">

        <div class="photo_pgtitle">{{ title }}</div>

        <div class="top_bottom_navi" style="padding:20px;">
            <span class="red">Sort by:</span>
            <a href="/photographs/{{ group_id }}/featured/">{% if filter == "featured" %} <strong>Featured</strong> {% else %} Featured {% endif %}
            </a> |
            <a href="/photographs/{{ group_id }}/latest/">{% if filter == "latest" %} <strong>Latest</strong> {% else %} Latest {% endif %}
            </a> |
            <a href="/photographs/{{ group_id }}/popular/">{% if filter == "popular" %} <strong>Most Popular</strong> {% else %} Most
                Popular {% endif %}</a> |
            <a href="/photographs/{{ group_id }}/views/">{% if filter == "views" %} <strong>Most Views</strong> {% else %} Most
                Views {% endif %}</a>

            {% if categoryList.count > 0 %}
                <select name="category" id="category" style="float:right;" onchange="filterByCategory()">
                    <option value="0">--Select--</option>
                    {% for category in categoryList %}
                        <option value="{{ category.id }}" {% if category.id == selectedCategory %} selected="selected" {% endif %}>{{ category.name }}</option>
                    {% endfor %}
                </select>
            {% endif %}

            <div class="clear" style="height:20px;"> &nbsp;</div>
            {% paginate 24 photoObjects %}
            {% for images in photoObjects %}
                <a href='/user/{{ images.user.username }}/photo/{{ images.id }}/' title="{{ images.title }}" style="padding: 0px;">
                    <div class="photo_left3" style="height:180px; width: 180px; cursor: pointer; {% cycle '' '' 'padding: 0; margin:0;' %}">
                        {% thumbnail images.image "180x180" crop="center" as im %}
                            <img src="{{ im.url }}" width="{{ im.width }}" height="{{ im.height }}" />
                        {% endthumbnail %}

                        <div class="photo_disc_over"><strong>{{ images.title|truncateletters:25 }}</strong>
                            <br/>
                            {{ images.user.first_name }}&nbsp;{{ images.user.last_name }}<br/>
                            <strong class="number">{% if images.popularity == None %} 0 {% else %}{{ images.popularity }} {% endif %}%</strong><span
                                    style="color: #c2c2c2;"> Popular</span></div>
                    </div>
                </a>
                {% cycle '' '' ' <div class="clear" style="height:20px;"> &nbsp;</div>' %}

            {% endfor %}
            {% show_more %}
            <div id="dvLoading"></div>
            <div class="clear" style="height:10px;"></div>


        </div>
    </div>


{% endblock %}
