{% extends "common/base.html" %}
{% load i18n %}
{% load widget_tweaks %}
{% block title %}{% trans 'twiching' %}:{{ userData.first_name }}&nbsp;{{ userData.last_name }}'s&nbsp;{% trans "Photography" %}{% endblock %}
{% load endless %}
{% load thumbnail %}
{% load truncate_letters %}
{% block extra_javascript %}
    <script src="{{ STATIC_URL }}endless_pagination/js/endless.js" type="text/javascript" charset="utf-8"></script>
    <script src="{{ STATIC_URL }}endless_pagination/js/endless_on_scroll.js" type="text/javascript" charset="utf-8"></script>
    <script type="text/javascript" charset="utf-8">
        var endless_on_scroll_margin = 550;
    </script>
    <script type="text/javascript">
        function showImage(id){
            window.location = "/user/{{ user_name }}/photo/"+id;
        }
    </script>
{% endblock %}
{% block content %}
    <div class="clear"></div>
    <div class="grid_8">
        <div class="clear" style="height:20px;"></div>

        <ul class="tabs">
            <li><a href="/user/{{ userData.username }}">{% trans "Personal Bio" %}</a></li>
            <li id="selected"><a href="#">{% trans "Photographs" %}</a></li>
            {% if current_user_id != 0 and userData.id != current_user_id %}
                {% if show_contact == 1 %}
                    <li><a href="/user/{{ userData.username }}/contact/">{% trans "Contact" %}</a></li>
                {% endif %}
            {% endif %}
        </ul>
    </div>
    <div class="grid_12 main">
        <div class="maintxt">
            <div class="photo_pgtitle">{{ title }}</div>
            <div class="top_bottom_navi" style="padding:20px;">
                {% if photoData.count > 0 %}
                <span class="red">Filter by:</span>
                <a href="/user/{{ userData.username }}/photographs/">{% if filter == "latest" %} <strong>Latest</strong> {% else %} Latest {% endif %} </a> |
                <a href="/user/{{ userData.username }}/photographs/popular/">{% if filter == "popular" %} <strong>Most Popular</strong> {% else %} Most Popular {% endif %}</a> |
                <a href="/user/{{ userData.username }}/photographs/views/">{% if filter == "views" %} <strong>Most Views</strong> {% else %} Most Views {% endif %}</a>

                <div class="clear" style="height:20px;"> &nbsp;</div>


                {% paginate 12 photoData %}
                {% for images in photoData %}
                    {% if images.image != None %}
                        <div class="photo_left3" onclick="showImage({{ images.id }})" style="cursor: pointer; margin-right: 25px;" >
                            {% thumbnail images.image "180x180" crop="center" as im %}
                                <img src="{{ im.url }}" width="{{ im.width }}" height="{{ im.height }}" />
                            {% endthumbnail %}
                            <div class="photo_disc_over">
                                <span style="line-height: 20px;">
                                    <strong style="font-family: arial; font-size: 12px;">{{ images.title|truncateletters:25 }}</strong>
                                </span>
                                <br />
                                <strong class="number" style="font-family: arial; font-size: 20px; letter-spacing: -1px;">
                                    {% if images.popularity == None %} 0 {% else %}{{ images.popularity }} {% endif %}%
                                </strong>
                                <span style="color: #c2c2c2;"> Popular</span>
                            </div>
                        </div>
                        {% cycle '' '' '' ' <div class="clear" style="height:20px;"> &nbsp;</div>' %}
                    {% endif %}
                {% endfor %}

                {% show_more %}
            <div id="dvLoading"></div>
            <div class="clear" style="height:10px;"></div>
                {% else %}
                    <div class="info" id='message' style="width: 75%; margin-left: 80px;">
                        {% if userData.id == current_user_id  %}
                            {% trans 'You dont have any public photographs uploaded yet, why dont you take some time to upload some cool photographs? ' %}
                            <a href="/accounts/photography/" title="Upload Photographs">{% trans 'Click Here' %}</a>
                            {% trans ' to upload' %}
                        {% else %}
                            {{ userData.first_name }} {% trans 'has not uploaded any photographs yet!' %}
                        {% endif %}
                    </div>
                {% endif %}
            </div>
            <div class="clear"></div>
        </div>
    </div>
{% endblock %}
