{% load i18n %}
{% load widget_tweaks %}
{% load endless %}
{% load thumbnail %}
{% load truncate_letters %}
{% paginate 12 photoData %}
                {% for images in photoData %}
                    {% if images.image != None %}
                        <div class="photo_left3" onclick="showImage({{ images.id }})" style="cursor: pointer; margin-right: 25px;" >
                            {% thumbnail images.image "180x180" crop="center" as im %}
                                <img src="{{ im.url }}" width="{{ im.width }}" height="{{ im.height }}" />
                            {% endthumbnail %}
                            <div class="photo_disc_over">
                                <span style="line-height: 20px;">
                                    <strong style="font-family: arial; font-size: 12px;">{{ images.title|truncateletters:25 }}</strong>
                                </span>
                                <br />
                                <strong class="number" style="font-family: arial; font-size: 20px; letter-spacing: -1px;">
                                    {% if images.popularity == None %} 0 {% else %}{{ images.popularity }} {% endif %}%
                                </strong>
                                <span style="color: #c2c2c2;"> Popular</span>
                            </div>
                        </div>
                        {% cycle '' '' '' ' <div class="clear" style="height:20px;"> &nbsp;</div>' %}
                    {% endif %}
                {% endfor %}

                {% show_more %}
