{% extends "common/base.html" %}
{% load i18n %}
{% load widget_tweaks %}
{% block title %}{% trans "twiching: " %}{{ photoData.user.first_name }}&nbsp;{{ photoData.user.last_name }} - {{ photoData.title|title }}{% endblock %}
{% load endless %}
{% load bad_words_screening %}
{% load ratings %}
{% load thumbnail %}
{% block extra_css %}
    <link rel="stylesheet" href="{{ STATIC_URL }}css/rating.css"/>
    <link rel="stylesheet" href="{{ STATIC_URL }}css/prettyPhoto.css" type="text/css" media="screen" charset="utf-8"/>
{% endblock %}
{% block extra_javascript %}
    <script type="text/javascript" src="{{ STATIC_URL }}js/common.js"></script>
    <script src="{{ STATIC_URL }}js/jquery.prettyPhoto.js" type="text/javascript" charset="utf-8"></script>
    <script type="text/javascript">var switchTo5x = true;</script>
    <script type="text/javascript" src="http://w.sharethis.com/button/buttons.js"></script>
    <script type="text/javascript">stLight.options({publisher:"488dec4a-40e8-4e47-a7a0-458c25746511"}); </script>
    <script type="text/javascript" src="{{ STATIC_URL }}js/jRating.js"></script>

    <script type="text/javascript">
        jQuery(document).ready(function () {
            jQuery("a[rel^='eventAlbum']").prettyPhoto({
                theme:'dark_rounded',
                slideshow:false,
                autoplay_slideshow:false,
                social_tools:false
            });

            jQuery(".basic").jRating({
                step:true,
                length:5,
                bigStarsPath:'{{ STATIC_URL }}images/stars.png',
                smallStarsPath:'{{ STATIC_URL }}images/small.png',
                rateMax:5,
                {% if disableStarRating %}
                    isDisabled:true,
                {% endif %}
                phpPath:'/photographs/save_rating/'
            });


        });

        function submitComment() {
            if (trim(document.getElementById("commentData").value, ' ') == '') {
                alert("You have not entered any comment!")
            } else {
                jQuery.post(
                        '/photographs/save_comments/',
                        {
                            comment:trim(document.getElementById("commentData").value, ' '),
                            photoid: {{ photoData.id }}
                        }, function (data) {
                            jQuery('#comment_list').html(data);
                            document.getElementById('commentData').value = '';
                        }
                )
            }
        }

        function feedback(type, photo_id) {
            jQuery.post(
                    '/photographs/feedback/',
                    {
                        type:type,
                        photoid:photo_id
                    }, function (data) {
                        if (data == 'success') {
                            jQuery('#feedback').html("<p>Thanks for your vote</p>");
                        } else if (data == 'auth_failed') {
                            window.location = '/accounts/login/';
                        } else if (data == 'already_voted') {
                            jQuery('#feedback').html("<p>You have already voted for this photo</p>");
                        } else if (data == 'same_user') {
                            alert("Sorry you cant vote your own photo!");
                        } else {
                            alert("Sorry failed to register your vote. Please try again later!");
                        }
                    }
            )
        }

        function starRatingResult(data) {
            if (data.status != 'success') {
                alert("Oops! Sorry failed to save your rating. Please try again.")
            }
        }

        function showAbuseOptions() {
            jQuery("#abuse_reasons_div").slideDown("slow");
        }

        function hideAbuseOptions() {
            jQuery("#abuse_reasons_div").slideUp("slow");
        }

        function reportAbuse() {
            var confirm_action = confirm('{% trans "Are you sure you want to report this photograph as a abuse?" %}')
            if (confirm_action) {
                var request = jQuery.post(
                        '/photo/report_abuse/',
                        {
                            abuse_type:document.getElementById('abuse_reasons').value,
                            photo_id:{{ photoData.id }}
                        }, function (data) {
                            if (data.status == 'error') {
                                switch (data.error) {
                                    case 'abuse_type_missing':
                                    case 'photo_abuse_reason_not_found':
                                        alert('{% trans 'Abuse type not selected. Please select one to report an abuse' %}');
                                        break;
                                    case 'photo_missing':
                                    case 'photo_not_found':
                                        alert('{% trans 'We could not locate the photo you are trying to report abuse' %}');
                                        break;
                                }
                            } else {
                                alert('{% trans 'Thanks for reporting this photograph as abuse. We will be contacting you if we require any further information' %}');
                            }
                        }
                );
                request.fail(
                        function (data) {
                            if (data.status = 405) {
                                alert('{% trans 'You tried to perform an invalid operation, if you are not sure why this error occurred then please contact customer care' %}');
                            } else if (data.status = 500) {
                                alert('{% trans 'Oops! Error occurred while processing your request. Please try again later. If the problem persist please contact customer care!' %}');
                            }
                        }
                );
            }
        }
        function deleteComment(commentid,photoId){
            if(confirm('{% trans "Are you sure you wan to delete this comment?" %}')){
                var request = jQuery.post(
                        '/photographs/delete_comment/',
                        {
                            commentId: commentid,
                            photoId:photoId
                        }, function (data) {
                            if (data == 'failed') {
                                alert('{% trans 'Deletion failed' %}');

                            } else {
                                jQuery('#comment_list').html(data);
                            }
                        }
                );
                request.fail(
                        function (data) {alert(data);
                            if (data.status = 405) {
                                alert('{% trans 'You tried to perform an invalid operation, if you are not sure why this error occurred then please contact customer care' %}');
                            } else if (data.status = 500) {
                                alert('{% trans 'Oops! Error occurred while processing your request. Please try again later. If the problem persist please contact customer care!' %}');
                            }
                        }
                );
            }
        }
        function displayEditBox(commentId){
            hideDivs();
            var divId = 'div_'+commentId;
            var divComment = 'divComment_'+commentId;
            var textArea = "txtcomment_"+commentId
            if(document.getElementById(divId).style.display == "none"){
                document.getElementById(divId).style.display = "block";
                document.getElementById(divComment).style.display = "none";
                document.getElementById(textArea).focus();
               jQuery(document).bind('keydown',
                        function (evt){
                            //jQuery('#txtcomment_'+commentId).val($('#txtcomment_'+commentId).val() + "\n");// use the right id here
                            if(evt.keyCode == 13 && evt.shiftKey){
                             document.getElementById(textArea).value = document.getElementById(textArea).value+"\n";
                             return true;
                            }
                        }
                ); /**/

            }else{
                document.getElementById(divId).style.display = "none";
                document.getElementById(divComment).style.display = "block";
            }
        }
        function editComment(e,commentId,photoId){ //alert("dsfsd"); //alert(e.keyCode);

            lastCode = document.getElementById('testId').value;
            document.getElementById('testId').value = e.keyCode;
            if((e.keyCode == 13 && lastCode != 16) ){

                    var commentBox = "txtcomment_"+commentId;

                    if (trim(document.getElementById(commentBox).value, ' ') == '') {
                        alert("You have not entered any comment!")
                    } else {
                        jQuery.post(
                                '/photographs/save_comments/',
                                {
                                    comment:trim(document.getElementById(commentBox).value, ' '),
                                    photoid: photoId,
                                    commentid:commentId
                                }, function (data) {
                                    jQuery('#comment_list').html(data);
                                    //document.getElementById('commentData').value = '';
                                }
                        )
                    }

            }else if((e.keyCode == 13 && lastCode == 16) || (e.keyCode == 16 && lastCode == 13)){
                var commentBox = "txtcomment_"+commentId;
                document.getElementById(commentBox).value = document.getElementById(commentBox).value+"\n";
            }else if(e.keyCode == 27){
                var divId = 'div_'+commentId;
                var divComment = 'divComment_'+commentId;
                if(document.getElementById(divId).style.display == "none"){
                    document.getElementById(divId).style.display = "block";
                    document.getElementById(divComment).style.display = "none";
                }else{
                    document.getElementById(divId).style.display = "none";
                    document.getElementById(divComment).style.display = "block";
                }
            }
        }
        function hideDivs(){
            var commentCnt = document.getElementById('commentCnt').value;
            for(var i=1; i<= commentCnt; i++){
                var comId = 'hd_comId_'+i;
                var commentId = document.getElementById(comId).value;
                var divId = 'div_'+commentId;
                var divComment = 'divComment_'+commentId;
                if(document.getElementById(divId))
                    document.getElementById(divId).style.display = "none";
                if(document.getElementById(divComment))
                    document.getElementById(divComment).style.display = "block";
            }
        }

    </script>

{% endblock %}
{% block content %}
    <div class="grid_8">
        <div class="clear" style="height:20px;"></div>

        <ul class="tabs">
            <li><a href="/user/{{ photoData.user.username }}">{% trans "Personal Bio" %}</a></li>
            <li id="selected"><a href="/user/{{ photoData.user.username }}/photographs/">{% trans "Photographs" %}</a>
            </li>
            {% if current_user_id != 0 and photoData.user.id != current_user_id %}
                {% if show_contact == 1 %}
                    <li><a href="/user/{{ photoData.user.username }}/contact/">{% trans "Contact" %}</a></li>
                {% endif %}
            {% endif %}
        </ul>
    </div>
    <div class="grid_12 main photo_details">
    <div class="maintxt">
    <div style="float:left; width: 650px;">
        <h2 style="float:left; margin-bottom: 8px;">{{ photoData.title|title }}</h2>

        <div style="float:right;">
            <strong>
                <a href="/user/{{ photoData.user.username }}/photographs/"> Visit My Album »</a>&nbsp;&nbsp;|&nbsp;&nbsp;<a
                    href="/photographs/"> Back to Photo Gallery »</a>
            </strong>
        </div>

        <div class="clear"></div>
        <div style="width: 600px; text-align: center;">
            {% thumbnail photoData.image "1170x907" as im_big %}
            <a href="{{ im_big.url }}" rel="eventAlbum" title="{{ photoData.title }}" style="padding: 0px;">
                {% thumbnail photoData.image "650x800" as im %}
                <img src="{{ im.url }}" width="{{ im.width }}" height="{{ im.height }}"
                     title="{{ photoData.title }}" style="float:left; padding-right:20px; max-width: 650px;" oncontextmenu="return false;"/>
                {% endthumbnail %}
            </a>
            {% endthumbnail %}
        </div>
        <br/>

        <div class="clear" style="height:10px;"></div>
            {% thumbnail photoData.image "650x800" as im %}
                <span style="float:left;">
                    <span class='st_facebook_hcount' displayText='Facebook' st_url='{{ request.build_absolute_uri }}' st_image="http://{{ request.get_host }}{{ im.url }}"
                          st_title="{{ photoData.title }}" st_summary="{{ photoData.description }}"></span>
                    <span class='st_twitter_hcount' displayText='Tweet' st_url='{{ request.build_absolute_uri }}' st_image="http://{{ request.get_host }}{{ im.url }}"
                          st_title="{{ photoData.title }}" st_summary="{{ photoData.description }}"></span>
                    <span class='st_plusone_hcount' displayText='Google +1' st_url='{{ request.build_absolute_uri }}' st_image="http://{{ request.get_host }}{{ im.url }}"
                          st_title="{{ photoData.title }}" st_summary="{{ photoData.description }}"></span>
                    <span class='st_pinterest_hcount' displayText='Pinterest'
                          st_url='{{ request.build_absolute_uri }}' st_image="http://{{ request.get_host }}{{ im.url }}"
                          st_title="{{ photoData.title }}" st_summary="{{ photoData.description }}"></span>
                    <span class='st_email_hcount' displayText='Email' st_url='{{ request.build_absolute_uri }}' st_image="http://{{ request.get_host }}{{ im.url }}"
                          st_title="{{ photoData.title }}" st_summary="{{ photoData.description }}"></span>
                </span>
            {% endthumbnail %}

        <div class="clear" style="height:10px;"></div>
        <h2 style=" margin-bottom: 10px;"> {% trans "Comments" %}</h2>

        <div class="comment_bx">
            <div id="comment_list">
                {% if comments.count == 0 %}
                    <p style="text-align: center; vertical-align: middle; padding-top: 17px;">
                        <strong>{% trans 'No comments posted yet for this photograph. Be the first one to comment on this photograph!' %}</strong>
                    </p>
                {% else %}
                    {% for comment in comments %}
                        <div >
                            {% if comment.user.get_profile.avatar != '' %}
                                <a href="/user/{{ comment.user.username }}/">
                                    <img src="{{ MEDIA_URL }}{{ PROFILE_IMAGE_UPLOAD_PATH }}/thumbnail/Thumb_{{ comment.user.get_profile.avatar }}"
                                         width="48" height="48"
                                         title="{{ comment.user.first_name }}&nbsp{{ comment.user.last_name }}">
                                </a>
                            {% else %}
                                <a href="/user/{{ comment.user.username }}/">
                                    <img src="{{ MEDIA_URL }}{{ PROFILE_IMAGE_UPLOAD_PATH }}/thumbnail/Thumb_None.jpg"
                                         width="48" height="48"
                                         title="{{ comment.user.first_name }}&nbsp{{ comment.user.last_name }}">
                                </a>
                            {% endif %}
                            <span id="divComment_{{ comment.id }}">
                                <strong>{{ comment.user.first_name }}&nbsp{{ comment.user.last_name }}</strong> on
                                <strong>{{ comment.created_on|date:DATE_FORMAT }}</strong>
                                <br/>
                                <span>

                                {{ comment.comment|replace_bad_words|urlize }}
                                <br/>
                                {% if comment.user.id == user.id %}
                                    <span align="right"><a href="javascript:void(0);" onclick="displayEditBox({{ comment.id }})">Edit</a>&nbsp&nbsp&nbsp&nbsp<a href="#" onclick="deleteComment({{ comment.id }}, {{ photoData.id }});">Delete</a> </span>
                                {%  endif %}
                                </span>
                            </span>
                            <span style="min-height:48px; display: none;" align="center" id="div_{{ comment.id }}">
                                <textarea rows="4" cols="15"  name="txtcomment_{{ comment.id }}" id="txtcomment_{{ comment.id }}"
                                          onkeyup="editComment(event,{{ comment.id }},{{ photoData.id }})"
                                          style="margin-top: 2px; margin-bottom: 2px;height: 39px; margin-left: 0px; margin-right: 0px; width: 551px;text-align: left;">{{ comment.comment|replace_bad_words|urlize }}</textarea>
                                <span style="padding-left: 240px;">Press Enter to save, Esc to cancel</span>
                            </span>

                        </div>


                        <input type="hidden" name="hd_comId_{{ forloop.counter }}" id="hd_comId_{{ forloop.counter }}" value="{{ comment.id}}">
                    {% endfor %}
                    <input type="hidden" name="commentCnt" id="commentCnt" value="{{ comments.count}}">
                {% endif %}
                <input type="hidden" id="testId" value="">
            </div>
            {% if authenticated %}
                <div style="height:110px;" align="center">
                    <textarea rows="5" cols="17" name="commentData" id="commentData"
                              style="margin-top: 2px; margin-bottom: 2px; height: 71px; margin-left: 0px; margin-right: 0px; width: 581px; "></textarea>
                    <br/>
                        <span style="padding-top: 3px;">
                        <input type="button" value="Post" onclick="submitComment()"/>
                        </span>
                </div>
            {% endif %}

        </div>
    </div>
    <div class="grid_4 photp_profile">

        <strong><a
                href="/user/{{ photoData.user.username }}">By {{ photoData.user.first_name }}&nbsp;{{ photoData.user.last_name }}</a></strong><br/>
        Posted on: {{ photoData.created_on|date:DATE_FORMAT }}
        <div class="clear sep"></div>
        <div>
            <div id="photo_view_status">
                    <span>
                        <img src="{{ STATIC_URL }}images/view-icon.png" width="21"
                             height="21"/> Views ({{ photoRatings.views }})
                    </span>
                <span style="padding-right: 15px;"></span>
                    <span>
                        <img src="{{ STATIC_URL }}images/popularity-icon.png" width="21"
                             height="21"/> Popularity ({{ photoRatings.popularity }}%)
                    </span>
            </div>

        </div>
        <div class="clear sep"></div>
        <div id="feedback">
                    <span style="cursor: pointer;" onclick="feedback('like', {{ photoData.id }})">
                    <img src="{{ STATIC_URL }}images/photos-profiles-details-photogallery-details_03.jpg" width="21"
                         height="21"/> Like ({{ photoRatings.likes }})
                    </span>
            <span style="padding-right: 15px;"></span>
                    <span style="cursor: pointer;" onclick="feedback('dislike', {{ photoData.id }})">
                    <img src="{{ STATIC_URL }}images/photos-profiles-details-photogallery-details_06.jpg" width="21"
                         height="21"/> Dislike ({{ photoRatings.dislikes }})
                    </span>
        </div>
        <div class="clear sep"></div>
        <div style="float: left; margin-right: 7px; margin-top: 5px;">
            Rating:
        </div>
        <div>
            <div class="basic" id="{{ photoRatings.starRating }}_{{ photoData.id }}"></div>
        </div>
        <div class="clear sep"></div>
        <span class="left"><strong>Camera</strong></span> : <span class="right">{{ exifInfo.Camera }}</span>

        <div class="clear "></div>
        <span class="left"><strong>Focal Length</strong></span> : <span
            class="right">{{ exifInfo.FocalLength }}</span>

        <div class="clear "></div>
        <span class="left"><strong>Shutter Speed</strong></span> : <span
            class="right">{{ exifInfo.ShutterSpeed }} {% if exifInfo.ShutterSpeed != 'Not Available' %}
        Sec{% endif %}</span>

        <div class="clear "></div>
        <span class="left"><strong>Aperture</strong></span> : <span class="right">{{ exifInfo.Aperture }}</span>

        <div class="clear "></div>
        <span class="left"><strong>ISO Speed</strong></span> : <span
            class="right">{{ exifInfo.ISOSpeed }}</span>

        <div class="clear "></div>
        <span class="left"><strong>Category</strong></span> : <span class="right">{{ exifInfo.Category }}</span>

        <div class="clear "></div>
        <span class="left"><strong>Copyright</strong></span> : <span
            class="right">{{ exifInfo.Copyright }}</span>

        <div class="clear "></div>
        <span class="left"><strong>Uploaded</strong></span> : <span
            class="right">{{ exifInfo.Uploaded|date:DATE_FORMAT }}</span>

        <div class="clear "></div>

        {% if photoData.description != None and photoData.description != '' %}
            <div class="clear sep"></div>
            <p>
                {{ photoData.description }}
            </p>
        {% endif %}

        <div class="clear sep"></div>
        <b><a onclick="showAbuseOptions()" style="cursor: pointer;">Report Abuse</a></b>

        <div class="clear" style="height: 5px;"></div>
        <div id="abuse_reasons_div" style="display: none;">
            <select name="abuse_reasons" id="abuse_reasons">
                {% for reason in abuseReasons %}
                    <option value="{{ reason.id }}">{{ reason.type }}</option>
                {% endfor %}
            </select>

            <div class="clear" style="height: 5px;"></div>
            <input type="button" name="report" value="Report" onclick="reportAbuse();"/>
            <input type="button" name="cancel" value="Cancel" onclick="hideAbuseOptions()"/>
        </div>
        <div class="clear sep"></div>
        {% if similarPhotosListCount > 0 %}
            <strong>
                {% trans 'View similar photos' %} :- <br/><br/>
            </strong>

            <div class="similarphotos" style="float:left; width:225px;">
                {% for images in similarPhotosList %}
                    {% thumbnail images.image "48x48" crop="center" as im %}
                    <div>
                        <a href="/user/{{ images.username }}/photo/{{ images.id }}">
                            <img src="{{ im.url }}" width="{{ im.width }}" height="{{ im.height }}"/>
                        </a>
                    </div>
                    {% endthumbnail %}
                {% endfor %}
            </div>
        {% endif %}

        {% if otherPhotos.count > 0 %}

            <strong>{% trans 'Other photos by same user' %} :- <br/>
                <br/>
            </strong>
            <div class="similarphotos" style="float:left; width:225px;">
                {% for photos in otherPhotos %}
                    {% thumbnail photos.image "48x48" crop="center" as im %}
                    <div>
                        <a href="/user/{{ user_name }}/photo/{{ photos.id }}">
                            <img src="{{ im.url }}" width="{{ im.width }}" height="{{ im.height }}"/>
                        </a>
                    </div>
                    {% endthumbnail %}
                {% endfor %}
            </div>
        {% endif %}

    </div>
    <div class="clear"></div>
    </div>
    </div>
{% endblock %}
