{% extends "common/base.html" %}
{% load i18n %}
{% block title %}
{% trans "Accounts" %}
{% endblock %}
{% block content %}
<div class="clear"></div>
<h1>{% trans "Account Dashboard" %}</h1>
<div class="clear"></div>
<div class="grid_3 main">
	<div class="maintxt" >
		<h2 class="myacc">My Account </h2>
		<ul class="sidebar">
			<li>
				<a href="/accounts/dashboard/" {% if request.path == "/accounts/dashboard/" %}class="active" {% endif %}>{% trans 'Account Dashboard' %}</a>
			</li>
			<li>
				<a href="/accounts/edit/" {% if request.path == "/accounts/edit/" %}class="active" {% endif %}>{% trans 'Edit Account' %}</a>
			</li>
            <li>
                <a href="/accounts/password/" {% if request.path == "/accounts/password/" %}class="active" {% endif %}>{% trans 'Change Password' %}</a>
            </li>
			<li>
				<a href="/accounts/picture/" {% if request.path == "/accounts/picture/" %}class="active" {% endif %}>{% trans 'Change Profile Picture' %}</a>
			</li>
            <li>
                <a href="/accounts/photography/" {% if request.path == "/accounts/photography/" %}class="active" {% endif %}>{% trans 'Manage Photographs' %}</a>
            </li>
		 <li>
                <a href="/accounts/myads/" {% if request.path == "/accounts/myads/" %}class="active" {% endif %}>{% trans 'My ads' %}</a>
            </li>
            <li>
                <a href="/wishlist/" {% if request.path == "/wishlist/" %}class="active" {% endif %}>{% trans 'My Wishlist' %}</a>
            </li>
            {% if not user.is_superuser or not user.is_staff %}
                <li>
                    <a href="/accounts/activate/" {% if request.path == "/accounts/activate/" %}class="active" {% endif %}>{% if user.is_active %}{% trans 'Deactivate Account' %}{% else %}{% trans 'Activate Account' %}{% endif %}</a>
                </li>
                <li>
                    <a href="/accounts/delete/" {% if request.path == "/accounts/delete/" %}class="active" {% endif %}>{% trans 'Delete Account' %}</a>
                </li>
            {% endif %}
			<li>
				<a href="/accounts/logout/">{% trans 'Sign out' %}</a>
			</li>
		</ul>
	</div>
</div>
<div class="grid_9 main">
	<div class="maintxt" >
		{% block content_inner %}{% endblock %}		
	</div>
</div>
{% endblock %}
