{% extends "accounts/accounts_base.html" %}
{% load i18n %}
{% load widget_tweaks %}
{% block title %}{% trans "twiching: Activate Account" %}{% endblock %}
{% block content_inner %}
    <h2>{% trans "Activate your account" %}</h2>
    {% if form.non_field_errors %}
        <div class="error">
            {{ form.non_field_errors }}
        </div>
    {% endif %}
    <p>
        {% trans "We are happy for your decision to be back online in twiching.com. Clicking on to the activate button will allow other users to view your profile, your photographs and also enable them to contact you. So are you ready to be acive in twiching.com? Then go ahead and click on to the Activate button below." %}
    </p>
    <div class="clear"></div>
    <div>
        <form method="POST" action=".">
            {% csrf_token %}
            <div class="clear"></div>
            <input type="submit" value="{% trans 'Activate Account' %}"/>
        </form>
    </div>
    <div class="clear"></div>
{% endblock %}