{% extends "accounts/accounts_base.html" %}
{% load i18n %}
{% load widget_tweaks %}
{% block title %}{% trans "twiching: Change Password" %}{% endblock %}
{% block content_inner %}
    <h2>{% trans "Change Password" %}</h2>
    {% if form.non_field_errors %}
        <div class="error">
            {{ form.non_field_errors }}
        </div>
    {% endif %}
    <p>
        {% trans "Change your password by entering the requested details in below form" %}
    </p>
    <form method="POST" action=".">
        {% csrf_token %}
        <div class="clear"></div>
        <span class="label2">{{ form.old_password.label_tag }}</span> :
        {% if form.old_password.errors %}
            {{ form.old_password|add_class:"field_input_error" }}
        {% else %}
            {{ form.old_password }}
        {% endif %}
        <div class="clear"></div>
        {{ form.old_password.errors }}
        <span class="label2">{{ form.latest_password.label_tag }}</span> :
        {% if form.new_password.errors %}
            {{ form.latest_password|add_class:"field_input_error" }}
        {% else %}
            {{ form.latest_password }}
        {% endif %}
        <div class="clear"></div>
        {{ form.latest_password.errors }}
        <span class="label2">{{ form.confirm_password.label_tag }}</span> :
        {% if form.new_password.errors %}
            {{ form.confirm_password|add_class:"field_input_error" }}
        {% else %}
            {{ form.confirm_password }}
        {% endif %}
        <div class="clear"></div>
        {{ form.confirm_password.errors }}
        <span class="label2">&nbsp; </span>&nbsp;
        <input type="submit" value="{% trans 'Submit' %}" />
    </form>
{% endblock %}