<div align="center" style="padding-top: 30px;">
	<img width="{{ width }}" height="{{ height }}" src="{{ MEDIA_URL }}{{PROFILE_IMAGE_UPLOAD_PATH}}/{{profileImage}}" class="jcropme"/>
	<br />
	<form action=""method="GETT">
		<input type="hidden" name="x" id="x" value='' />
		<input type="hidden" name="y" id="y" value='' />
		<input type="hidden" name="x1" id="x1" value='' />
		<input type="hidden" name="y1" id="y1" value='' />
		<input type="button" value="Done Croping" onclick="cropImage()" />
	</form>
</div>