{% load i18n %}
{% load truncate_letters %}
{% load thumbnail %}
<div class="grid_4 title" style="float:left; width:255px;">
    <h2>
        {{ title }}
        <span style="float:right; margin-right:5px; position: relative; top: -3px;">
            {% if group_id == None %}
                <a href="/profiles/" title="{% trans "More Users" %}"> <img src="{{ STATIC_URL }}images/arrow-more.png" width="24px" height="24px" alt="More" /></a>
            {% else %}
                <a href="/profiles/popular/{{ group_id }}" title="{% trans "More Users" %}"> <img src="{{ STATIC_URL }}images/arrow-more.png" width="24px" height="24px" alt="More" /></a>
            {% endif %}
        </span>
    </h2>
</div>
<div class="grid_4 photographers" style="float:left; width:255px;">
    {% for user in userList %}
        <div onclick="window.location='/user/{{ user.username }}'" style="cursor: pointer;">
            {% thumbnail user.avatar "48x48" crop="top" as im %}
                <img src="/media/{{ user.avatar }}" width="{{ im.width }}" height="{{ im.height }}" />
            {% endthumbnail %}
            {{ user.first_name|truncateletters:6 }}
        </div>
    {% endfor %}
    <div class="clear" style="height:10px;"></div>
</div>