{% extends "accounts/accounts_base.html" %}
{% load i18n %}
{% block title %} twiching: Account Dashboard {% endblock %}
{% block content_inner %}
<h2>Dashboard</h2>
<h3>Hello, {{user.first_name}}!</h3>
<p>
	From your My Account Dashboard you have the ability to view a snapshot of your recent account activity and update your
	account information. Select a link below to view or edit information.
</p>
<h1>Account Information</h1>
<div class="grid_4">
	<h3>{% trans 'Contact Information' %}<a href="/accounts/edit/">Edit</a></h3>
	<p>
		<span class="label">{% trans 'User ID' %}</span>:  {{user.username}}
		<br />
		<span class="label">{% trans 'Full Name' %}</span>:   {{user.first_name}} {{user.last_name}}
		<br />
		<span class="label">{% trans 'Email Address' %}</span>:   {{user.email }}
		<br />
		<a href="/accounts/password/" title="Change Password">{% trans 'Change Password' %}</a>
	</p>
</div>
<div class="grid_4">
	<h3>{% trans 'Newsletters' %}
        {% if not subscription_status %}
            <a onclick="subscribe('{{user.email }}')" style="cursor: pointer;">{% trans 'Subscribe' %}</a>
        {% else %}
            <a onclick="unsubscribe('{{user.email }}')" style="cursor: pointer;">{% trans 'Unsubscribe' %}</a>
        {% endif%}
    </h3>
	<p>
        {% if not subscription_status %}
            {% trans 'You are currently not subscribed to twiching newsletter' %}
        {% else %}
            {% trans 'You are subscribed to twiching newsletter' %}
        {% endif %}

	</p>
</div>
{#<div class="clear"></div>#}
{#<h1>Address Book</h1>#}
{#<div class="grid_4">#}
{#	<h3>Default Billing Address</h3>#}
{#	<p>#}
{#		You have not set a default billing address.#}
{#		<br />#}
{#		<a href="#">Edit Address</a>#}
{#	</p>#}
{#</div>#}
{#<div class="grid_4">#}
{#	<h3>Default Shipping Address</h3>#}
{#	<p>#}
{#		You have not set a default shipping address.#}
{#		<br />#}
{#		<a href="#">Edit Address</a>#}
{#	</p>#}
{#</div>#}
<div class="clear"></div>
{% endblock %}