{% extends "accounts/accounts_base.html" %}
{% load i18n %}
{% load widget_tweaks %}
{% block title %}{% trans "twiching: Deactivate Account" %}{% endblock %}
{% block content_inner %}
    <h2>{% trans "Deactivate your account" %}</h2>
    {% if form.non_field_errors %}
        <div class="error">
            {{ form.non_field_errors }}
        </div>
    {% endif %}
    <p>
        {% trans "So you want to take a break from twiching.com? Then click on to the button below to deactivate your account. Please note that deactivating your account is not same as deleting your account. Once you deactivate, other users wont be able to see your profile or the photographs you have uploaded to twiching, but you can always come back and activate your account and all your uploads and profiles will be back online. To activate just login to your account dashboard and then click on to activate link. So are you sure you want to deactivate your account?" %}
    </p>
    <div class="clear"></div>
    <div>
        <form method="POST" action=".">
            {% csrf_token %}
            <div class="clear"></div>
            <input type="submit" value="{% trans 'Deactivate Account' %}"/>
        </form>
    </div>
    <div class="clear"></div>
{% endblock %}