{% extends "accounts/accounts_base.html" %}
{% load i18n %}
{% load widget_tweaks %}
{% block title %}{% trans "twiching: Delete Account" %}{% endblock %}
{% block extra_javascript %}
    <script type="text/javascript">
        function showDeleteWarning(){
            var msg = "{% trans "Are you sure you want to delete your profile? Please note that this action cannot be reverted once done. Once you click delete we will delete your profile along with all the photographs you have uploaded and other details. So are you sure you want to go ahead?" %}";
            var result = confirm(msg);
            if (result == true) {
                document.forms["deleteForm"].submit();
            }
        }
    </script>
{% endblock %}
{% block content_inner %}
    <h2>{% trans "Delete your account" %}</h2>
    {% if form.non_field_errors %}
        <div class="error">
            {{ form.non_field_errors }}
        </div>
    {% endif %}
    <p>
        {% trans "Its really hard to see you leave. Are you planning for a break from twiching.com and would return back later? Then you dont have to delete your account, just deactivate it and you can reactivate it at a later point of time. So do you want to reconsider deleting your profile, then move away from this page else you can click on to the button below." %}
    </p>
    <div class="clear"></div>
    <div>
        <form method="POST" action="." name = "deleteForm">
            {% csrf_token %}
            <div class="clear"></div>
            <input type="button" value="{% trans 'Delete my Account' %}" onclick="showDeleteWarning()"/>
        </form>
    </div>
    <div class="clear"></div>
{% endblock %}