{% extends "accounts/accounts_base.html" %}
{% load i18n %}
{% load widget_tweaks %}
{% block title %}{% trans "twiching: Update Account Details" %}{% endblock %}
{% block extra_javascript %}
    <script type="text/javascript">
        //	jQuery(function() {
        //        jQuery("#id_dob").datepicker({
        //			dateFormat : 'dd/mm/yy',
        //			changeMonth: true,
        //			changeYear: true,
        //			minDate: "-85 Y",
        //			maxDate: "-16 Y",
        //			showOn: "both"
        //		});
        //	});
    </script>
{% endblock %}
{% block content_inner %}
    <h2>{% trans "Update Account" %}</h2>
    {% if form.non_field_errors %}
        <div class="error">
            {{ form.non_field_errors }}
        </div>
    {% endif %}
    <p>
        {% trans "Change your profile details by entering your latest profile information in the form below" %}
    </p>
    <form method="POST" action=".">
    {% csrf_token %}
    {{ form.profile_id }}
    <div class="clear"></div>
    {{ form.avatar.errors }}
    <span class="label2">{{ form.gender.label_tag }}</span> :
    {{ form.gender }}
    <div class="clear"></div>
    {{ form.gender.errors }}
	<span class="label2">
		{{ form.first_name.label_tag }}&nbsp;<em style="color: red">*</em>
	</span> :
    {% if form.first_name.errors %}
        {{ form.first_name|add_class:"field_input_error" }}
    {% else %}
        {{ form.first_name }}
    {% endif %}
    <div class="clear"></div>
    {{ form.first_name.errors }}
    <span class="label2">{{ form.last_name.label_tag }}&nbsp;<em style="color: red">*</em></span> :
    {% if form.last_name.errors %}
        {{ form.last_name|add_class:"field_input_error" }}
    {% else %}
        {{ form.last_name }}
    {% endif %}
    <div class="clear"></div>
    {{ form.last_name.errors }}
    <span class="label2">{{ form.email.label_tag }}&nbsp;<em style="color: red">*</em></span> :
    {% if form.email.errors %}
        {{ form.email|add_class:"field_input_error" }}
    {% else %}
        {{ form.email }}
    {% endif %}
    <div class="clear"></div>
    {{ form.email.errors }}
    <span class="label2">{{ form.dob.label_tag }}&nbsp;<em style="color: red">*</em></span> :
    {% if form.dob.errors %}
        {{ form.dob|add_class:"field_input_error" }}
    {% else %}
        {{ form.dob }}
    {% endif %}
    <div class="clear"></div>
    {{ form.dob.errors }}
    <span class="label2">{{ form.address1.label_tag }}&nbsp;<em style="color: red">*</em></span> :
    {% if form.address1.errors %}
        {{ form.address1|add_class:"field_input_error" }}
    {% else %}
        {{ form.address1 }}
    {% endif %}
    <div class="clear"></div>
    {{ form.address1.errors }}
    <span class="label2">{{ form.address2.label_tag }}</span> :
    {{ form.address2 }}
    <div class="clear"></div>
    {{ form.address2.errors }}
    <span class="label2">{{ form.city.label_tag }}&nbsp;<em style="color: red">*</em></span> :
    {% if form.city.errors %}
        {{ form.city|add_class:"field_input_error" }}
    {% else %}
        {{ form.city }}
    {% endif %}
    <div class="clear"></div>
    {{ form.city.errors }}
    <span class="label2">{{ form.pincode.label_tag }}</span> :
    {% if form.pincode.errors %}
        {{ form.pincode|add_class:"field_input_error" }}
    {% else %}
        {{ form.pincode }}
    {% endif %}
    <div class="clear"></div>
    {{ form.pincode.errors }}
    <span class="label2">{{ form.state.label_tag }}&nbsp;<em style="color: red">*</em></span> :
    {% if form.state.errors %}
        {{ form.state|add_class:"field_input_error" }}
    {% else %}
        {{ form.state }}
    {% endif %}
    <div class="clear"></div>
    {{ form.state.errors }}

    <span class="label2">{{ form.country.label_tag }}&nbsp;<em style="color: red">*</em></span> :
    {% if form.country.errors %}
        {{ form.country|add_class:"field_input_error" }}
    {% else %}
        {{ form.country }}
    {% endif %}
    <div class="clear"></div>
    {{ form.country.errors }}

    <span class="label2">{{ form.user_type.label_tag }}&nbsp;<em style="color: red">*</em></span> :
    {% if form.user_type.errors %}
        {{ form.user_type|add_class:"field_input_error" }}
    {% else %}
        {{ form.user_type }}
    {% endif %}
    <div class="clear"></div>
    {{ form.user_type.errors }}

    <div class="clear"></div>


    <hr/>
    <div class="clear"></div>
    <h3>Additional Information</h3>

    <div class="clear"></div>
    <span class="label2">
        {{ form.about_me.label_tag }}&nbsp;
    </span> :
    {% if form.about_me.errors %}
        {{ form.about_me|add_class:"field_input_error" }}
    {% else %}
        {{ form.about_me }}
    {% endif %}
    <div class="clear"></div>
    {{ form.about_me.errors }}
    <span class="label2">
        {{ form.website_url.label_tag }}&nbsp;
    </span> :
    {% if form.website_url.errors %}
        {{ form.website_url|add_class:"field_input_error" }}
    {% else %}
        {{ form.website_url }}
    {% endif %}
    <div class="clear"></div>
    {{ form.website_url.errors }}


    {% if group_id == GROUP_ID_MAPPING.MODEL or group_id == GROUP_ID_MAPPING.FASHION_DESIGNER %}
        <span class="label2">
            {% trans 'Experience' %}&nbsp;
            </span> :
        {{ form.experience_year.label_tag }}&nbsp;{{ form.experience_year }}
        &nbsp;&nbsp;
        {{ form.experience_month.label_tag }}&nbsp;{{ form.experience_month }}
        <div class="clear"></div>
    {% endif %}
    {% if group_id == GROUP_ID_MAPPING.MODEL %}
        <span class="label2">
            {{ form.agency.label_tag }}&nbsp;
            </span> :
        {% if form.agency.errors %}
            {{ form.agency|add_class:"field_input_error" }}
        {% else %}
            {{ form.agency }}
        {% endif %}
        <div class="clear"></div>
        {{ form.agency.errors }}
    {% endif %}

    <span class="label2">
        {{ form.flickr_url.label_tag }}&nbsp;
        </span> :
    {% if form.flickr_url.errors %}
        {{ form.flickr_url|add_class:"field_input_error" }}
    {% else %}
        {{ form.flickr_url }}
    {% endif %}
    <div class="clear"></div>
    {{ form.flickr_url.errors }}

        <span class="label2">
        {{ form.google_plus_url.label_tag }}&nbsp;
        </span> :
    {% if form.google_plus_url.errors %}
        {{ form.google_plus_url|add_class:"field_input_error" }}
    {% else %}
        {{ form.google_plus_url }}
    {% endif %}
    <div class="clear"></div>
    {{ form.google_plus_url.errors }}

        <span class="label2">
        {{ form.facebook_url.label_tag }}&nbsp;
        </span> :
    {% if form.facebook_url.errors %}
        {{ form.facebook_url|add_class:"field_input_error" }}
    {% else %}
        {{ form.facebook_url }}
    {% endif %}
    <div class="clear"></div>
    {{ form.facebook_url.errors }}

     <span class="label2">
        {{ form.twitter_url.label_tag }}&nbsp;
     </span> :
    {% if form.twitter_url.errors %}
        {{ form.twitter_url|add_class:"field_input_error" }}
    {% else %}
        {{ form.twitter_url }}
    {% endif %}
    <div class="clear"></div>
    {{ form.twitter_url.errors }}

    {% if group_id != GROUP_ID_MAPPING.PHOTO_ENTHUSIAST %}
        <span class="label2">
        {{ form.awards.label_tag }}&nbsp;
        </span> :
        {% if form.awards.errors %}
            {{ form.awards|add_class:"field_input_error" }}
        {% else %}
            {{ form.awards }}
        {% endif %}
        <div class="clear"></div>
        {{ form.awards.errors }}

        <span class="label2">
        {{ form.published_works.label_tag }}&nbsp;
        </span> :
        {% if form.published_works.errors %}
            {{ form.published_works|add_class:"field_input_error" }}
        {% else %}
            {{ form.published_works }}
        {% endif %}
        <div class="clear"></div>
        {{ form.published_works.errors }}
    {% endif %}

    <span class="label2">&nbsp; </span>&nbsp;
    <input type="submit" value="{% trans 'Submit' %}"/>
    </form>
    <div class="clear"></div>
{% endblock %}