{% extends "accounts/accounts_base.html" %}
{% load i18n %}
{% load widget_tweaks %}
{% block title %}{% trans "Twiching: Change Profile Picture" %}{% endblock %}
{% block extra_css %}
    <link rel="stylesheet" href="{{ STATIC_URL }}css/colorbox.css"/>
    <link rel="stylesheet" href="{{ STATIC_URL }}css/jquery.Jcrop.css"/>
{% endblock %}
{% block extra_javascript %}
    <script src="{{ STATIC_URL }}js/jquery.colorbox-min.js"></script>
    <script src="{{ STATIC_URL }}js/jquery.Jcrop.min.js"></script>

    <script type="text/javascript">
        {% if reload == 1 %}
        {% endif %}
        {% if showOverlay == 1 %}
            jQuery(document).ready(function () {
                jQuery.fn.colorbox({href:"/accounts/profile_crop/", title:false, height:675});
                jQuery(document).bind('cbox_complete', function () {
                    jQuery('.jcropme').Jcrop({onSelect:assignCropCoords, aspectRatio:4 / 5});
                });
            });
        {% else %}
            jQuery(document).ready(function () {
                jQuery("#cropimage").colorbox({height:675});
                jQuery(document).bind('cbox_complete', function () {
                    jQuery('.jcropme').Jcrop({onSelect:assignCropCoords, aspectRatio:4 / 5});
                });
            });
        {% endif %}
        function assignCropCoords(c) {
            jQuery('#x').val(c.x);
            jQuery('#y').val(c.y);
            jQuery('#x1').val(c.x2);
            jQuery('#y1').val(c.y2)
        }

        function cropImage() {
            jQuery.get(
                    "/accounts/profile_crop/",
                    {
                        x:jQuery('#x').val(),
                        y:jQuery('#y').val(),
                        x1:jQuery('#x1').val(),
                        y1:jQuery('#y1').val()
                    }, function (data) {
                        window.location = "/accounts/picture/";
                    }
            );
        }
    </script>

{% endblock %}
{% block content_inner %}
    <h2>{% trans "Change Profile Picture" %}</h2>
    {% if form.non_field_errors %}
        <div class="error">
            {{ form.non_field_errors }}
        </div>
    {% endif %}
    <p>
        {% trans "Change your profile image here" %}
    </p>
    <div class="clear"></div>
    <div style="float: left; width: 165px;">
	<span>
		{% if profileImage == '' or profileImage == None %}
            <img src="{{ MEDIA_URL }}{{ PROFILE_IMAGE_UPLOAD_PATH }}/no-profile-medium.jpg" width="166" height="176"/>
        {% else %}
            <img src="{{ profileImage }}" style="max-height: 166px; max-width: 176px"/>
        {% endif %}
        <br />
         {% if noProfileImage == 0 %}
            <a id='cropimage' href="/accounts/profile_crop/">Crop This Image</a>
         {% endif %}
	</span>
    </div>
    <div>
        <form method="POST" enctype="multipart/form-data" action=".">
            {% csrf_token %}
            <span class="label2" style="padding-left: 15px; width: 335px;">
                <div style="float: left;">
                    {{ form.avatar.label_tag }}: {{ form.avatar }}
                </div>
                <div class="clear"></div>
                <div>
                <input type="submit" value="{% trans 'Submit' %}"/>
                </div>
            </span>
            <div class="clear"></div>
            {{ form.avatar.errors }}
            <div class="clear"></div>
            <span class="label2" style="padding-left: 15px;">&nbsp; </span>&nbsp;
            {{ form.old_image }}
        </form>
    </div>
    <div class="clear"></div>
{% endblock %}