{% extends "common/base.html" %}
{% load i18n %}
{% load endless %}
{% load photographs %}
{% load accounts %}
{% load thumbnail %}
{% load truncate_letters %}

{% block extra_javascript %}
    <script src="{{ STATIC_URL }}endless_pagination/js/endless.js" type="text/javascript" charset="utf-8"></script>
    <script src="{{ STATIC_URL }}endless_pagination/js/endless_on_scroll.js" type="text/javascript" charset="utf-8"></script>
    <script type="text/javascript" charset="utf-8">
        var endless_on_scroll_margin = 550;
    </script>
    <script type="text/javascript" xmlns="http://www.w3.org/1999/html">
        function displayByGroup() {
            window.location = '/profiles/{{ filter }}/' + document.getElementById('group_select').value
        }
    </script>
{% endblock %}
{% block content %}
{% paginate 24 data %}
    <div class="photo_profile">
        <div class="clear" style="height:25px;"></div>
        <div style=" width:280px; float:left;">
            {% if group_id == 1 %}
                {% popular_photographers %}
            {% else %}
                {% if group_id == 2 %}
                    {% popular_models %}
                {% else %}
                    {% popular_users %}
                {% endif %}
            {% endif %}

            <div class="grid_4" style="float:left; width:255px;"></div>
            {% photo_of_the_month %}
            {% get_photos %}

            <div class="grid_4" style="float:left; width:255px; height:15px;"></div>


        </div>
        <div class="grid_8" style="width:650px; float:right; margin-right:10px;">
            <h1 class="redTitleBig">{% trans 'Profiles' %} </h1>
        </div>
        <div class="grid_8 main" style="width:650px; float:right; margin-right:10px;">
            <div class="top_bottom_navi" style="float: left;">
                <span class="red">{% trans 'Filter by' %}:</span>
                <a href="/profiles/popular/{% if group_id != 0 %}{{ group_id }}/{% endif %}">
                    {% if filter == 'popular' %}
                        <strong>{% trans 'Most Popular' %}</strong>
                    {% else %}
                        {% trans 'Most Popular' %}
                    {% endif %}
                </a>&nbsp;|&nbsp;
                <a href="/profiles/latest/{% if group_id != 0 %}{{ group_id }}/{% endif %}">
                    {% if filter == 'latest' %}
                        <strong>{% trans 'Latest Activity' %}</strong>
                    {% else %}
                        {% trans 'Latest Activity' %}
                    {% endif %}
                </a>
            </div>
            <div style="float: right; padding-top: 7px; padding-right: 6px;">
                <select name="group_select" id="group_select" onchange="displayByGroup();">
                    <option value="0">--Display by Group--</option>
                    {% for group in groupList %}
			{% if not group.name == 'Fashion Designer' %}
                        <option value="{{ group.id }}" {% if group.id == group_id %}
                                selected="selected" {% endif %}>{{ group.name }}</option>
			{% endif %}
                    {% endfor %}
                </select>
            </div>
        </div>

        <div class="grid_8" style="width:650px; float:right; margin-right:10px;">
            
            {% for d in data %}
                <a href='/user/{{ d.username }}' style="padding: 0px;">
                    <div class="photo_left thumb" style="{% cycle '' '' '' ' margin-right: 0px;' %}">
                        <div style="text-align: center !important; min-height:94px;">
                            {% thumbnail d.avatar "138x94" as im %}
                                <img src="{{ im.url }}" width="{{ im.width }}" height="{{ im.height }}"/>
                            {% endthumbnail %}
                        </div>

                        <div class="feature_box_content">

                            <h2>{{ d.full_name|truncateletters:17 }}</h2>
                            {% if d.group_name != '' %}
                                <strong> {{ d.group_name }} </strong><br/>
                            {% endif %}
                            {% trans 'Last Login' %}:
                            {{ d.last_login|date:DATE_FORMAT }}
                            {% if d.country_iso != None %}
                                <img src="{{ STATIC_URL }}flags/{{ d.country_iso }}.gif" width="16" height="11" class="flag"/>
                            {% endif %}
                        </div>
                        {% if d.twichers %}
                            <div class="ribbon"></div>
                        {% endif %}
                    </div>
                </a>
                {% cycle '' '' '' '<div class="clear" style="height:30px;"> &nbsp;</div>' %}
            {% endfor %}
		{% show_more %}
            
            <div class="clear" style="height:10px;"></div>
            
            {% comment %}
            <div class="top_bottom_navi" style="text-align:center;">
                {% show_pages %}
            </div>
            {% endcomment %}
        </div>
        <div class="clear" style="height:30px;"></div>
    </div>
{% endblock %}
