{% extends "common/base.html" %}
{% load i18n %}
{% load widget_tweaks %}s
{% block content %}
<div class="loginOuterDiv main">
	<div class="maintxt">
		<h2 class="myacc">{% trans "Member Sign In" %}</h2>
		<p>
			{% trans "Enter your username and password to access our members only section!" %}
		</p>
        <div class="grid_7 alpha" style="width: 520px;">
		<form method="post" action="">
			{% csrf_token %}
			<span class="label2">{{ form.username.label_tag }}</span> :
			{% if form.username.errors %}
				{{ form.username|add_class:"field_input_error"}}
			{% else %}
				{{ form.username}}
			{% endif %}
			{{ form.username.errors }}			
			<div class="clear"></div>	
			<span class="label2">{{ form.password.label_tag }}</span> :
			{% if form.password.errors %}
				{{ form.password|add_class:"field_input_error"}}
			{% else %}
				{{ form.password}}
			{% endif %}
			{{ form.password.errors }}			
			<div class="clear"></div>

			<span class="label2">&nbsp; </span>&nbsp;
			<input type="submit" value="{% trans 'Submit' %}" />
		</form>
        </div>

        <div class="grid_1 alpha" >
            <img src="{{ STATIC_URL }}images/or.jpg" width="52" height="52"/>
        </div>

        <div class="grid_3 omega" style="margin:-25px 40px 30px 40px; text-align:center; "><p>
            <strong>{% trans "Sign In using another account" %}</strong><br/>
            <a href="{% url socialauth_begin 'facebook' %}">
                <img src="{{ STATIC_URL }}images/fb-icon.png" style="padding: 15px 0 15px 0;" />
            </a>
            <br/>
            {% trans "Use your Facebook account to sign into <br/> twiching. It's quick and easy!" %}
        </p>
        </div>
        <br />
        <div align="center" style="padding-bottom: 20px;">
            <a href="/accounts/register/"> Sign up for a new account</a>&nbsp;&nbsp;&nbsp;&nbsp;|&nbsp;&nbsp;&nbsp;&nbsp;<a href="/accounts/password/reset/">Cannot access my account</a>
        </div>
	</div>
</div>
{% endblock %}