{% extends "common/base.html" %}
{% load i18n %}
{% block title %}
    {% trans "Twiching: " %}{{ data.first_name }} {{ data.last_name }}'s Profile
{% endblock %}
{% load thumbnail %}
{% load common %}
{% load truncate_letters %}
{% block extra_css %}
    <link rel="stylesheet" href="{{ STATIC_URL }}css/profile.css">
    <link rel="stylesheet" href="{{ STATIC_URL }}css/buttons.css"/>
{% endblock %}
{% block extra_javascript %}
    <script type="text/javascript">
        function follow_user() {
            var request = jQuery.post('/follow/',
                    {
                        'following': {{ data.user_id }}
                    }, function (data) {
                        if (data.status == 'error') {
                            var status = 'Error'
                            switch (data.error) {
                                case 'same_user':
                                    var message = '{% trans 'Duh! But why do you want to follow yourself?' %}';
                                    break;
                                case 'database_error':
                                    if (data.type = 'follow') {
                                        var message = '{% trans 'Oops! Error occurred while we where trying to process your follow request. Please try again later!' %}';
                                    } else {
                                        var message = '{% trans 'Oops! Error occurred while we where trying to process your un-follow request. Please try again later!' %}';
                                    }
                                    break;
                                case 'field_value_missing':
                                    var message = '{% trans 'Oops! Error occurred while processing your request. Please try again later!' %}';
                                    break;
                            }

                        } else if (data.status == 'success') {
                            var status = 'Success';

                            if (data.type == 'follow') {
                                var message = '{% trans 'You are now following ' %}{{ data.first_name }}';
                            } else {
                                var message = '{{ data.first_name }}{% trans ' is removed from your follower list' %}';
                            }
                        }
                        jQuery.post('/set_ajax_message/',
                                {
                                    'message':message,
                                    'status':status
                                }, function () {
                                    window.location.reload();
                                }
                        )
                    }
            );
            request.fail(
                    function (data) {
                        if (data.status = 401) {
                            jQuery.post('/set_ajax_message/',
                                    {
                                        'message':'{% trans 'You need to login before you can follow a user' %}',
                                        'status':'Error'
                                    }, function (data) {
                                        window.location = '/accounts/login/?next=/user/{{ data.username }}/'
                                    }
                            )

                        } else if (data.status = 405) {
                            jQuery.post('/set_ajax_message/',
                                    {
                                        'message':'{% trans 'You tried to perform an invalid operation, if you are not sure why this error occurred then please contact customer care' %}',
                                        'status':'Error'
                                    }, function (data) {
                                        window.location.reload();
                                    }
                            )
                        } else if (data.status = 500) {
                            jQuery.post('/set_ajax_message/',
                                    {
                                        'message':'{% trans 'Oops! Error occurred while processing your request. Please try again later. If the problem persist please contact customer care!' %}',
                                        'status':'Error'
                                    }, function (data) {
                                        window.location.reload();
                                    }
                            )
                        }
                    }
            );
        }
    </script>
{% endblock %}
{% block content %}
    <div class="profile_details">

        <div class="clear"></div>
        <div class="grid_12">
            <div class="clear" style="height:20px;"></div>
            <ul class="tabs">
                <li id="selected"><a href="#">{% trans "Personal Bio" %}</a></li>
                <li><a href="/user/{{ data.username }}/photographs">{% trans "Photographs" %}</a></li>
                {% if current_user_id != 0 and data.user_id != current_user_id %}
                    {% if show_contact == 1 %}
                        <li><a href="/user/{{ data.username }}/contact">{% trans "Contact" %}</a></li>
                    {% endif %}
                {% endif %}
            </ul>
        </div>

        <div class="grid_12 main">
            <div class="profile-box">
                <div class="corner profile-tl"></div>
                <div class="corner profile-tr"></div>
                <div class="corner profile-bl"></div>
                <div class="corner profile-br"></div>
                <div class="corner-box-inner">
                        {% thumbnail data.avatar "254x360" as image %}
                            <img width="{{ image.width }}" height="{{ image.height }}" src="{{ image.url }}" class="profile-thumb-cnt" alt = "{{ data.first_name }} {{ data.last_name }}" title="{{ data.first_name }} {{ data.last_name }}"/>
                        {% endthumbnail %}
                    <div class="profile-right-cnt">
                        {% if data.gender == 'M' %}
                            <div class="corner profile-icn-male" title="Male"></div>
                        {% else %}
                            <div class="corner profile-icn-female" title="Female"></div>
                        {% endif %}
                        {% if data.twicher == 1 %}
                            <div class="corner profile-twicher-strip" title="Twicher"></div>
                        {% endif %}
                        <h1 class="profile-head">
                            I&apos;m <span>{{ data.first_name }} {{ data.last_name }}</span>{% if data.groupNames != '' and data.groupNames != None %}, a {{ data.groupNames }}!{% endif %}</h1>

                        <div class="profile-info">
                        {% if data.state != None and data.state != '' and data.country != None %}
							<span>
                                {% trans 'From' %}:
                                {% if data.state != None and data.state != '' %}
                                    {{ data.state|title }},
                                {% endif %}
                                {% if data.country != None %}
                                    {{ data.country }}&nbsp;&nbsp;
                                    <img src="{{ STATIC_URL }}flags/{{ data.country_iso }}.gif" width="16" height="11" title="{{ data.country }}"/>
                                {% endif %}
							</span>
                            |
                        {% endif %}
							<span>
								{% trans 'Member Since' %}: {{ data.joined|date:'d M, Y' }}
							</span>
                        </div>
                        <div class="clear"></div>
                        {% if data.about_me != None and data.about_me != "" %}
                            <p>{{ data.about_me }}</p>
                        {% endif %}
                        {% if current_user_id != data.user_id %}
                            {% if enable_follow == 1 %}
                                &nbsp;&nbsp;
                                {% if show_follow_button == 1 %}
                                    <div class="followme"><a style="cursor: pointer; margin-top: 5px;"
                                                             onclick="follow_user()">Follow </a></div>
                                {% else %}
                                    <div class="dontfollowme"><a style="cursor: pointer; margin-top: 5px;"
                                                                 onclick="follow_user()">Unfollow </a></div>
                                {% endif %}
                            {% endif %}
                        {% else %}
                            <div class="clear" style="height: 5px;"></div>
                            <a id='follow_btn' style="cursor: pointer;" href="/accounts/edit/">
                                <img src="{{ STATIC_URL }}images/update-profile.png" alt="Update Profile"
                                     title="Update Your Profile">
                            </a>
                            <div class="clear"></div>
                        {% endif %}
                        <ul class="profile-list-view">
                            {% if data.zodiacSign != None %}
                            <li>
                                <div class="profile-sign">
                                    <img src="{{ STATIC_URL }}images/zodiac/{{ data.zodiacSign.image }}" alt="{{ data.zodiacSign.name }}" title="{{ data.zodiacSign.name }}" width ="36" height="30px;"/>
                                </div>
                                <tt>{% trans 'Zodiac Sign' %}</tt>
                            </li>
                            {% endif %}
                            <li>
                                <h1><a href="/user/{{ data.username }}/photographs" title="Photo Uploaded">{{ data.photoCount }}</a></h1>
                                <tt>{% if data.photoCount <= 1 %}{% trans 'Photo Uploaded' %}{% else %}{% trans 'Photos Uploaded' %}{% endif %}</tt>
                            </li>
                            <li>
                                <h1><a href="#" title="Profile Visits">{{ profile_view }}</a></h1>
                                <tt>{% if profile_view <= 1 %}{% trans 'Profile Visit' %}{% else %}{% trans 'Profile Visits' %}{% endif %}</tt>
                            </li>
                            <li>
                                <h1><a href="#" title="Following Me">{{ data.followerCount }}</a></h1>
                                <tt>{% trans 'Following Me' %}</tt>
                            </li>
                        </ul>
                        <div class="clear"></div>
                        <ul class="profile-list-social">
                            {% if data.website_url != None and data.website_url != '' %}
                                <li class="my-website">
                                    <span>
                                        <a href="{{ data.website_url }}" title="My Website" target="_blank">
                                            <img src="{{ STATIC_URL }}images/profile-sprite.png" alt="My Website"/>
                                        </a>
                                    </span>
                                </li>
                            {% endif %}
                            {% if data.twitter_url != None and data.twitter_url != '' %}
                                <li class="social-twitter">
                                    <span>
                                        <a href="{{ data.twitter_url }}" title="My Twitter Profile" target="_blank">
                                            <img src="{{ STATIC_URL }}images/profile-sprite.png" alt="Twitter"/>
                                        </a>
                                    </span>
                                </li>
                            {% endif %}
                            {% if data.facebook_url != None and data.facebook_url != '' %}
                                <li class="social-facebook" style="width:21px;">
                                    <span>
                                        <a href="{{ data.facebook_url }}" title="My Facebook Profile" target="_blank">
                                            <img src="{{ STATIC_URL }}images/profile-sprite.png" alt="facebook"/></a>
                                    </span>
                                </li>
                            {% endif %}
                            {% if data.flickr_url != None and data.flickr_url != '' %}
                                <li class="social-flickr">
                                    <span>
                                        <a href="{{ data.flickr_url }}" title="My Flickr Profile" target="_blank">
                                            <img src="{{ STATIC_URL }}images/profile-sprite.png" alt="Flickr"/>
                                        </a>
                                    </span>
                                </li>
                            {% endif %}
                            {% if data.google_plus_url != None and data.google_plus_url != '' %}
                                <li class="social-gplus">
                                    <span>
                                        <a href="{{ data.google_plus_url }}" title="Google Plus" target="_blank">
                                            <img src="{{ STATIC_URL }}images/profile-sprite.png" alt="Google Plus"/>
                                        </a>
                                    </span>
                                </li>
                            {% endif %}
                        </ul>
                    </div>
                </div>
            </div>
        </div>
    </div>
{% endblock %}