{% extends "common/base.html" %}
{% load i18n %}
{% load endless %}
{% load photographs %}
{% load accounts %}
{% load truncate_letters %}
{% load thumbnail %}
{% block extra_javascript %}
    <script src="{{ STATIC_URL }}endless_pagination/js/endless.js" type="text/javascript" charset="utf-8"></script>
    <script src="{{ STATIC_URL }}endless_pagination/js/endless_on_scroll.js" type="text/javascript" charset="utf-8"></script>
    <script type="text/javascript" charset="utf-8">
        var endless_on_scroll_margin = 550;
    </script>

{% endblock %}
{% block content %}
    <div class="clear" style="height:25px;"></div>
    <div style=" width:280px; float:left;">
        {% if group_id == 1 %}
            {% popular_photographers %}
        {% else %}
            {% if group_id == 2 %}
                {% popular_models %}
            {% else %}
                {% popular_users %}
            {% endif %}
        {% endif %}

        <div class="grid_4" style="float:left; width:255px;"></div>
        {% photo_of_the_month %}
        {% get_photos %}
        <div class="grid_4" style="float:left; width:255px; height:15px;"></div>
    </div>
    <div class="grid_8" style="width:650px; float:right; margin-right:10px;">
        {% if groupId == 0 %}
            <h1 class="redTitleBig">{% trans 'Twichers' %} </h1>
        {% else %}
            <h1 class="redTitleBig">{{ groupName }}s </h1>
        {% endif %}
        <div class="page-help-div">
            <div class="grid_2" style="width: 109px;">
                <img src="{{ STATIC_URL }}images/twicher-emblem.png"/>
            </div>
            <p align="justify" style="padding: 10px 10px 0 10px; margin-bottom: 0px; color: #9B9B9B;">
                Profiles of members who are acclaimed or have been recognized for excellence in the field of photography,
                art, cinematography or modeling will be honored at this very section. Members will be selected from
                twiching users to this section by a admin panel according to the quality of work and their contributions
                to their respected fields.
            </p>
            <br/>
            {#        <span>- {% trans 'team twiching' %}</span>#}
        </div>
    </div>


    <div class="grid_8" style="width:650px; float:right; margin-right:10px;">
        {% paginate data %}
        {% for d in data %}
            <div class="photo_left" onclick="window.location='/user/{{ d.username }}'" style=" width:139px;  min-height:145px; cursor: pointer;{% cycle '' '' '' ' margin-right: 0px;' %}">
            <div style="text-align: center !important; height: 94px;">
                {% thumbnail d.avatar "138x94" as im %}
                    <img src="{{ im.url }}" width="{{ im.width }}" height="{{ im.height }}" align="middle" />
                {% endthumbnail %}
            </div>
              <div  class="feature_box_content">
                <h2>{{ d.full_name|truncateletters:17 }}</h2>
                {% if d.groupName != '' %}
                   <strong> {{ d.groupName }}</strong><br/>
                {% endif %}
                Last Login:
                {{ d.last_login|date:DATE_FORMAT }}
                {% if d.country_iso != None %}
                    <img src="{{ STATIC_URL }}flags/{{ d.country_iso }}.gif" width="16" height="11" class="flag"/>
                {% endif %}
                </div>
            </div>
            {% cycle '' '' '' '<div class="clear" style="height:30px;"> &nbsp;</div>' %}
        {% endfor %}
        {% show_more %}
            <div id="dvLoading"></div>
            <div class="clear" style="height:10px;"></div>
    </div>

    <div class="clear" style="height:30px;"></div>
{% endblock %}
