{% load i18n %}
{% load endless %}
{% load photographs %}
{% load accounts %}
{% load truncate_letters %}
{% load thumbnail %}
{% paginate data %}
        {% for d in data %}
            <div class="photo_left" onclick="window.location='/user/{{ d.username }}'" style=" width:139px;  min-height:145px; cursor: pointer;{% cycle '' '' '' ' margin-right: 0px;' %}">
            <div style="text-align: center !important; height: 94px;">
                {% thumbnail d.avatar "138x94" as im %}
                    <img src="{{ im.url }}" width="{{ im.width }}" height="{{ im.height }}" align="middle" />
                {% endthumbnail %}
            </div>
              <div  class="feature_box_content">
                <h2>{{ d.full_name|truncateletters:17 }}</h2>
                {% if d.groupName != '' %}
                   <strong> {{ d.groupName }}</strong><br/>
                {% endif %}
                Last Login:
                {{ d.last_login|date:DATE_FORMAT }}
                {% if d.country_iso != None %}
                    <img src="{{ STATIC_URL }}flags/{{ d.country_iso }}.gif" width="16" height="11" class="flag"/>
                {% endif %}
                </div>
            </div>
            {% cycle '' '' '' '<div class="clear" style="height:30px;"> &nbsp;</div>' %}
        {% endfor %}

        {% show_more %}