{% extends "common/base.html" %}
{% load i18n %}
{% load widget_tweaks %}
{% block title %}
    {% trans "Twiching: Contact" %} {{ userData.first_name }}&nbsp;{{ userData.last_name }}
{% endblock %}
{% block extra_css %}
    <style type="text/css">
    .textAreaWidth {
        height: 250px;
    }
    </style>
    <link rel="stylesheet" href="{{ STATIC_URL }}jwysiwyg/jquery.wysiwyg.css" type="text/css"/>
{% endblock %}
{% block extra_javascript %}
    <script type="text/javascript" src="{{ STATIC_URL }}jwysiwyg/jquery.wysiwyg.js"></script>
    <script type="text/javascript" src="{{ STATIC_URL }}jwysiwyg/controls/wysiwyg.image.js"></script>
    <script type="text/javascript" src="{{ STATIC_URL }}jwysiwyg/controls/wysiwyg.link.js"></script>
    <script type="text/javascript" src="{{ STATIC_URL }}jwysiwyg/controls/wysiwyg.table.js"></script>
    <script type="text/javascript">
        jQuery(function() {
            jQuery('#id_content').wysiwyg({
                rmUnusedControls: true,
                controls: {
                    bold: { visible : true },
                    italic: { visible : true },
                    strikeThrough: { visible : true },
                    underline: { visible : true },
                    justifyLeft: { visible : true },
                    justifyCenter: { visible : true },
                    justifyRight: { visible : true },
                    justifyFull: { visible : true },
                    createLink: { visible : true },
                    insertImage: { visible : true },
                    h1: { visible : true },
                    h2: { visible : true },
                    h3: { visible : true },
                    paragraph: { visible : true },
                    insertTable: { visible : true }
                },
                iFrameClass: 'textAreaWidth'
            });
        });

    </script>
{% endblock %}
{% block content %}
    <div class="profile_details">

        <div class="clear"></div>
        <div class="grid_12">
            <div class="clear" style="height:20px;"></div>
            <ul class="tabs">
                <li><a href="/user/{{ userData.username }}/">{% trans "Personal Bio" %}</a></li>
                <li><a href="/user/{{ userData.username }}/photographs">{% trans "Photographs" %}</a></li>
                <li id="selected"><a href="#">{% trans "Contact" %}</a></li>
            </ul>
        </div>

        <div class="grid_12 main">
            <div class="maintxt">
                <h2>{% trans "Contact" %}&nbsp;{{ userData.first_name }}&nbsp;{{ userData.last_name }}</h2>
                <p>
                    {% trans "Send message to " %}{{ userData.first_name }}. {% trans "We will deliver it to" %}
                    {% if userData.get_profile.gender == 'M' %} {% trans "his" %} {% else %} {% trans "her" %} {% endif %}
                    {% trans "email" %}
                </p>
                <form method="POST" action=".">
                    {% csrf_token %}
                    <div class="clear"></div>
                    <span class="label2">{{ form.subject.label_tag }}</span> : &nbsp;
                    {% if form.subject.errors %}
                        {{ form.subject|add_class:"field_input_error" }}
                    {% else %}
                        {{ form.subject }}
                    {% endif %}
                    <div class="clear"></div>
                    {{ form.subject.errors }}
	                <span class="label2">
		                {% trans 'Type your message' %}&nbsp;<em style="color: red">*</em>
	                </span>
                    <div class="clear"></div>
                    {% if form.content.errors %}
                        {{ form.content|add_class:"field_input_error" }}
                    {% else %}
                        {{ form.content }}
                    {% endif %}
                    <div class="clear"></div>
                    {{ form.content.errors }}
                    <div style="padding-left: 400px;">
                        <input type="submit" value="{% trans 'Send Message' %}" />
                    </div>
                </form>
            </div>
        </div>


    </div>
{% endblock %}