{% load i18n %}

{% block shipping-info %}

    <div class="grid_4">

        {% trans "Shipping same as billing?" %} {% if form.addressee.field.required %}<star class="red">*</star>{% endif %}<br />
        {{ form.copy_address }}
        {% if form.copy_address.errors %}
            <ul class="errorlist">
                <li>{{ form.copy_address.errors|join:", " }}</li>
            </ul>
        {% endif %}
    </div>
    <div class="grid_4">

        {% trans "Ship To" %} {% if form.ship_addressee.field.required %}<star class="red">*</star>{% endif %}<br />
        {{ form.ship_addressee }}
        {% if form.ship_addressee.errors %}
            <ul class="errorlist">
                <li>{{ form.ship_addressee.errors|join:", " }}</li>
            </ul>
        {% endif %}

        <div class="clear"></div>
        {% trans "Street" %} {% if form.ship_street1.field.required %}<star class="red">*</star>{% endif %}<br />
        {{ form.ship_street1 }}
        {% if form.ship_street1.errors %}
            <ul class="errorlist">
                <li>{{ form.ship_street1.errors|join:", " }}</li>
            </ul>
        {% endif %}
    </div>
    <div class="grid_4">
        {% trans "Street" %} {% if form.ship_street2.field.required %}<star class="red">*</star>{% endif %}<br />
        {{ form.ship_street2 }}
        {% if form.ship_street2.errors %}
            <ul class="errorlist">
                <li>{{ form.ship_street2.errors|join:", " }}</li>
            </ul>
        {% endif %}

        <div class="clear"></div>
        {% trans "City" %} {% if form.ship_city.field.required %}<star class="red">*</star>{% endif %}<br />
        {{ form.ship_city }}
        {% if form.ship_city.errors %}
            <ul class="errorlist">
                <li>{{ form.ship_city.errors|join:", " }}</li>
            </ul>
        {% endif %}
    </div>
    <div class="grid_4">
        {% if country %}
            {% if form.fields.ship_state.choices %}
                {% if country.get_admin_area_display %}{{ country.get_admin_area_display }}{% else %}{% trans "State/Province" %}{% endif %}
                {% if form.ship_state.field.required %}<star class="red">*</star>{% endif %}<br />
                <p id="id_ship_state_loading" style="display: none">Loading...</p> {{ form.ship_state }}
            {% endif %}
        {% else %}
            <div class="clear"></div>
            {% trans "State/Province" %}
            {% if form.ship_state.field.required %}<star class="red">*</star>{% endif %}<br />
            <p id="id_ship_state_loading" style="display: none">Loading...</p> {{ form.ship_state }}
        {% endif %}
        {% if form.ship_state.errors %}
            <ul class="errorlist">
                <li>{{ form.ship_state.errors|join:", " }}</li>
            </ul>
        {% endif %}

        <div class="clear"></div>
        {% trans "Zipcode/Postcode" %} {% if form.ship_postal_code.field.required %}<star class="red">*</star>{% endif %}<br />
        {{ form.ship_postal_code }}
        {% if form.ship_postal_code.errors %}
            <ul class="errorlist">
                <li>{{ form.ship_postal_code.errors|join:", " }}</li>
            </ul>
        {% endif %}
    </div>

    <div class="grid_4">


        <div class="clear"></div>
        {% trans "Country" %} {% if form.ship_country.field.required %}<star class="red">*</star>{% endif %}<br />
        {{ form.ship_country }}
        {% if form.ship_country.errors %}
            <ul class="errorlist">
                <li>{{ form.ship_country.errors|join:", " }}</li>
            </ul>
        {% endif %}
    </div>
{% endblock %}