{% load i18n %}

{% block billing-info %}

    <div class="grid_4">

        {% trans "Bill to" %} {% if form.addressee.field.required %}<star class="red">*</star>{% endif %}<br />
        {{ form.addressee }}
        {% if form.addressee.errors %}
            <ul class="errorlist">
                <li>{{ form.addressee.errors|join:", " }}</li>
            </ul>
        {% endif %}

        <div class="clear"></div>
        {% trans "Street" %} {% if form.street1.field.required %}<star class="red">*</star>{% endif %}<br />
        {{ form.street1 }}
        {% if form.street1.errors %}
            <ul class="errorlist">
                <li>{{ form.street1.errors|join:", " }}</li>
            </ul>
        {% endif %}
    </div>

    <div class="grid_4">

        {% trans "Street" %} {% if form.street2.field.required %}<star class="red">*</star>{% endif %}<br />
        {{ form.street2 }}
        {% if form.street2.errors %}
            <ul class="errorlist">
                <li>{{ form.street2.errors|join:", " }}</li>
            </ul>
        {% endif %}

        <div class="clear"></div>
        {% trans "City" %} {% if form.city.field.required %}<star class="red">*</star>{% endif %}<br />
        {{ form.city }}
        {% if form.city.errors %}
            <ul class="errorlist">
                <li>{{ form.city.errors|join:", " }}</li>
            </ul>
        {% endif %}
    </div>

    <div class="grid_4">
        {% if country %}
            {% if form.fields.state.choices %}
                {% if country.get_admin_area_display %}{{ country.get_admin_area_display }}{% else %}{% trans "State/Province" %}{% endif %}
                {% if form.state.field.required %}<star class="red">*</star>{% endif %}<br />
                <p id="id_state_loading" style="display: none">Loading...</p> {{ form.state }}
                {% if form.street2.errors %}
                    <ul class="errorlist">
                        <li>{{ form.street2.errors|join:", " }}</li>
                    </ul>
                {% endif %}
            {% endif %}
        {% else %}
            {% trans "State/Province" %} {% if form.state.field.required %}<star class="red">*</star>{% endif %}<br />
            <p id="id_state_loading" style="display: none">Loading...</p> {{ form.state }}
            {% if form.city.errors %}
                <ul class="errorlist">
                    <li>{{ form.city.errors|join:", " }}</li>
                </ul>
            {% endif %}
        {% endif %}

        <div class="clear"></div>
        {% trans "Zipcode/Postcode" %} {% if form.postal_code.field.required %}<star class="red">*</star>{% endif %}<br />
        {{ form.postal_code }}
        {% if form.postal_code.errors %}
            <ul class="errorlist">
                <li>{{ form.postal_code.errors|join:", " }}</li>
            </ul>
        {% endif %}
    </div>

    {% if not country %}
    <div class="grid_4">
        {% trans "Country" %} {% if form.country.field.required %}<star class="red">*</star>{% endif %}<br />
        {{ form.country }}
        {% if form.country.errors %}
            <ul class="errorlist">
                <li>{{ form.country.errors|join:", " }}</li>
            </ul>
        {% endif %}

    </div>
    {% endif %}
{% endblock %}