{% extends "common/base_without_breadcrumb.html" %}
{% load i18n %}
{% load satchmo_currency %}
{% load satchmo_order %}

{% block content %}
    <div class="checkout">
        <div class="grid_12 header_menu">
            <img src="{{ STATIC_URL }}images/twiching_23.jpg" width="10" height="30" style="float:left;"  />
            <div style="float:left;"   ><a href="/">Home</a>   ››   <strong>Confirmation</strong></div>
            <img src="{{ STATIC_URL }}images/twiching_26.jpg" width="10" height="30" style="float:right;" />
            <div  style="float:right;"> {% if user.is_authenticated %}Welcome {{ user.first_name}} | {% endif %}
                <img src="{{ STATIC_URL }}images/twiching_29.jpg" width="22" height="21" /> Cart: (<span class="red"><strong>0</strong></span>) </div>
        </div>

        <div class="clear"></div>

        <h1>{% trans 'Checkout' %}</h1>
    {% block error_processing %}
        {% if errors %}
            <h3>{% block errorheader %}{% trans "The following error was returned while trying to process your payment. Please correct and resubmit." %}{% endblock %}</h3>
            {{ errors }}
        {% else %}
            <h3>{% trans "Please validate the following information, then submit your order." %}</h3>
        {% endif %}
    {% endblock %}

    <div style="padding-left: 10px;">
    {% block order_details %}
        {% order_details order default_view_tax %}
    {% endblock %}
    </div>

    {% block payment_display %}
        {# override for module-specific needs, such as displaying card info #}
    {% endblock %}

    {% block payment_form %}
        <div class="clear"></div>
        {# override with any payment-module specific needs #}
        <div class="main" align="center" style="margin-bottom: 5px;">
        <form method="post" action=".">{% csrf_token %}
            <input type="hidden" name="Process" value="True">
            <input type="submit" value="{% trans "Purchase Items" %}"/>
        </form>
        </div>
    {% endblock %}
    </div>

{% endblock content %}