{% extends "common/base_without_breadcrumb.html" %}
{% load i18n %}
{% load thumbnail %}
{% block title %}
    {% trans "twiching: Checkout" %}
{% endblock %}
{% block content %}
    <div class="checkout">
        <div class="grid_12 header_menu">
            <img src="{{ STATIC_URL }}images/twiching_23.jpg" width="10" height="30" style="float:left;"/>

            <div style="float:left;"><a href="/">Home</a> ›› <strong>Checkout</strong></div>
            <img src="{{ STATIC_URL }}images/twiching_26.jpg" width="10" height="30" style="float:right;"/>

            <div style="float:right;"> {% if user.is_authenticated %}Welcome {{ user.first_name }} | {% endif %}
                <img src="{{ STATIC_URL }}images/twiching_29.jpg" width="22" height="21"/> Cart: (<span
                        class="red"><strong>0</strong></span>)
            </div>
        </div>

        <div class="clear"></div>
        <div class="grid_12">

            <div class="maintxt_box" style="margin-top: 50px; margin-bottom: 50px; margin-left: 210px;">
                {% trans 'Your cart is empty. Please add some items to your cart, then complete the checkout process.' %}
            </div>
        </div>
    </div>
{% endblock %}