{% extends "common/base_without_breadcrumb.html" %}
{% load i18n %}
{% load thumbnail %}
{% block title %}
    {% trans "twiching: Checkout" %}
{% endblock %}
{% block extra_javascript %}
    <script type="text/javascript" src="{{ STATIC_URL }}js/jquery.form.js"></script>
    {% if shop.options.PAYMENT.COUNTRY_MATCH.value %}
        {% include "contact/_country_match_script.html" %}
    {% endif %}
        {% include "contact/_contact_info_form_js.html" %}
        {% include "contact/_state_js.html" %}
{% endblock %}
{% block content %}
<div class="checkout">
    <div class="grid_12 header_menu">
        <img src="{{ STATIC_URL }}images/twiching_23.jpg" width="10" height="30" style="float:left;"  />
        <div style="float:left;"   ><a href="/">Home</a>   ››   <strong>Checkout</strong></div>
        <img src="{{ STATIC_URL }}images/twiching_26.jpg" width="10" height="30" style="float:right;" />
        <div  style="float:right;"> {% if user.is_authenticated %}Welcome {{ user.first_name}} | {% endif %}
            <img src="{{ STATIC_URL }}images/twiching_29.jpg" width="22" height="21" /> Cart: (<span class="red"><strong>0</strong></span>) </div>
    </div>

    <div class="clear"></div>

    <h1>{% trans 'Checkout' %}</h1>

    <div class="clear"></div>
    {% if form.non_field_errors %}
    <h2>{% trans "Please correct the following error:" %}</h2>
    {{ form.non_field_errors }}
    {% endif %}
    {% if user.is_anonymous %}
        <form method="post" action="{% if is_secure %}{% url auth_secure_login %}{% else %}{{ login_url }}{% endif %}">{% csrf_token %}
        <input type="hidden" name="next" value="/shipping/" />
    <div class="grid_9 main">
        <h3>
            {% trans "If you already have an account, you can login now to fill in most of the information below." %}
            {% trans "This is just a convenience, no account is required!" %}
        </h3>
        <div class="maintxt" >
                <div class="grid_4">
                    {% trans "Username or email" %} <star class="red">*</star><br />
                    <input type="text" id="id_username" class="vTextField required" name="username" size="15" value="" maxlength="75" />
                </div>

                <div class="grid_4">
                    {% trans "Password" %} <star class="red">*</star><br />
                    <input type="password" id="id_password" class="vPasswordField required" name="password" size="15" value="" maxlength="30" />
                </div>

                <div class="clear"></div>

                <div class="grid_8">
                    <input type="submit" value="{% trans "Login" %}" />
                    <div style="width:200px; float:right; text-align:right;"> <star class="red">*</star> Required Field </div>
                </div>
                <div class="clear"></div>
        </div>
    </div>
        </form>
    {% endif %}

{#    <div class="grid_3 main" style="float:right;"><h3>Your Checkout Progress </h3>#}
{#        <div class="maintxt" >#}
{#            <ul class="sidebar">#}
{#                <li><strong>Billing Address</strong><br />#}
{#                    some text goes here.#}
{#                    <br />#}
{#                    some text goes here.<br />#}
{#                    some text goes here.    </li>#}
{#                <li><strong>      Shipping Address</strong></li>#}
{#                <li><strong>      Shipping Method</strong></li>#}
{#                <li><strong>      Payment Method </strong></li>#}
{#            </ul>#}
{#        </div>#}
{#    </div>#}

    <form method="post" action="/shipping/">
        {% csrf_token %}
        <div class="grid_9 main">
            <h3>
                <strong>1</strong>
                {% trans "Basic Information" %} </h3>
            <div class="maintxt" >
                    <div class="grid_4">

                        {% trans "First name" %} {% if form.first_name.field.required %}<star class="red">*</star>{% endif %}<br />
                        {{ form.first_name }}
                        {% if form.first_name.errors %}
                            <ul class="errorlist">
                                <li>{{ form.first_name.errors|join:", " }}</li>
                            </ul>
                        {% endif %}

                        <div class="clear"></div>
                        {% trans "Last name" %} {% if form.last_name.field.required %}<star class="red">*</star>{% endif %}<br />
                        {{ form.last_name }}
                        {% if form.last_name.errors %}
                            <ul class="errorlist">
                                <li>{{ form.last_name.errors|join:", " }}</li>
                            </ul>
                        {% endif %}

                    </div>

                    <div class="grid_4">
                        {% trans "Email address" %} <star class="red">*</star><br />
                        {{ form.email }}
                        {% if form.email.errors %}
                            <ul class="errorlist">
                                <li>{{ form.email.errors|join:", " }}</li>
                            </ul>
                        {% endif %}

                        <div class="clear"></div>
                        {% trans "Phone number" %} {% if form.phone.field.required %}<star class="red">*</star>{% endif %}<br />
                        {{ form.phone }}
                        {% if form.phone.errors %}
                            <ul class="errorlist">
                                <li>{{ form.phone.errors|join:", " }}</li>
                            </ul>
                        {% endif %}

                    </div>

                    <div class="clear"></div>
            </div>
        </div>
        <div class="grid_9 main">
            <h3><strong>2</strong> Billing Address</h3>
            <div class="maintxt" >
                {% block billing-info %}{% include "shop/checkout/_contact_info_form_billing.html" %}{% endblock %}
            </div>
        </div>
        <div class="grid_9 main">
            <h3><strong>3</strong> Shipping Address</h3>
            <div class="maintxt" >
                {% block shipping-info %}{% include "shop/checkout/_contact_info_form_shipping.html" %}{% endblock %}
            </div>
        </div>
        <div class="grid_9 main">
            <h3><strong>4</strong> Payment Information</h3>
            <div class="maintxt" >
                {% ifequal paymentmethod_ct 1 %}
                {# If we only have one payment method, then the form renders it as a hidden field #}{{ form.paymentmethod }}
                {% endifequal %}
                {% trans "We currently have support only for Cash on Delivery. Please pay the cash for the item you have" %}
                {% trans "purchased while we deliver at the shipping address provided above" %}

            </div>
        </div>
        <div class="grid_9 main" style="margin-bottom:25px;" align="center">
            <input type="submit" value="{% trans "Continue Checkout" %}"/>
        </div>
    </form>
</div>
{% endblock %}