{% extends "common/base_without_breadcrumb.html" %}
{% load i18n %}
{% load satchmo_order %}
{% load satchmo_google %}

{% block content %}
    <div class="checkout">
        <div class="grid_12 header_menu">
            <img src="{{ STATIC_URL }}images/twiching_23.jpg" width="10" height="30" style="float:left;"  />
            <div style="float:left;"   ><a href="/">Home</a>   ››   <strong>Confirmation</strong></div>
            <img src="{{ STATIC_URL }}images/twiching_26.jpg" width="10" height="30" style="float:right;" />
            <div  style="float:right;"> {% if user.is_authenticated %}Welcome {{ user.first_name}} | {% endif %}
                <img src="{{ STATIC_URL }}images/twiching_29.jpg" width="22" height="21" /> Cart: (<span class="red"><strong>0</strong></span>) </div>
        </div>

        <div class="clear"></div>
        <div id="ordersuccess">
            <h4>{% trans "Thank you for your order!" %}</h4>
            <p>{% trans 'Please print out this page as a receipt.  You will also receive an email with this information.' %}</p>

            {% order_tracking_details order %}
        </div>
    {% endblock %}

    {% block google-tracker %}
        {% if shop.options.GOOGLE.ANALYTICS.value %}
            {% show_tracker %}
            {% show_receipt %}
        {% endif %}
        {% if shop.options.GOOGLE.ADWORDS.value %}
            {% google_adwords_sale %}
        {% endif %}
    </div>
{% endblock %}