{% extends "accounts/accounts_base.html" %}
{% load humanize %}
{% load thumbnail %}
{% block extra_css %}
<link rel="stylesheet" href="{{ STATIC_URL }}css/home.css">
<link rel="stylesheet" href="{{ STATIC_URL }}css/classifieds.css">
<link rel="stylesheet" href="{{ STATIC_URL }}css/slider.css"/>
<link href='http://fonts.googleapis.com/css?family=PT+Sans+Narrow:400,700' rel='stylesheet' type='text/css'>
{% endblock %}
{% block extra_javascript %}
<script src="{{ STATIC_URL }}endless_pagination/js/endless.js" type="text/javascript" charset="utf-8"></script>
<script src="{{ STATIC_URL }}endless_pagination/js/endless_on_scroll.js" type="text/javascript" charset="utf-8"></script>
<script type="text/javascript" charset="utf-8">
    var endless_on_scroll_margin = 550;
</script>
<script src="//ajax.googleapis.com/ajax/libs/jquery/1.8.3/jquery.min.js"></script>

<script type="text/javascript">
function delete_image(er)
    {
        if (confirm("Are you sure you want to remove this ad ?")) {

                                   $.ajax({
                            type:"POST",
                            url:"/classifieds/delete_ad/",
                            data: {'id':er},

                            success : function (data)
                            {
                                if (data == "success")
                                    {
                                        location.reload()
                                    }
                                else
                                    {
                                      alert("failed");
                                    }


                            },
                            error : function(e, x, r){

                             }
                            });

}

    }
</script>
{% endblock %}
{% block content_inner %}

            <div style="width: 100%">
        <span style="width: 200px; float: left;">
            <h2>My Classifieds</h2>
        </span>
    </div>
    <div class="clear"></div>
                <div class="classifieds-inner">
                   

                     {% for item in myads %}
                    <div class="classifieds-thumb-list" style="width: 196px;">
                        {% ifequal item.condition 0 %}
                        <div class="classifieds-thumb-list-bg">&nbsp;</div>
                        {% else %}
                        <div class="classifieds-thumb-list-bg-new">&nbsp;</div>
                        {% endifequal %}
                        <div class="classifieds-thumb-title">
							Posted: {{ item.added_date|date:"d M `Y" }}
                        </div>

                        <div class="classifieds-thumb-list-img">
                        	{% thumbnail item.main_image "135x85" upscale=False as thumb %}
                            <a href="{% url edit_classified item.id %}"><img alt="view product" src="{{ thumb.url}}" width="100px" height="85px"></a>
				{% endthumbnail %}
                        </div>
                        {% if item.approve  == 0 %}
                        
                            <span class="notApproved">
                                <a href="{% url edit_classified item.id %}"><img src="{{ STATIC_URL }}images/approval-pending-img.png" alt="" ></a>
                            </span>
                        {% endif %}
                        <div class="classifieds-thumb-sub-title">
							{{ item.title }}
                        </div>
                        <div class="classifieds-thumb-price">
				 <a href="{% url edit_classified item.id %}" style="float:left;"><img width="24" height="24" title="Edit" src="{{ STATIC_URL }}images/edit.png" style="cursor:pointer;" /></a>
                     <img width="24" height="24" title="Delete" src="{{ STATIC_URL }}images/delete.png" style="cursor:pointer;float:right;" onclick="delete_image({{item.id}})"/>
                            <span>AED</span> {{ item.price|intcomma }}/-
                        </div>
                    </div>
                    {% endfor %}

                   
                    <div id="dvLoading"></div>
                </div>
            
{% endblock %}
