
    {% extends "common/base.html" %}
{% load i18n %}
{% load widget_tweaks endless %}
{% load photographs %}
{% load accounts %}
{% load events %}

{% load articles %}
{% load thumbnail %}
{% block extra_css %}
    <link rel="stylesheet" href="{{ STATIC_URL }}css/home.css">
    <link rel="stylesheet" href="{{ STATIC_URL }}css/classifieds.css">
    <link rel="stylesheet" href="{{ STATIC_URL }}css/slider.css"/>
    <style type="text/css">
        
        .error { background-image:none;background:none;}
        * { font-family: Verdana; font-size: 96%; }

label.error {  color: red; background-image:none;background-color:none;border:none;width:none;padding:15px 10px 15px 173px;}

    </style>
{% endblock %}
{% block extra_javascript %}
    <script type="text/javascript" src="{{ STATIC_URL }}js/easySlider.js"></script>
    <script type="text/javascript" src="http://maps.google.com/maps/api/js?sensor=false"></script>
    
        <script type="text/javascript">

      function initialize() {
        var mapDiv = document.getElementById('map-canvas');
        var map = new google.maps.Map(mapDiv, {
          center: new google.maps.LatLng(25.2697, 55.3095),
          zoom: 13,
          mapTypeId: google.maps.MapTypeId.ROADMAP
        });

        var marker = new google.maps.Marker({
          map: map,
          position: new google.maps.LatLng(25.2697, 55.3095),
          draggable: true
        });
        google.maps.event.addListener(marker, 'dragend', function (event) {
        var lat = this.getPosition().lat();
        var longi = this.getPosition().lng();
        document.getElementById("id_latitude").value = lat;
        document.getElementById("id_longitude").value = longi;
        codeLatLng();
        
      });
      }

      //reverse geocoding
      var geocoder=new google.maps.Geocoder();
      var map;
      var marker;
function codeLatLng() {
    var lati = document.getElementById("id_latitude").value;
    var longi = document.getElementById("id_longitude").value;
    var lat = parseFloat(lati);
    var lng = parseFloat(longi);
    var latlng = new google.maps.LatLng(lat, lng);
    geocoder.geocode({'latLng': latlng}, function(results, status) {
      if (status == google.maps.GeocoderStatus.OK) {
        if (results[0]) {
            document.getElementById("id_landmark").value = results[0].formatted_address;
         //alert(results[0].formatted_address);
         }
        if (results[1]) {
            document.getElementById("id_location").value = results[1].formatted_address;
         //alert(results[1].formatted_address);

        }


      } else {
        alert("Geocoder failed due to: " + status);
      }
    });
}
      
    </script>
    <script type="text/javascript">
        jQuery(document).ready(function () {
		//hiding searchbox content when clicked
jQuery("#search").focus(function(){
     if (this.value==='Search for items') this.value = '';
});
jQuery("#search").blur(function(){
     if (this.value==='') this.value = 'Search for items';
});

            if(!jQuery("#id_brand").value)
              {
                  jQuery("#custom_brand").show();
              }
              
            if(jQuery('#id_condition_1').is(':checked'))
               {
                   jQuery('#usage_div').show();
               }
            document.getElementById("id_custom_category").value = "";
            document.getElementById("id_custom_brand").value = "";

          
		

           
                        jQuery('#id_condition_1').click(function(){
                         jQuery('#usage_div').show();
                         document.getElementById("id_usage_years").value = "";
                         document.getElementById("id_usage_months").value = "";
                         document.getElementById("id_usage_days").value = "";
                         
                        });
                        jQuery('#id_condition_0').click(function(){
                            jQuery('#usage_div').hide();
                        });

		google.maps.event.addDomListener(window, 'load', initialize);
            
		jQuery("#add_more").click(function ()
                        {
                            jQuery('#duplicater').clone(false).insertAfter("#duplicater");


                        });

	jQuery("#id_category").change(function ()
                        {
                            //to hide custom category when a category is chosen
                            if(this.value)
                                {
                                    jQuery("#custom_cat").hide();
                                    jQuery("#brands").show();
                                    document.getElementById("id_custom_category").value = "";
                                }
                               else
                                 {
                                      jQuery("#custom_cat").show();
                                      jQuery("#custom_brand").show();
                                 }
                            
                            jQuery('#id_brand').empty();
                            jQuery.ajax({
                            type:"POST",
                            url:"/classifieds/add/add_brand",
                            data: {'cat':jQuery('#id_category :selected').val()},

                            success : function (data)
                            {
                             jQuery("#id_brand").append('<option value="' + '' + '">'+ '-----' +"</option>");
                             var options = jQuery("#id_brand");

                            //for(i=0,i<data)
                             jQuery.each(data, function(key, value) {
                             options.append('<option value="' + key + '">'+ value +"</option>");
                            });


                            },
                            error : function(e, x, r){
                             // alert(e)
                             }
                            });
                            });
                             jQuery("#id_brand").change(function (){
                            if(this.value)
                                {
                                    jQuery("#custom_brand").hide();
                                    document.getElementById("id_custom_brand").value = "";
                                }
                               else
                                 {
                                      jQuery("#custom_brand").show();
                                 }


                            });


                            jQuery('#id_usage_years').add('#id_usage_months').add('#id_usage_days').keypress(function(e) {
                                 var a = [];
                                 var k = e.which;
                                 if (k == 8)
                                     a.push(k);
                                 for (i = 48; i < 58; i++)
                                    a.push(i);

                                 if (!(a.indexOf(k)>=0))
                                    e.preventDefault();
                            });
                            jQuery('#id_phone').keypress(function(e) {
                                 var a = [];
                                 var k = e.which;
                                 if (k == 8)
                                     a.push(k);
                                 if (k == 43)
                                     a.push(k);
                                  if (k == 45)
                                     a.push(k);
				  if (k == 32)
                                     a.push(k);
                                 for (i = 48; i < 58; i++)
                                    a.push(i);

                                 if (!(a.indexOf(k)>=0))
                                    e.preventDefault();
                            });

                        jQuery('#id_price').keypress(function(e) {
                                 var a = [];
                                 var k = e.which;
                                 var s = this.value;
                                 var t = s.split(/\./);
                                 for (i = 48; i < 58; i++)
                                    a.push(i);
                                 if(k == 46 )
                                    if(t.length<2)
                                        a.push(46);
                                 if (!(a.indexOf(k)>=0))
                                    e.preventDefault();

                             });
                             //email validation on out of focus
                             jQuery('#id_email').blur(function() {
                                var s = this.value;
                                var pattern=/^([a-zA-Z0-9_.-])+@([a-zA-Z0-9_.-])+\.([a-zA-Z])+([a-zA-Z])+/;
                                if(pattern.test(s)){
                                    jQuery('#email_error').hide();
                                 }
                                 else{
                                        jQuery('#email_error').show();
                                      }
                            });



                            {% if form.category.value %}

                             jQuery("#custom_cat").hide();

                            {% endif %}

                            {% if form.brand.value %}
                            jQuery("#custom_brand").hide();
                            {% endif %}
        });
       
       
    
    function delete_image(er)
    {

                                   $.ajax({
                            type:"POST",
                            url:"/classifieds/delete_image/",
                            data: {'id':er.id,'ad_id':er.name},

                            success : function (data)
                            {
                                if (data == "success")
                                    {
                                        location.reload()
                                    }
                                else
                                    {
                                      alert("Atleast one image is necessery for an ad");
                                    }


                            },
                            error : function(e, x, r){

                             }
                            });
    }
</script>
{% endblock %}
{% block content %}


{% csrf_token %}


        <div class="container_12">
       
           
            <div class="clear"></div>
            <div class="grid_12 classifieds-filter">
		<ul class="classifieds-filter-list">
                    <form method="get" action="{% url search %}" id="myForm">
                        <input type="hidden" value="fdfdf">
			<li>
				<div class="classifieds-filter-type1">
                                    <select name="category">

                                                <option>All Categories</option>
                                                {% for cat in categories %}
						<option>{{ cat }}</option>
                                                {% endfor %}

					</select>
				</div>
			</li>
			<li>
				<div class="classifieds-filter-type2">
					<input name="q" type="text" id="search" value="Search for items"  />
				</div>
			</li>
			<li>
                            <span class="classifieds-filter-icn"><a href="#" onclick="document.getElementById('myForm').submit();" title="Search">Search</a></span>

			</li>
			<li class="mrgn-none">
				<span class="classifieds-sell-icn"><a href="{% url add_classified %}" title="Sell Your Product Here">Sell Your Product Here</a></span>
			</li>

                    </form>
		</ul>
	</div>
            <div class="clear"></div>
            <div class="classifieds_details classifieds-register">

        <div class="clear"></div>

		<div class="classifieds-cntr">

			<div class="grid_12 main">
                                    {% if message %}
                                        <div style="color:green; font-size:15px;">{{ message }}</div>
                                    {% endif %}
				<div class="maintxt">
					<div class="classifieds-register_title">
						<img title="Sign Up Title" src="{{ STATIC_URL }}images/buy-sell-title.png">

						<p class="classifieds-register-sub-title">Buy &amp; sell is an exclusive section at twiching to BUY or SELL products online. It’s absolutely FREE! for all members of twiching. <br />
						Go and get registered now! &amp; enjoy!!! </p>
					</div>


					<div style="height: 20px;" class="clear"></div>


					<div class="grid_7 alpha">

						<h2 class="classifieds-register-head-title">Post your Product</h2>
        <form action="." method="post" id="mainform" enctype="multipart/form-data">{% csrf_token %}
            

            <span class="label2"><label for="id_product_title">Product Title</label><font color="red"><sup>*</sup></font></span>
            {{ form.title }}
            {{ form.title.errors }}



            <div class="clear"></div>
            <span class="label2"><label for="id_user_type">Category</label></span>
            {{ form.category }}
            {{ form.category.errors }}
            <div class="clear"></div>

            <div id="brands">
            <span class="label2"><label for="id_user_type">Brand</label></span>
             <!--<select name="brand" id="id_brand" >
                <option value="{{ form.brand.value }}" selected="selected">------------</option>
            </select>-->
             {{ form.brand }}
             {{ form.brand.errors }}
            <div class="clear"></div>
            </div>

            <div id="custom_cat">
             <span class="label2"><label for="id_user_type">Custom Category </label></span>
            {{ form.custom_category }}
            {{ form.custom_category.errors }}
            <div class="clear"></div>
            </div>
           
            <div id="custom_brand">
             <span class="label2"><label for="id_user_type">Custom Brand </label></span>
            {{ form.custom_brand }}
            {{ form.custom_brand.errors }}
            <div class="clear"></div>
            </div>
            <span class="label2">Price<font color="red"><sup>*</sup></font></span>
            <input type="text" name="price" class="classifieds-price" {% if form.price.value %} value="{{ form.price.value }}" {% endif %}id="id_price">
             {{ form.price.errors }}
            <span class="classifieds-price-txt">(AED)</span>

            <div class="clear"></div>
            <span style="margin: 0px;" class="label2"><label for="">Sale Type</label></span>
            {{ form.condition }}
           
            {{ form.condition.errors }}


            <div class="clear"></div>
            <div id="usage_div" style="display:none;">
            <span class="label2"><label for="">Usage</label></span>
            {{ form.usage_years }}  years

            {{ form.usage_months }} months

            {{ form.usage_days }}   days

            {{ form.usage_years.errors }}
            <div class="clear"></div>
            </div>
            
            <span class="label2"><label for="id_product_title">Email ID</label><font color="red"><sup>*</sup></font></span>
            {{ form.email }}
            {{ form.email.errors }}
            <div id="email_error" style="display:none;color:red;padding-left:162px;">Enter a valid email address</div>
            <div class="clear"></div>
            <span class="label2"><label for="id_product_title">Phone No</label><font color="red"><sup>*</sup></font></span>
            {{ form.phone }}
            {{ form.phone.errors }}
            <div class="clear"></div>
            <span class="label2"><label for="id_user_type">Location on map</label><font color="red"><sup>*</sup></font></span>
          
            <div id="map-canvas" style="width: 257px; height: 200px; left:21px;"></div>
            <label style="color:#A9A9A9"><i>*Drag the red marker to select your location.</i></label>
            <input type="hidden" name="latitude" value="{{ form.latitude.value }}" id="id_latitude">
            {{ form.latitude.errors }}
            <input type="hidden" name="longitude" value="{{ form.longitude.value }}" id="id_longitude">
            
           <!-- <input type="hidden" name="location" value="" id="id_location">
            {{ form.location.errors }}
            <input type="hidden" name="landmark" value="" id="id_landmark">
            {{ form.landmark.errors }}-->
            <div class="clear"></div>
            <!--<span class="label2"><label for="id_dob_month">Date of Birth</label></span>

            {{ form.dob }}
                {{ form.dob.errors }}-->
            <span class="label2"><label for="">Location</label><font color="red"><sup>*</sup></font></span>
            {{ form.location }}
            {{ form.location.errors }}
            <div class="clear"></div>
            <span class="label2"><label for="">Landmark</label><font color="red"><sup>*</sup></font></span>
            {{ form.landmark }}
            {{ form.landmark.errors }}
            <div class="clear"></div>
            <span class="label2"><label for="">Description</label><font color="red"><sup>*</sup></font></span>
            <textarea id="id_description" rows="3" cols=""  name="description">{% if form.description.value %}{{ form.description.value }}{% endif %}</textarea>
            {{ form.description.errors }}


            <div class="clear"></div>
            <span class="label2"><label for="id_Tag">Tag</label></span>
            {{ form.tag }}
            {{ form.tag.errors }}
            <div class="clear"></div>
            
            <span class="label2"><label for="">Features</label></span>
            <textarea id="id_features" rows="3" cols="" name="features">{% if form.features.value %}{{ form.features.value }}{% endif %}</textarea>
            {{ form.features.errors }}
            <div class="clear"></div>
            <span class="label2"><label for="">Color</label></span>
            {{ form.color }}
            {{ form.color.errors }}
            <div class="clear"></div>
            <span class="label2"><label for="">Material</label></span>
            {{ form.material }}
            {{ form.material.errors }}
            <div class="clear"></div>
            <span class="label2"><label for="">Extra feature</label></span>
            <textarea id="id_extra_feature" rows="3" cols="" name="extra_feature">{% if form.extra_feature.value %}{{ form.extra_feature.value }}{% endif %}</textarea>
            {{ form.extra_feature.errors }}
            <div class="clear"></div>

            
            
       

            <label style="padding-left:102px" for="">Images</label>
            <div style="padding-left: 170px;">
                {% if ad.main_image %}
                <p><img src="/media/{{ ad.main_image }}" alt="" width="60px" height="60px">
                 <input type="file" name="main_image" size="5"/>
                 {#<img style="cursor:pointer" src="/media/3.png" width="20" height="20" id="main_image" name="{{ad.id}}"  title="Delete Image" onclick="delete_image(this)"></p>#}
                
                 {% endif %}
            {% for image in ad.ad_images.all %}

            <p><img src="/media/{{ image.image }}" alt="" width="60px" height="60px">
                 <input type="file" name="id_{{ forloop.counter }}" size="5"/>
                 {#<img style="cursor:pointer" src="/media/3.png" width="20" height="20" id="{{ image.id }}" name="{{ad.id}}" title="Delete Image" onclick="delete_image(this)"></p>#}
                 <input type="hidden" name="img_{{forloop.counter}}" value="{{image.id}}">
                 {% endfor %}
            </div>
            <div>
            <div class="clone_this" id="duplicater">
            <span class="label2"><label for="id_user_type">Upload Photo</label></span>
            <input type="file" name="image">
            </div><div style="padding-left: 169px;padding-top: 21px;">
            <a style="cursor:pointer;"  title="add more photos" id="add_more"  >
                <img src="{{ STATIC_URL}}images/add-icon.png">&nbsp;&nbsp;&nbsp;add more photos
            </a>
                </div>
            </div>
            <div class="clear"></div>




            <div class="clear"></div>

           <!--
            <div style="margin-left: 90px; float: left;">
           {{ form.captcha|safe }}
           </div>
           {{ form.captcha.errors }}-->
           <div class="clear"></div>
            <div style="margin-left: 170px;">
                <input type="checkbox" id="id_terms" name="terms" required="true">
								I agree to the  <a target="_blank" href="/terms-and-conditions/">Terms of Service</a>
            </div>

            <div class="clear"></div>
            <div class="clear"></div>
            <span class="label2">&nbsp; </span>&nbsp;

            <input type="submit" style="width: 140px; height: 30px;" value="Submit">
        </form>
        </div>
                                        <div class="grid_3 flt-rht">
						<div class="ad_banner">
							<a href="/adzone/view/4/" target="_blank"><img alt="reach us" src="{{ STATIC_URL}}images/banner2.jpg"></a>
						</div>
						<div class="ad_banner">
							<a href="/adzone/view/12/" target="_blank"><img alt="get inspiration from professionals" src="{{ STATIC_URL }}images/banner4.jpg"></a>
						</div>
					</div>

					<div style="height: 35px;" class="clear">

                                        </div>
                                        </div>

			</div>

		</div>

    </div>

    <div class="clear"></div>
    </div>
        {% endblock %}
