{% load humanize %}
{% load endless %}
{% paginate items %}
{% for item in items %}
                   

                    <div class="classifieds-thumb-list">
                        {% ifequal item.condition 0 %}
                        <div class="classifieds-thumb-list-bg">&nbsp;</div>
                        {% else %}
                        <div class="classifieds-thumb-list-bg-new">&nbsp;</div>
                        {% endifequal %}
                        <div class="classifieds-thumb-title">
							Posted: {{ item.added_date|date:"d M `Y" }}
                        </div>
                      

                        <div class="classifieds-thumb-list-img">

                            <a href="{% url detail_classified item.id %}"><img alt="view product" src="/media/{{ item.main_image}}" width="80px" height="80px"></a>

                        </div>
                        <div class="classifieds-thumb-sub-title">
							{{ item.title }}
                        </div>
                        <div class="classifieds-thumb-price">
                            <span>AED</span> {{ item.price|intcomma }}/-
                        </div>
                    </div>
                    {% endfor %}

{% show_more %}