{% extends "common/base.html" %}
{% load i18n %}
{% load widget_tweaks endless %}
{% load photographs %}
{% load accounts %}
{% load events %}
{% load humanize %}
{% load articles %}
{% load thumbnail %}
{% block extra_css %}
<link rel="stylesheet" href="{{ STATIC_URL }}css/home.css">
<link rel="stylesheet" href="{{ STATIC_URL }}css/classifieds.css">
<link rel="stylesheet" href="{{ STATIC_URL }}css/slider.css"/>
<link href='http://fonts.googleapis.com/css?family=PT+Sans+Narrow:400,700' rel='stylesheet' type='text/css'>
{% endblock %}
{% block extra_javascript %}
<script src="{{ STATIC_URL }}endless_pagination/js/endless.js" type="text/javascript" charset="utf-8"></script>
<script src="{{ STATIC_URL }}endless_pagination/js/endless_on_scroll.js" type="text/javascript" charset="utf-8"></script>
<script type="text/javascript" charset="utf-8">
    var endless_on_scroll_margin = 550;

</script>
<script>
jQuery(document).ready(function () {
            //hiding searchbox content when clicked
jQuery("#search").focus(function(){
     if (this.value==='Search for items') this.value = '';
});
jQuery("#search").blur(function(){
     if (this.value==='') this.value = 'Search for items';
});
});
</script>
{% endblock %}
{% block content %}
{% paginate items %}
<div class="container_12">

    <div class="clear"></div>

    <div class="grid_12 classifieds-filter">

        <ul class="classifieds-filter-list">
            <form method="get" action="{% url search %}" id="myForm">
                <input type="hidden" value="fdfdf">
                <li>
                    <div class="classifieds-filter-type1">
                        <select name="category">

                            <option>All Categories</option>
                            {% for cat in categories %}
                            <option>{{ cat }}</option>
                            {% endfor %}

                        </select>
                    </div>
                </li>
                <li>
                    <div class="classifieds-filter-type2">
                        <input name="q" type="text" id="search" value="Search for items"  />
                    </div>
                </li>
                <li>
                    <span class="classifieds-filter-icn"><a href="#" onclick="document.getElementById('myForm').submit();" title="Search">Search</a></span>

                </li>
                <li class="mrgn-none">
                    <span class="classifieds-sell-icn"><a href="{% url add_classified %}" title="Sell Your Product Here">Sell Your Product Here</a></span>
                </li>

            </form>
        </ul>
    </div>

    <div class="clear"></div>

    <div class="classifieds_details">

        <div class="clear"></div>

        <div class="classifieds-cntr">
            <div class="grid_3 flt-rht">
                <div class="ad_banner">
                    <a href="/adzone/view/4/" target="_blank"><img alt="reach us" src="{{ STATIC_URL }}images/banner2.jpg"></a>
                </div>
                <div class="ad_banner">
                    <a href="/adzone/view/12/" target="_blank"><img alt="get inspiration from professionals" src="{{ STATIC_URL }}images/banner4.jpg"></a>
                </div>
                <div class="ad_banner">
                    <a href="/adzone/view/3/" target="_blank"><img alt="submit queries" src="{{STATIC_URL}}images/banner1.jpg"></a>
                </div>
            </div>

            {% if featured %}
            <div class="grid_9 main featured">
                <div class="classifieds-featured-inner">
                    <div class="classifieds-featured-icn">Buy Now</div>
                    <dl class="classifieds-featured-list">
                        <dt>
				{% thumbnail featured.main_image "192x185" upscale=False as thumb %}
                            <img alt="bbm banner" src="{{ thumb.url }}" width="{{ thumb.width }}" height="{{ thumb.height }}">
					{% endthumbnail %}
                        </dt>
                        <dd>
                            <ul class="classifieds-featured-small-txt">
                                <li>Posted: {{ featured.added_date|date:"d M `Y" }}</li>
                                <li>By <span>{{ featured.user.first_name }}</span></li>
                            </ul>
                            <h2 class="classifieds-featured-large-txt">{{ featured.title }}</h2>
                            <h2 class="classifieds-featured-large-txt">{{ featured.features }}</h2>
                            <div class="classifieds-featured-price">
                                <span>AED</span> {{ featured.price|intcomma }}/-
                            </div>
                            <div class="classifieds-featured-buy-now"><a href="{% url detail_classified featured.id %}" title="Buy Now">Buy Now</a></div>
                        </dd>
                    </dl>
                </div>
            </div>
            {% endif %}
		{% if items %}
            <div class="grid_9 main">
                <div class="classifieds-inner">
                    <div class="classifieds-buy-now-icn">Buy Now</div>
                   
                     {% for item in items %}
                    <div class="classifieds-thumb-list">
                        {% ifequal item.condition 0 %}
                        <div class="classifieds-thumb-list-bg">&nbsp;</div>
                        {% else %}
                        <div class="classifieds-thumb-list-bg-new">&nbsp;</div>
                        {% endifequal %}
                        <div class="classifieds-thumb-title">
							Posted: {{ item.added_date|date:"d M `Y" }}
                        </div>

                        <div class="classifieds-thumb-list-img">
				{% thumbnail item.main_image "135x85" upscale=False as thumb %}
                            <a href="{% url detail_classified item.id %}"><img alt="view product" src="{{ thumb.url }}" width="135px" height="85px"></a>
					{% endthumbnail %}
                        </div>
                        <div class="classifieds-thumb-sub-title">
							{{ item.title }}
                        </div>
                        <div class="classifieds-thumb-price">
                            <span>AED</span> {{ item.price|intcomma }}/-
                        </div>
                    </div>
                    {% endfor %}
                    
                    {% show_more %}
                    <div id="dvLoading"></div>
                </div>
            </div>
	{% else %}
            <h3><font color="green"> No classifieds to display</font></h3>
            {% endif %}
        </div>
    </div>
    <div class="clear"></div>
</div>
{% endblock %}
