
Dear {{ad_fname}},<br/>
            A visitor {{ visitor_mail }} has queried about your classified. His query is :<br/>
            {{ query }}<br/><br/><br/><br/>


Regards,<br/>
        Twiching Team
        http://{{site.name}}
