{% extends "common/base.html" %}
{% load i18n %}
{% load widget_tweaks endless %}
{% load photographs %}
{% load accounts %}
{% load events %}

{% load articles %}
{% load thumbnail %}
{% block extra_css %}
    <link rel="stylesheet" href="{{ STATIC_URL }}css/home.css">
    <link rel="stylesheet" href="{{ STATIC_URL }}css/classifieds.css">
    <link rel="stylesheet" href="{{ STATIC_URL }}css/slider.css"/>
{% endblock %}
{% block extra_javascript %}
    <script type="text/javascript" src="{{ STATIC_URL }}js/easySlider.js"></script>
    <script type="text/javascript">
        jQuery(document).ready(function () {
            jQuery("#slider").easySlider({
                auto:true,
                pause: 8000,
                continuous:true,
                speed: 1200
            });
        });
    </script>
{% endblock %}
{% block content %}
<div class="container_12">

    <div class="clear"></div>

    <div class="grid_12 classifieds-filter">

		<ul class="classifieds-filter-list">
                    <form method="" action="{% url search %}" id="myForm">
                        <input type="hidden" value="fdfdf">
			<li>
				<div class="classifieds-filter-type1">
                                    <select name="category">

                                                <option>All Categories</option>
                                                {% for cat in categories %}
						<option>{{ cat }}</option>
                                                {% endfor %}

					</select>
				</div>
			</li>
			<li>
				<div class="classifieds-filter-type2">
					<input name="q" type="text" placeholder="Search for items"  />
				</div>
			</li>
			<li>
                            <span class="classifieds-filter-icn"><a href="#" onclick="document.getElementById('myForm').submit();" title="Search">Search</a></span>

			</li>
			<li class="mrgn-none">
				<span class="classifieds-sell-icn"><a href="{% url add_classified %}" title="Sell Your Product Here">Sell Your Product Here</a></span>
			</li>

                    </form>
		</ul>
	</div>

    <div class="clear"></div>

    <div class="classifieds_details">

        <div class="clear"></div>

		<div class="classifieds-cntr">

                    <div class="grid_12 main">
                        <div class="classifieds-det">
                            {% if results %}
                            {% for result in results %}
                            <img src="/media/{{ result.2 }}" height="100px" width="100px">
                            <a href="{{ result.1}}">{{ result.0 }}</a>
                            {% endfor %}
                            {% else %}
                            <div style="color:green; font-size:15px;">No products were found</div>
                            {% endif %}
                        </div>
                    </div>
		</div>

    </div>

    <div class="clear"></div>
</div>
{% endblock %}
