<!--
To change this template, choose Tools | Templates
and open the template in the editor.
-->
<!DOCTYPE HTML PUBLIC "-//W3C//DTD HTML 4.01 Transitional//EN">

<html>
    <head>
       
        <title></title>
        <meta http-equiv="Content-Type" content="text/html; charset=UTF-8">
    </head>
    <body>{% csrf_token %}
        <script type="text/javascript" src="{{ STATIC_URL }}js/jquery.js"></script>
         <script>

             $(document).ready(function(){
                  $("#add_more").click(function () {

	  $('#duplicater').clone(false).insertAfter("#duplicater");

    });
                




             });

                  
           
            


         

     
  

         </script>
        
        <form action="." method="post" enctype="multipart/form-data">{% csrf_token %}
            

            <span class="label2"><label for="id_product_title">Product Title</label></span>
            {{ form.title }}
            {{ form.title.errors }}



            <div class="clear"></div>
            <span class="label2"><label for="id_user_type">Category</label></span>
            {{ form.category }}
            {{ form.category.errors }}



            <div class="clear"></div>
            <span class="label2">Price</span>
            {{ form.price }}
            {{ form.price.errors }}
            <span class="classifieds-price-txt">(AED)</span>

            <div class="clear"></div>
            <span style="margin: 0px;" class="label2"><label for="">Sale Type</label></span>
            
            {{ form.condition }}
            {{ form.condition.errors }}

            <div class="clear"></div>
            <span class="label2"><label for="id_dob_month">Date of Birth</label></span>
          
                {{ form.dob }}
                {{ form.dob.errors }}

            <div class="clear"></div>
            <span class="label2"><label for="">Description</label></span>
            {{ form.description }}
            {{ form.description.errors }}


            <div class="clear"></div>
            <span class="label2"><label for="id_Tag">Tag</label></span>
            {{ form.tag }}
            {{ form.tag.errors }}



            <div class="clear"></div>
            <span class="label2"><label for="id_user_type">Upload Photos</label></span>
            <div class="clone_this" id="duplicater">
            <input type="file" name="image">
            </div>
            {{ form1.image.errors }}
            <span class="classifieds-price-txt"><a href="#" title="add more photos" id="add_more"  >add more photos</a></span>
            
           
           
               



            <div class="clear"></div>

            <div style="margin-left: 90px; float: left; font-size:14px; margin-top:10px;">
                <strong>Please enter the words below</strong>
            </div>
            <div style="margin-left: 90px; float: left;" >
                <script type="text/javascript">var RecaptchaOptions = {
                    "lang": "en"
                }</script>
                <script src="http://www.google.com/recaptcha/api/challenge?k=6LcVDc8SAAAAAMFAL0ROTwPnByYUKq5YzSu_AvtU" type="text/javascript"></script><script src="http://www.google.com/recaptcha/api/js/recaptcha.js" type="text/javascript"></script><div style="" id="recaptcha_widget_div" class=" recaptcha_nothad_incorrect_sol recaptcha_isnot_showing_audio"><div id="recaptcha_area"> </div></div><script>Recaptcha.widget = Recaptcha.$("recaptcha_widget_div"); Recaptcha.challenge_callback();</script>
                <noscript>
                    &lt;iframe src="http://www.google.com/recaptcha/api/noscript?k=6LcVDc8SAAAAAMFAL0ROTwPnByYUKq5YzSu_AvtU" height="300" width="500" frameborder="0"&gt;&lt;/iframe&gt;&lt;br /&gt;
                    &lt;textarea name="recaptcha_challenge_field" rows="3" cols="40"&gt;&lt;/textarea&gt;
                    &lt;input type='hidden' name='recaptcha_response_field' value='manual_challenge' /&gt;
                </noscript>

            </div>


            <div class="clear"></div>
            <div style="margin-left: 170px;">
                <input type="checkbox" id="id_terms" name="terms" required="true">
								I agree to the  <a target="_blank" href="/terms-and-conditions/">Terms of Service</a>
            </div>

            <div class="clear"></div>
            <div class="clear"></div>
            <span class="label2">&nbsp; </span>&nbsp;
            <input type="submit" style="width: 140px; height: 30px;" value="Submit">
        </form>
    </body>
</html>
