{% extends "common/base.html" %}
{% load i18n %}
{% load widget_tweaks endless %}
{% load photographs %}
{% load accounts %}
{% load events %}

{% load articles %}
{% load thumbnail %}
{% load humanize %}
{% block title %}Twiching Classifieds:{{ ad.title }}{% endblock %}
{% block extra_meta %} 
<meta property="og:title"  content="Twiching Classifieds:{{ ad.title }}"/>
<meta property='og:description'  content="{{ ad.description }}" /> 

{% endblock %}
{% block extra_css %}
<link rel="stylesheet" href="{{ STATIC_URL }}css/home.css">
<link rel="stylesheet" href="{{ STATIC_URL }}css/classifieds.css">
<link rel="stylesheet" href="{{ STATIC_URL }}css/slider.css"/>
<link href='http://fonts.googleapis.com/css?family=PT+Sans+Narrow:400,700' rel='stylesheet' type='text/css'>
<link rel="stylesheet" href="{{ STATIC_URL }}css/prettyPhoto.css" type="text/css" media="screen" charset="utf-8"/>

{% endblock %}
{% block extra_javascript %}

<script src="https://apis.google.com/js/plusone.js"></script>
<script type="text/javascript" src="http://assets.pinterest.com/js/pinit.js"></script>
<script>!function(d,s,id){var js,fjs=d.getElementsByTagName(s)[0];if(!d.getElementById(id)){js=d.createElement(s);js.id=id;js.src="https://platform.twitter.com/widgets.js";fjs.parentNode.insertBefore(js,fjs);}}(document,"script","twitter-wjs");</script>

<script src="{{ STATIC_URL }}js/jquery.prettyPhoto.js" type="text/javascript" charset="utf-8"></script>
<script type="text/javascript">

  function changeImage(e)
    {
      // var img = jQuery(this).find("img");
       //var r = img.attr("src");
       var r = jQuery(e).attr("src");
       jQuery("#oldImage").attr("src",r);
       jQuery("#oldImagehref").attr("href",r);
       //document.getElementById('oldImage').parent.attr("href",r);
       

    }

</script>
<script>
jQuery(document).ready(function () {

jQuery("#phone_button").show();
 jQuery("a[rel^='eventAlbum']").prettyPhoto({
            
                theme:'dark_rounded',
                slideshow:false,
                autoplay_slideshow:false,
                social_tools:false
            });
            //hiding searchbox content when clicked
jQuery("#search").focus(function(){
     if (this.value==='Search for items') this.value = '';
});
jQuery("#search").blur(function(){
     if (this.value==='') this.value = 'Search for items';
});


});
</script>
<script src="http://maps.googleapis.com/maps/api/js?key=AIzaSyDY0kkJiTPVd2U7aTOAwhc9ySH6oHxOIYM&sensor=false"></script>
<script src="http://static.ak.fbcdn.net/connect.php/js/FB.Share" type="text/javascript"></script>
<script>
/*jQuery(document).ready(function () {

var fb_share_ini = "http://www.facebook.com/sharer.php?app_id=309437425817038&sdk=joey&u={{ad.title}}&display=popup"
jQuery("#u_0_1").attr("href", fb_share_ini)

});*/
var myCenter=new google.maps.LatLng({{ ad.latitude }},{{ ad.longitude }});

function initialize()
{
var mapProp = {
  center:myCenter,
  zoom:5,
  mapTypeId:google.maps.MapTypeId.ROADMAP
  };

var map=new google.maps.Map(document.getElementById("googleMap"),mapProp);

var marker=new google.maps.Marker({
  position:myCenter,
  });

marker.setMap(map);
}

google.maps.event.addDomListener(window, 'load', initialize);
</script>

<script>
    function showphone() {
    {% if request.user.is_authenticated %}
    jQuery("#phone_button").hide();
    jQuery("#phone_div").show();
    {% else %}
    alert('You should login to view phone number.');
    {% endif %}

    }
</script>
<script>
        function send_mail() {
           var divToMail = document.getElementById('send_mail');
           var popupWin = window.open('', '_blank', 'width=800,height=500');
           popupWin.document.open();
           popupWin.document.write('<html><body>' + divToMail.innerHTML + '</html>');
            popupWin.document.close();
                }
     </script>

{% endblock %}
{% block content %}

<div id="scripts">



   
</div>


<div class="container_12">

    <div class="clear"></div>

    <div class="grid_12 classifieds-filter">
        <ul class="classifieds-filter-list">
            <form method="get" action="{% url search %}" id="myForm">
                <input type="hidden" value="fdfdf">
                <li>
                    <div class="classifieds-filter-type1">
                        <select name="category">

                            <option>All Categories</option>
                            {% for cat in categories %}
                            <option>{{ cat }}</option>
                            {% endfor %}

                        </select>
                    </div>
                </li>
                <li>
                    <div class="classifieds-filter-type2">
                        <input name="q" type="text" id="search" value="Search for items"  />
                    </div>
                </li>
                <li>
                    <span class="classifieds-filter-icn"><a href="#" onclick="document.getElementById('myForm').submit();" title="Search">Search</a></span>

                </li>
                <li class="mrgn-none">
                    <span class="classifieds-sell-icn"><a href="{% url add_classified %}" title="Sell Your Product Here">Sell Your Product Here</a></span>
                </li>

            </form>
        </ul>
    </div>

    <div class="clear"></div>

    <div class="classifieds_details classifieds-register">

        <div class="clear"></div>

        <div class="classifieds-cntr">

            <div class="grid_12 main">

                <div class="classifieds-det">

                    {% ifequal ad.condition 0 %}
                    <div class="classifieds-used-icn">&nbsp;</div>

                    {% endifequal %}

                    <div class="clear"></div>

                    <div class="grid_8 classifieds-det-inner">
                        <div class="classifieds-det-lft">
                          <div class="classifieds-thumb-view">
                                <a target="" href="/media/{{ ad.main_image }}" id="oldImagehref" rel="eventAlbum" title="{{ad.title}}" style="padding: 0px;">
                                    <img src="/media/{{ ad.main_image }}" alt="" width="300px" height="264px" id="oldImage" title="{{ad.title}}" oncontextmenu="return false;">
                                </a>
                            </div>
                            <ul class="classifieds-thumb-view-small">
                                {% for image in ad.ad_images.all %}
                                <li>
                                    <a title="" href="#" onClick="return false;" ><img src="/media/{{ image.image }}" alt="" width="60px" height="60px" onclick="changeImage(this)"></a>
                                </li>
								{% endfor %}
				<li>
                                    <a title="" href="#" onClick="return false;" ><img src="/media/{{ ad.main_image }}" alt="" width="60px" height="60px" onclick="changeImage(this)"></a>
                                </li>
                            </ul>
                        </div>
                        <div class="classifieds-det-rht">
                            <h1 class="classifieds-det-main-title">{{ ad.title }}</h1>
                            <p class="classifieds-det-small-title">Posted on :{{ ad.added_date|date:'M d, Y'}}</p>
                            <dl class="classifieds-det-list">
                                <dt>Product Type<span>:</span></dt>
                                {% if ad.custom_category %}
                                <dd>{{ ad.custom_category }}</dd>
                                {% else %}
                                <dd>{{ ad.category }}</dd>
                                {% endif %}
                            </dl>
                             <dl class="classifieds-det-list">
                                <dt>Brand <span>:</span></dt>
                                {% if ad.custom_brand %}
                                <dd>{{ ad.custom_brand }}</dd>
                                {% else %}
                                <dd>{{ ad.brand }}</dd>
                                {% endif %}
                            </dl>
                            <dl class="classifieds-det-list">
                                <dt>Condition <span>:</span></dt>
                                {% ifequal ad.condition 1 %}
                                <dd>New</dd>
                                {% else %}
                                <dd>Used</dd>
                                {% endifequal %}
                            </dl>
                             {% if ad.usage_years or ad.usage_months or ad.usage_days %}
                            <dl class="classifieds-det-list">
                                <dt>Usage <span>:</span></dt>
                                <dd>{% if ad.usage_years %}{{ ad.usage_years  }} years {% endif %}

                                     {% if ad.usage_months %}{{ ad.usage_months }} months {% endif %}
                                     {% if ad.usage_days %}{{ ad.usage_days }} days{% endif %}</dd>
                            </dl>
                            {% endif %}
                            <dl class="classifieds-det-list">
                                <dt>Location <span>:</span></dt>
                                <dd>{{ ad.location }}</dd>
                            </dl>
                            <dl class="classifieds-det-list">
                                <dt>Landmark <span>:</span></dt>
                                <dd>{{ ad.landmark }}</dd>
                            </dl>
				{% if ad.features %}
                            <dl class="classifieds-det-list">
                                <dt>Features <span>:</span></dt>
                                <dd>{{ ad.features }}</dd>
				
                            </dl>
				{% endif %}
                            <div class="classifieds-det-shopping">
                                <ul class="classifieds-det-shopping-list">
                                    <li class="classifieds-det-shopping-list-1">
                                        <span class="classifieds-det-shopping-txt">Price</span>
                                        <div class="classifieds-det-shopping-price">AED {{ ad.price|intcomma }}</div>
                                    </li>
                                </ul>
                              <div class="classifieds-det-location">
									<span class="classifieds-location-icn">&nbsp;</span>
									<h4>View Location</h4>
								</div>
                               
                                
                                
                                
                            </div>
                            
                            <div id="googleMap" style="width:340px;height:260px;"></div>
                        </div>


			<span style=" position: relative; top: -6px;"><a name="fb_share" type="button">Share</a></span>
                        
			<span style=" position: relative; top: -6px;"><a href="http://pinterest.com/pin/create/button/" class="pin-it-button" count-layout="none"><img src="//assets.pinterest.com/images/PinExt.png" alt="Pin it"/ ></a></span>
			<g:plus action="share" annotation="bubble" style="padding-top:8px;float:left;"></g:plus>
			<a href="https://twitter.com/share" class="twitter-share-button" data-lang="en">Tweet</a><br/>
                        <strong>Description</strong>
                        <p style="font-size:15px;">
						{{ ad.description }}
                        </p>
                        <ul class="classifieds-det-other-txt">
                            {% if ad.color %}
                            <li><strong>Color:</strong> &nbsp; {{ ad.color }}</li>
                            {% endif %}
                            {% if ad.material %}
                            <li><strong>Material:</strong>&nbsp; {{ ad.material }}</li>
                            {% endif %}
                            {% if ad.extra_feature %}
                            <li><strong>Extra Features:</strong>&nbsp; {{ ad.extra_feature }}</li>
                            {% endif %}
                        </ul>
                        </br></br></br>
                        
                        <div class="classifieds-add-reply-cntr" style="height:auto;">

                            <div class="classifieds-add-reply-icn"></div>

                            <div class="classifieds-add-reply-inner">
                                {% if message %}
                                <div style="color:green; font-size:15px;">{{ message }}</div>
                                {% endif %}
                                <form action="." method="post">{% csrf_token %}
                                    <ul class="classifieds-add-reply-list">
                                        <li>
                                            <p>Your Name:</p>
										{{ form.name }}
                                            {{ form.name.errors }}
                                        </li>
                                        <li>
                                            <p>Your Email:</p>
										{{ form.email }}
                                            {{ form.email.errors }}
                                        </li>
                                        <li>
                                            <p>Phone No:</p>
										{{ form.phone }}
                                            {{ form.phone.errors }}
                                        </li>
                                    </ul>
                                    <ul class="classifieds-add-reply-list">
                                        <li>
                                            <p>Comments:</p>
										{{ form.comment }}
                                            {{ form.comment.errors }}
                                        </li>
                                        <li>


                                            <input type="checkbox" required="True" style="width:18px;">
                                            <p class="small-desc" style="padding-left:24px;margin-top:-15px;"> I agree to the <a href="#" title="Terms of Use">Terms of Use</a> &amp; <a href="#" title="Privacy Policy">Privacy Policy</a>.</p>

                                            <input name="" type="submit" value="Submit Reply"  class="classifieds-submit-icn" />

                                        </li>
                                    </ul>
                                </form>
                            </div>
                        </div>
                        {% if request.user.is_authenticated %}
                           <h4 style="padding-top:12px;margin-left:12px;color:#E2012D;margin-left: 0px;">Comments:</h4>
			{% if comments %}
                            {% for x in comments %}
                            <h4 style="margin-bottom:4px;font-size: 15px;">Comment By: {{ x.name }}</h4>
				
                            <p style="font-size: 16px;">{{ x.text }}</p>
                             {% endfor %}
			{% else %}
				 <p style="font-size: 16px;">No Comments</p>
			{% endif %}
				<div class="classifieds-add-reply-cntr" style="margin-bottom: 24px;width:540px;height:450px;margin-top:0px;">
                        <div class="classifieds-add-reply-list " style=" margin-top: 12px; margin-left: 12px; ">
                             <h4 style="padding-top:12px;color:#E2012D;">Post your comments here..</h4>
                             <form action="{% url add_comment ad.id %}" method="post">{% csrf_token %}
                                 <ul class="classifieds-add-reply-list">
                                 <li>
                                            <p  style="margin-bottom: 8px;font-weight: bold;font-size: 16px;">Your Name:&nbsp;<font color="#FF0000">*</font></p>
						<div style="font-family:'PT Sans Narrow', sans-serif">
										{{ commnt_form.name }}
                                            {{ commnt_form.name.errors }}
						</div>
                                  </li>
                                        <li>
                                            <p  style="margin-bottom: 8px;font-weight: bold;font-size: 16px;">Email Address:&nbsp;<font color="#FF0000">*</font></p>
						<div style="font-family:'PT Sans Narrow', sans-serif">
										{{ commnt_form.email }}
                                            {{ commnt_form.email.errors }}
							</div>
                                        </li>
					<li>
                                            <p  style="margin-bottom: 8px;font-weight: bold;font-size: 16px;">Comment:&nbsp;<font color="#FF0000">*</font></p>
						<div style="font-family:'PT Sans Narrow', sans-serif">
										{{ commnt_form.text }}
                                            {{ commnt_form.text.errors }}
							</div>
                                        </li>
                                        </ul>
                                 <input name="" type="submit" value="Comment"  class="classifieds-submit-icn" />
                             </form>
				</div>
				
                        </div>
			{% endif %}
                    </div>

                    <div class="grid_3 classifieds-det-other flt-rht">
                        <div class="classifieds-posted-by">
                            <div class="classifieds-posted-by-inner">
                                <p class="classifieds-posted-by-small-title">Posted by</p>
                                {% if posted_user.userprofile.avatar %}

                                <img src="/media/profiles/{{ posted_user.userprofile.avatar }}" width="110px" height="110px" style="padding-left: 29px;">

                                {% else %}
                                <div class="classifieds-posted-by-prof classifieds-default-prof-thumb"></div>
                                {% endif %}

                                <h3 class="classifieds-posted-by-main-title">{{ posted_user.first_name }}</h3>
                                <input name="" type="submit" value="Contact by Email"  class="classifieds-submit-email"  onclick="send_mail()"/>
				<div id="phone_button" style="display:none;">
                                <input name="" type="submit" value="View Phone Number"  class="classifieds-submit-number"  onclick="showphone()"/>
				</div>
                                <div id="phone_div" align="center" style="display:none;">
                                    <img src="{{STATIC_URL}}images/phone-icon-small.png" height="17px"> {{ ad.phone }}
                                </div>
                            </div>
                        </div>
                        <div class="classifieds-similar-add">Similar ads that may interest you</div>
                        {% for similar in similar_ads %}
                        <dl class="classifieds-similar-add-list">
                            <dt>
                                <a href="{% url detail_classified similar.id %}"><img src="/media/{{ similar.main_image }}" width="75px" height="65px"/></a>
                            </dt>
                            <dd>
                                <h2 class="classifieds-similar-add-title">{{ similar.title }}</h2>
                                <div class="classifieds-similar-add-price">AED {{ similar.price }}</div>
                            </dd>
                        </dl>
						{% endfor %}
                    </div>

                    <div class="clear"></div>
                </div>

            </div>

        </div>

    </div>

    <div class="clear"></div>
</div>

    
<div id="send_mail" style="display:none;">
            <link rel="stylesheet" href="{{ STATIC_URL }}css/classifieds.css">
            <div class="container_12">
                <div class="classifieds_details classifieds-register">
                    <div class="classifieds-cntr">
                        <div class="grid_12 main">
                            <div class="classifieds-det">
                                <div class="grid_8 classifieds-det-inner">
                                    <div class="classifieds-add-reply-cntr">
                                        <div class="classifieds-add-reply-icn"></div>



                                        <div class="classifieds-add-reply-inner">

                                            <form method="post" action="{% url send_mail_to %}" id="mail_form" >{% csrf_token %}
                                                <ul class="classifieds-add-reply-list">

                                                    <li>
                                                        <p>Your Email:</p>
                                                        <input type="email" name="visitor_mail" required="true"/>

                                                    </li>
                                                    <li>
                                                        <p>Enter your Query:</p>
                                                        <textarea id="" rows="10" cols="50" name="query" required="true"></textarea>

                                                    </li>
                                                    <li>
                                                        <input type="submit" value="Submit Reply" class="classifieds-submit-icn">

                                                    </li>

                                                </ul>
                                                <input type="hidden" name="ad_mail" value="{{ ad.email }}">
                                                <input type="hidden" name="ad_fname" value="{{ posted_user.first_name }}">
                                                <input type="hidden" name="ad_title" value="{{ ad.title }}">


                                            </form>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    


{% endblock %}
