{% load thumbnail %}
{% comment %}
{{ obj.title }}<br>
<img src="media/{{ obj.main_image }}" width="100" height="100"/><br>
Price: {{ obj.price }}<br>
Description: {{ obj.description|truncatewords_html:20|safe }}<br>
<a href="{{ obj.get_absolute_url }}">see more</a>
{% for image in obj.images.all|slice:":1" %}
   {% thumbnail image.original "140x105" crop="center" as thumb %}
      <img src="/media/{{ image.original }}" width="{{ thumb.width }}" height="{{ thumb.height }}" alt="{{ obj.get_title }}" class="thumbnail">
   {% endthumbnail %}
{% endfor %}
{% endcomment %}

{{ obj.title }}<br>


{% for image in obj.images.all|slice:":1" %}
{% thumbnail image.original "140x105" crop="center" as thumb %}
<img src="media/{{ image.original }}" width="100" height="100"/><br>
{% endthumbnail %}
{% endfor %}
Price: {{ obj.stockrecord.price_incl_tax }} AED<br>
Description: {{ obj.description|truncatewords_html:20|safe }}<br>
<a href="{{ obj.get_absolute_url }}">see more</a>


