a:focus {outline:0 none;}

.mrgn-top { margin-top:15px !important; }

.mrgn-bottom { margin-bottom:15px !important; }

.flt-lft {float:left;}

.camera-cntr {margin-top:12px;margin-bottom:25px;color:#686e7b;font-family: 'PT Sans Narrow', sans-serif;}

.camera-sub-head {font-size:30px; line-height:30px; color:#282d37; font-weight:normal; float:left; width:100%;}

.camera-lft {
	width:170px;
	float:left;
	margin:0 15px 0 0;
	}

.camera-rht {
	float:left;
	width:755px;
	}
	
.camera-nav {
	padding:0;
	margin:0;
	float:left;
	box-shadow: 1px 1px 10px rgba(0, 0, 0, .2); 
	-moz-box-shadow: 1px 1px 10px rgba(0, 0, 0, .2); 
	-webkit-box-shadow: 1px 1px 10px rgba(0, 0, 0, .2);
	}
	
.camera-nav-hdr {
	width:170px;
	background:#232832;
	float:left;
	height:40px;
	position:relative;
	}
	
.camera-nav-collapse {
	width:12px;
	height:8px;
	background:url(../images/camera-sprite.png) no-repeat scroll -45px 0 transparent;
	position:absolute;
	top:16px;
	right:13px;
	text-indent:-2000px;
	display:block;
	}
	
.camera-nav-collapse a {display:block;}
	
.camera-nav-expand {
	width:12px;
	height:8px;
	background:url(../images/camera-sprite.png) no-repeat scroll -32px 0 transparent;
	position:absolute;
	top:16px;
	right:13px;
	text-indent:-2000px;
	display:block;
	}
	
.camera-nav-expand a {display:block;}
	
.camera-nav-hdr h2 {
	font-size:16px;
	color:#fff;
	line-height:40px;
	text-indent:15px;
	margin-bottom:0;
	display:block;
	font-family: 'PT Sans Narrow', sans-serif;
	}
	
.camera-nav-hdr h2 a {color:#fff;text-decoration:none;display:block;}
	
.camera-nav-menu {
	width:170px;
	float:left;
	margin-bottom:0;
	margin-left:0;
	font-family: 'PT Sans Narrow', sans-serif;
	}
	
.camera-nav-menu li {
	list-style-type:none;
	font-size:18px;
	color:#282d37;
	line-height:35px;
	text-indent:15px;
	margin:0;
	border-top:1px solid #e1e1e1;
	border-bottom:1px solid #e1e1e1;
	background:#f2f2f2;
	display:block;
	}
	
.camera-nav-menu li a {color:#282d37;text-decoration:none;display:block;}
	
dl.camera-nav-sub-menu {
	padding:10px 0px 10px 0px;
	margin:0;
	background:#fff;
	}
	
dl.camera-nav-sub-menu dt {
	font-size:17px;
	color:#555a64;
	text-indent:15px;
	line-height:24px;
	}
	
dl.camera-nav-sub-menu dt a {color:#555a64;text-decoration:none;display:block;}

dl.camera-nav-sub-menu dt a:hover {color:#e62832;}
	
dl.camera-nav-sub-menu span {
	color:#96a0aa;
	}
	
dl.camera-nav-sub-menu dt select.camera-option {
	width:128px;
	font-family:Arial, Helvetica, sans-serif;
	color:#96a0aa;
	}
	
.camera-breadcrumb {
	padding:0;
	margin:0 0 15px 0;
	float:left;
	width:100%;	
	background:#232832;
	height:40px;
	box-shadow: 1px 1px 10px rgba(0, 0, 0, .4); 
	-moz-box-shadow: 1px 1px 10px rgba(0, 0, 0, .4); 
	-webkit-box-shadow: 1px 1px 10px rgba(0, 0, 0, .4);
	font-family: 'PT Sans Narrow', sans-serif;
	position:relative;
	}
	
.camera-breadcrumb-list {
	padding:0;
	margin:0;
	list-style-type:none;
	float:left;
	font-size:16px;
	color:#fff;
	line-height:40px;
	font-weight:bold;
	}
	
.camera-breadcrumb-list a {
	display:block;
	text-decoration:none;
	color:#fff;
	float:left;
	padding:0 5px;
	}
	
.camera-breadcrumb-list a.camera-breadcrumb-list-main {
	color:#fff;
	background:#e62832;
	line-height:40px;
	padding:0 15px;
	margin-right:15px;
	}
	
.camera-my-cart {
	position:absolute;
	right:8px;
	top:9px;
	padding:0;
	margin:0;
	}
	
.camera-my-cart li {
	list-style-type:none;
	float:left;
	padding:0 0px 0px 7px;
	margin:0;
	line-height:23px;
	font-size:16px;
	font-family: 'PT Sans Narrow', sans-serif;
	color:#fff;
	font-weight:bold;
	}
	
.camera-my-cart li a {color:#fff; text-decoration:none;}
	
.camera-my-cart-icn {
	width:23px;
	height:23px;
	background:url(../images/camera-sprite.png) no-repeat scroll -268px -99px transparent;
	text-indent:-2000px;
	display:block;
	}
	
.camera-my-cart-det {
	height:23px;
	background:#e62832;
	display:block;
	padding:0px 7px;
	}
	
.camera-thumb-cntr {
	padding:0;
	float:left;
	margin:0 0 0 -14px;	
	}
	
.camera-thumb-list {
	padding:20px;
	margin:0 0 14px 14px;
	float:left;
	width:202px;
	height:360px;
	box-shadow: 1px 1px 10px rgba(0, 0, 0, .2); 
	-moz-box-shadow: 1px 1px 10px rgba(0, 0, 0, .2); 
	-webkit-box-shadow: 1px 1px 10px rgba(0, 0, 0, .2);
	background:#fff;
	position:relative;
	font-family: 'PT Sans Narrow', sans-serif;
	}
	
.camera-thumb-title {
	font-size:24px;
	line-height:22px;
	color:#282d37;
	margin-bottom:2px;
	font-weight:normal;
	}
	
.camera-thumb-sub-title {
	font-size:14px;
	color:#96a0aa;
	font-weight:normal;
	margin-bottom:10px;
	}
	
.camera-thumb-price {
	font-size:24px;
	color:#e62832;
	font-weight:normal;
	position:absolute;
	bottom:0px;
	left:20px;
	}
	
.camera-thumb-det a {
	width:30px;
	height:30px;
	background:url(../images/camera-sprite.png) no-repeat scroll 0 0 transparent;
	position:absolute;
	bottom:50px;
	right:0px;
	text-indent:-2000px;
	}	
	
.camera-thumb-small-cntr {
	padding:0;
	float:left;
	margin:0 0 0 -22px;	
	}	
	
.camera-thumb-small-list {
	padding:15px;
	margin:0 0;
	float:left;
	width:140px;
	height:287px;
	box-shadow: 1px 1px 10px rgba(0, 0, 0, .2); 
	-moz-box-shadow: 1px 1px 10px rgba(0, 0, 0, .2); 
	-webkit-box-shadow: 1px 1px 10px rgba(0, 0, 0, .2);
	background:#fff;
	position:relative;
	font-family: 'PT Sans Narrow', sans-serif;
	}
	
.camera-thumb-small-cntr .camera-thumb-small-list {margin:0 0 0 22px;cursor:pointer;}
	
.camera-thumb-small-title {
	font-size:18px;
	color:#282d37;
	font-weight:normal;
	line-height:21px;
	}
	
.camera-thumb-small-price {
	font-size:18px;
	color:#e62832;
	font-weight:normal;
	position:absolute;
	bottom:0px;
	left:15px;
	}
	
.camera-thumb-small-buy a {
	width:66px;
	height:66px;
	background:url(../images/camera-sprite.png) no-repeat scroll 0 -32px transparent;
	position:absolute;
	top:0px;
	right:0px;
	text-indent:-2000px;
	}
	
	
.camera-det-cntr {
	padding:0;
	margin:0;
	float:left;
	box-shadow: 1px 1px 10px rgba(0, 0, 0, .2); 
	-moz-box-shadow: 1px 1px 10px rgba(0, 0, 0, .2); 
	-webkit-box-shadow: 1px 1px 10px rgba(0, 0, 0, .2);
	background:#fff;
	position:relative;
	}
	
.camera-det-inner {
	padding:22px;
	}
	
.camera-det-inner-lft {
	float:left;
	font-family: 'PT Sans Narrow', sans-serif;
	}
	
.camera-det-inner-rht {
	float:right;
	width:418px;
	}
	
.camera-thumb-view {
	float:left;
	width:418px;
	height:370px;
	border-bottom:1px solid #c8c8cc;
	}
	
.camera-thumb-view-small {
	margin:8px 0 0 0;
	padding:0;
	float:left;
	clear:both;
	width:100%;
	}
	
.camera-thumb-view-small li {
	margin:0 3px 0 0;
	padding:0;
	list-style-type:none;
	width:60px;
	height:60px;
	border:1px solid #e2e2e2;
	float:left;
	}
	
.camera-det-title {font-size:30px; line-height:30px; color:#282d37; font-weight:normal;margin-bottom:0;}
.camera-det-type {font-size:14px; color:#96a0aa; font-weight:normal;margin-bottom:15px;}
.camera-det-desc {font-size:16px; color:#686e7b; font-weight:normal;}

.camera-det-cntr .camera-det-inner .camera-det-desc {width:410px;margin-bottom:25px;}

.camera-det-adv {
	padding:30px 0 0;
	margin:0 0 42px -7px;
	width:420px;
	border-top:1px dotted #c8c8cc;
	float:left;
	}
	
.camera-det-adv li {
	list-style-type:none;
	float:left;
	width:98px;
	height:70px;
	margin:0 0px 0px 7px;
	display:block;
	text-indent:-2000px;
	}
	
.camera-det-adv li a {
	display:block;
	width:98px;
	height:70px;}
	
.camera-det-adv li.camera-det-shipping {
	background:url(../images/camera-sprite.png) no-repeat scroll -79px 0 transparent;
	}
	
.camera-det-adv li.camera-det-warranty {
	background:url(../images/camera-sprite.png) no-repeat scroll -195px 0 transparent;
	}
	
.camera-det-adv li.camera-det-pay {
	background:url(../images/camera-sprite.png) no-repeat scroll -307px 0 transparent;
	}
	
.camera-det-adv li.camera-det-secured {
	background:url(../images/camera-sprite.png) no-repeat scroll -415px 0 transparent;
	}
	
.camera-det-shopping {
	padding:8px 0 7px 22px;
	margin:0 0 0 -22px;
	width:427px;
	height:73px;
	border:1px dotted #e6e6ea;
	border-left:0px;
	float:left;
	clear:both;
	background:url(../images/camera-sprite.png) no-repeat scroll bottom left;
	}
	
.camera-det-shopping-list {
	padding:0;
	margin:0;
	}
	
.camera-det-shopping-list li {
	padding:0;
	margin:0 10px 0px 0px;
	list-style-type:none;
	float:left;
	}
	
.camera-det-shopping-list li.camera-det-shopping-list-1 {width:125px;margin-top:8px;}
	
.camera-det-shopping-txt {font-size:14px; color:#282d37;}
.camera-det-shopping-price {font-size:30px; color:#e62832;line-height:30px;}
.camera-det-shopping-quantity {font-size:14px; color:#686e7b;}
.camera-det-shopping-quantity input {width:80px;height:35px;margin-left:10px;padding:0 5px;border:1px solid #d6d6da;
    -moz-border-radius: 3px;
    -webkit-border-radius: 3px;
    -khtml-border-radius: 3px;
    border-radius: 3px;
	font-family: 'PT Sans Narrow', sans-serif !important;
	font-size:16px;}
.camera-det-shopping-quantity select {width:143px;border:1px solid #d6d6da;padding:5px 3px;
    -moz-border-radius: 3px;
    -webkit-border-radius: 3px;
    -khtml-border-radius: 3px;
    border-radius: 3px;
	margin-bottom:5px;
	font-family: 'PT Sans Narrow', sans-serif !important;
	font-size:16px;}
.camera-det-shopping-cart {
	width:59px;
	height:72px;
	background:url(../images/camera-sprite.png) no-repeat scroll 0 -217px transparent;
	text-indent:-2000px;
	display:block;
	}
	
.camera-det-shopping-cart a {
	width:59px;
	height:72px;
	display:block;
	}
	
.camera-det-shopping-cart.camera-wish-list {
	background:url(../images/camera-sprite.png) no-repeat scroll -62px -217px transparent;
	}
	
.camera-det-info {
	padding:0;
	margin:30px 0 0 0;
	float:left;
	clear:both;
	}
	
.camera-det-info li {
	padding:5px 0 0 68px;
	margin:0;
	list-style-type:none;
	float:left;
	height:53px;
	position:relative;
	width:134px;
	}
.camera-det-info-currency {
	width:60px;
	height:58px;
	background:url(../images/camera-sprite.png) no-repeat scroll 0 -143px transparent;
	text-indent:-2000px;
	display:block;
	position:absolute;
	left:0;
	top:0;
	}
.camera-det-info-callus {
	width:60px;
	height:58px;
	background:url(../images/camera-sprite.png) no-repeat scroll -72px -143px transparent;
	text-indent:-2000px;
	display:block;
	position:absolute;
	left:0;
	top:0;
	}
.camera-det-info-list-1 {font-size:14px;color:#e62832;}
.camera-det-info-list-2 {font-size:26px;color:#282d37;line-height:28px;}
dl.camera-det-payment {
	padding:0;
	margin:22px 0 18px 0;
	float:left;
	clear:both;
	height:23px;
	}
	
.camera-det-payment dt {
	padding:0;
	margin:0 10px 0 0;
	float:left;
	font-size:14px;
	color:#282d37;
	}
	
.camera-det-payment dd {
	padding:0;
	margin:0 5px 0 0;
	float:left;
	width:32px;
	height:23px;
	text-indent:-2000px;
	display:block;
	}
	
.camera-det-payment dd a {
	width:32px;
	height:23px;
	display:block;
	}
	
.camera-det-payment-visa {
	background:url(../images/camera-sprite.png) no-repeat scroll -123px -100px transparent;
	}
	
.camera-det-payment-master {
	background:url(../images/camera-sprite.png) no-repeat scroll -160px -100px transparent;
	}
	
.camera-tabs-inner {
	padding:0;
	margin:0;
	width:100%;
	float:left;
	}
	
.camera-tabs-det {
	padding:0;
	margin:0;
	width:100%;
	float:left;
	font-family: 'PT Sans Narrow', sans-serif;
	}
	
.camera-tabs-det li {
	padding:0 0 0 0;
	margin:0 4px 0 0;
	list-style-type:none;
	float:left;
	background-color:#2a2a2a;
	height:31px;
	line-height:31px;
	font-size:14px;
	font-weight:bold;
	position:relative;
	}
	
.camera-tabs-det li.camera-tabs-selected {background-color:#232832;}
	
.camera-tabs-det li a {color:#fff;text-decoration:none;display:block;padding:0 0 0 44px;width:102px;}
	
.camera-tabs-det li span {
	width:34px;
	height:31px;
	text-indent:-2000px;
	display:block;
	position:absolute;
	left:0;
	top:0;
	}
	
.camera-tabs-det li.camera-tabs-selected span.camera-tabs-arrow {
	background:url(../images/camera-sprite.png) no-repeat scroll -195px -99px transparent !important;
	}
	
.camera-tabs-det li span.camera-tabs-arrow {
	background:url(../images/camera-sprite.png) no-repeat scroll -231px -99px transparent;
	}
	
.camera-tabs-container {
	width:864px;
	border:1px solid #e2e2e2;
	padding:17px;
	float:left;
	margin-bottom:22px;
	font-size:14px;
	font-family: 'PT Sans Narrow', sans-serif;
	}
	
.camera-tabs-container-list {
	padding:0;
	margin:0;
	} 

.camera-tabs-container-list li {
	list-style-type:none;
	padding:0;
	margin:0;
	} 
	
.main-srch {
	padding:0;
	margin:0;
	float:right;
	}
	
.main-srch li {
	padding:0;
	margin:0 0 0 6px;
	list-style-type:none;
	float:left;
	}
	
.main-srch li input.srch-txt {
	width:192px;
	height:24px;	
	font-family: Tahoma, Helvetica, sans-serif;
    font-size:11px;
    color:#9e9d9d;
    border:solid 1px #DFDEDE;
    padding:0 8px;
	margin-right:2px;
	}
	
.main-srch li select.srch-txt {
	width:82px;	
	line-height:24px;
	font-family: Tahoma, Helvetica, sans-serif;
    font-size:11px;
    color:#9e9d9d;
    border:solid 1px #DFDEDE;
    padding:4px 4px 4px 8px;
	}
	
.main-srch-icn a {
	width:24px;
	height:24px;
	background:url(../images/camera-sprite.png) no-repeat scroll -296px -99px transparent;
	text-indent:-2000px;
	display:block;
	}
	
.checkout-store-head-cntr {width:100%;padding:0px 0 4px;float:left;}
.checkout-store-head-cntr h1 {font-size:30px;color:#282d37;font-family: 'PT Sans Narrow', sans-serif;font-weight:normal;float:left;}
.checkout-store-steps {width:444px;height:54px;background:url(../images/camera-sprite.png) no-repeat scroll 0 0;float:right;}
.checkout-store-steps1 {background-position:-535px -73px;}
.checkout-store-steps2 {background-position:-535px -137px;}
.checkout-store-steps3 {background-position:-535px -215px;}