*:focus {outline:0 none;}

.bdr-btm {border:0px none !important;}

.mrgn-none { margin:0px !important; }

.flt-lft {float:left;}

.flt-rht {float:right;}

.aln-cntr {text-align:center !important;}

.bg-none {background:none !important;}

.bdr-none {border:0px none !important;}
	
/**checkout Registration Page**/

.checkout-store {color:#686e7b;font-family: 'PT Sans Narrow', sans-serif;}

.checkout-store ul {
    list-style: none;
    float: left;
    margin-bottom: 0px;
}

.checkout-store li {
    float: left;
    clear: none;
    margin-left: 0px;
	font-size:14px;
}

.checkout-store-cntr {
	width:288px;
	height:auto;
	background:#f4f4f8;
	border:1px solid #e6e6ea;
	float:left;
	position:relative;
	margin:24px 10px 0 0;
	}
	
.checkout-store-inner {padding:0px 20px 30px;}

.checkout-store-cntr.checkout-order-confirm-info {width:894px;margin-right:0;text-align:center;}
.checkout-store-cntr.checkout-order-confirm-info .checkout-store-inner {padding:30px 20px 10px;}
.checkout-store-cntr.checkout-order-confirm-info .checkout-store-inner h2 {font-size:30px;color:#282d37;font-weight:normal;}
.checkout-store-cntr.checkout-order-confirm-info .checkout-store-inner p {font-size:14px;color:#686e7b;}
.checkout-store-cntr.checkout-order-confirm-info .checkout-store-inner p a {text-decoration:none;}
.checkout-store-cntr.checkout-order-confirm-info .checkout-store-inner p a:hover {text-decoration:underline;}
.checkout-store-cntr.checkout-order-confirm-info .checkout-store-inner p em {font-size:24px;font-style:normal;}
.checkout-store-cntr.checkout-order-confirm-info .checkout-store-inner h2 span, .checkout-store-cntr.checkout-order-confirm-info .checkout-store-inner p span {color:#e62832;}

.checkout-store-cntr.checkout-order-confirm {width:894px;margin-right:0;margin-top:5px;}
.checkout-store-cntr.checkout-order-confirm .checkout-store-inner {padding:30px 20px 30px;float:left;}
.checkout-store-cntr.checkout-order-confirm .checkout-store-inner .bdr-rht {border-right:1px solid #cbcbce;padding-right:38px;margin-right:38px;}
.checkout-store-cntr.checkout-order-confirm .checkout-store-inner .flt-lft.bdr-rht {width:245px;}
.checkout-store-cntr.checkout-order-confirm .checkout-store-inner .flt-lft	{width:437px;}
.checkout-store-cntr.checkout-order-confirm .checkout-store-inner .flt-lft h4 {font-size:18px;margin-bottom:0;margin-top:55px;color:#686e7b;font-weight:normal;}
.checkout-store-cntr.checkout-order-confirm .checkout-store-inner .flt-lft p {font-size:14px;}

.checkout-store-cntr.checkout-my-wishlist {width:894px;}
.checkout-my-wishlist {width:894px;}
.checkout-store-cntr.checkout-my-wishlist .checkout-store-inner {padding:30px 20px 30px;float:left;width:854px;}

.checkout-store-list {
	padding:0;
	margin:0;
	float:left;
	width:auto;
	}
	
.checkout-store-list li {
	list-style-type:none;
	float:left;
	margin:0 0 6px;
	}
	
.checkout-store-list li p {
	margin-bottom:2px;
	}
	
.checkout-store-list li em {
	margin-top:-2px;
	font-size:14px;
	color:#a7a8ac;
	margin-bottom:3px;
	float:left;
	}
	
.checkout-store-list li em span {
	font-style:normal;
	color:#ef0000;
	}
	
.checkout-store-list li p span {
	color:#ef0000;
	}
	
.checkout-store-list li p.small-desc {
	margin-top:8px;
	font-weight:normal;
	font-size:14px;
	}
	
.checkout-store-list li p.small-desc a {color:#2470fb; text-decoration:none;}
	
.checkout-store-list li input {
	margin:0 !important;
	border:1px solid #d6d6da;
	background:#fff;
	width:230px;
	padding:5px 9px;
    -moz-border-radius: 3px;
    -webkit-border-radius: 3px;
    -khtml-border-radius: 3px;
    border-radius: 3px;
	font-family: 'PT Sans Narrow', sans-serif !important;
	font-size:16px;
	}
	
.checkout-store-list li input.checkout-input-small {width:100px;float:left;clear:left;}
	
.checkout-store-list li select {
	margin:0 10px 5px 0 !important;
	border:1px solid #d6d6da;
	background:#fff;
	width:112px;
	height:auto;
	padding:5px 9px;
    -moz-border-radius: 3px;
    -webkit-border-radius: 3px;
    -khtml-border-radius: 3px;
    border-radius: 3px;
	font-family: 'PT Sans Narrow', sans-serif !important;
	font-size:16px;
	}
	
.checkout-store-list li select.checkout-select {width:250px;margin-right:0;}
	
.checkout-basic-info-icn {
	width:133px;
	height:32px;
	display:block;
	background:url(../images/camera-sprite.png) no-repeat scroll -333px -98px;
	text-indent:-2000px;
	position:absolute;
	left:-5px;
	top:9px;
	}
	
.checkout-billing-add-icn {
	width:133px;
	height:32px;
	display:block;
	background:url(../images/camera-sprite.png) no-repeat scroll -333px -224px;
	text-indent:-2000px;
	position:absolute;
	left:-5px;
	top:9px;
	}
	
.checkout-payment-det-icn {
	width:133px;
	height:32px;
	display:block;
	background:url(../images/camera-sprite.png) no-repeat scroll -333px -140px;
	text-indent:-2000px;
	position:absolute;
	left:-5px;
	top:9px;
	}
	
.checkout-my-cart-icn {
	width:93px;
	height:32px;
	display:block;
	background:url(../images/camera-sprite.png) no-repeat scroll -333px -182px;
	text-indent:-2000px;
	position:absolute;
	left:-5px;
	top:9px;
	}
	
.checkout-member-login {
	float:right;
	font-size:14px;
	position:relative;
	padding:0 0 0 22px;
	margin:19px 0px 0 0;
	}
	
.checkout-member-login .checkout-member-icn {
	background:url(../images/camera-sprite.png) no-repeat scroll -469px -98px transparent;
	display:block;
	left:0;
	position:absolute;
	text-indent:-2000px;
	top:0;
	width:17px;
	height:16px;
	}
	
.checkout-store-info {
	float:left;
	height:52px;
	position:relative;
	width:270px;
	margin-left:-20px;
	}

.checkout-inline-txt {float:right;margin-top:10px;}

.checkout-inline-txt p {float:left;font-size:14px;margin:0 0 10px;}

p.checkout-other-txt {font-size:14px;margin:0 0 10px;}
p.checkout-other-txt input[type="checkbox"] {float:left;clear:left;}

p.checkout-other-txt span {color:#ef0000;font-size: 100%;}
	
.checkout-my-cart-det {float:left;width:100%;background-color:#fff;margin:0 0 5px;}
.checkout-my-cart-det th, .checkout-my-cart-det td {text-align:left;font-size:14px;border:1px solid #cbcbce; border-collapse:collapse; padding:3px 8px;color:#282d37;vertical-align:middle;}
.checkout-my-cart-det th {background-color:#d7d7db;color:#686e7b; padding:3px 10px;text-align:center;}
.checkout-my-cart-det td span {color:#ef0000;font-size: 100%;}
.checkout-my-cart-total {margin:3px 0;width:100%;float:left;}
.checkout-my-cart-total h2 {float:left;font-size:18px;color:#686e7b;margin-bottom:10px;font-weight:normal;}
.checkout-my-cart-total h3 {float:right;font-size:18px;color:#e62832;margin-bottom:10px;font-weight:normal;}
.checkout-store-cntr hr {margin-bottom:10px;}


.checkout-wishlist-det {float:left;width:100%;background-color:#fff;margin:0 0 1px;}
.checkout-wishlist-det th, .checkout-wishlist-det td {text-align:left;font-size:14px;border:1px solid #e6e6ea; border-collapse:collapse; padding:3px 8px;color:#282d37;vertical-align:middle;padding:10px;}
.checkout-wishlist-det th {color:#686e7b; padding:3px 10px;text-align:center;background:url(../images/camera-sprite.png) no-repeat scroll 0 -326px #f4f4f8;line-height:31px;}
.checkout-wishlist-det td span {color:#ef0000;font-size:18px;}
.checkout-wishlist-total {margin:3px 0;width:100%;float:left;}
.checkout-wishlist-total h2 {float:left;font-size:18px;color:#686e7b;margin-bottom:10px;font-weight:normal;}
.checkout-wishlist-total h3 {float:right;font-size:18px;color:#e62832;margin-bottom:10px;font-weight:normal;}
.checkout-wishlist-det td input {
	margin:0 !important;
	border:1px solid #d6d6da;
	background:#fff;
	width:35px;
	padding:11px 9px;
    -moz-border-radius: 3px;
    -webkit-border-radius: 3px;
    -khtml-border-radius: 3px;
    border-radius: 3px;
	font-family: 'PT Sans Narrow', sans-serif !important;
	}
	
.checkout-payment-det {background:url(../images/camera-sprite.png) no-repeat scroll left bottom transparent;
	border:1px solid #E6E6EA;
	clear:both;
	float:left;
	height:73px;
	margin:0 0 0 0;
	padding:8px 0 7px 17px;
	width:877px;
	}

.checkout-discount-info {
	padding:0;
	margin:0px 0 10px 0 !important;
	float:left;
	clear:both;
	width:100%;
	}
	
.checkout-discount-info li {
	padding:5px 0 0 68px;
	margin:0;
	list-style-type:none;
	float:left;
	height:53px;
	position:relative;
	width:134px;
	}
.checkout-discount-info-coupon {
	width:60px;
	height:58px;
	background:url(../images/camera-sprite.png) no-repeat scroll -147px -143px transparent;
	text-indent:-2000px;
	display:block;
	position:absolute;
	left:0;
	top:0;
	}
.checkout-discount-info-list-1 {font-size:16px;color:#686e7b;text-transform:uppercase;}
.checkout-discount-info-list-2 {margin-top:5px;float:left;}
.checkout-discount-info-list-2 input {
	margin:0 !important;
	border:1px solid #d6d6da;
	background:#fff;
	width:160px;
	padding:5px 9px;
    -moz-border-radius: 3px;
    -webkit-border-radius: 3px;
    -khtml-border-radius: 3px;
    border-radius: 3px;
	font-family: 'PT Sans Narrow', sans-serif !important;
	font-size:16px;
	}
	
.checkout-btn-cntr {
	width:100%;
	float:left;
	margin-top:15px;
	}
	
.checkout-btn-total {
	float:right;
	margin-right:10px;
	margin-top:12px;
	}
	
.checkout-btn-total h6 {
	font-size:14px;
	color:#282d37;
	margin-bottom:0;
	font-weight:normal;
	text-align:right;
	text-transform:uppercase;
	}
	
.checkout-btn-total h2 {
	font-size:30px;
	line-height:30px;
	color:#e62832;
	margin-bottom:0;
	font-weight:normal;
	text-align:right;
	}
	
input.camera-btn-icn[type="submit"] {
	background:url(../images/camera-sprite.png) no-repeat scroll -599px -1px transparent;
	display:block;
	font-family:'PT Sans Narrow',sans-serif !important;
	font-size:15px;
	height:37px;
	text-align:center;
	text-shadow: 1px 1px 2px #910303;
	width:auto;
	border:1px solid #b41e28;
	-moz-border-radius: 3px;
    -webkit-border-radius: 3px;
    -khtml-border-radius: 3px;
    border-radius: 3px;
	cursor:pointer;
	margin:15px auto 0;
	color:#fff;
	font-weight:bold;
	}

input.camera-btn-icn:hover[type="submit"] {
	background:url(../images/camera-sprite.png) no-repeat scroll -599px -283px transparent;
	}
	
.checkout-store-cntr2 {float:left;width:290px;margin-right:10px;}
.checkout-store-cntr3 {float:left;width:290px;margin-right:0px;}

.checkout-store .camera-det-inner {float:left;}

.checkout-card-logo {padding:0;margin:-5px 0 15px 23px;}
.checkout-card-logo li {float:left;display:block;width:29px;height:19px;text-indent:-2000px;background:url(../images/camera-sprite.png) no-repeat scroll 0 0;margin-right:2px;}
.checkout-card-logo li.checkout-card-master {background-position:-122px -270px;}
.checkout-card-logo li.checkout-card-visa {background-position:-153px -270px;}
.checkout-card-logo li.checkout-card-maestro {background-position:-184px -270px;}
.checkout-card-logo li.checkout-card-amex {background-position:-215px -270px;}

.checkout-estimate-time {
	padding:0;
	margin:6px 0 0px 0 !important;
	float:left;
	}
	
.checkout-estimate-time li {
	padding:0px 0 0 72px;
	margin:0;
	list-style-type:none;
	float:left;
	height:57px;
	position:relative;
	}
.checkout-estimate-time-icn {
	width:56px;
	height:56px;
	background:url(../images/camera-sprite.png) no-repeat scroll -535px 0px transparent;
	text-indent:-2000px;
	display:block;
	position:absolute;
	left:0;
	top:2px;
	}
.checkout-estimate-time-list-1 {font-size:14px;color:#686e7b;text-transform:uppercase;float:left;}
.checkout-estimate-time-list-2 {float:left;color:#282d37;clear:both;}
.checkout-estimate-time-list-2 h2 {font-size:44px;float:left;font-weight:normal;margin-right:7px;line-height:44px;color:#282d37;}
.checkout-estimate-time-list-2 em {font-size:18px;font-style:normal;text-transform:uppercase;}
.checkout-estimate-time-list-2 em span {color:#ef0000;}

.checkout-payment-method {
	padding:0;
	margin:1px 9px 0 0;
	width:227px;
	height:58px;
	float:right;
	background:#e2e2e2;
	border:1px solid #d7d7d7;
	border-left-color:#fafafa;
	border-bottom-color:#fafafa;
	padding:10px 20px 0px;
	}
	
.checkout-payment-method h4 {
	font-size:14px;
	text-transform:uppercase;
	font-weight:normal;
	margin-bottom:6px;
	}
	
.checkout-payment-method .checkout-card-logo {margin:0;}

.checkout-payment-method h5 {
	font-size:14px;
	text-transform:uppercase;
	font-weight:normal;
	color:#282d37;
	float:left;
	margin:-5px 0 0 10px;
	width:52px;
	line-height:14px;
	}