*:focus {outline:0 none;}

.bdr-btm {border:0px none !important;}

.mrgn-none { margin:0px !important; }

.flt-lft {float:left;}

.flt-rht {float:right;}

.main-srch {
	padding:0;
	margin:0;
	float:right;
	}
	
.main-srch li {
	padding:0;
	margin:0 0 0 6px;
	list-style-type:none;
	float:left;
	}
	
.main-srch li input.srch-txt {
	width:192px;
	height:24px;	
	font-family: Tahoma, Helvetica, sans-serif;
    font-size:11px;
    color:#9e9d9d;
    border:solid 1px #DFDEDE;
    padding:0 8px;
	margin-right:2px;
	}
	
.main-srch li select.srch-txt {
	width:82px;	
	line-height:24px;
	font-family: Tahoma, Helvetica, sans-serif;
    font-size:11px;
    color:#9e9d9d;
    border:solid 1px #DFDEDE;
    padding:4px 4px 4px 8px;
	}
	
.main-srch-icn a {
	width:24px;
	height:24px;
	background:url(../images/camera-sprite.png) no-repeat scroll -296px -99px transparent;
	text-indent:-2000px;
	display:block;
	}
	
.classifieds-cntr {margin-top:12px;margin-bottom:25px;color:#686e7b;font-family: 'PT Sans Narrow', sans-serif !important;}	
	
.classifieds-filter {
	height:50px;
	background:url(../images/classifieds-sprite.png) no-repeat scroll 0px 0px;
	font-family: 'PT Sans Narrow', sans-serif !important;
	}
	
.classifieds-filter-list {padding:0;margin:9px 0 0 93px;float:left;}

.classifieds-filter-list li {
	padding:0;
	margin:0 14px 0 0;
	list-style-type:none;
	float:left;
	}
	
.classifieds-filter-list li input, .classifieds-filter-list li select {
	border:0;
	background:none transparent;
	color:#666;
	font-size:14px;
	font-family: 'PT Sans Narrow', sans-serif !important;
	}
	
.classifieds-filter-type1 {
	width:182px;
	height:30px;
    -moz-border-radius: 3px;
    -webkit-border-radius: 3px;
    -khtml-border-radius: 3px;
    border-radius: 3px;
	background:#feffe8;
	}

.classifieds-filter-type1 select {
	margin:6px 7px 0 7px;
	width:168px;
	}
	
.classifieds-filter-type2 {
	width:350px;
	height:30px;
    -moz-border-radius: 3px;
    -webkit-border-radius: 3px;
    -khtml-border-radius: 3px;
    border-radius: 3px;
	background:#feffe8;
	}
	
.classifieds-filter-type2 input {
	padding:6px 10px 0 10px;
	width:330px;
	}
	
.classifieds-filter-icn {
	width:36px;
	height:32px;
	display:block;
	background:url(../images/classifieds-sprite.png) no-repeat scroll 0 -51px;
	text-indent:-2000px;
	}
	
.classifieds-filter-icn a {
	width:36px;
	height:32px;
	display:block;
	}
	
.classifieds-sell-icn {
	width:216px;
	height:47px;
	display:block;
	background:url(../images/classifieds-sprite.png) no-repeat scroll -44px -53px;
	text-indent:-2000px;
	margin:-7px 0 0 10px;
	}
	
.classifieds-sell-icn a {
	width:216px;
	height:47px;
	display:block;
	}

.classifieds-inner {padding:30px 0px 30px 0px;}

.classifieds-thumb-list {
	padding:0px;
	margin:0 0px 15px 29px;
	float:left;
	width:202px;
	height:210px;
	position:relative;
	font-family: 'PT Sans Narrow', sans-serif;
	}
	
.classifieds-thumb-list-bg {
	width:202px;
	height:210px;
	position:absolute;
	left:0px;
	top:0px;
	background:url(../images/classifieds-sprite.png) no-repeat scroll 0 -99px;
	z-index:1;
	}
	
.classifieds-thumb-list-bg-new {
	width:202px;
	height:210px;
	position:absolute;
	left:0px;
	top:0px;
	background:url(../images/classifieds-sprite.png) no-repeat scroll -212px -99px;
	z-index:1;
	}
	
.classifieds-thumb-list-img {
	width:155px;
	height:90px;
	position:absolute;
	left:10px;
	top:25px;
	z-index:2;
	text-align:center;
	padding-top:10px;
	}
	
.classifieds-thumb-title {
	font-size:14px;
	color:#7d6608;
	margin:7px 0 2px 0;
	font-weight:normal;
	position:relative;
	z-index:3;
	width:174px;
	text-align:center;
	text-shadow: 1px 1px 2px #fff;
	}
	
.classifieds-thumb-sub-title {
	font-size:14px;
	color:#7d6608;
	font-weight:normal;
	margin-bottom:10px;
	position:absolute;
	left:0px;
	top:130px;
	z-index:4;
	width:174px;
	text-align:center;
	text-shadow: 1px 1px 2px #fff;
	}
	
.classifieds-thumb-price {
	font-size:18px;
	color:#7d6608;
	font-weight:normal;
	position:absolute;
	top:148px;
	left:0px;
	z-index:5;
	width:174px;
	text-align:center;
	font-weight:bold;
	text-shadow: 1px 1px 2px #fff;
	}
	
.classifieds-thumb-price span {font-size:11px;}

.grid_9.main {position:relative}

.grid_9.main.featured {height:198px;font-family: 'PT Sans Narrow', sans-serif !important;}

.classifieds-featured-inner {padding:5px 15px 30px 15px;}

.classifieds-featured-list {margin:0;}

.classifieds-featured-list dt {margin:0 20px 0px 0px; float:left;width:270px;height:185px;text-align:center;}

.classifieds-featured-small-txt {margin:20px 0 5px -10px;float:left;}

.classifieds-featured-small-txt li {margin:0;padding:0px 10px; font-size:14px; color:#999; list-style-type:none; float:left; border-right:1px solid #999; line-height:14px;}

.classifieds-featured-small-txt li:last-child {border-right:0px none;}

.classifieds-featured-small-txt span {color:#2d5392;}

.classifieds-featured-list dd {margin:0; width:380px; height:185px; float:left; position:relative;}

.classifieds-featured-large-txt {float:left; width:100%; color:#6e6e6e; font-size:20px; line-height:24px; margin:0;}

.classifieds-featured-price {
	font-size:36px;
	color:#f61d1d;
	font-weight:normal;
	position:absolute;
	bottom:15px;
	left:0px;
	line-height:36px;
	}
	
.classifieds-featured-price span {font-size:18px;}

.classifieds-featured-buy-now {
	width:150px;
	height:44px;
	position:absolute;
	right:0px;
	bottom:014px;
	display:block;
	background:url(../images/classifieds-sprite.png) no-repeat scroll -636px -51px;
	text-indent:-2000px;
	}
	
.classifieds-featured-buy-now a {width:150px;height:44px;display:block;}

.classifieds-buy-now-icn {
	width:98px;
	height:98px;
	display:block;
	background:url(../images/classifieds-sprite.png) no-repeat scroll -445px -54px;
	text-indent:-2000px;
	position:absolute;
	left:-5px;
	top:-5px;
	z-index:10;
	}
	
.classifieds-featured-icn {
	width:88px;
	height:88px;
	display:block;
	background:url(../images/classifieds-sprite.png) no-repeat scroll -544px -54px;
	text-indent:-2000px;
	position:absolute;
	left:-6px;
	top:-7px;
	z-index:10;
	}
	
/**Classifieds Registration Page**/

.classifieds-register {font-size:14px;}

.classifieds-register form span {
    float: left;
    font-size: 14px;
    font-weight: normal;
    text-align: right;
    width: 150px;
}

.classifieds-register  .main input, .classifieds-register  .main textarea {
    background-color: #ECECEC;
    border-color: #717171 #EFEFEF #EFEFEF #717171;
    border-style: solid;
    border-width: 1px;
    font-size: 11px;
    margin-left: 20px;
    padding: 3px;
    width: 250px;
	font-family:Arial, Helvetica, sans-serif !important;
	color:#7c7c7c;
}

.classifieds-register  .main input.classifieds-price {width: 124px;}

.classifieds-register form span.classifieds-price-txt {float:none;font-weight:normal;margin-left:4px;}

.classifieds-register input[type="checkbox"] {
    padding: 0;
    width: auto;
    margin-left: 0px;
}

.classifieds-register input[type="radio"], .classifieds-register input[type="file"] {
    width: auto;
	}
	
.classifieds-register input[type="submit"] {
    color:#fff;
	font-size:12px;
	font-family:Arial, Helvetica, sans-serif !important;
	}

.classifieds-register_title {
    text-align: center;
    margin-top: 6px;
    margin-right: 0px;
    margin-bottom: 0px;
    margin-left: 0px;
    border-bottom-width: 1px;
    border-bottom-style: solid;
    border-bottom-color: #E6E6E6;
    padding-top: 0px;
    padding-right: 0px;
    padding-bottom: 0px;
    padding-left: 0px;
    display: block;
}

.classifieds-register_title h1 {
    font-size: 40px;
    line-height: 45px;
    color: #8A8A8A;
    text-decoration: none;
    font-weight: normal;
    padding: 0px;
    margin: 0px;

}

.classifieds-register ul {
    list-style: none;
    float: left;
    margin-bottom: 0px;
}

.classifieds-register li {
    float: left;
    clear: none;
    margin-left: 0px;
	font-size:14px;
}

.classifieds-register .main select {
    font-size: 11px;
    background-color: #ECECEC;
    border-top-width: 1px;
    border-right-width: 1px;
    border-bottom-width: 1px;
    border-left-width: 1px;
    border-top-style: solid;
    border-right-style: solid;
    border-bottom-style: solid;
    border-left-style: solid;
    border-top-color: #717171;
    border-right-color: #EFEFEF;
    border-bottom-color: #EFEFEF;
    border-left-color: #717171;
    width: 258px;
    padding: 3px;
    margin-left: 20px;
	font-family:Arial, Helvetica, sans-serif !important;
	color:#7c7c7c;
}

.classifieds-register-sub-title {font-size:14px;color:#5d5d5d;margin-bottom:14px;}

.classifieds-register-main-title {
	font-size:40px;
	text-shadow: 1px 1px 2px #fff;
	color:#888;
	line-height:40px;
	font-family: 'PT Sans Narrow', sans-serif !important;
	font-weight:bold;
	background: -webkit-gradient(linear, left top, left bottom, from(#eee), to(#333));
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
	}
	
.classifieds-cntr .maintxt {padding:12px 56px;}

.classifieds-register-head-title {font-size:24px; color:#666; font-weight:normal;}

.classifieds-cntr .classifieds-det {padding:20px 10px 20px 10px; position:relative;}

.grid_8.classifieds-det-inner {width:680px;	font-family: 'PT Sans Narrow', sans-serif !important;}

.classifieds-det-lft {width:330px; float:left; margin-right:10px;}

.classifieds-thumb-view {
	float:left;
	width:300px;
	height:265px;
	}
	
.classifieds-thumb-view-small {
	margin:8px 0 0 0;
	padding:0;
	float:left;
	clear:both;
	width:100%;
	}
	
.classifieds-thumb-view-small li {
	margin:0 3px 0 0;
	padding:0;
	list-style-type:none;
	width:60px;
	height:60px;
	border:1px solid #e2e2e2;
	float:left;
	}

.classifieds-det-rht {width:340px; float:left;}

.classifieds-used-icn {
	width:50px;
	height:57px;
	display:block;
	background:url(../images/classifieds-sprite.png) no-repeat scroll -647px -98px;
	text-indent:-2000px;
	position:absolute;
	right:-39px;
	top:5px;
	}
	
.classifieds-det-main-title {
	font-size:30px;
	color:#f7d100;
	line-height:30px;
	font-weight:normal;
	margin:0;
	font-family: 'PT Sans Narrow', sans-serif !important;
	}
	
.classifieds-det-small-title {
	font-size:12px;
	color:#a5a4a4;
	margin:0 0 10px;
	}
	
.classifieds-det-list {margin:6px 0 0px 0;width:340px; float:left;color:#686e7b; font-size:14px;}

.classifieds-det-list dt {margin:0 30px 0px 0px; float:left;width:75px;text-align:left;line-height:18px;}

.classifieds-det-list dt span {float:right;}

.classifieds-det-list dd {margin:0 0px 0px 0px; float:left;width:235px;text-align:left;line-height:18px;}

.classifieds-det-shopping {
	padding:10px 0 0 0;
	margin:20px 0 0;
	width:340px;
	height:58px;
	border:1px dotted #aeaeb2;
	border-width:1px 0px;
	float:left;
	clear:both;
	}
	
.classifieds-det-shopping-list {
	padding:0;
	margin:0;
	}
	
.classifieds-det-shopping-list li {
	padding:0;
	margin:0 10px 0px 0px;
	list-style-type:none;
	float:left;
	}
	
.classifieds-det-shopping-txt {font-size:14px; color:#282d37;}
.classifieds-det-shopping-price {font-size:30px; color:#e62832;line-height:30px;}

.classifieds-det-location {
	padding:10px 0 0 33px;
	margin:0;
	height:33px;
	float:right;
	position:relative;
	margin-top:10px;
	}
	
.classifieds-det-location h4 {color:#686e7b; font-size:18px; font-family: 'PT Sans Narrow', sans-serif !important; font-weight:normal;}
	
.classifieds-location-icn {
	width:20px;
	height:33px;
	display:block;
	background:url(../images/classifieds-sprite.png) no-repeat scroll -707px -99px;
	text-indent:-2000px;
	position:absolute;
	left:-0;
	top:0;
	}
	
.classifieds-det-other-txt {
	padding:0;
	margin:10px 0 0;
	} 

.classifieds-det-other-txt li {
	list-style-type:none;
	padding:0;
	margin:0;
	float:none;
	} 
	
.classifieds-add-reply-cntr {
	width:678px;
	height:298px;
	background:#f4f4f8;
	border:1px solid #e6e6ea;
	float:left;
	margin-top:50px;
	position:relative;
	}
	
.classifieds-add-reply-inner {padding:30px 20px;}

.classifieds-add-reply-list {
	padding:0;
	margin:0;
	float:left;
	width:318px;
	}
	
.classifieds-add-reply-list li {
	list-style-type:none;
	float:left;
	margin:0 0 15px;
	}
	
.classifieds-add-reply-list li p {
	margin-bottom:8px;
	font-weight:bold;
	}
	
.classifieds-add-reply-list li p.small-desc {
	margin-top:8px;
	font-weight:normal;
	font-size:11px;
	}
	
.classifieds-add-reply-list li p.small-desc a {color:#2470fb; text-decoration:none;}
	
.classifieds-register .main .classifieds-add-reply-list li input {
	margin:0 !important;
	border:1px solid #d6d6da;
	background:#fff;
	width:250px;
	padding:5px 9px;
    -moz-border-radius: 3px;
    -webkit-border-radius: 3px;
    -khtml-border-radius: 3px;
    border-radius: 3px;
	font-family: 'PT Sans Narrow', sans-serif !important;
	}
	
.classifieds-register .main .classifieds-add-reply-list li textarea {
	margin:0 0 5px !important;
	border:1px solid #d6d6da;
	background:#fff;
	width:295px;
	height:135px;
	padding:5px 9px;
    -moz-border-radius: 3px;
    -webkit-border-radius: 3px;
    -khtml-border-radius: 3px;
    border-radius: 3px;
	font-family: 'PT Sans Narrow', sans-serif !important;
	}
	
.classifieds-register .main .classifieds-add-reply-list li input[type="submit"].classifieds-submit-icn {
	width:152px;
	height:32px;
	display:block;
	background:url(../images/classifieds-sprite.png) no-repeat scroll 0 -368px;
	text-shadow: 1px 1px 2px #910303;
	font-size:15px;
	font-family: 'PT Sans Narrow', sans-serif !important;
	text-align:center;
	}
	
.classifieds-add-reply-icn {
	width:133px;
	height:32px;
	display:block;
	background:url(../images/classifieds-sprite.png) no-repeat scroll -731px -99px;
	text-indent:-2000px;
	position:absolute;
	left:21px;
	top:-16px;
	}
	
.grid_3.classifieds-det-other {width:200px;}

.classifieds-posted-by {
	width:200px;
	height:265px;
	display:block;
	background:#f0f0f0;
	border:1px dotted #a0a0a0;
    -moz-border-radius: 3px;
    -webkit-border-radius: 3px;
    -khtml-border-radius: 3px;
    border-radius: 3px;
	box-shadow: 3px 3px 8px rgba(0, 0, 0, .3); 
	-moz-box-shadow: 3px 3px 8px rgba(0, 0, 0, .3); 
	-webkit-box-shadow: 3px 3px 8px rgba(0, 0, 0, .3);
	}
	
.classifieds-posted-by-inner {padding:10px 20px 30px;}

.classifieds-posted-by-small-title {font-size:12px; color:#6e6e6e; text-align:center; margin-bottom:5px;}

.classifieds-posted-by-prof {
	width:93px;
	height:94px;
	display:block;
	border:3px solid #aaaaaa;
	-moz-border-radius: 3px;
    -webkit-border-radius: 3px;
    -khtml-border-radius: 3px;
    border-radius: 3px;
	background:#fff;
	margin:0 auto;
	text-align:center;
	}
	
.classifieds-default-prof-thumb {
	width:93px;
	height:94px;
	display:block;
	background:url(../images/classifieds-sprite.png) no-repeat scroll -446px -159px;
	}
	
.classifieds-posted-by-main-title {font-size:24px; font-weight:normal; color:#fcb300; text-align:center; margin-top:5px; font-family: 'PT Sans Narrow', sans-serif !important;}

.classifieds-register .main input[type="submit"] {
	width:152px;
	height:32px;
	display:block;
	background:url(../images/classifieds-sprite.png) no-repeat scroll 0 -368px;
	text-shadow: 1px 1px 2px #910303;
	font-size:15px;
	font-family: 'PT Sans Narrow', sans-serif !important;
	margin:4px 0;
	border:0;
	padding-left:33px;
	padding-top:0px;
	text-align:left;
	}
	
.classifieds-register .main input[type="submit"].classifieds-submit-email { 
	background-position:-154px -327px;
	float:left;
	}
	
.classifieds-register .main input[type="submit"].classifieds-submit-number { 
	background-position:-154px -368px;
	float:left;
	}
	
.classifieds-similar-add {
	width:200px;
	height:51px;
	display:block;
	background:url(../images/classifieds-sprite.png) no-repeat scroll -319px -337px;
	text-indent:-2000px;
	margin-top:20px;
	float:left;
	}
	
.classifieds-similar-add-list {
	padding:0 0 10px;
	margin:10px 0 0;
	width:200px;
	height:65px;
	float:left;
	border-bottom:1px dotted #aeaeb2;
	}
	
.classifieds-similar-add-list dt {
	width:75px;
	height:65px;
	float:left;
	margin-right:15px;
	}
	
.classifieds-similar-add-list dd {
	width:110px;
	height:65px;
	float:left;
	}
	
.classifieds-similar-add-title {
	font-size:14px;
	color:#686e7b;
	font-family: 'PT Sans Narrow', sans-serif !important;
	margin:6px 0;
	font-weight:normal;
	}
	
.classifieds-similar-add-price {
	font-size:24px;
	color:#e62832;
	font-family: 'PT Sans Narrow', sans-serif !important;
	}