/* 
    Document   : coders
    Created on : Jan 8, 2013, 7:10:10 PM
    Author     : hari
    Description:
        Purpose of the stylesheet follows.
*/

/* 
   TODO customize this sample style
   Syntax recommendation http://www.w3.org/TR/REC-CSS2/
*/

.coders_featured {
    background-image: url("images/home-ftr-acc-bg.png");
    padding: 13px;
    margin: 0 0 0 23px;
    float: left;
    width: 120px;
    height: 150px;
    box-shadow: 1px 1px 10px rgba(0, 0, 0, .2);
    -moz-box-shadow: 1px 1px 10px rgba(0, 0, 0, .2);
    -webkit-box-shadow: 1px 1px 10px rgba(0, 0, 0, .2);
    background: white;
    position: relative;
    font-family: 'PT Sans Narrow', sans-serif;
}
