body{
	color:#595959;
	font-family:Arial,Helvetica,sans-serif;
	font-size:12px;
}

ul.dropmenu {
	float: right;
	margin: 0px;
	margin-right: -10px;
	padding: 0px;
	display:block;
	height:35px;
}

.dropmenu li a, .dropmenu li{
	float: left;
	
}
.dropmenu li a:hover, .dropmenu li.open > a{
	color: #fff;
	background-attachment: scroll;
	background-color: #FFFFFF;
	background-image: url("../images/menu_hover.png");
	background-repeat: repeat-x;
	background-position: 0 0;
}

.dropmenu li{
	list-style: none;
	position: relative;	
	top: 0px;
}

.dropmenu li span{
	display: block;
	height: 10px;
	width: 10px;
	position: absolute;
	top: 12px;
	right: 25px;
	background:url("../images/arrow_up.png") repeat-x scroll 0 0 transparent;
}
.dropmenu li a:hover span, .dropmenu li.open > a span{
	background-image: url("../images/arrow_hover.png");	
}

.dropmenu li a, .dropmenu li div{
	padding: 8px 11px 8px 11px;
	text-decoration: none;
	color: #666;
	text-transform:none;
	font-family: Arial,Helvetica,sans-serif;
      font-size: 14px;
      font-weight: bold;

}

.dropmenu li a {
	-moz-top-right-border-radius: 5px;
	border-top-right-radius: 5px;
	-moz-top-left-border-radius: 5px;
	border-top-left-radius: 5px;
        line-height: 17px;
}

/* Submenu */
.dropmenu li > ul, .dropmenu li > div {
	display: none;
	position: absolute;
	left: 0;
	top: 100%;
	margin: 0px;
	-moz-bottom-right-border-radius: 5px;
	border-bottom-right-radius: 5px;
	-moz-bottom-left-border-radius: 5px;
	border-bottom-left-radius: 5px;
	background-image: url("../images/menu_bg.png");
	padding-top: 0px;
	padding-right: 0px;
	padding-bottom: 10px;
	padding-left: 0px;
}

.dropmenu.css-only li:hover > ul, .dropmenu.css-only li:hover > div{
	display: block;
}

.dropmenu li ul li, .dropmenu li ul li a{
	float: none;	
	color: #0657AD;
	text-transform: none;
	text-decoration: none;
}

.dropmenu li ul li{
	_display: inline;	
}

.dropmenu li > div{
	width: 200px;
}

.dropmenu li ul li a span{
	background:url("../images/arrow_sub.gif") repeat-x scroll 0 0 transparent;
}

/* Sub submenu */

.dropmenu li ul li a{
	width: 200px;
	display: block;
	font-family: Tahoma, Geneva, sans-serif;
	font-size: 12px;
	text-transform: none;
	color: #FFF;
	text-decoration: none;
	font-weight: normal;
	background-image: url("../images/bullet.gif");
	padding-left: 18px;
	background-repeat: no-repeat;
	background-position: 8px center;
	margin-right: 15px;
	margin-left: 15px;
	border-bottom-width: 1px;
	border-bottom-style: solid;
	border-bottom-color: #4d4d4d;
	text-align:left;
}

.dropmenu li ul li a:hover{
	color:#fff;
	font-weight:bold;
	background-image: url("../images/bullet.gif");
	background-repeat: no-repeat;
	background-position: 8px center;
	background-color: transparent;
}

.dropmenu li ul li ul, .dropmenu li ul li > div{
	top: 0px;
	left: 101%;
}


/*******************************************************
Login form
*******************************************************/
.dropmenu li > div.login{
	width: 210px;	
}
.dropmenu li > div.login div{
	border: none;
}
.login label{
	display:block;
	padding:0 0 4px;
	color:#595959;	
}
.login input {
	border:1px solid #4A779D;
	margin-bottom:8px;
	padding:3px 8px;
	width:164px;
}
.login button {
	background:url("../images/navigation.png") repeat-x scroll 0 0 #4A779D;
	border:1px solid #4A779D;
	color:#FFFFFF;
	padding:4px 10px;
	width:175px;
}

/*******************************************************
Products div
*******************************************************/
.dropmenu li > div.products{
	width: 285px;

}
.dropmenu li:hover > div.products ul{
	display: block;
}
.dropmenu li > div.products *{
	padding: 0px;
	margin: 0px;
	position: relative;	
	border: none;
}
.dropmenu li > div.products li{
	overflow: hidden;
	padding: 10px 0px;
	border-bottom-width: 1px;
	border-bottom-style: solid;
	border-bottom-color: #333;
}
.dropmenu li > div.products li img{
	float: left;
	margin:  0 15px;
}
.dropmenu li > div.products{
	color:#595959;
}
.dropmenu li > div.products ul li h2{
	font-size: 11px;
	color:#fff;
	margin: 0px;
	padding: 2px 0 3px;
}
.dropmenu li > div.products ul li p{
	color:#fff;
	font-size:10px;
	margin:0;
	padding:0;
}
.dropmenu li > div.products ul li p a {
	border:medium none;
	color:#fff;
	display:inline;
	margin:0;
	padding:0;
	text-transform:none;
	background: none;
	text-decoration: none;

}
.dropmenu li > div.products ul{
	padding: 0px;
	margin: 0px;	
}
.dropmenu li > div.products ul li p a:hover {
	color:#fff;
	text-decoration: none !important;
		font-weight: bold;
}
.dropmenu li > div.products .small{
	padding: 15px;
	color:#595959;
	font-size: 9px;
	text-transform: none;
}

/*******************************************************
Tutorials div
*******************************************************/
.dropmenu li > div.tutorials *{
	display: none;	
}


.dropmenu li{
	background-image: url(../images/menu-dot.png);
	background-repeat: no-repeat;
	background-position: right center;
	margin-left: 0px;
	padding-right: 10px;
}

.dropmenu li li{
	background:none;
	padding:0px;
	margin-left:0px;
}

.dropmenu li a.nochild{
	padding-right:15px;
	-moz-bottom-right-border-radius: 5px;
	border-bottom-right-radius: 5px;
	-moz-bottom-left-border-radius: 5px;
	border-bottom-left-radius: 5px;
}

.header_menu_products .dropmenu li > ul, .header_menu_products .dropmenu li > div{
    background-image: url(../images/product_redhover.png);
    border-bottom-left-radius: 5px;
    border-bottom-right-radius: 5px;
    display: none;
    margin: 0;
    padding: 0 0 10px;
    position: absolute;
    top: 100%;
}


.header_menu_products .dropmenu li {
    background: none;
    margin-left: 0;
    padding-right: 0px;
}


.header_menu_products .dropmenu li a.nochild {
    border-bottom-left-radius: 5px;
    border-bottom-right-radius: 5px;
    padding-right: 15px;
}

.header_menu_products .dropmenu li a {
    border-top-left-radius: 5px;
    border-top-right-radius: 5px;
    font-family: Tahoma, Geneva, sans-serif;
    font-size: 11px;
    font-weight: bold;
    color: #D1D1D1;
    line-height: 20px;
    margin-top:3px;

}

.header_menu_products .dropmenu li > ul ul, .header_menu_products .dropmenu li > ul ul ul, .header_menu_products .dropmenu li > ul ul ul ul {
    margin-top: -30px;
}

.header_menu_products .dropmenu li a, .header_menu_products .dropmenu li div {
    padding: 5px 2px 0px 18px;
}


.header_menu_products .dropmenu li a:hover{
    background-image: url(../images/promenu_hover.png);
    background-repeat: repeat-x;
    background-position: center top;
}

.header_menu_products .dropmenu li li a:hover{
    background:none;
    font-weight: bold;
}

.header_menu_products  ul.dropmenu{
   	float: left;
	margin-left:7px;
}

.header_menu_products .dropmenu li span {
    display:none;
}

.header_menu_products .dropmenu li ul li a {
    background-image: url("../images/bullet.gif");
    background-position: 8px center;
    background-repeat: no-repeat;
    color: #FFFFFF;
    display: block;
    font-family: Tahoma, Geneva, sans-serif;
    font-size: 10px;
    font-weight: normal;
    margin-left: 15px;
    margin-right: 15px;
    text-decoration: none;
    text-transform: none;
    width: 150px;
    padding-left: 15px;
    line-height: 13px;
    border-bottom-style: none;
}

.header_menu_products .dropmenu li ul li a:hover {
    background-image: url("../images/bullet.gif");
    background-position: 8px center;
    background-repeat: no-repeat;
    color: #FFFFFF;
    display: block;
    font-family: Tahoma, Geneva, sans-serif;
    font-size: 10px;
    font-weight: bold;
    margin-left: 15px;
    margin-right: 15px;
    text-decoration: none;
    text-transform: none;
    width: 150px;
    padding-left: 15px;
    line-height: 13px;
    border-bottom-style: none;
}

.header_menu_products .dropmenu li a:hover, .header_menu_products .dropmenu li.open > a{
    color: #fff;
    background-attachment: scroll;
    background-color: #AA121E;
    background-image: url(../images/promenu_hover.png);
    background-repeat: repeat-x;
    background-position: 0 0;
}
