*:focus { outline:0 none}

.bg-none {background:none !important;}

.bdr-none {border:0px none !important;}

dl.featured-list {
	padding:20px 0 20px 0;
	margin:0;
	width:100%;
	float:left;
	border-bottom:1px solid #e1e1e1;
	}
	
dl.featured-list dt {
	padding:0;
	margin:0px 22px 0px 0px;
	float:left;
	width:200px;
	height:170px;
	text-align:center;
	background:url(../images/featured-sprite.png) no-repeat 0 0;
	}
	
dl.featured-list dt.featured-secured {background-position:0 0;}
dl.featured-list dt.featured-shipping {background-position:0 -187px;}
dl.featured-list dt.featured-delivery {background-position:0 -389px;}
dl.featured-list dt.featured-warranty {background-position:-216px -10px;}
dl.featured-list dt.featured-creditcards {background-position:-216px -210px;}
dl.featured-list dt.featured-skrill {background-position:-210px -388px;}
	
dl.featured-list dd {
	padding:0;
	margin:0px 0px 0px 0px;
	color:#929292;
	}
	
dl.featured-list dd h3.featured-title {
	font-size:48px;
	color:#939393;
	font-weight:normal;
	line-height:48px;
	margin-top:14px;
	}
	
dl.featured-list dd p.featured-desc {
	font-size:16px;
	color:#939393;
	line-height:18px;
	}