*:focus {outline:0 none;}

.bdr-btm {border:0px none !important;}

.mrgn-none { margin:0px !important; }

.flt-lft {float:left;}

.flt-rht {float:right;}

.home-featured-cntr {width:330px; float:left; position:relative;}

.grid_5.main {
	background-color:#FFFFFF;
	border:1px solid #E2E2E2;
	margin-bottom:20px;
	margin-right:0px;
	}
	
.home-featured-prod {
	padding:0;
	margin:0;
	}
	
.home-featured-prod li {
	padding:0;
	margin:0;
	list-style-type:none;
	min-height:166px;
	width:147px;
	float:left;
	}
	
.home-featured-prod li a {
	display:block;
	text-indent:0;
	text-decoration:none;
	}
	
.home-featured-prod-img {
	margin:0 auto;
	padding:0;
	text-align:center;
	}
	
.home-featured-title {
	color:#5D5D5D;
	font-size:11px;
	font-weight:bold;
	margin:0;
	text-align:center;
	}	
	
.home-featured-price {
	font-size:18px;
	color:#df0003;
	font-weight:normal;
	text-align:center;
	}
	
.home-featured-price span {font-size:11px;}

.home-best-buy-icn {
	width:40px;
	height:393px;
	display:block;
	background:url(../images/home-sprite.png) no-repeat scroll 0px 0px;
	text-indent:-2000px;
	position:absolute;
	right:9px;
	top:-7px;
	z-index:10;
	}
	
.grid_8.main .classifieds-thumb-list {margin-left:9px;}