/* image replacement */
.graphic, #prevBtn, #nextBtn, #slider1prev, #slider1next {
    margin: 0;
    padding: 0;
    display: block;
    overflow: hidden;
    text-indent: -8000px;
}

/* Easy Slider */

#slider ul, #slider li,
#slider2 ul, #slider2 li {
    margin: 0;
    padding: 0;
    list-style: none;
}

#slider2 {
    margin-top: 1em;
}

#slider li, #slider2 li {
    /*
             define width and height of list item (slide)
             entire slider area will adjust according to the parameters provided here
         */
    width: 940px;
    height: 350px;
    overflow: hidden;
}

#prevBtn, #nextBtn,
#slider1next, #slider1prev {
    width: 39px;
    height: 45px;
    position: absolute;
    z-index: 1000;
}

#nextBtn, #slider1next {
    left: 50%;
    margin-left: 400px;
    margin-top: -46px;
}

#prevBtn, #slider1prev {
    left: 50%;
    margin-left: 361px;
    margin-top: -46px;
}

#prevBtn a, #nextBtn a,
#slider1next a, #slider1prev a {
    display: block;
    position: relative;
    width: 40px;;
    height: 45px;
    background: url(../images/btn_prev.png) no-repeat 0 0;
}

#nextBtn a, #slider1next a {
    background: url(../images/btn_next.png) no-repeat 0 0;
}

/* numeric controls */

ol#controls {
    margin: 1em 0;
    padding: 0;
    height: 28px;
}

ol#controls li {
    margin: 0 10px 0 0;
    padding: 0;
    float: left;
    list-style: none;
    height: 28px;
    line-height: 28px;
}

ol#controls li a {
    float: left;
    height: 28px;
    line-height: 28px;
    border: 1px solid #ccc;
    background: #DAF3F8;
    color: #555;
    padding: 0 10px;
    text-decoration: none;
}

ol#controls li.current a {
    background: #5DC9E1;
    color: #fff;
}

ol#controls li a:focus, #prevBtn a:focus, #nextBtn a:focus {
    outline: none;
}

/* // Easy Slider */