{% extends "common/base.html" %}
{% load i18n %}
{% load widget_tweaks endless %}
{% load photographs %}
{% load accounts %}
{% load events %}

{% load articles %}
{% load thumbnail %}
{% block extra_css %}
    <link rel="stylesheet" href="{{ STATIC_URL }}css/home.css">
    <link rel="stylesheet" href="{{ STATIC_URL }}css/classifieds.css">
    <link rel="stylesheet" href="{{ STATIC_URL }}css/slider.css"/>
{% endblock %}
{% block extra_javascript %}
    <script type="text/javascript" src="{{ STATIC_URL }}js/easySlider.js"></script>
    <script type="text/javascript">
        jQuery(document).ready(function () {
            jQuery("#slider").easySlider({
                auto:true,
                pause: 8000,
                continuous:true,
                speed: 1200
            });
        });
    </script>
{% endblock %}
{% block content %}
    <div class="container_12">
        {% if bannerList.count > 0 %}
            <div class="clear"></div>
            <div class="grid_12 " style="background:none; padding-top:0px; padding-bottom:15px;">
                <div id="slider">
                    <ul>
                        {% for banner in bannerList %}
                            <li>
                                <a href="{{ banner.link }}" {% if banner.new_window %} target="_blank" {% endif %}>
                                {% thumbnail banner.banner "940x350" quality='100' as im %}
                                    <img src="{{ im.url }}" alt="{{ banner.name }}" title="{{ banner.name }}"/>
                                {% endthumbnail %}
                                </a>
                            </li>
                        {% endfor %}
                    </ul>
                </div>
            </div>
        {% endif %}
        <div class="clear"></div>
        {% if user.is_anonymous %}
            <div class="grid_12 " style="background:none;  padding-top:5px; padding-bottom:5px;">
                <form method="post" action="/accounts/login/">
                    {% csrf_token %}
                    <table width="940" border="0" cellspacing="0" cellpadding="0">
                        <tr>
                            <td width="50">
                                <strong><span
                                        style="font-size: 16px; font-family: arial;">{% trans "member login" %}</span></strong>
                            </td>
                            <td width="180">
                                {{ form.username|add_class:"home-textfield" }}
                            </td>
                            <td width="180">
                                {{ form.password|add_class:"home-textfield2" }}
                            </td>
                            {#					<td width="30">#}
                            {#						<input type="checkbox" name="checkbox" id="checkbox" />#}
                            {#					</td>#}
                            {#					<td width="100">#}
                            {#						Remember me#}
                            {#					</td>#}
                            <td>
                                <input type="image" src="{{ STATIC_URL }}images/twiching_home_09.jpg" name="submit"/>
                            </td>
                            <td>
                                &nbsp;
                                <span style="font-family: arial; font-size: 14px; font-weight: bold; width: 18px;margin-left: 10px; margin-right: 10px; ">Or</span>&nbsp;
                                <a href="{% url socialauth_begin 'facebook' %}" style="padding-bottom: 5px;">
                                    <img src="{{ STATIC_URL }}images/fb-connect-icon.png" alt="Login Using Facebook">
                                </a>
                            </td>
                            <td width="109">
                                <a href="{% url password_reset %}">
                                    <img src="{{ STATIC_URL }}images/twiching_home_11.jpg" width="109" height="22"/>
                                </a>
                            </td>
                            <td width="97">
                                <a href="/accounts/register">
                                    <img src="{{ STATIC_URL }}images/twiching_home_12.jpg" width="97" height="22"/>
                                </a>
                            </td>
                        </tr>
                    </table>
                </form>
            </div>
        {% endif %}
        <div class="clear"></div>
        <div style=" width:280px; float:left;">
            {% get_photos group_id 'featured' %}
            <div class="clear" style="height:10px;"></div>
            {% popular_users %}
        </div>
        
        <div style="width: 670px; float: left; margin-right: 0px;">
            
                                {% if categories %}
                                {% for category in categories %}
            <div class="home-featured-cntr">
				<div class="home-best-buy-icn">Best Buy</div>
                                
                                <div class="grid_5 title" style="width: 320px;">
                                    <h2>
                                    

                                        {{ category.name }}
                                        <span style="float: right; margin-right: 5px; position: relative; top: -3px;">
                                    <a href="{{ category.get_absolute_url }}" title="More Products" style="float: right;">
                                            <img src="{{ STATIC_URL }}images/arrow-more.png" alt="More" width="24px" height="24px">
                                    </a>
                                        </span>
                                    

                                    </h2>
                                </div>
                                <div class="grid_5 main" style="width: 318px;">
					<div class="maintxt">
                                            
						<ul class="home-featured-prod">
                                                    
                                                    {% for item in category.product_category.all|slice:":4" %}
							<li>
								<a href="#" title="White Balance Cap">
									<div class="home-featured-prod-img">
                                                                            {% for image in item.product.images.all|slice:":1" %}
                                                                            {% thumbnail image.original "140x105" upscale=False as thumb %}
                                                                                <a href="{{ item.product.get_absolute_url }}"><img src="/media/{{ image.original }}" width="{{ thumb.width }}" height="{{ thumb.height }}" alt="{{ item.product.get_title }}" class="thumbnail"></a>
                                                                            {% endthumbnail %}
										<!--<img src="home_files/home-prod1.jpg" alt="White Balance Cap" width="140px" height="105px">-->
                                                                            {% endfor %}
                                                                        </div>
									<h6 class="home-featured-title">{{ item.product.get_title }}</h6>
									<div class="home-featured-price"><span>AED</span> {{ item.product.stockrecord.price_incl_tax}}/-</div>
								</a>
							</li>
                                                    {% endfor %}
							
							
						</ul>
					</div>
                                </div>

				
				
			</div>
 {% endfor %}
                                {% endif %}
                                

			<div class="clear"></div>
		</div>
                <div class="grid_8 title" style="width: 658px; float: right; margin-right: 10px;">
                    <h2>Featured Classifieds
                        <span style="float: right; margin-right: 5px; position: relative; top: -3px;">
                            <a href="{% url list_items %}" title="More Products"> <img src="{{ STATIC_URL }}images/arrow-more.png" alt="More" width="24px" height="24px"></a>
                        </span>
                    </h2>
                </div>
                <div class="grid_8 main" style="width: 658px; height: 221px !important; float: right; margin-right: 10px;">
			<div class="maintxt">
                            {% for ad in ads %}
        		<div class="classifieds-thumb-list">
					 {% ifequal ad.condition 0 %}
						<div class="classifieds-thumb-list-bg">&nbsp;</div>
                                            {% else %}
                                                <div class="classifieds-thumb-list-bg-new">&nbsp;</div>
                                            {% endifequal %}
					<div class="classifieds-thumb-title">
						Posted:{{ ad.added_date|date:"d M `Y" }}
					</div>
					<div title="{{ ad.title }}" class="classifieds-thumb-list-img"><a href="{% url detail_classified ad.id %}">
						{% thumbnail ad.main_image "135x85" as thumb %}
						<img alt="view classified" src="{{ thumb.url }}" width="135px" height="85px">
							{% endthumbnail %}
					</a></div>
					<div class="classifieds-thumb-sub-title">
						{{ ad.title }}
					</div>
					<div class="classifieds-thumb-price">
						<span>AED</span> {{ ad.price }}/-
					</div>
				</div>
                            {% endfor %}
				
        		<div class="clear"></div>
			</div>
        </div>

        <div class="grid_8 title" style="width: 658px; float: right; margin-right: 10px;">
            <h2>Featured Accesories
                <span style="float: right; margin-right: 5px; position: relative; top: -3px;">
                    <a href="http://www.twiching.com/products/" title="More Products"> <img src="{{ STATIC_URL }}images/arrow-more.png" alt="More" width="24px" height="24px"></a>
                </span>
            </h2>
        </div>
        <div class="grid_8 main" style="width: 658px; height: 152px ! important; float: right; margin-right: 10px;">
            <div class="maintxt">

        <a href="http://www.twiching.com/products/29" title="Camera Shoulder Pad" style="padding: 0px;">
            <div class="product " style="cursor: pointer;">

                    <img src="home_files/fcae50347dd34239a4476e7f88434617.jpg" width="116" align="middle" height="86">

                <br>
                Camera Shoulder Pad
            </div>
        </a>


        <a href="http://www.twiching.com/products/39" title="Portable Telephone Handset" style="padding: 0px;">
            <div class="product " style="cursor: pointer;">

                    <img src="home_files/09953d8fd158bf497789e9d46ee6eb0c.jpg" width="116" align="middle" height="86">

                <br>
                Portable Telephone H...
            </div>
        </a>


        <a href="http://www.twiching.com/products/20" title="Godox Digital Timer Release" style="padding: 0px;">
            <div class="product " style="cursor: pointer;">

                    <img src="home_files/20df315e3030a7f09f00e8c16ae3daad.jpg" width="116" align="middle" height="86">

                <br>
                Godox Digital Timer ...
            </div>
        </a>


        <a href="http://www.twiching.com/products/35" title="Gray Cards" style="padding: 0px;">
            <div class="product end" style="cursor: pointer;">

                    <img src="home_files/3a3bdc191fc308cb450f58badd722a9d.jpg" width="116" align="middle" height="86">

                <br>
                Gray Cards
            </div>
        </a>
        <div class="clear"></div>

</div>
            </div>
        <div style="width: 670px; float: right; margin-right: 10px;">
            <div style="width: 330px; float: left;">
            {% latest_a_to_z_articles %}
            </div>
            <div style="width: 316px; float: right; margin-right: 10px;">
            {% latest_event %}
            </div>
            </div>

    </div>
    <div class="clear" style="height:30px;"></div>
    <script type="text/javascript">
        //Login Box fading text
        if (document.getElementById('id_username').value == '') {
            jQuery("#id_username").addClass('litetext');
            document.getElementById('id_username').value = "username"
        } else {
            if (document.getElementById('id_username').value != 'username') {
                jQuery("#id_username").removeClass('litetext');
            }
        }

        jQuery("#id_username").blur(function () {
            if (document.getElementById('id_username').value == '') {
                jQuery("#id_username").addClass('litetext');
                document.getElementById('id_username').value = "username"
            }
        });
        jQuery("#id_username").focus(function () {
            if (document.getElementById('id_username').value == 'username') {
                jQuery("#id_username").removeClass('litetext');
                document.getElementById('id_username').value = ""
            }
        });



        if (document.getElementById('id_password').value == '') {
            jQuery("#id_password").addClass('litetext');
            document.getElementById('id_password').value = "password"
        } else {
            if (document.getElementById('id_password').value != 'password') {
                jQuery("#id_password").removeClass('litetext');
            }
        }

        jQuery("#id_password").blur(function () {
            if (document.getElementById('id_password').value == '') {
                jQuery("#id_password").addClass('litetext');
                document.getElementById('id_password').value = "password"
            }
        });
        jQuery("#id_password").focus(function () {
            if (document.getElementById('id_password').value == 'password') {
                jQuery("#id_password").removeClass('litetext');
                document.getElementById('id_password').value = ""
            }
        });
    </script>
{% endblock %}
