{% extends "common/base.html" %}
{% load i18n %}
{% load widget_tweaks endless %}
{% load photographs %}
{% load accounts %}
{% load events %}
{% load cataloge_tags %}
{% load articles %}
{% load homepage_ad_banner %}
{% load thumbnail %}
{% block title %}
    {% trans "Twiching: Home" %}
{% endblock %}
{% block extra_css %}
<link rel="stylesheet" href="{{ STATIC_URL }}css/home.css">
<link rel="stylesheet" href="{{ STATIC_URL }}css/classifieds.css">
<link rel="stylesheet" href="{{ STATIC_URL }}css/slider.css"/>
<link href='http://fonts.googleapis.com/css?family=PT+Sans+Narrow:400,700' rel='stylesheet' type='text/css'>
{% endblock %}
{% block extra_javascript %}
<script type="text/javascript" src="{{ STATIC_URL }}js/easySlider.js"></script>
<script type="text/javascript">
    jQuery(document).ready(function () {
        jQuery("#slider").easySlider({
            auto:true,
            pause: 8000,
            continuous:true,
            speed: 1200
        });
/*
	var url = "http://www.facebook.com/"
        //var loading_url = "/empty.html"
        //document.getElementById("iframe").src = loading_url;
        jQuery.ajax({
            url: url,
            type: 'GET',
            complete: function(e, xhr, settings){

            if(e.status == 404 ){
              //document.getElementById("iframe").src = url;
              jQuery("#fb").hide();
                });
*/
    });
</script>
<script type="text/javascript">
jQuery(document).ready(function () {


	var url = "http://www.facebook.com/"
        //var loading_url = "/empty.html"
        //document.getElementById("iframe").src = loading_url;
        jQuery.ajax({
            url: url,
            type: 'GET',
            complete: function(e, xhr, settings){

            if(e.status == 404 ){
              //document.getElementById("iframe").src = url;
              jQuery("#fb").hide();
			}
		}
                });

 });
</script>
{% endblock %}
{% block content %}

<div class="container_12">
    {% if bannerList.count > 0 %}
    <div class="clear"></div>
    <div class="grid_12 " style="background:none; padding-top:3px; padding-bottom:15px;">
        <div id="slider">
            <ul>
                {% for banner in bannerList %}
                <li>
                    <a href="{{ banner.link }}" {% if banner.new_window %} target="_blank" {% endif %}>
                       {% thumbnail banner.banner "940x350" quality='100' as im %}
                       <img src="{{ im.url }}" alt="{{ banner.name }}" title="{{ banner.name }}"/>
                        {% endthumbnail %}
                    </a>
                </li>
                {% endfor %}
            </ul>
        </div>
    </div>
    {% endif %}
    <div class="clear"></div>
    {% if user.is_anonymous %}
    <div class="grid_12 " style="background:none;  padding-top:5px; padding-bottom:5px;">
        <form method="post" action="/accounts/login/">
            {% csrf_token %}
            <table width="940" border="0" cellspacing="0" cellpadding="0">
                <tr>
                    <td width="50">
                        <strong><span
                                style="font-size: 16px; font-family: arial;">{% trans "member login" %}</span></strong>
                    </td>
                    <td width="180">
                        {{ form.username|add_class:"home-textfield" }}
                    </td>
                    <td width="180">
                        {{ form.password|add_class:"home-textfield2" }}
                    </td>
                    {#					<td width="30">#}
                        {#						<input type="checkbox" name="checkbox" id="checkbox" />#}
                        {#					</td>#}
                    {#					<td width="100">#}
                        {#						Remember me#}
                        {#					</td>#}
                    <td>
                        <input type="image" src="{{ STATIC_URL }}images/twiching_home_09.jpg" name="submit"/>
                    </td>
                    <td>
                        &nbsp;
                        <span style="font-family: arial; font-size: 14px; font-weight: bold; width: 18px;margin-left: 10px; margin-right: 10px; ">Or</span>&nbsp;
                        <a href="{% url socialauth_begin 'facebook' %}" style="padding-bottom: 5px;">
                            <img src="{{ STATIC_URL }}images/fb-connect-icon.png" alt="Login Using Facebook">
                        </a>
                    </td>
                    <td width="109">
                        <a href="{% url password_reset %}">
                            <img src="{{ STATIC_URL }}images/twiching_home_11.jpg" width="109" height="22"/>
                        </a>
                    </td>
                    <td width="97">
                        <a href="/accounts/register">
                            <img src="{{ STATIC_URL }}images/twiching_home_12.jpg" width="97" height="22"/>
                        </a>
                    </td>
                </tr>
            </table>
        </form>
    </div>
    {% endif %}
    
    <div style=" width:280px; float:left;">
       {% get_photos group_id 'featured' %}
       <!--- <div class="clear" style="height:10px;"></div>--->
<div class="clear" style="height: 10px;"></div>
	{% get_home_ad_banner %}
<div class="clear" style="height: 28px;"></div>
        {% popular_users %}
	<div class="clear" style="height: 20px;"></div>
	<div style="float: left;margin: 0 9px;">
	<div id="fb" connections="12" class="fb-like-box" data-href="http://www.facebook.com/twiching" data-width="251" data-height="318" data-show-faces="true" data-stream="false" data-border-color="dddddd" data-header="true"></div>
	</div>


	
    </div>
				{% get_best_buy %}

    
{% if ads %}
    <div class="grid_8 title" style="width: 658px; float: right; margin-right: 10px;">
        <h2>Featured Classifieds
            <span class="span-arrow" >
                <a href="{% url list_items %}" title="More Classifieds"> <img src="{{ STATIC_URL }}images/arrow-more.png" alt="More" width="24px" height="24px"></a>
            </span>
        </h2>
    </div>
    <div class="grid_8 main" style="width: 658px; height: 221px !important; float: right; margin-right: 10px;">
        <div class="maintxt">
            {% for ad in ads|slice:":3" %}
		{% if ad.approve %}
            <div  class="classifieds-thumb-list">
					 {% ifequal ad.condition 0 %}
                <div class="classifieds-thumb-list-bg">&nbsp;</div>
                {% else %}
                <div class="classifieds-thumb-list-bg-new">&nbsp;</div>
                {% endifequal %}
                <div class="classifieds-thumb-title">
						Posted:{{ ad.added_date|date:"d M `Y" }}
                </div>
                <div class="classifieds-thumb-list-img" title="{{ ad.title }}">
                    <a href="{% url detail_classified ad.id %}">
			{% thumbnail ad.main_image "135x85" as im %}
			<img alt="view product" alt="{{ ad.title }}" src="{{ im.url }}" width="135px" height="85px">
			{% endthumbnail %}
			</a>
                </div>
                <div class="classifieds-thumb-sub-title">
						{{ ad.title }}
                </div>
                <div class="classifieds-thumb-price">

                    <span>AED</span> {{ ad.price }}/-
                </div>
            </div>
		{% endif %}
            {% endfor %}

            <div class="clear"></div>
        </div>
    </div>
{% endif %}

    {% get_featured_accessories %}
    
    <div style="width: 670px; float: right; margin-right: 10px;">
        <div style="width: 330px; float: left;">
            {% latest_a_to_z_articles %}
        </div>
        <div style="width: 316px; float: right; margin-right: 10px;">
            {% latest_event %}
        </div>
    </div>

</div>
<div id="fb-root" ></div>
<script>(function(d, s, id) {
  var js, fjs = d.getElementsByTagName(s)[0];
  if (d.getElementById(id)) {return;}
  js = d.createElement(s); js.id = id;
  js.src = "//connect.facebook.net/en_US/all.js#xfbml=1";
  fjs.parentNode.insertBefore(js, fjs);
}(document, 'script', 'facebook-jssdk'));</script>
<script type="text/javascript">
    //Login Box fading text
    if (document.getElementById('id_username').value == '') {
        jQuery("#id_username").addClass('litetext');
        document.getElementById('id_username').value = "username"
    } else {
        if (document.getElementById('id_username').value != 'username') {
            jQuery("#id_username").removeClass('litetext');
        }
    }

    jQuery("#id_username").blur(function () {
        if (document.getElementById('id_username').value == '') {
            jQuery("#id_username").addClass('litetext');
            document.getElementById('id_username').value = "username"
        }
    });
    jQuery("#id_username").focus(function () {
        if (document.getElementById('id_username').value == 'username') {
            jQuery("#id_username").removeClass('litetext');
            document.getElementById('id_username').value = ""
        }
    });



    if (document.getElementById('id_password').value == '') {
        jQuery("#id_password").addClass('litetext');
        document.getElementById('id_password').value = "password"
    } else {
        if (document.getElementById('id_password').value != 'password') {
            jQuery("#id_password").removeClass('litetext');
        }
    }

    jQuery("#id_password").blur(function () {
        if (document.getElementById('id_password').value == '') {
            jQuery("#id_password").addClass('litetext');
            document.getElementById('id_password').value = "password"
        }
    });
    jQuery("#id_password").focus(function () {
        if (document.getElementById('id_password').value == 'password') {
            jQuery("#id_password").removeClass('litetext');
            document.getElementById('id_password').value = ""
        }
    });
</script>
{% endblock %}
