
{% load i18n %}
{% load thumbnail %}
{% if ad_banner %}
	<div class="clear" style="height: 10px;"></div>
	<div class="grid_4 add" style="float: left; width: 255px;">
            {% thumbnail ad_banner.banner "255x224" as thumb %}
            <a {% if ad_banner.new_window %}target="_blank"{% endif %} href="{{ ad_banner.link }}"><img src="{{thumb.url}}" width="255" height="190" alt="{{ item.product.get_title }}" class="thumbnail"></a>
            {% endthumbnail %}
	</div>
{% endif %}
