{% extends "common/base.html" %}
{% load i18n %}
{% load widget_tweaks %}
{% block title %}
    {% if subscriptionStatus %}
        {% trans "twiching: Unsubscribe from Notification" %}
    {% else %}
        {% trans "twiching: Subscribe to Notification" %}
    {% endif %}
{% endblock %}
{% block content %}
    <div class="clear"></div>
    <h1>
        {% if subscriptionStatus %}
            {% trans "Unsubscribe from Notification" %}
        {% else %}
            {% trans "Subscribe to Notification" %}
        {% endif %}
    </h1>
    <div class="clear"></div>

    <div class="grid_12 main">
        <div class="maintxt">
            <p>
                {% if subscriptionStatus %}
                    {% trans "Are you sure you want to unsubscribe from getting notified anything related to your account?" %}
                {% else %}
                    {% trans "Are you sure you want to subscribe to account notification?" %}
                {% endif %}
            </p>

            <div class="clear"></div>
            <div>
                <form method="POST" action=".">
                    {% csrf_token %}
                    <div class="clear"></div>
                    {% if subscriptionStatus %}
                        <input type="submit" value="{% trans 'Unsubscribe' %}"/>
                    {% else %}
                        <input type="submit" value="{% trans 'Subscribe' %}"/>
                    {% endif %}
                    &nbsp;&nbsp;
                    <input type="button" value="{% trans 'Cancel' %}" onclick="window.location = '/'" />
                </form>
            </div>
        </div>
    </div>
    <div class="clear"></div>
{% endblock %}