{% extends "accounts/accounts_base.html" %}
{% load i18n %}
{% load widget_tweaks %}
{% load thumbnail %}
{% block title %}{% trans "twiching: My Wishlist" %}{% endblock %}
{% block content_inner %}
    <div class="clear"></div>

    <h1>{% trans "My Wishlist" %}</h1>
    {% if wishlist_message %}
        <div class="message">
            {{ wishlist_message }}
        </div>
    {% endif %}
        <div class="maintxt_box" >
            <table width="100%" border="0" cellspacing="0" cellpadding="10">
                <tr>
                    <td align="center" valign="middle" class="head" ><strong>Product</strong></td>
                    <td align="center" valign="middle" class="head" ><strong>Added on</strong></td>
                    <td align="center" valign="middle" class="head" ><strong>Add to cart</strong></td>
                    <td align="center" valign="middle" class="head" >&nbsp;</td>
                </tr>
                {% for wish in wishlist %}
                {% with wish.product as product %}
                <tr>
                    <td align="center" valign="middle">
                        <h2>
                            {% thumbnail product.main_image.picture '116x86' as image %}
                                <img src="{{ image.url }}" width="{{ image.width }}" height="{{ image.height }}" />
                            {% endthumbnail %}
                            <br />
                            {{ product.name }}
                            <br />
                        <span class="red">
                            {% for price in product.price_set.values %}
                                {{ currency }}&nbsp;{{ price.price }}
                            {% endfor %}
                        </span></h2></td>
                    <td align="center" valign="middle">{{ wish.create_date|date:DATE_FORMAT  }}</td>
                    <td align="center" valign="middle">
                        <form name="addform" action="/wishlist/move_to_cart/" method="POST">
                            {% csrf_token %}
                            <input type="hidden" name="id" value="{{ wish.id }}" />
                            <input type="submit" name="add_to_cart" id="add_to_cart" value="{% trans 'Add to cart' %}" />
                        </form>
                    </td>
                    <td align="center" valign="middle">
                        <form name="addform" action="/wishlist/remove/" method="POST">
                            {% csrf_token %}
                            <input type="hidden" name="id" value="{{ wish.id }}" />
                            <input type="image" src="{{ STATIC_URL }}images/del.jpg" style="border-width: 0px; width: 24px; height: 23px; padding: 0px;" name="remove_from_cart" id="remove_from_cart" />
                        </form>
                    </td>
                </tr>
                {% endwith %}
            {% endfor %}
                <tr>
                    <td colspan="5" align="right" valign="middle" style="text-align:right;">
                        <input type="button" name="add_products_to_wishlist" id="add_products_to_wishlist" value="Browse Products" onclick="window.location='/products/'">
                </tr>
            </table>
        </div></div>
{% endblock %}