{% extends "common/product_base.html" %}
{% load i18n %}
{% load thumbnail %}
{% load satchmo_category %}
{% load endless %}

{% block extra-head %}
{% if category.meta %}
    <meta name="description" content="{{ category.meta|escape }}">
{% endif %}
{% endblock %}

{% block content %}
    <div class="products_inner">
    <div class="grid_3" style="float:right;">
        <img src="{{ STATIC_URL }}images/products_05.jpg"/>


        <div class="clear" style="height:15px;">

        </div>


        <div class="grid_3 main" style="margin-left:0px;">
            <div class="maintxt" style="padding:15px;">
                <h1 style="padding:0px; margin:0px;">best sellers</h1>


                <div class="clear sep" style="    margin-top: 5px;    padding-top: 5px;"></div>
                <div class="photo_left"
                     style="float:left; width:195px; padding-top:10px; padding-bottom:10px; background:none; border:none; text-align:left; ">
                    <img src="images/twiching_home_62.jpg" width="71" height="52" style="float:right; "
                         class="photo_month"/>
                    Triopo NB-2S <br/>
                    Photography Ball <br/>
                    Head
                </div>

                <div class="clear sep" style="    margin-top: 5px;    padding-top: 5px;"></div>
                <div class="photo_left"
                     style="float:left; width:195px; padding-top:10px; padding-bottom:10px; background:none; border:none; text-align:left; ">
                    <img src="images/twiching_home_62.jpg" width="71" height="52" style="float:right; "
                         class="photo_month"/>
                    Triopo NB-2S <br/>
                    Photography Ball <br/>
                    Head
                </div>


                <div class="clear sep" style="    margin-top: 5px;    padding-top: 5px;"></div>
                <div class="photo_left"
                     style="float:left; width:195px; padding-top:10px; padding-bottom:10px; background:none; border:none; text-align:left; ">
                    <img src="images/twiching_home_62.jpg" width="71" height="52" style="float:right; "
                         class="photo_month"/>
                    Triopo NB-2S <br/>
                    Photography Ball <br/>
                    Head
                </div>


                <div class="clear sep" style="    margin-top: 5px;    padding-top: 5px;"></div>
                <div class="photo_left"
                     style="float:left; width:195px; padding-top:10px; padding-bottom:10px; background:none; border:none; text-align:left; ">
                    <img src="images/twiching_home_62.jpg" width="71" height="52" style="float:right; "
                         class="photo_month"/>
                    Triopo NB-2S <br/>
                    Photography Ball <br/>
                    Head
                </div>

                <div class="clear"></div>
            </div>
        </div>


        <div class="grid_3 main" style="margin-left:0px;">
            <div class="maintxt" style="padding:15px;">
                <h1 style="padding:0px; margin:0px;">Product Review</h1>


                <div class="photo_left"
                     style="float:left; width:195px; padding-top:10px; padding-bottom:10px; background:none; border:none; text-align:left;  line-height: normal; ">
                    This grip performs exactly per the <br/>
                    specification. It fits snugly against<br/>
                    camera body with no wiggling. The <br/>
                    battery door closes tightly &amp; securely <br/>
                    camera body with no wiggling. The <br/>
                    battery door.
                </div>
                <div class="clear"></div>
            </div>
        </div>


    </div>
    <div class="grid_9 main">

        {% paginate products %}
        <div class="maintxt">

            <h1>{{ category.translated_name }}</h1>
            <div>
                {% if sale %}
                    {% include "product/some_discount_eligible.html" %}
                {% endif %}
            </div>

            <div class="grid_8 main" style="width:650px; float:left; margin:0px;">
                <div class="top_bottom_navi">

                    <div style="float:left;">Order by: <select>
                        <option>Product name</option>
                    </select></div>
                    <div style="float:right;">
                        {% show_pages %}
                    </div>
                </div>
            </div>
            <div class="clear" style="height:15px;"></div>
            {% for product in products %}
                <div class="photo_left">
                    {% thumbnail product.main_image.picture '126x126' as image %}
                        <div  onclick="window.location = '/products/{{ product.id }}'" style="cursor: pointer;">
                            <img width="{{ image.width }}" height="{{ image.height }}" src="{{ image.url }}">
                            <h2>{{ product.name }}</h2>
                            <strong>{{ product.price }}</strong>
                        </div>
                    {% endthumbnail %}
                    <div class="clear"></div>
                    <form method="post" action="/cart/add/" id="options">
                        {% csrf_token %}
                        <input type="hidden" value="1" id="quantity" name="quantity" size="2" style="width:80px; margin-top:8px;">
                        <input type="hidden" value="{{ product.slug }}" id="productname" name="productname" />
                        <input type="image" src="{{ STATIC_URL }}images/addtocart.gif" name="addcart" id="addcart"
                               style="width: 40px !important; height: 39px !important; border-style: none !important; border-width: 0 !important; float: left;" />
                    </form>
                    <form method="post" action="/wishlist/add/" id="options">
                        {% csrf_token %}
                        <input type="hidden" value="{{ product.slug }}" id="productname" name="productname" />
                        <input type="image" src="{{ STATIC_URL }}images/wishlist.gif" name="wishlist" id="wishlist"
                               style="width: 40px !important; height: 39px !important; border-style: none !important; border-width: 0 !important;" />
                    </form>
                </div>
                {% cycle '' '' '<div class="clear" style="height:15px;"></div>' %}
            {% endfor %}

            <div class="grid_8 main" style="width:650px; float:left; margin:5px 0px 0px 0px;">
                <div class="top_bottom_navi">

                    <div style="float:left;">Order by: <select>
                        <option>Product name</option>
                    </select></div>
                    <div style="float:right;">{% show_pages %}</div>
                </div>
            </div>
            <div class="clear"></div>
        </div>
    </div>
    </div>
{% endblock %}
