<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml">
<head>
<meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
<title>twiching: Order Confirmation</title>
</head>

<body>

<div style="background-color:#eae9e9; width:600px; margin:auto;"><img src="http://www.twiching.com/static/images/top.gif" alt="twiching" />
<div style="width:540px; margin:auto; color: #7b7b7b; line-height:18px; font-size:13px;">
  <table width="540" border="0" cellspacing="0" cellpadding="0">
    <tr>
      <td ><span style="font-family:arial;font-size:24px; font-weight:bold; letter-spacing:-1px; line-height:26px; color: #999999;">Order Placed</span><br />
<br />A new order has been submitted. Details are included below:</span><br />
<span style="color:#999999; font-family: Arial; font-size:10px; line-height:14px; text-decoration:none;"></span>
</td>
    </tr>
    <tr>
      <td style="border-bottom:1px solid #d0cfcf;">&nbsp;</td>
    </tr>

    <tr>
      <td style="border-bottom:1px solid #d0cfcf;"><table width="100%" border="0" cellspacing="8" cellpadding="5">
        <tr>
          <td width="150" valign="top"><span>
                 <u><b> Contact Information</b></u><br />
                 <a style="color:#0a8bdd; font-family: Arial; font-size:13px; line-height:18px; text-decoration:none;">{{ user.first_name }}&nbsp;{{ user.last_name }} <br/>{{ user.email }}<br/> {{ order.shipping_address.phone_number }}</a></span>
          </span></td>
          <td width="408" valign="top"><span style="color:#7b7b7b; font-family: Arial; font-size:10px; line-height:14px; text-decoration:none;"><br />
            <br /> 
          </span>
          <div style="padding-left:50px;">
          <p><a href="#" style="color:#0a8bdd; font-family: Arial; font-size:13px; line-height:18px; text-decoration:none;"> </a> 
          </p>
          <p><a href="#" style="color:#0a8bdd; font-family: Arial; font-size:13px; line-height:18px; text-decoration:none;"></a> 
          <a href="#" style="color:#0a8bdd; font-family: Arial; font-size:13px; line-height:18px; text-decoration:none;"></a> </p>
                   </div><span style="float:right; color:#7b7b7b; font-family: Arial; font-size:10px; line-height:14px; text-decoration:none;"></span>             </td>
        </tr>
      </table></td>
      </tr>
    <tr>
      <td style="border-bottom:1px solid #d0cfcf;"><table width="100%" border="0" cellspacing="8" cellpadding="5">
        <tr>
          <td width="750" valign="top"><u><b> Billing Address</b></u><span> <a style="color:#0a8bdd; font-family: Arial; font-size:13px; line-height:18px; text-decoration:none;"><br/>
{{ order.shipping_address.line1 }}<br/>
{{ order.shipping_address.line2 }}<br/>
{{ order.shipping_address.state }}<br/>
{{ order.shipping_address.postcode }}<br/>
{{ order.shipping_address.country }}<br/></a></span> </span></td>
          <td width="750" valign="top"><u><b> Shipping Address</b></u><span> <a style="color:#0a8bdd; font-family: Arial; font-size:13px; line-height:18px; text-decoration:none;"><br/>
{{ order.billing_address.line1 }}<br/>
{{ order.billing_address.line2 }}<br/>
{{ order.billing_address.state }}<br/>
{{ order.billing_address.postcode }}<br/>
{{ order.billing_address.country }}<br/></a></span> </span></td>
          <td width="408" valign="top"><span style="color:#7b7b7b; font-family: Arial; font-size:10px; line-height:14px; text-decoration:none;"><a href="#" style="color:#666666; font-family: Arial; font-size:18px; line-height:22px; font-weight:bold; text-decoration:none;"></a><br />
           <br />
            </span>
              <div style="padding-left:50px;">
                <p><a href="#" style="color:#0a8bdd; font-family: Arial; font-size:13px; line-height:18px; text-decoration:none;"></a> <a href="#" style="color:#0a8bdd; font-family: Arial; font-size:13px; line-height:18px; text-decoration:none;"></a> </p>
                 </div> <span style="float:right; color:#7b7b7b; font-family: Arial; font-size:10px; line-height:14px; text-decoration:none;"></span></td>
        </tr>
      </table></td>
    </tr>
    <tr>
      <td style="border-bottom:1px solid #d0cfcf;"><table width="100%" border="0" cellspacing="8" cellpadding="5">
        <tr>
            
          <td width="200" valign="top"><u><b>SlNo</b></u><span> <a style=" font-family: Arial; font-size:13px; line-height:18px; text-decoration:none;"></a></span> </span></td>
          <td width="950" valign="top"><u><b>Item</b></u><span> <a style=" font-family: Arial; font-size:13px; line-height:18px; text-decoration:none;"></a></span> </span></td>
          <td width="100" valign="top"><u><b>Quantity</b></u><span> <a style=" font-family: Arial; font-size:13px; line-height:18px; text-decoration:none;"></a></span> </span></td>
          <td width="300" valign="top"><u><b>Unit Price</b></u><span> <a style=" font-family: Arial; font-size:13px; line-height:18px; text-decoration:none;"></a></span> </span></td>
          <td width="300" valign="top"><u><b>Sub Total</b></u><span> <a style=" font-family: Arial; font-size:13px; line-height:18px; text-decoration:none;"></a></span> </span></td>
          <td width="18" valign="top"><span style="color:#7b7b7b; font-family: Arial; font-size:10px; line-height:0px; text-decoration:none;"><a href="#" style="color:#666666; font-family: Arial; font-size:18px; line-height:22px; font-weight:bold; text-decoration:none;"></a><br />
            <br />
            </span>
              </td>
        </tr>
      </table></td>
    </tr>
      


{% for line in basket.lines.all %}
      <tr>
      <td style="border-bottom:1px solid #d0cfcf;"><table width="100%" border="0" cellspacing="8" cellpadding="5">
        <tr>

          <td width="100" valign="top"><span> <a style=" font-family: Arial; font-size:13px; line-height:18px; text-decoration:none;">{{ forloop.counter }}</a></span> </span></td>
          <td width="350" valign="top"><span> <a style=" padding-right: 76px;font-family: Arial; font-size:13px; line-height:18px; text-decoration:none;">{{ line.product.get_title }}</a></span> </span></td>
          <td width="150" valign="top"><div style="padding-left:50px;"><span> <a style=" font-family: Arial; font-size:13px; line-height:18px; text-decoration:none;">{{ line.quantity }}</a></span> </span></div></td>
          <td width="300" valign="top"><div style="padding-left:10px;"><span> <a style=" font-family: Arial; font-size:13px; line-height:18px; text-decoration:none;">AED &nbsp;{{ line.product.stockrecord.price_incl_tax }}</a></span></div> </span></td>
          <td width="230" valign="top"><span style=" font-family: Arial; font-size:12px; line-height:14px; text-decoration:none;">AED&nbsp;{{ line.line_price_incl_tax }}<a href="#" style="color:#666666; font-family: Arial; font-size:18px; line-height:22px; font-weight:bold; text-decoration:none;"></a><br />
            <br />
            </span>
              <div style="padding-left:0px;">
                <p><a href="#" style="color:#0a8bdd; font-family: Arial; font-size:13px; line-height:18px; text-decoration:none;"></a></p>
                <p><a href="#" style="color:#0a8bdd; font-family: Arial; font-size:13px; line-height:18px; text-decoration:none;"></a><a href="#" style="color:#0a8bdd; font-family: Arial; font-size:13px; line-height:18px; text-decoration:none;"></a> </p>
                 </div> <span style="float:right; color:#7b7b7b; font-family: Arial; font-size:10px; line-height:14px; text-decoration:none;"></span></td>
        </tr>
      </table></td>
    </tr>

{% endfor %}

    <tr>
        <td><br /> <div style="float:right;font-family: Arial; font-size:13px;">Shipping Charges: AED 20</div><br />
      </td>
      </tr>
      <tr>
          <td><br /> <div style="float:right;font-family: Arial; font-size:15px;"><b>Grand Total : AED &nbsp;{{ order.total_incl_tax }}</b></div><br />
      </td>
      </tr>
  </table>
</div>
<div><img src="http://www.twiching.com/static/images/bottom.gif" alt="twiching" /></div>
</div>
<div style="width:600px; margin:auto; text-align:center;">
<p style="color:#7b7b7b; font-family: Arial; font-size:10px; line-height:14px; text-decoration:none; text-align:center;">
© 2013 twiching. All Rights Reserved.<span><a href="#" style="color:#0a8bdd; font-family: Arial; font-size:10px; line-height:14px; text-decoration:none;"></a></span> </p>
</div>


</body>
</html>
