Dear {{ user.first_name }}&nbsp;{{ user.last_name }},<br/>

Successfully placed your order at {{site.name}}
<br/><br/>
<b>Order Number : {{order.number}}</b>
<br/><br/>

<table border='1' width="100%">
<thead>
<th>Sl No.</th>
<th>Item Nme</th>
<th>Quantity</th>
<th>Price</th>
</thead>
{% for line in basket.lines.all %}

<tr>
    <td><center>{{ forloop.counter }}</center></td>
<td><center>{{ line.product.get_title }}</center></td>
<td><center>{{ line.quantity }}</center></td>
<td><center>AED&nbsp;{{ line.line_price_incl_tax }}</center></td>
</tr>

{% endfor %}
</table>
<br/><br/><br/>
<label style="float: right;"><b>GRANT TOTAL : <i>AED&nbsp; {{ order.total_incl_tax }}</i></b></label>
<br/>

<h3>Shipping Address :`</h3>
{{ order.shipping_address.line1 }}<br/>
{{ order.shipping_address.line2 }}<br/>
{{ order.shipping_address.state }}<br/>
{{ order.shipping_address.postcode }}<br/>
{{ order.shipping_address.country }}<br/>


-- <br/>
Twiching Team<br/>
http://{{site.name}}

