{% extends "common/base.html" %}
{% load i18n %}
{% load widget_tweaks %}
{% load accounts %}
{% block title %}
    {% trans "twiching: Wall" %}
{% endblock %}
{% load photographs %}
{% load accounts %}
{% load thumbnail %}
{% block extra_javascript %}
    <script type="text/javascript" src="{{ STATIC_URL }}js/common.js"></script>
    <script type="text/javascript" src="{{ STATIC_URL }}js/jquery.autoresize.js"></script>
    <script type="text/javascript">
        jQuery(document).ready(function () {
            jQuery('textarea').autoResize({
                // On resize:
                onResize:function () {
                    jQuery(this).css({opacity:0.8});
                },
                // After resize:
                animateCallback:function () {
                    jQuery(this).css({opacity:1});
                },
                // Quite slow animation:
                animateDuration:300,
                // More extra space:
                extraSpace:40
            });
            //enterKeyCommentPosting()
        });

        //        function enterKeyCommentPosting(){
        //            jQuery("textarea").keyup(function(event){
        //                if(event.keyCode == 13){
        //                    var storyID = document.getElementById('current_textbox').value;
        //                    var comment = trim(document.getElementById('comment_box_'+storyID).value);
        //                    if (comment != ''){
        //                        jQuery.post(
        //                                '/wall/ajax/comment/',
        //                                {
        //                                    comment: comment,
        //                                    storyId: storyID
        //                                }, function (data) {
        //                                    if (data == 'user_not_logged_in_error'){
        //                                        window.location = '/accounts/login/';
        //                                    } else {
        //                                        jQuery("#comment_list_"+storyID).html(data);
        //                                    }
        //                                })
        //                    }
        //                    document.getElementById('comment_box_'+storyID).value = ''
        //                    jQuery('#comment_box_'+storyID).css('min-height', '13px');
        //                    jQuery('#comment_box_'+storyID).css('max-height', '13px');
        //                    jQuery('#comment_box_'+storyID).css('height', '13px');
        //
        //                }
        //            });
        //        }
        //
        function loadWall(page) {
            jQuery.post(
                    '/wall/ajax/load/',
                    {
                        pages:page
                    }, function (data) {
                        jQuery('textbox').unbind('.autoResize');
                        var htmlData = data.wallHtml;
                        htmlData = htmlData.replace('Content-Type: text/html; charset=utf-8', '')
                        jQuery('#wall_posts').append(htmlData);
                        var loadMore = '<span onclick = "loadWall(' + data.page + ')"><div style="padding: 5px; cursor: pointer;">View old posts</div></span>'
                        jQuery("#load_mode").html(loadMore);
                        if (data.showLoadDiv == false) {
                            jQuery("#paginate_loader").html('');
                        }
                        jQuery('textarea').autoResize({
                            // On resize:
                            onResize:function () {
                                jQuery(this).css({opacity:0.8});
                            },
                            // After resize:
                            animateCallback:function () {
                                jQuery(this).css({opacity:1});
                            },
                            // Quite slow animation:
                            animateDuration:300,
                            // More extra space:
                            extraSpace:40
                        });
                        //enterKeyCommentPosting()
                    }
            )
        }

        function likeStory(storyId) {
            jQuery.post(
                    '/wall/ajax/like/',
                    {
                        storyId:storyId
                    }, function (data) {
                        if (data == 'exception_error') {
                            alert('Error occurred while registering your feedback. Please try again!')
                        } else if (date == 'user_not_logged_in_error') {
                            window.location = '/accounts/login/';
                        }
                    })
        }


        function setHiddenValue(texboxId) {
            document.getElementById('current_textbox').value = texboxId;
        }

        function setFocus(storyId) {
            document.getElementById('comment_box_' + storyId).focus();
        }
    </script>
{% endblock %}
{% block extra_css %}
    <style type="text/css">
        textarea {
            border-radius: 5px;
            border: 1px solid #000;
            height: 13px;
        }

        textarea:focus {
            border-color: #f00;
        }
    </style>
{% endblock %}
{% block content %}
    <div class="clear" style="height:25px;"></div>
        <div class="photo_wall">
            <div style=" width:280px; float:left;">

                {% popular_photographers %}

                <div class="grid_4" style="float:left; width:255px;"></div>
                {% photo_of_the_month %}
                <div class="grid_4" style="float:left; width:255px;"></div>

                {% get_photos %}
                <div class="grid_4" style="float:left; width:255px; height:15px;"></div>
            </div>

    <div class="grid_8 main" style="width:628px; padding:15px; float:right; margin-right:10px;">
        <h1 class="redTitleBig"> {% trans 'Wall' %}</h1>

        <div id="wall_posts">
            {% if newFeedData != None %}
                {% for news in newFeedData %}
                    <div class="eventpost" style="margin-bottom: 0px !important;">
                        {% thumbnail news.story_actor_image "65x65" crop="top" as im %}
                        <a href="/user/{{ news.story_actor_username }}/">
                            <img src="{{ im.url }}" width="{{ im.width }}" height="{{ im.height }}"
                                 style="float:left; padding-right:20px;"/>
                        </a>
                        {% endthumbnail %}

                        <div style="width: 530px; height:140px; float:right; margin:0px;">
                            <p>
                                <strong style="font-size: 11px;">
                                    {% autoescape off %}
                                        {{ news.story }}
                                    {% endautoescape %}
                                    <br/>
                                </strong>
                                {{ news.postDate|date:DATE_FORMAT }}
                            </p>

                            <p class="wallphoto">
                                {% for photo in news.photos %}
                                    <a href="/user/{{ news.story_actor_username }}/photo/{{ photo.id }}/">
                                        {% thumbnail photo.image "126x76" crop="center" as im %}
                                        <img src="{{ im.url }}" width="{{ im.width }}" height="{{ im.height }}"
                                             alt="{{ photo.title }}" title="{{ photo.title }}"
                                             style="max-width: 126px; max-height: 76px;"/>
                                        {% endthumbnail %}
                                    </a>
                                {% endfor %}
                            </p>

                            <div class="clear" style="height:10px;"></div>
                            <div class="icon">
                                {#                                <a onclick="likeStory({{ news.story_id }})" style="cursor: pointer;"><img src="{{ STATIC_URL }}images/photos-wall_20.jpg" width="13" height="16"/>Like</a>#}
                                {#                                <a onclick="setFocus({{ news.story_id }})" style="cursor: pointer;"><img src="{{ STATIC_URL }}images/photos-wall_22.jpg" width="13" height="16"/>Comment</a>#}
                            </div>
                            <div class="clear" style="height:10px;"></div>

                            {#                            <div class="comment_bx" style="min-height: 75px !important; height: auto !important; padding-bottom: 5px;">#}
                            {#                                <div id="comment_list_{{ news.story_id }}" style="min-height: 20px !important;">#}
                            {#                                    {% if news.commentsCount > 0 %}#}
                            {#                                        {% for comment in news.comments %}#}
                            {#                                            <div>#}
                            {#                                                {% if comment.user.get_profile.avatar != '' %}#}
                            {#                                                    <a href="/user/{{ comment.user.username }}/">#}
                            {#                                                        <img src="{{ MEDIA_URL }}{{ PROFILE_IMAGE_UPLOAD_PATH }}/profiles/thumbnail/Thumb_{{ comment.user.get_profile.avatar }}"#}
                            {#                                                             width="48" height="48"#}
                            {#                                                             title="{{ comment.user.first_name }}&nbsp{{ comment.user.last_name }}">#}
                            {#                                                    </a>#}
                            {#                                                {% else %}#}
                            {#                                                    <a href="/user/{{ comment.user.username }}/">#}
                            {#                                                        <img src="{{ MEDIA_URL }}{{ PROFILE_IMAGE_UPLOAD_PATH }}/profiles/no-profile-medium.jpg" width="48" height="48"#}
                            {#                                                             title="{{ comment.user.first_name }}&nbsp{{ comment.user.last_name }}">#}
                            {#                                                    </a>#}
                            {#                                                {% endif %}#}
                            {#                                                <strong>{{ comment.user.first_name }}&nbsp{{ comment.user.last_name }}</strong> on#}
                            {#                                                <strong>{{ comment.created_on|date:DATE_FORMAT }}</strong>#}
                            {#                                                <br/>#}
                            {#                                                {{ comment.comment }}#}
                            {#                                            </div>#}
                            {#                                        {% endfor %}#}
                            {#                                    {% else %}#}
                            {#                                        {% trans "No comments posted yet for this story. Be the first one to comment on this photograph!" %}#}
                            {#                                    {% endif %}#}
                            {#                                </div>#}
                            {#                                <span style="padding-left: 5px;">#}
                            {#                                <textarea rows="1" name="comment_box_{{ news.story_id }}" id="comment_box_{{ news.story_id }}"#}
                            {#                                          style="width: 510px; background-color: white" onfocus="setHiddenValue('{{ news.story_id }}')"></textarea>#}
                            {#                                </span>#}
                            {#                            </div>#}
                            <div class="clear" style="margin-top:30px;"></div>
                        </div>

                        <div class="clear sep" style="margin-top:30px;"></div>
                    </div>
                {% endfor %}
                </div>
                <input type="hidden" name='current_textbox' id='current_textbox' value="">
                <div id='paginate_loader'>
                {% if showLoadDiv == 1 %}
                    <div style="background-color: #e7e2e5;" id='load_mode'>
                    <span onclick="loadWall(2)">
                        <div style="padding: 5px; cursor: pointer;">View old posts</div>
                    </span>
                    </div>
                {% endif %}
            {% else %}
                <div class="info" id='message' style="width: 75%; margin-left: 50px;">
                    {% trans 'We dont have any feeds to display right now. Follow more users to see more activities on your wall!' %}
                </div>
            {% endif %}
            </div>
    </div>
    </div>


{% endblock %}