{% load i18n %}
{% load bad_words_screening %}
{% load thumbnail %}
{% for news in newFeedData %}
    <div class="eventpost">
        {% thumbnail news.story_actor_image "65x65" crop="top" as im %}
        <a href="/user/{{ news.story_actor_username }}/">
            <img src="{{ im.url }}" width="{{ im.width }}" height="{{ im.height }}" style="float:left; padding-right:20px;" />
        </a>
        {% endthumbnail %}

        <div style="width:530px; height:140px; float:right; margin:0px;">
            <p>
                <strong style="font-size: 12px;">
                    {% autoescape off %}
                        {{ news.story }}
                    {% endautoescape %}
                    <br/>
                </strong>
                    {{ news.postDate|date:DATE_FORMAT }}
            </p>

            <p class="wallphoto">
                {% for photo in news.photos %}
                    <a href="/user/{{ news.story_actor_username }}/photo/{{ photo.id }}/">
                        {% thumbnail photo.image "126x76" crop="center" as im %}
                            <img src="{{ im.url }}" width="{{ im.width }}" height="{{ im.height }}" alt="{{ photo.title }}" title="{{ photo.title }}" style="max-width: 126px; max-height: 76px;" />
                        {% endthumbnail %}
                    </a>
                {% endfor %}
            </p>
{##}
{#            <div class="clear" style="height:10px;"></div>#}
{#            <div class="icon">#}
{#                <a href="#"><img src="{{ STATIC_URL }}images/photos-wall_20.jpg" width="13" height="16"/>Like</a>#}
{#                <a onclick="setFocus({{ news.story_id }})" style="cursor: pointer;"><img src="{{ STATIC_URL }}images/photos-wall_22.jpg" width="13" height="16"/>Comment</a>#}
{#            </div>#}
{#            <div class="clear" style="height:10px;"></div>#}

{#            <div class="comment_bx" style="min-height: 75px !important; height: auto !important; padding-bottom: 5px;">#}
{#                <div id="comment_list_{{ news.story_id }}" style="min-height: 20px !important;">#}
{#                    {% if news.commentsCount > 0 %}#}
{#                        {% for comment in news.comments %}#}
{#                            <div>#}
{#                                {% if comment.user.get_profile.avatar != '' %}#}
{#                                    <a href="/user/{{ comment.user.username }}/">#}
{#                                        <img src="{{ MEDIA_URL }}{{ PROFILE_IMAGE_UPLOAD_PATH }}/profiles/thumbnail/Thumb_{{ comment.user.get_profile.avatar }}"#}
{#                                             width="48" height="48"#}
{#                                             title="{{ comment.user.first_name }}&nbsp{{ comment.user.last_name }}">#}
{#                                    </a>#}
{#                                {% else %}#}
{#                                    <a href="{{ MEDIA_URL }}{{ PROFILE_IMAGE_UPLOAD_PATH }}/profiles/{{ comment.user.username }}/">#}
{#                                        <img src="no-profile-medium.jpg" width="48" height="48"#}
{#                                             title="{{ comment.user.first_name }}&nbsp{{ comment.user.last_name }}">#}
{#                                    </a>#}
{#                                {% endif %}#}
{#                                <strong>{{ comment.user.first_name }}&nbsp{{ comment.user.last_name }}</strong> on#}
{#                                <strong>{{ comment.created_on|date:DATE_FORMAT }}</strong>#}
{#                                <br/>#}
{#                                {{ comment.comment|replace_bad_words|urlize }}#}
{#                            </div>#}
{#                        {% endfor %}#}
{#                    {% else %}#}
{#                        {% trans "No comments posted yet for this story. Be the first one to comment on this photograph!" %}#}
{#                    {% endif %}#}
{#                </div>#}
{#                                <span style="padding-left: 5px;">#}
{#                                    <textarea rows="1" name="comment_box_{{ news.story_id }}" id="comment_box_{{ news.story_id }}"#}
{#                                              style="width: 510px; background-color: white" onfocus="setHiddenValue('{{ news.story_id }}')"></textarea>#}
{#                                </span>#}
            </div>
            <div class="clear" style="margin-top:30px;"></div>
        </div>

        <div class="clear sep" style="margin-top:30px;"></div>
    </div>
{% endfor %}