{% load bad_words_screening %}
{% for comment in comments %}
    <div>
        {% if comment.user.get_profile.avatar != '' %}
            <a href="/user/{{ comment.user.username }}/">
                <img src="{{ MEDIA_URL }}{{ PROFILE_IMAGE_UPLOAD_PATH }}/thumbnail/Thumb_{{ comment.user.get_profile.avatar }}"
                     width="48" height="48"
                     title="{{ comment.user.first_name }}&nbsp{{ comment.user.last_name }}">
            </a>
        {% else %}
            <a href="/user/{{ comment.user.username }}">
                <img src="{{ MEDIA_URL }}{{ PROFILE_IMAGE_UPLOAD_PATH }}/no-profile-medium.jpg" width="48" height="48"
                     title="{{ comment.user.first_name }}&nbsp{{ comment.user.last_name }}">
            </a>
        {% endif %}
        <strong>{{ comment.user.first_name }}&nbsp{{ comment.user.last_name }}</strong> on
        <strong>{{ comment.created_on|date:DATE_FORMAT }}</strong>
        <br/>
        {{ comment.comment|replace_bad_words|urlize }}
    </div>
{% endfor %}