{% extends "common/base.html" %}
{% load i18n %}
{% load widget_tweaks %}
{% load accounts %}
{% block title %}
    {% trans "Twiching: " %}{{ settings.name }} - {{ album.title }}
{% endblock %}
{% load endless %}
{% load thumbnail %}
{% block extra_css %}
    {#    <link rel="stylesheet" href="{{ MEDIA_URL }}css/colorbox.css"/>#}
    <link rel="stylesheet" href="{{ STATIC_URL }}css/rating.css"/>
    <link rel="stylesheet" href="{{ STATIC_URL }}css/prettyPhoto.css" type="text/css" media="screen" charset="utf-8"/>
{% endblock %}
{% block extra_javascript %}
    <script type="text/javascript" src="{{ STATIC_URL }}js/xcsrf.js"></script>
    <script src="{{ STATIC_URL }}js/jquery.prettyPhoto.js" type="text/javascript" charset="utf-8"></script>

    <script type="text/javascript">

        jQuery(document).ready(function () {
            jQuery("a[rel^='assistanceAlbum']").prettyPhoto({
                                                           theme:'dark_rounded',
                                                           slideshow:false,
                                                           autoplay_slideshow:false,
                                                           social_tools:false
                                                       });
        });
    </script>
{% endblock %}

{% block content %}
    <h1 style="float: left;">
        {{ settings.name }} : {{ album.category.title }}
    </h1>
    <div class="socialmedia">
        {#        <a href="#">#}
        {#            <img src="images/tweet.png"/></a> <a href="#">#}
        {#        <img src="images/linked.jpg"/>#}
        {#    </a><a href="#">#}
        {#        <img src="images/fblike.png"/>#}
        {#    </a>#}
    </div>
    <div class="clear">
    </div>
    <div class="grid_16  camera">
        <div class="grid_2">
            <img src="{{ STATIC_URL }}images/twiching_camera.jpg"/>
        </div>
        <div class="grid_9">
            <p align="justify" style="margin-bottom: 5px;">
            {% if album.description != None and album.description != '' %}
                {{ album.description }}
            {% else %}
                {% if album.category.description != None and album.category.description != '' %}
                    {{ album.category.description|safe }}
                {% else %}
                    {{ settings.note|safe }}
                {% endif %}
            {% endif %}
            </p>
        </div>
        <br/>
{#        <span>- {% trans 'team twiching' %}</span>#}
    </div>
    <div style="float: left; width: 220px; margin-left: 12px;">
        <div class="sidenav">
            <h2>
                {% trans 'What we do' %}
            </h2>

            <div class="grid_3 main assist">
                <ul class="grid_3">
                    <li style="border-top:none;">
                        <a href="/assistance/">{% trans 'All Services' %}</a>
                    </li>
                    {% for category in categories %}
                        <li {% if forloop.first %}style="border-top:none;"{% endif %}>
                            <a href="/assistance/{{ category.id }}" {% if album.category_id ==  category.id %}
                               class="selected"{% endif %}>{{ category.title }}</a>
                        </li>
                    {% endfor %}
                </ul>
            </div>
        </div>
        <div class="print">
            <a href="{{ settings.printing_assistance_url }}">
                <img src="{{ STATIC_URL }}images/print_asst.png" alt="Print Assistance"/></a>
        </div>
        <h2 style="margin-bottom: 5px;">
            Contact us</h2>

        <div class="grid_3 contactpop">
            <div class="contactpop">
                {{ settings.contact_address|safe }}
                <br/>
                {% if settings.contact_telephone != None and settings.contact_telephone != '' %}
                    <br/>
                    <b>{% trans 'Tele' %}:-</b><br/>
                    +{{ settings.contact_telephone }}<br/>
                    <br/>
                {% endif %}
                {% if settings.contact_email != None and settings.contact_email != '' %}
                    <b>{% trans 'Email' %}: -</b><br/>
                    <a href="mailto:{{ settings.contact_email }}">{{ settings.contact_email }}</a>
                    <br/>
                {% endif %}
                <br/>
                {#                <b>Get a Quote:-</b><br/>#}
                {#                <a href="#">Click here </a>to get a free<br/>#}
                {#                Quote#}
            </div>
        </div>
    </div>
    <div class="grid_9 " style="float: right;">
        <div class="maintxt_box assist_inner">
            <h2>{{ album.title }}</h2>

            <div class="grid_7 title">
                <h3>
                    <strong>{% trans 'Location' %}:</strong> {{ album.location }}</h3>

                <h3>
                    <strong>{% trans 'Photography by' %}:</strong> {{ album.photographers }}</h3>
            </div>
            <div class="postdate"><strong>{% trans 'Created On' %}:</strong>{{ album.created_on|date:DATE_FORMAT }}
            </div>
            <div class="clear"></div>
            <div style="margin-bottom:10px;"></div>
            {% paginate photographs %}
            {% for photo in photographs %}
                <div class="photo_left inner" style="height: 182px; {% cycle '' '' '' 'margin: 0px; float: right;' %}">
                    {% thumbnail photo.image "900x800" as im_big %}
                    <a href="{{ im_big.url }}" rel="assistanceAlbum" title="{{ photo.title }}">
                        {% thumbnail photo.image "154x154" crop="center" as im %}
                            <img src="{{ im.url }}" height="{{ im.height }}px" width="{{ im.width }}px"/>
                        {% endthumbnail %}
                    </a>
                    {% endthumbnail %}


                    <div class="photodetails" style="font-family: arial;">
                        <strong>{{ photo.title }}</strong>
                    </div>
                </div>
                {% cycle '' '' '' '<div class="clear" style="height: 30px;"></div>' %}
            {% endfor %}
        </div>
        <div class="grid_8">
            <div class="pagination">
                <div class="top_bottom_navi" style="text-align:center;">{% show_pages %}</div>
            </div>
        </div>
    </div>
    <div class="clear" style="height: 20px;"></div>
{% endblock %}
