{% extends "common/base.html" %}
{% load i18n %}
{% load widget_tweaks %}
{% load accounts %}
{% load endless %}
{% load thumbnail %}
{% block content %}
    <div class="clear"></div>
    <h1 style="float:left;">
        {{ settings.name }}{% if category_id != None %} - {{ current_category.title }}{% endif %}
    </h1>
    <div class="socialmedia">
{#        <a href="#" > <img src="images/tweet.png" /></a>#}
{#        <a href="#" > <img src="images/linked.jpg" /> </a>#}
{#        <a href="#" > <img src="images/fblike.png" /> </a>#}
    </div>
    <div class="clear">
    </div>
    <div class="grid_16  camera">
        <div class="grid_2">
            <img src="{{ STATIC_URL }}images/twiching_camera.jpg"/>
        </div>
        <div class="grid_9">
            <p align="justify" style="margin-bottom: 5px;">
            {% if category_id != None %}
                {% if current_category.description != None and current_category.description != '' %}
                    {{ current_category.description|safe }}
                {% else %}
                    {{ settings.note|safe }}
                {% endif %}
            {% else %}
                {{ settings.note|safe }}
            {% endif %}
            </p>
        </div>
        <br/>
{#        <span> - {% trans 'team twiching' %}</span>#}
    </div>
    <div style="float: left; width: 220px; margin-left: 12px;">
        <div class="sidenav">
            <h2>
                {% trans 'What we do' %}
            </h2>

            <div class="grid_3 main assist">
                <ul class="grid_3">
                    <li style="border-top:none;">
                        <a href="/assistance/" {% if category_id == None %} class="selected"{% endif %}>{% trans 'All Services' %}</a>
                    </li>
                    {% for category in categories %}
                        <li {% if forloop.first %}{% endif %}>
                            <a href="/assistance/{{ category.id }}" {% if category_id ==  category.id %} class="selected"{% endif %}>{{ category.title }}</a>
                        </li>
                    {% endfor %}
                </ul>
            </div>
        </div>
        <div class="print">
            <a href="{{ settings.printing_assistance_url }}">
                <img src="{{ STATIC_URL }}images/print_asst.png" alt="Print Assistance"/>
            </a>
        </div>
        <h2>{% trans 'Contact us' %}</h2>

        <div class="grid_3 contactpop">
            <div class="contactpop">
                {{ settings.contact_address|safe }}
                <br/>
                {% if settings.contact_telephone != None and settings.contact_telephone != '' %}
                <b>{% trans 'Tele' %}:-</b><br/>
                +{{ settings.contact_telephone }}<br/>
                <br/>
                {% endif %}
                {% if settings.contact_email != None and settings.contact_email != '' %}
                    <b>{% trans 'Email' %}: -</b><br/>
                    <a href="mailto:{{ settings.contact_email }}">{{ settings.contact_email }}</a>
                    <br/>
                {% endif %}
                <br/>
{#                <b>Get a Quote:-</b><br/>#}
{#                <a href="#">Click here </a>to get a free<br/>#}
{#                Quote#}
            </div>
        </div>
    </div>
    <div class="grid_9 " style="float: right;">
        <div class="maintxt_box assist">
            {% paginate albums %}
            {% for album in albums %}
                <div class="photo_left assist" style="background-image:none; height: 350px; {% cycle '' '' ' margin: 0px; float: right;' %}">
                    <a href="/assistance/album/{{ album.id }}" title="{{ album.title }}">
                        {% if album.album_image != None %}
                            {% thumbnail album.album_image "220x220" crop="center" as im %}
                                <img src="{{ im.url }}" height="{{ im.height }}px" width="{{ im.width }}px"/>
                            {% endthumbnail %}
                        {% else %}
                            <img src="{{ STATIC_URL }}images/image_not_found.jpg" height="220px" width="220px"/>
                        {% endif %}
                    </a>

                    <div class="assistdetails">
                        <span><strong>{{ album.title }}</strong></span>
                        <div class="category">
                            <img src="{{ STATIC_URL }}images/icon.png" />
                            {{ album.category }}
                        </div>
                        <div class="number">
                            <strong>Created On: </strong>{{ album.created_on|date:DATE_FORMAT }}
                        </div>
                    </div>
                </div>
                {% cycle '' '' '<div class="clear" style="height: 30px;"></div>' %}
            {% endfor %}
        </div>
        <div class="grid_8">
            <div class="top_bottom_navi" style="text-align:center;">
                {% show_pages %}
            </div>
        </div>
    </div>
    <div class="clear" style="height: 20px;"></div>
{% endblock %}