{% extends "common/base_without_breadcrumb.html" %}
{% load i18n %}

{% block navbar %}
   <li class="first"><a href="{{ shop_base }}/">{% trans "Home" %}</a></li>
{% endblock %}

{% block content %}

    <h3>{% trans "Error" %}</h3>
    <h4>{% trans "Could not find the page you were looking for." %}</h4>

{% endblock %}
