{% extends "common/base.html" %}
{% load i18n %}
{% load satchmo_cart %}
{% load satchmo_currency %}
{% load satchmo_util %}
{% load satchmo_product %}
{% load satchmo_discounts %}
{% load normalize_decimal %}
{% load widget_tweaks %}
{% load thumbnail %}
{% block title %}
    {% trans "twiching: My Cart" %}
{% endblock %}
{% block extra_javascript %}
    <script type="text/javascript">
        function updateRealQuantity() {
            document.getElementById('id_quantity').value = document.getElementById('id_quantity_new').value
        }
    </script>
{% endblock %}
{% block content %}

    <div class="my_cart">

        <h1>{% trans 'My Cart' %}</h1>

        <div class="clear"></div>
        {% if messages %}
            <div class="grid_12 main" style="line-height:32px;">
                {% for message in messages %}
                    <div id='display_message' {% if message.tags %} class="{{ message.tags }}"{% endif %}>
                        {{ message }}
                    </div>
                {% endfor %}
            </div>
        {% endif %}
        <div class="clear"></div>
        <div class="grid_12">

            <div class="maintxt_box">
                <table width="100%" border="0" cellspacing="0" cellpadding="10">
                    <tr>
                        <td align="center" valign="middle" class="head"><strong>Product Image</strong></td>
                        <td align="center" valign="middle" class="head"><strong>Product Name </strong></td>
                        <td align="center" valign="middle" class="head"><strong>Unit Price</strong></td>
                        <td align="center" valign="middle" class="head"><strong>Quantity</strong></td>
                        <td align="center" valign="middle" class="head"><strong>Subtotal</strong></td>
                        <td align="center" valign="middle" class="head"><strong>Actions</strong></td>
                    </tr>
                    {% for cartitem in cart %}
                        <tr>
                            <td align="center" valign="middle">
                                {% for img in imageList %}
                                    {% if img.cart_id == cartitem.id %}
                                        {% thumbnail img.picture "116x116" crop="top" as im %}
                                        <img src="{{ im.url }}" width="{{ im.width }}" height="{{ im.height }}" style="max-width: 116px;"/>
                                        {% endthumbnail %}
                                    {% endif %}
                                {% endfor %}
                            </td>
                            <td align="center" valign="middle">
                                <p><a href="/products/{{cartitem.product.id}}">{{ cartitem.description }}</a></p>
                            </td>
                            <td align="center" valign="middle">
                                {{ cartitem|discount_line_unit_price:sale|currency }}
                            </td>
                            <td align="center" valign="middle">
                                <input type="text" name="quantity" id="id_quantity_new" style="width:50px;"
                                       value="{{ cartitem.quantity|normalize_decimal }}"
                                       onchange="updateRealQuantity()"/>
                            </td>
                            <td align="center" valign="middle">{{ cartitem|discount_line_total:sale|currency }}</td>
                            <td align="center" valign="middle">
                                <form class="qtyform" id="form-{{ cartitem.id }}" action="/cart/qty/"
                                      method="post">{% csrf_token %}
                                    <input type="hidden" name="cartitem" value="{{ cartitem.id }}"/>
                                    <input type="hidden" name="quantity" id="id_quantity"
                                           value="{{ cartitem.quantity|normalize_decimal }}"/>
                                    <input type="submit" id="id_update_submit" value="{% trans 'Update Amount' %}"/>
                                </form>
                                <br/>

                                <form action="/cart/remove/" method="post">{% csrf_token %}
                                    <input type="hidden" name="cartitem" value="{{ cartitem.id }}"/>
                                    <input type="submit" value="{% trans 'Remove' %}"/>
                                </form>
                            </td>
                        </tr>
                    {% endfor %}
                    <tr>
                        <td colspan="6" align="right" valign="middle" style="text-align:right;">
                            <input type="button" name="continue_shopping" id="continue_shopping"
                                   value="Continue Shopping"
                                   onclick="window.location='/products'"/>
                    </tr>
                </table>
                {% if sale %}
                    {% include "product/some_discount_eligible.html" %}
                {% endif %}
            </div>
        </div>
        <div class="clear"></div>


        <div class="grid_4 clean">
            <div class="grid_4 top">
                Grand Total {{ cart|discount_cart_total:sale|currency }}
                <div class="clear"></div>
        <span style="text-align:right;">
        <input type="button" name="checkout" id="checkout" value="Proceed to Checkout" style="width: 139px;" onclick="window.location='/shipping'"/>
        </span>
            </div>


            {#        <div class="grid_4 top">#}
            {#            <h3>Estimate Shipping and Tax </h3>#}
            {#            Enter your destination to get a shipping estimate#}
            {#            <div class="clear"></div>#}
            {#            <input type="text" name="textfield4" id="textfield4" style="width:250px;"/>#}
            {##}
            {#            <div class="clear"></div>#}
            {#      <span style="text-align:right;">#}
            {#        <input type="button" name="button" id="button" value="Apply Coupon" style="float:left;"/>#}
            {#      </span></div>#}
            {#    </div>#}


            {#    <div class="grid_4 top">#}
            {##}
            {#        <h3>Estimate Shipping and Tax </h3>#}
            {#        Enter your destination to get a shipping estimate.#}
            {##}
            {##}
            {#        <form>#}
            {##}
            {#            <strong>Country</strong><br/>#}
            {#            <input type="text" name="textfield2" id="textfield2" style="width:250px;"/>#}
            {##}
            {#            <div class="clear"></div>#}
            {#            <strong>State/Province</strong><br/>#}
            {#            <input type="text" name="textfield2" id="textfield2" style="width:250px;"/>#}
            {##}
            {#            <div class="clear"></div>#}
            {#            <strong>Zip/Postal Code</strong><br/>#}
            {#            <input type="text" name="textfield3" id="textfield3" style="width:250px;"/>#}
            {##}
            {#            <div class="clear"></div>#}
            {##}
            {#        </form>#}
            {##}
            {##}
            {#        <input type="button" name="button3" id="button3" value="Get a Quote" style="float:left;"/>#}
            {##}
            {##}
            {#    </div>#}


            {#    <div class="grid_4 top">#}
            {##}
            {#        <h3>Based on your selection, you may be <br/>#}
            {#            interested in the following items:</h3>#}
            {##}
            {#        <div class="photo_left"><img width="130" height="130" src="images/cart_img.gif">#}
            {##}
            {#            <h2>US$ 110.99</h2>#}
            {#            Battery Grip Canon <br/>#}
            {#            7D BG-E7 w/ 2x LP-E6#}
            {#            <div class="clear"></div>#}
            {#            <img src="images/addtocart.gif"/> <img src="images/wishlist.gif"/>#}
            {##}
            {#        </div>#}
            {#        <div class="photo_right"><img width="130" height="130" src="images/cart_img.gif">#}
            {##}
            {#            <h2>US$ 110.99</h2>#}
            {#            Battery Grip Canon <br/>#}
            {#            7D BG-E7 w/ 2x LP-E6#}
            {#            <div class="clear"></div>#}
            {#            <img src="images/addtocart.gif"/> <img src="images/wishlist.gif"/></div>#}
            {##}
            {##}
        </div>
    </div>
{% endblock %}