{% load thumbnail %}
{% load i18n %}
{% load truncate_letters %}
<div class="maintxt">
    {% for product in products %}
        <a href="/products/{{ product.id }}" title="{{ product.name }}" style="padding: 0px;">
            <div class="product {% cycle '' '' '' 'end' %}" style="cursor: pointer;">
                {% thumbnail product.main_image.picture "116x86" crop="top" as im %}
                    <img src="{{ im.url }}" width="{{ im.width }}" height="{{ im.height }}" align="middle"/>
                {% endthumbnail %}
                <br/>
                {{ product.name|truncateletters:20}}
            </div>
        </a>
        {% cycle '' '' '' '<div class="clear"></div>' %}
    {% endfor %}
</div>