{% load thumbnail %}
{% load i18n %}
<div class="maintxt" style="padding:15px;">
    <h1 style="padding:0px; line-height:20px; margin:0px;">{% trans "Best Sellers" %}</h1>

    {% for product in products %}
    <div class="clear sep" style="margin-top: 5px; padding-top: 5px;" >  </div>
    <a href="/products/{{ product.id }}" title="{{ product.name }}" style="padding: 0px;">
        <div class="photo_left" style=" min-height:60px;  float:left; font-size:11px; width:195px; height:50px; padding-top:10px; padding-bottom:10px; background:none; border:none; text-align:left; ">
            {% thumbnail product.main_image.picture "71x52" crop="top" as im %}
                <img src="{{ im.url }}" width="{{ im.width }}" height="{{ im.height }}" style="float:right;" class="photo_month"/>
            {% endthumbnail %}
            {{ product.name }}
            <br />
            {% for price in product.price_set.values %}
                {{ currency }}&nbsp;{{ price.price }}
            {% endfor %}
        </div>
    </a>
    {% endfor %}
    <div class="clear"  >  </div>
</div>