{% extends "common/product_base.html" %}
{% load i18n %}
{% load widget_tweaks %}
{% load adzone_tags %}
{% block extra_javascript %}
    <script type="text/javascript" src="{{ STATIC_URL }}js/jquery.nivo.slider.js"></script>
    <script type="text/javascript">
        jQuery(window).load(function() {
            jQuery('#slider').nivoSlider();
        });
    </script>
{% endblock %}
{% block extra_css %}
    <link rel="stylesheet" href="{{ STATIC_URL }}css/nivo-slider.css" />
    <link rel="stylesheet" href="{{ STATIC_URL }}css/nivo-default-theme.css" />
{% endblock %}
{% load thumbnail %}
{% block content %}
    <div class="products">
        <div class="grid_3" style="float:right;">
            {% random_zone_ad 'store' 'store-home-page-block-1' %}
            {% random_zone_ad 'store' 'store-home-page-block-2' %}
            {% random_zone_ad 'store' 'store-home-page-block-3' %}
            {% random_zone_ad 'store' 'store-home-page-block-4' %}
            {% random_zone_ad 'store' 'store-home-page-block-5' %}
            {% random_zone_ad 'store' 'store-home-page-block-6' %}
        </div>

        <div class="grid_9" style="height:290px;">
            <div class="slider-wrapper theme-default">
                <div id="slider" class="nivoSlider">
                    {% for banner in bannerList %}
                        {% thumbnail banner.banner "700x280" crop='center' as im %}
                            <a href="{{ banner.link }}" {% if banner.new_window %} target="_blank" {% endif %}>
                                <img src="{{ im.url }}" width="{{ im.width }}" height="{{ im.height }}" title="{{ banner.name }}" alt="{{ banner.name }}" />
                            </a>
                        {% endthumbnail %}
                    {% endfor %}
                </div>
            </div>
{#            <img src="{{ STATIC_URL }}images/products_03.jpg" width="700" height="280"/>#}
        </div>
        {% if best_sellers_count > 0 %}
            <div class="grid_8 title" style="width:700px; float:left; margin-right:10px; margin-top:6px;">
                <h2>{% trans 'Best Sellers' %}</h2>
            </div>

            <div class="grid_9 main">
                <div class="maintxt" style="padding:8px;">
                    {% if best_sellers_count > 4 %}
                        <div class="bestseller_leftarrow">
                            <img src="{{ STATIC_URL }}images/products_13.jpg"/>
                        </div>
                    {% endif %}
                    {% for product in best_sellers %}
                        <a href="/products/{{ product.id }}" style="padding: 0px;" title="{{ product.name }}">
                            <div class="product bestsell">
                                {% thumbnail product.main_image.picture "116x86" as im %}
                                    <img src="{{ im.url }}" width="{{ im.width }}" height="{{ im.height }}" style="cursor:pointer;"/>
                                {% endthumbnail %}
                                <br />
                                {{ product.name }}
                            </div>
                        </a>
                    {% endfor %}
                    {% if best_sellers_count > 4 %}
                        <div class="bestseller_rightarrow">
                            <img src="{{ STATIC_URL }}images/products_15.jpg"/>
                        </div>
                    {% endif %}
                </div>
            </div>
        {% endif %}
        <div class="grid_8 title" style="width:700px; float:left; margin-right:10px; margin-top:6px;">
            <h2>{% trans 'Our Products' %}</h2>
        </div>
        <div class="grid_9 main">
            <div class="maintxt">
                {% for product in products %}
                    <div class="product {% cycle '' '' '' 'end' %}" style="border-width: 0px; text-align:center; position: relative;">
                        {% thumbnail product.main_image.picture "116x86" crop="center" as im %}
                            <a href="/products/{{ product.id }}" >
                            <img src="{{ im.url }}" width="{{ im.width }}" height="{{ im.height }}"/>
                            </a>
                        {% endthumbnail %}
                        <br />
                      <strong> {{ product.name }}</strong>
                        {% if product.stock <= 0 %}
                            <a href="/products/{{ product.id }}" style="padding: 0px;"><div class="out-of-stock-small"></div></a>
                        {% endif %}
                        <div class="clear"></div>
                    </div>
                    {% cycle '' '' '' '<div class="clear"></div>' %}
                {% endfor %}
            </div>
        </div>
    </div>
{% endblock %}
