{% extends "common/product_base.html" %}
{% load i18n %}
{% load widget_tweaks %}

{% block title %}
    {% trans "twiching:" %}{{ product.name }}
{% endblock %}
{% block extra_css %}
    <link rel="stylesheet" href="{{ STATIC_URL }}css/gallerystyle.css"/>
    <!--[if gte IE 5.5]>
    <style type="text/css">
        #motioncontainer {
            width:expression(Math.min(this.offsetWidth, maxwidth)+'px');
        }
    </style>
    <![endif]-->
    <!-- End Conditional Style -->
{% endblock %}
{% block extra_javascript %}
    <script type="text/javascript" src="{{ STATIC_URL }}js/motiongallery.js">
        /***********************************************
         * CMotion Image Gallery- © Dynamic Drive DHTML code library (www.dynamicdrive.com)
         * Visit http://www.dynamicDrive.com for hundreds of DHTML scripts
         * This notice must stay intact for legal use
         * Modified by Jscheuer1 for autowidth and optional starting positions
         ***********************************************/
    </script>
    <script type="text/javascript">

        function updateQuantity() {
            document.getElementById('quantity').value = document.getElementById('new_quantity').value
        }

        function changeTab(tab) {
            if (tab == 'spec') {
                jQuery('#tabSpec').addClass("selected");
                jQuery('#tabDesc').removeClass("selected");
                jQuery('#desc').hide();
                jQuery('#spec').show();
            }
            if (tab == 'desc') {
                jQuery('#tabSpec').removeClass("selected");
                jQuery('#tabDesc').addClass("selected");
                jQuery('#desc').show();
                jQuery('#spec').hide();
            }
        }

        function loadImage(image) {
            jQuery.post(
                    '/resize-image/', {
                        'image':image,
                        'height':320,
                        'width':321
                    }, function (data) {
                        if (data.status == "success") {
                            var imgHtml = '<img src="' + data.im + '">';
                            jQuery('#main_image').html(imgHtml);
                        } else {
                            alert("Sorry! Failed to load image. Please try again");
                        }
                    }
            )
        }
    </script>
    {# for share features .Added by Aswathy Raju #}
    <script type="text/javascript">var switchTo5x = true;</script>
    <script type="text/javascript" src="http://w.sharethis.com/button/buttons.js"></script>
    <script type="text/javascript">stLight.options({publisher:"488dec4a-40e8-4e47-a7a0-458c25746511"}); </script>

{% endblock %}
{% load thumbnail %}
{% block content %}
    <div class="products_inner">
    <div class="grid_3" style="float:right;">
        {# <img src="{{ STATIC_URL }}images/products_05.jpg"/> #}


        {# <div class="clear" style="height:15px;"> </div> #}


        <div class="grid_3 main" style="margin-left:0px;">
            {% featured_best_sellers_vertical %}
        </div>
        {#            <div class="grid_3 main" style="margin-left:0px;">#}
        {#                <div class="maintxt" style="padding:15px;">#}
        {#                    <h1 style="padding:0px; line-height:20px; margin:0px;">Product Review</h1>#}
        {##}
        {#                    <div class="clear sep" style="    margin-top: 5px;    padding-top: 5px;"></div>#}
        {#                    <div class="photo_left"#}
        {#                         style=" min-height:60px;  height:100px; float:left; font-size:11px; width:195px;  padding-top:0px; padding-bottom:10px; background:none; border:none; text-align:left; ">#}
        {#                        This grip performs exactly per the specification. It fits snugly against camera body with no#}
        {#                        wiggling. The battery door closes tightly &amp; securely camera body with no wiggling. The#}
        {#                        battery door.#}
        {#                    </div>#}
        {#                    <div class="clear"></div>#}
        {#                </div>#}
        {#            </div>#}


    </div>
    <div class="grid_9 main">


    <div class="maintxt">

    <h1>{{ product.name }}</h1>

    <div class="clear" style="height:15px;"></div>


    <div class="grid_4" style="padding:0px; background-color:#FFFFFF; background-image: none;">
        <div align="center" id="main_image" style="height: 275px;">
            {% thumbnail product.main_image.picture '321x320' as image %}
                <img width="{{ image.width }}" height="{{ image.height }}" src="{{ image.url }}">
            {% endthumbnail %}
        </div>
        {% if stock <= 0 %}
            <div class="out-of-stock-big"></div>
        {% endif %}

        <div class="clear" style="height:50px;"></div>
        <div id="motioncontainer" style="position:relative;overflow:hidden;">
            <div id="motiongallery" style="position:absolute;left:0;top:0;white-space: nowrap;">
                <nobr id="trueContainer">
                    {% for image in productImages %}
                        {% thumbnail image.picture '50x50' crop="center" as im %}
                            <img width="{{ im.width }}" height="{{ im.height }}" src="{{ im.url }}" onclick="loadImage('{{ image.picture }}')" style="cursor: pointer; border: 1px solid #E2E2E2; padding: 5px;">
                        {% endthumbnail %}
                    {% endfor %}
                </nobr>
            </div>
        </div>

        {#                    <div style="float:left; width:47%;">#}
        {#                        <img src="{{ STATIC_URL }}images/products-detail_08.jpg" width="67" height="19"/>#}
        {#                        <img src="{{ STATIC_URL }}images/products-detail_10.jpg" width="67" height="19"/></div>#}
        {#                    <div style="float:right; width:45%; text-align:right;">#}
        {#                        <img src="{{ STATIC_URL }}images/products-detail_13.jpg" width="20" height="16"/>#}
        {#                        <img src="{{ STATIC_URL }}images/products-detail_14.jpg" width="20" height="16"/>#}
        {#                        <img src="{{ STATIC_URL }}images/products-detail_15.jpg" width="20" height="16"/>#}
        {#                        <img src="{{ STATIC_URL }}images/products-detail_16.jpg" width="16" height="16"/></div>#}

        <div class="clear"></div>

    </div>

    <div class="grid_4" style="float:right; background-color:#FFFFFF;  ">
        <p><strong>{% trans "Product Name" %}</strong> : {{ product.name }} <br/>
            <strong>Category</strong> :
            {% for c in category %}
                {{ c.name }}
                {% if not forloop.last %}
                    ,
                {% endif %}
            {% endfor %}
            <br/>
            {#                   <strong> Rating</strong>		: <img width="52" height="9" src="images/photos-profiles-details_41.jpg" />#}
        </p>

        <p align="justify">
                    <span class="red">
                    <strong>{% trans 'Quick Overview' %}</strong></span>
            <br/>
            {{ product.short_description }}
        </p>

        <div class="clear"></div>

        <div style="float:left; width:48%;">
            <strong>{% trans 'Price' %}</strong><br/>

            <h1 style="font-size:26px; font-family:Georgia, 'Times New Roman', Times, serif;  letter-spacing:-1px; font-weight:normal;">
                {% for price in product.price_set.values %}
                    {{ currency }}&nbsp;{{ price.price }}/-
                {% endfor %}
            </h1>
        </div>


        <div style="float:right; width:45%; text-align:right; ">
            <strong>{% trans 'Quantity' %}</strong><br/>
            <input type="text" value="1" id="new_quantity" name="new_quantity" size="2"
                   style="width:80px; margin-top:8px;" onchange="updateQuantity()">
        </div>

        <div class="clear" style="height:15px;"></div>
        {% if stock > 0 %}
            <form method="post" action="/cart/add/" id="options">
                {% csrf_token %}
                <input type="hidden" value="1" id="quantity" name="quantity" size="2"
                       style="width:80px; margin-top:8px;">
                <input type="hidden" value="{{ product.slug }}" id="productname" name="productname">

                <div style="float:left; width:48%; text-align:left;">
                    <input type="image" src="{{ STATIC_URL }}images/addcart.jpg" name="addcart" id="addcart"
                           style="width: 141px !important; height: 52px !important; border-style: none; border-width: 0; padding: 0px;"/>
                </div>
            </form>
            <form method="post" action="/wishlist/add/" id="options">
                <div style="float:right; width:48%; text-align:right;">
                    <input type="hidden" value="{{ product.slug }}" id="productname" name="productname">
                    {% csrf_token %}
                    <input type="image" src="{{ STATIC_URL }}images/addwishlist.jpg" name="addwish"
                           style="width: 141px !important; height: 52px !important; border-style: none; border-width: 0; padding: 0px;"/>
                </div>
            </form>
        {% else %}
            <form method="post" action="/wishlist/add/" id="options">
                <div style="float:left; width:48%; text-align:left;">
                    <input type="hidden" value="{{ product.slug }}" id="productname" name="productname">
                    {% csrf_token %}
                    <input type="image" src="{{ STATIC_URL }}images/addwishlist.jpg" name="addwish"
                           style="width: 141px !important; height: 52px !important; border-style: none; border-width: 0; padding: 0px;"/>
                </div>
            </form>
        {% endif %}


    </div>

    <div class="clear"></div>

    {#            <div class="grid_8" style="margin:0px;  width:660px;">#}
    {#                <div style="height:20px;" class="clear"></div>#}
    {##}
    {#                <ul class="tabs">#}
    {#                    <li class="selected" id="tabDesc"><a href="javascript:void(0)"#}
    {#                                                         onclick="changeTab('desc');">{% trans 'Descriptions' %}</a>#}
    {#                    </li>#}
    {#                    <li id="tabSpec"><a href="javascript:void(0)"#}
    {#                                        onclick="changeTab('spec')">{% trans 'Specifications' %}</a></li>#}
    {#                    <li><a href="#">The Other</a></li>#}
    {#                    <li><a href="#">Banana</a></li>#}
    {#                </ul>#}
    {#            </div>#}

    <div class="grid_8 main" style="margin:0px; width:660px;" id="desc">
        <div class="maintxt">
            <div class="clear"></div>
            <p>
                {{ product.description|safe }}
            </p>

            <div class="clear"></div>
        </div>
    </div>

    {#            <div class="grid_8 main" style="margin:0px; width:660px; display: none;" id="spec">#}
    {#                <div class="maintxt">#}
    {#                    <div class="clear"></div>#}
    {#                    <p>#}
    {#                        {% if product.height != None %}#}
    {#                            <strong>{% trans 'Height' %}</strong>: {{ product.height }}#}
    {#                            <br/>#}
    {#                        {% endif %}#}
    {#                        {% if product.length != None %}#}
    {#                            <strong>{% trans 'Length' %}</strong>: {{ product.length }}#}
    {#                            <br/>#}
    {#                        {% endif %}#}
    {#                        {% if product.width != None %}#}
    {#                            <strong>{% trans 'Width' %}</strong>: {{ product.width }}#}
    {#                            <br/>#}
    {#                        {% endif %}#}
    {#                        {% if product.weight != None %}#}
    {#                            <strong>{% trans 'Weight' %}</strong>: {{ product.weight }}#}
    {#                            <br/>#}
    {#                        {% endif %}#}
    {#                        {% for attribute in attributes %}#}
    {#                            <strong>{{ attribute.description }}</strong>: {{ attribute.value }}#}
    {#                            <br/>#}
    {#                        {% endfor %}#}
    {#                    </p>#}
    {##}
    {#                    <div class="clear"></div>#}
    {#                </div>#}
    {#            </div>#}

    {# for share features Added by .Aswathy Raju #}
        {% thumbnail product.main_image.picture '321x320' as im %}
            <span style="float:left;">
                                <span class='st_facebook_hcount' displayText='Facebook' st_url='{{ request.build_absolute_uri }}' st_image="{{ im.url }}"
                                      st_title="{{ product.name }}" st_summary="{{ product.short_description }}"></span>
                                <span class='st_twitter_hcount' displayText='Tweet' st_url='{{ request.build_absolute_uri }}' st_image="{{ im.url }}"
                                      st_title="{{ product.name }}" st_summary="{{ product.short_description }}"></span>
                                <span class='st_plusone_hcount' displayText='Google +1' st_url='{{ request.build_absolute_uri }}' st_image="{{ im.url }}"
                                      st_title="{{ product.name }}" st_summary="{{ product.short_description }}"></span>
                                <span class='st_pinterest_hcount' displayText='Pinterest'
                                      st_url='{{ request.build_absolute_uri }}' st_image="{{ im.url }}"
                                      st_title="{{ product.name }}" st_summary="{{ product.short_description }}"></span>
                                <span class='st_email_hcount' displayText='Email' st_url='{{ request.build_absolute_uri }}' st_image="{{ im.url }}"
                                      st_title="{{ product.name }}" st_summary="{{ product.short_description }}"></span>
                            </span>
        {% endthumbnail %}
    <div class="clear" style="height:30px;"></div>
    <h2 style="line-height:32px; font-family:Arial, Helvetica, sans-serif; "><img
            src="{{ STATIC_URL }}images/products-detail_27.jpg" width="30" height="32"/>
        {% trans 'You may also be interested in the following product(s)' %}
    </h2>

    <div class="clear"></div>

    {% for related in related_products %}
        {% if forloop.counter <= 4 %}
            <div class="photo_left" style="margin-right:30px; cursor: pointer; background:none; "
                 onclick="window.location='/products/{{ related.id }}/'">
                {% thumbnail related.main_image.picture '120x120' crop="center" as image %}
                    <img width="{{ image.width }}" height="{{ image.height }}" src="{{ image.url }}">
                {% endthumbnail %}

                {#                        <h2>#}
                {#                            {% for price in related.price_set.values %}#}
                {#                                {{ currency }}&nbsp;{{ price.price }}#}
                {#                            {% endfor %}#}
                {#                        </h2>#}
                <strong style="font-size:11px; font-weight:bold;">  {{ related.name }} </strong>

                <div class="clear"></div>
            </div>
        {% endif %}
    {% endfor %}

    <div class="clear"></div>
    </div>
    </div>
    </div>
{% endblock %}