{% load i18n %}
{% load thumbnail %}
 {% if results %}
 
 <div style="width: 670px; float: left; margin-right: 0px;">
        {% for result in results %}
        
        <div class="home-featured-cntr" style="height:393px">
            <div class="home-best-buy-icn">Best Buy</div>

            <div class="grid_5 title" style="width: 320px;">
                <h2>


                    {{ result.class.name }}
                    <span style="float: right; margin-right: 5px; position: relative; top: -3px;">
                        {#<a href="{{ category.get_absolute_url }}" title="More Products" style="float: right;">#}
                            {#<img src="{{ STATIC_URL }}images/arrow-more.png" alt="More" width="24px" height="24px">#}
                        {#</a>#}
                    </span>


                </h2>
            </div>
            <div class="grid_5 main" style="width: 318px;">
                <div class="maintxt">

                    <ul class="home-featured-prod">

                        {% for item in result.products %}
                        
                        <li>
                            <a href="{{ item.get_absolute_url }}" title="{{ item.get_title}}">
                                <div class="home-featured-prod-img" style="text-align: left;">
                                    {% for image in item.images.all|slice:":1" %}
                                    
                                    {% thumbnail image.original "140x105" crop="center" as thumb %}
                                    <img src="{{ thumb.url }}" width="{{ thumb.width }}" height="{{ thumb.height }}" alt="{{ item.product.get_title }}" class="thumbnail"></a>
                                    {% endthumbnail %}

                                    <!--<img src="home_files/home-prod1.jpg" alt="White Balance Cap" width="140px" height="105px">-->
                                    {% endfor %}
                                </div>
				<div style="width:147px;height:16px"></div>
                                <h6 class="home-featured-title">{{ item.get_title|truncatewords:2 }}</h6>
                                <div class="home-featured-price"><span>AED</span> {{ item.stockrecord.price_incl_tax}}/-</div>
                            
                        </li>
                        {% endfor %}


                    </ul>
                </div>
            </div>



        </div>
        {% endfor %}
        <div class="clear" style=" height: 20px;"></div>
    </div>
        {% endif %}
