{% extends "common/base.html" %}
{% load i18n thumbnail endless %}
{% load widget_tweaks %}
{% load currency_filters %}
{% load category_tags %}
{% load cataloge_tags %}
{% block title %}
    {% trans "Twiching: Ecommerce" %}
{% endblock %}
{% include page_template %}
{% block js %}
    {{ block.super }}
    <script src="http://code.jquery.com/jquery-latest.js"></script>
    <script src="{{ STATIC_URL }}endless_pagination/js/endless.js" type="text/javascript" charset="utf-8"></script>
<script src="{{ STATIC_URL }}endless_pagination/js/endless_on_scroll.js" type="text/javascript" charset="utf-8"></script>
<script type="text/javascript" charset="utf-8">
    var endless_on_scroll_margin = 550;
</script>
{% endblock %}
{% block extra_css %}
    <link rel="stylesheet" href="{{ STATIC_URL }}css/buttons.css">
    <link rel="stylesheet" href="{{ STATIC_URL }}css/camera.css">
    <link href='http://fonts.googleapis.com/css?family=PT+Sans+Narrow:400,700' rel='stylesheet' type='text/css'>

    <style type="text/css">.fb_hidden{position:absolute;top:-10000px;z-index:10001}
    .fb_invisible{display:none}
    .fb_reset{background:none;border-spacing:0;border:0;color:#000;cursor:auto;direction:ltr;font-family:"lucida grande", tahoma, verdana, arial, sans-serif;font-size: 11px;font-style:normal;font-variant:normal;font-weight:normal;letter-spacing:normal;line-height:1;margin:0;overflow:visible;padding:0;text-align:left;text-decoration:none;text-indent:0;text-shadow:none;text-transform:none;visibility:visible;white-space:normal;word-spacing:normal}
    .fb_link img{border:none}
    .fb_dialog{background:rgba(82, 82, 82, .7);position:absolute;top:-10000px;z-index:10001}
    .fb_dialog_advanced{padding:10px;-moz-border-radius:8px;-webkit-border-radius:8px}
    .fb_dialog_content{background:#fff;color:#333}
    .fb_dialog_close_icon{background:url(http://static.ak.fbcdn.net/rsrc.php/v1/yq/r/IE9JII6Z1Ys.png) no-repeat scroll 0 0 transparent;_background-image:url(http://static.ak.fbcdn.net/rsrc.php/v1/yL/r/s816eWC-2sl.gif);cursor:pointer;display:block;height:15px;position:absolute;right:18px;top:17px;width:15px;top:8px\9;right:7px\9}
    .fb_dialog_mobile .fb_dialog_close_icon{top:5px;left:5px;right:auto}
    .fb_dialog_padding{background-color:transparent;position:absolute;width:1px;z-index:-1}
    .fb_dialog_close_icon:hover{background:url(http://static.ak.fbcdn.net/rsrc.php/v1/yq/r/IE9JII6Z1Ys.png) no-repeat scroll 0 -15px transparent;_background-image:url(http://static.ak.fbcdn.net/rsrc.php/v1/yL/r/s816eWC-2sl.gif)}
    .fb_dialog_close_icon:active{background:url(http://static.ak.fbcdn.net/rsrc.php/v1/yq/r/IE9JII6Z1Ys.png) no-repeat scroll 0 -30px transparent;_background-image:url(http://static.ak.fbcdn.net/rsrc.php/v1/yL/r/s816eWC-2sl.gif)}
    .fb_dialog_loader{background-color:#f2f2f2;border:1px solid #606060;font-size: 24px;padding:20px}
    .fb_dialog_top_left,
    .fb_dialog_top_right,
    .fb_dialog_bottom_left,
    .fb_dialog_bottom_right{height:10px;width:10px;overflow:hidden;position:absolute}
    .fb_dialog_top_left{background:url(http://static.ak.fbcdn.net/rsrc.php/v1/ye/r/8YeTNIlTZjm.png) no-repeat 0 0;left:-10px;top:-10px}
    .fb_dialog_top_right{background:url(http://static.ak.fbcdn.net/rsrc.php/v1/ye/r/8YeTNIlTZjm.png) no-repeat 0 -10px;right:-10px;top:-10px}
    .fb_dialog_bottom_left{background:url(http://static.ak.fbcdn.net/rsrc.php/v1/ye/r/8YeTNIlTZjm.png) no-repeat 0 -20px;bottom:-10px;left:-10px}
    .fb_dialog_bottom_right{background:url(http://static.ak.fbcdn.net/rsrc.php/v1/ye/r/8YeTNIlTZjm.png) no-repeat 0 -30px;right:-10px;bottom:-10px}
    .fb_dialog_vert_left,
    .fb_dialog_vert_right,
    .fb_dialog_horiz_top,
    .fb_dialog_horiz_bottom{position:absolute;background:#525252;filter:alpha(opacity=70);opacity:.7}
    .fb_dialog_vert_left,
    .fb_dialog_vert_right{width:10px;height:100%}
    .fb_dialog_vert_left{margin-left:-10px}
    .fb_dialog_vert_right{right:0;margin-right:-10px}
    .fb_dialog_horiz_top,
    .fb_dialog_horiz_bottom{width:100%;height:10px}
    .fb_dialog_horiz_top{margin-top:-10px}
    .fb_dialog_horiz_bottom{bottom:0;margin-bottom:-10px}
    .fb_dialog_iframe{line-height:0}
    .fb_dialog_content .dialog_title{background:#6d84b4;border:1px solid #3b5998;color:#fff;font-size: 14px;font-weight:bold;margin:0}
    .fb_dialog_content .dialog_title > span{background:url(http://static.ak.fbcdn.net/rsrc.php/v1/yd/r/Cou7n-nqK52.gif)
    no-repeat 5px 50%;float:left;padding:5px 0 7px 26px}
    body.fb_hidden{-webkit-transform:none;height:100%;margin:0;left:-10000px;overflow:visible;position:absolute;top:-10000px;width:100%
    }
    .fb_dialog.fb_dialog_mobile.loading{background:url(http://static.ak.fbcdn.net/rsrc.php/v1/yO/r/_j03izEX40U.gif)
    white no-repeat 50% 50%;min-height:100%;min-width:100%;overflow:hidden;position:absolute;top:0;z-index:10001}
    .fb_dialog.fb_dialog_mobile.loading.centered{max-height:590px;min-height:590px;max-width:500px;min-width:500px}
    #fb-root #fb_dialog_ipad_overlay{background:rgba(0, 0, 0, .45);position:absolute;left:0;top:0;width:100%;min-height:100%;z-index:10000}
    #fb-root #fb_dialog_ipad_overlay.hidden{display:none}
    .fb_dialog.fb_dialog_mobile.loading iframe{visibility:hidden}
    .fb_dialog_content .dialog_header{-webkit-box-shadow:white 0 1px 1px -1px inset;background:-webkit-gradient(linear, 0 0, 0 100%, from(#738ABA), to(#2C4987));border-bottom:1px solid;border-color:#1d4088;color:#fff;font:14px Helvetica, sans-serif;font-weight:bold;text-overflow:ellipsis;text-shadow:rgba(0, 30, 84, .296875) 0 -1px 0;vertical-align:middle;white-space:nowrap}
    .fb_dialog_content .dialog_header table{-webkit-font-smoothing:subpixel-antialiased;height:43px;width:100%
    }
    .fb_dialog_content .dialog_header td.header_left{font-size: 12px;padding-left:5px;vertical-align:middle;width:60px
    }
    .fb_dialog_content .dialog_header td.header_right{font-size: 12px;padding-right:5px;vertical-align:middle;width:60px
    }
    .fb_dialog_content .touchable_button{background:-webkit-gradient(linear, 0 0, 0 100%, from(#4966A6),
    color-stop(0.5, #355492), to(#2A4887));border:1px solid #29447e;-webkit-background-clip:padding-box;-webkit-border-radius:3px;-webkit-box-shadow:rgba(0, 0, 0, .117188) 0 1px 1px inset,
    rgba(255, 255, 255, .167969) 0 1px 0;display:inline-block;margin-top:3px;max-width:85px;line-height:18px;padding:4px 12px;position:relative}
    .fb_dialog_content .dialog_header .touchable_button input{border:none;background:none;color:#fff;font:12px Helvetica, sans-serif;font-weight:bold;margin:2px -12px;padding:2px 6px 3px 6px;text-shadow:rgba(0, 30, 84, .296875) 0 -1px 0}
    .fb_dialog_content .dialog_header .header_center{color:#fff;font-size: 16px;font-weight:bold;line-height:18px;text-align:center;vertical-align:middle}
    .fb_dialog_content .dialog_content{background:url(http://static.ak.fbcdn.net/rsrc.php/v1/y9/r/jKEcVPZFk-2.gif) no-repeat 50% 50%;border:1px solid #555;border-bottom:0;border-top:0;height:150px}
    .fb_dialog_content .dialog_footer{background:#f2f2f2;border:1px solid #555;border-top-color:#ccc;height:40px}
    #fb_dialog_loader_close{float:left}
    .fb_dialog.fb_dialog_mobile .fb_dialog_close_button{text-shadow:rgba(0, 30, 84, .296875) 0 -1px 0}
    .fb_dialog.fb_dialog_mobile .fb_dialog_close_icon{visibility:hidden}
    .fb_iframe_widget{position:relative;display:-moz-inline-block;display:inline-block}
    .fb_iframe_widget iframe{position:absolute;z-index:1}
    .fb_iframe_widget span{position:relative;display:inline-block;vertical-align:text-bottom;text-align:justify}
    .fb_hide_iframes iframe{position:relative;left:-10000px}
    .fb_iframe_widget_loader{position:relative;display:inline-block}
    .fb_iframe_widget_fluid{display:inline}
    .fb_iframe_widget_loader iframe{min-height:32px;z-index:2;zoom:1}
    .fb_iframe_widget_loader .FB_Loader{background:url(http://static.ak.fbcdn.net/rsrc.php/v1/y9/r/jKEcVPZFk-2.gif) no-repeat;height:32px;width:32px;margin-left:-16px;position:absolute;left:50%;z-index:4}
    .fb_button_simple,
    .fb_button_simple_rtl{background-image:url(http://static.ak.fbcdn.net/rsrc.php/v1/yH/r/eIpbnVKI9lR.png);background-repeat:no-repeat;cursor:pointer;outline:none;text-decoration:none}
    .fb_button_simple_rtl{background-position:right 0}
    .fb_button_simple .fb_button_text{margin:0 0 0 20px;padding-bottom:1px}
    .fb_button_simple_rtl .fb_button_text{margin:0 10px 0 0}
    a.fb_button_simple:hover .fb_button_text,
    a.fb_button_simple_rtl:hover .fb_button_text,
    .fb_button_simple:hover .fb_button_text,
    .fb_button_simple_rtl:hover .fb_button_text{text-decoration:underline}
    .fb_button,
    .fb_button_rtl{background:#29447e url(http://static.ak.fbcdn.net/rsrc.php/v1/yL/r/FGFbc80dUKj.png);background-repeat:no-repeat;cursor:pointer;display:inline-block;padding:0 0 0 1px;text-decoration:none;outline:none}
    .fb_button .fb_button_text,
    .fb_button_rtl .fb_button_text{background:#5f78ab url(http://static.ak.fbcdn.net/rsrc.php/v1/yL/r/FGFbc80dUKj.png);border-top:solid 1px #879ac0;border-bottom:solid 1px #1a356e;color:#fff;display:block;font-family:"lucida grande",tahoma,verdana,arial,sans-serif;font-weight:bold;padding:2px 6px 3px 6px;margin:1px 1px 0 21px;text-shadow:none}
    a.fb_button,
    a.fb_button_rtl,
    .fb_button,
    .fb_button_rtl{text-decoration:none}
    a.fb_button:active .fb_button_text,
    a.fb_button_rtl:active .fb_button_text,
    .fb_button:active .fb_button_text,
    .fb_button_rtl:active .fb_button_text{border-bottom:solid 1px #29447e;border-top:solid 1px #45619d;background:#4f6aa3;text-shadow:none}
    .fb_button_xlarge,
    .fb_button_xlarge_rtl{background-position:left -60px;font-size: 24px;line-height:30px}
    .fb_button_xlarge .fb_button_text{padding:3px 8px 3px 12px;margin-left:38px}
    a.fb_button_xlarge:active{background-position:left -99px}
    .fb_button_xlarge_rtl{background-position:right -268px}
    .fb_button_xlarge_rtl .fb_button_text{padding:3px 8px 3px 12px;margin-right:39px}
    a.fb_button_xlarge_rtl:active{background-position:right -307px}
    .fb_button_large,
    .fb_button_large_rtl{background-position:left -138px;font-size: 13px;line-height:16px}
    .fb_button_large .fb_button_text{margin-left:24px;padding:2px 6px 4px 6px}
    a.fb_button_large:active{background-position:left -163px}
    .fb_button_large_rtl{background-position:right -346px}
    .fb_button_large_rtl .fb_button_text{margin-right:25px}
    a.fb_button_large_rtl:active{background-position:right -371px}
    .fb_button_medium,
    .fb_button_medium_rtl{background-position:left -188px;font-size: 11px;line-height:14px}
    a.fb_button_medium:active{background-position:left -210px}
    .fb_button_medium_rtl{background-position:right -396px}
    .fb_button_text_rtl,
    .fb_button_medium_rtl .fb_button_text{padding:2px 6px 3px 6px;margin-right:22px}
    a.fb_button_medium_rtl:active{background-position:right -418px}
    .fb_button_small,
    .fb_button_small_rtl{background-position:left -232px;font-size: 10px;line-height:10px}
    .fb_button_small .fb_button_text{padding:2px 6px 3px;margin-left:17px}
    a.fb_button_small:active,
    .fb_button_small:active{background-position:left -250px}
    .fb_button_small_rtl{background-position:right -440px}
    .fb_button_small_rtl .fb_button_text{padding:2px 6px;margin-right:18px}
    a.fb_button_small_rtl:active{background-position:right -458px}
    .fb_share_count_wrapper{position:relative;float:left}
    .fb_share_count{background:#b0b9ec none repeat scroll 0 0;color:#333;font-family:"lucida grande", tahoma, verdana, arial, sans-serif;text-align:center}
    .fb_share_count_inner{background:#e8ebf2;display:block}
    .fb_share_count_right{margin-left:-1px;display:inline-block}
    .fb_share_count_right .fb_share_count_inner{border-top:solid 1px #e8ebf2;border-bottom:solid 1px #b0b9ec;margin:1px 1px 0 1px;font-size: 10px;line-height:10px;padding:2px 6px 3px;font-weight:bold}
    .fb_share_count_top{display:block;letter-spacing:-1px;line-height:34px;margin-bottom:7px;font-size: 22px;border:solid 1px #b0b9ec}
    .fb_share_count_nub_top{border:none;display:block;position:absolute;left:7px;top:35px;margin:0;padding:0;width:6px;height:7px;background-repeat:no-repeat;background-image:url(http://static.ak.fbcdn.net/rsrc.php/v1/yU/r/bSOHtKbCGYI.png)}
    .fb_share_count_nub_right{border:none;display:inline-block;padding:0;width:5px;height:10px;background-repeat:no-repeat;background-image:url(http://static.ak.fbcdn.net/rsrc.php/v1/yX/r/i_oIVTKMYsL.png);vertical-align:top;background-position:right 5px;z-index:10;left:2px;margin:0 2px 0 0;position:relative}
    .fb_share_no_count{display:none}
    .fb_share_size_Small .fb_share_count_right .fb_share_count_inner{font-size: 10px}
    .fb_share_size_Medium .fb_share_count_right .fb_share_count_inner{font-size: 11px;padding:2px 6px 3px;letter-spacing:-1px;line-height:14px}
    .fb_share_size_Large .fb_share_count_right .fb_share_count_inner{font-size: 13px;line-height:16px;padding:2px 6px 4px;font-weight:normal;letter-spacing:-1px}
    .fb_share_count_hidden .fb_share_count_nub_top,
    .fb_share_count_hidden .fb_share_count_top,
    .fb_share_count_hidden .fb_share_count_nub_right,
    .fb_share_count_hidden .fb_share_count_right{visibility:hidden}
    .fb_connect_bar_container div,
    .fb_connect_bar_container span,
    .fb_connect_bar_container a,
    .fb_connect_bar_container img,
    .fb_connect_bar_container strong{background:none;border-spacing:0;border:0;direction:ltr;font-style:normal;font-variant:normal;letter-spacing:normal;line-height:1;margin:0;overflow:visible;padding:0;text-align:left;text-decoration:none;text-indent:0;text-shadow:none;text-transform:none;visibility:visible;white-space:normal;word-spacing:normal;vertical-align:baseline}
    .fb_connect_bar_container{position:fixed;left:0 !important;right:0 !important;height:42px !important;padding:0 25px !important;margin:0 !important;vertical-align:middle !important;border-bottom:1px solid #333 !important;background:#3b5998 !important;z-index:99999999 !important;overflow:hidden !important}
    .fb_connect_bar_container_ie6{position:absolute;top:expression(document.compatMode=="CSS1Compat"? document.documentElement.scrollTop+"px":body.scrollTop+"px")}
    .fb_connect_bar{position:relative;margin:auto;height:100%;width:100%;padding:6px 0 0 0 !important;background:none;color:#fff !important;font-family:"lucida grande", tahoma, verdana, arial, sans-serif !important;font-size: 13px !important;font-style:normal !important;font-variant:normal !important;font-weight:normal !important;letter-spacing:normal !important;line-height:1 !important;text-decoration:none !important;text-indent:0 !important;text-shadow:none !important;text-transform:none !important;white-space:normal !important;word-spacing:normal !important}
    .fb_connect_bar a:hover{color:#fff}
    .fb_connect_bar .fb_profile img{height:30px;width:30px;vertical-align:middle;margin:0 6px 5px 0}
    .fb_connect_bar div a,
    .fb_connect_bar span,
    .fb_connect_bar span a{color:#bac6da;font-size: 11px;text-decoration:none}
    .fb_connect_bar .fb_buttons{float:right;margin-top:7px}
    .fb_edge_widget_with_comment{position:relative;*z-index:1000}
    .fb_edge_widget_with_comment span.fb_edge_comment_widget{position:absolute}
    .fb_edge_widget_with_comment span.fb_send_button_form_widget{z-index:1}
    .fb_edge_widget_with_comment span.fb_send_button_form_widget .FB_Loader{left:0;top:1px;margin-top:6px;margin-left:0;background-position:50% 50%;background-color:#fff;height:150px;width:394px;border:1px #666 solid;border-bottom:2px solid #283e6c;z-index:1}
    .fb_edge_widget_with_comment span.fb_send_button_form_widget.dark .FB_Loader{background-color:#000;border-bottom:2px solid #ccc}
    .fb_edge_widget_with_comment span.fb_send_button_form_widget.siderender
.FB_Loader{margin-top:0}
    .fbpluginrecommendationsbarleft,
    .fbpluginrecommendationsbarright{position:fixed !important;bottom:0;z-index:999}
        /* @noflip */
    .fbpluginrecommendationsbarleft{left:10px}
        /* @noflip */
    .fbpluginrecommendationsbarright{right:10px}
    </style><style type="text/css" charset="utf-8">/* See license.txt for terms of usage */

.firebugCanvas {

    position:fixed;

    top: 0;

    left: 0;

    display:none;

    border: 0 none;

    margin: 0;

    padding: 0;

    outline: 0;

}



.firebugCanvas:before, .firebugCanvas:after {

    content: "";

}



.firebugHighlight {

    z-index: 2147483646;

    position: fixed;

    background-color: #3875d7;

    margin: 0;

    padding: 0;

    outline: 0;

    border: 0 none;

}



.firebugHighlight:before, .firebugHighlight:after {

    content: "";

}



.firebugLayoutBoxParent {

    z-index: 2147483646;

    position: fixed;

    background-color: transparent;

    border-top: 0 none;

    border-right: 1px dashed #E00 !important;

    border-bottom: 1px dashed #E00 !important;

    border-left: 0 none;

    margin: 0;

    padding: 0;

    outline: 0;

}



.firebugRuler {

    position: absolute;

    margin: 0;

    padding: 0;

    outline: 0;

    border: 0 none;

}



.firebugRuler:before, .firebugRuler:after {

    content: "";

}



.firebugRulerH {

    top: -15px;

    left: 0;

    width: 100%;

    height: 14px;

    background: url("data:image/png,%89PNG%0D%0A%1A%0A%00%00%00%0DIHDR%00%00%13%88%00%00%00%0E%08%02%00%00%00L%25a%0A%00%00%00%04gAMA%00%00%D6%D8%D4OX2%00%00%00%19tEXtSoftware%00Adobe%20ImageReadyq%C9e%3C%00%00%04%F8IDATx%DA%EC%DD%D1n%E2%3A%00E%D1%80%F8%FF%EF%E2%AF2%95%D0D4%0E%C1%14%B0%8Fa-%E9%3E%CC%9C%87n%B9%81%A6W0%1C%A6i%9A%E7y%0As8%1CT%A9R%A5J%95*U%AAT%A9R%A5J%95*U%AAT%A9R%A5J%95*U%AAT%A9R%A5J%95*U%AAT%A9R%A5J%95*U%AAT%A9R%A5J%95*U%AAT%A9R%A5J%95*U%AATE9%FE%FCw%3E%9F%AF%2B%2F%BA%97%FDT%1D~K(%5C%9D%D5%EA%1B%5C%86%B5%A9%BDU%B5y%80%ED%AB*%03%FAV9%AB%E1%CEj%E7%82%EF%FB%18%BC%AEJ8%AB%FA'%D2%BEU9%D7U%ECc0%E1%A2r%5DynwVi%CFW%7F%BB%17%7Dy%EACU%CD%0E%F0%FA%3BX%FEbV%FEM%9B%2B%AD%BE%AA%E5%95v%AB%AA%E3E5%DCu%15rV9%07%B5%7F%B5w%FCm%BA%BE%AA%FBY%3D%14%F0%EE%C7%60%0EU%AAT%A9R%A5J%95*U%AAT%A9R%A5J%95*U%AAT%A9R%A5J%95*U%AAT%A9R%A5J%95*U%AAT%A9R%A5JU%88%D3%F5%1F%AE%DF%3B%1B%F2%3E%DAUCNa%F92%D02%AC%7Dm%F9%3A%D4%F2%8B6%AE*%BF%5C%C2Ym~9g5%D0Y%95%17%7C%C8c%B0%7C%18%26%9CU%CD%13i%F7%AA%90%B3Z%7D%95%B4%C7%60%E6E%B5%BC%05%B4%FBY%95U%9E%DB%FD%1C%FC%E0%9F%83%7F%BE%17%7DkjMU%E3%03%AC%7CWj%DF%83%9An%BCG%AE%F1%95%96yQ%0Dq%5Dy%00%3Et%B5'%FC6%5DS%95pV%95%01%81%FF'%07%00%00%00%00%00%00%00%00%00%F8x%C7%F0%BE%9COp%5D%C9%7C%AD%E7%E6%EBV%FB%1E%E0(%07%E5%AC%C6%3A%ABi%9C%8F%C6%0E9%AB%C0'%D2%8E%9F%F99%D0E%B5%99%14%F5%0D%CD%7F%24%C6%DEH%B8%E9rV%DFs%DB%D0%F7%00k%FE%1D%84%84%83J%B8%E3%BA%FB%EF%20%84%1C%D7%AD%B0%8E%D7U%C8Y%05%1E%D4t%EF%AD%95Q%BF8w%BF%E9%0A%BF%EB%03%00%00%00%00%00%00%00%00%00%B8vJ%8E%BB%F5%B1u%8Cx%80%E1o%5E%CA9%AB%CB%CB%8E%03%DF%1D%B7T%25%9C%D5(%EFJM8%AB%CC'%D2%B2*%A4s%E7c6%FB%3E%FA%A2%1E%80~%0E%3E%DA%10x%5D%95Uig%15u%15%ED%7C%14%B6%87%A1%3B%FCo8%A8%D8o%D3%ADO%01%EDx%83%1A~%1B%9FpP%A3%DC%C6'%9C%95gK%00%00%00%00%00%00%00%00%00%20%D9%C9%11%D0%C0%40%AF%3F%EE%EE%92%94%D6%16X%B5%BCMH%15%2F%BF%D4%A7%C87%F1%8E%F2%81%AE%AAvzr%DA2%ABV%17%7C%E63%83%E7I%DC%C6%0Bs%1B%EF6%1E%00%00%00%00%00%00%00%00%00%80cr%9CW%FF%7F%C6%01%0E%F1%CE%A5%84%B3%CA%BC%E0%CB%AA%84%CE%F9%BF)%EC%13%08WU%AE%AB%B1%AE%2BO%EC%8E%CBYe%FE%8CN%ABr%5Dy%60~%CFA%0D%F4%AE%D4%BE%C75%CA%EDVB%EA(%B7%F1%09g%E5%D9%12%00%00%00%00%00%00%00%00%00H%F6%EB%13S%E7y%5E%5E%FB%98%F0%22%D1%B2'%A7%F0%92%B1%BC%24z3%AC%7Dm%60%D5%92%B4%7CEUO%5E%F0%AA*%3BU%B9%AE%3E%A0j%94%07%A0%C7%A0%AB%FD%B5%3F%A0%F7%03T%3Dy%D7%F7%D6%D4%C0%AAU%D2%E6%DFt%3F%A8%CC%AA%F2%86%B9%D7%F5%1F%18%E6%01%F8%CC%D5%9E%F0%F3z%88%AA%90%EF%20%00%00%00%00%00%00%00%00%00%C0%A6%D3%EA%CFi%AFb%2C%7BB%0A%2B%C3%1A%D7%06V%D5%07%A8r%5D%3D%D9%A6%CAu%F5%25%CF%A2%99%97zNX%60%95%AB%5DUZ%D5%FBR%03%AB%1C%D4k%9F%3F%BB%5C%FF%81a%AE%AB'%7F%F3%EA%FE%F3z%94%AA%D8%DF%5B%01%00%00%00%00%00%00%00%00%00%8E%FB%F3%F2%B1%1B%8DWU%AAT%A9R%A5J%95*U%AAT%A9R%A5J%95*U%AAT%A9R%A5J%95*U%AAT%A9R%A5J%95*U%AAT%A9R%A5J%95*U%AAT%A9R%A5J%95*U%AAT%A9R%A5J%95*UiU%C7%BBe%E7%F3%B9%CB%AAJ%95*U%AAT%A9R%A5J%95*U%AAT%A9R%A5J%95*U%AAT%A9R%A5J%95*U%AAT%A9R%A5J%95*U%AAT%A9R%A5J%95*U%AAT%A9R%A5J%95*U%AAT%A9R%A5*%AAj%FD%C6%D4%5Eo%90%B5Z%ADV%AB%D5j%B5Z%ADV%AB%D5j%B5Z%ADV%AB%D5j%B5Z%ADV%AB%D5j%B5Z%ADV%AB%D5j%B5Z%ADV%AB%D5j%B5Z%ADV%AB%D5j%B5%86%AF%1B%9F%98%DA%EBm%BBV%AB%D5j%B5Z%ADV%AB%D5j%B5Z%ADV%AB%D5j%B5Z%ADV%AB%D5j%B5Z%ADV%AB%D5j%B5Z%ADV%AB%D5j%B5Z%ADV%AB%D5j%B5Z%AD%D6%E4%F58%01%00%00%00%00%00%00%00%00%00%00%00%00%00%40%85%7F%02%0C%008%C2%D0H%16j%8FX%00%00%00%00IEND%AEB%60%82") repeat-x;

    border-top: 1px solid #BBBBBB;

    border-right: 1px dashed #BBBBBB;

    border-bottom: 1px solid #000000;

}



.firebugRulerV {

    top: 0;

    left: -15px;

    width: 14px;

    height: 100%;

    background: url("data:image/png,%89PNG%0D%0A%1A%0A%00%00%00%0DIHDR%00%00%00%0E%00%00%13%88%08%02%00%00%00%0E%F5%CB%10%00%00%00%04gAMA%00%00%D6%D8%D4OX2%00%00%00%19tEXtSoftware%00Adobe%20ImageReadyq%C9e%3C%00%00%06~IDATx%DA%EC%DD%D1v%A20%14%40Qt%F1%FF%FF%E4%97%D9%07%3BT%19%92%DC%40(%90%EEy%9A5%CB%B6%E8%F6%9Ac%A4%CC0%84%FF%DC%9E%CF%E7%E3%F1%88%DE4%F8%5D%C7%9F%2F%BA%DD%5E%7FI%7D%F18%DDn%BA%C5%FB%DF%97%BFk%F2%10%FF%FD%B4%F2M%A7%FB%FD%FD%B3%22%07p%8F%3F%AE%E3%F4S%8A%8F%40%EEq%9D%BE8D%F0%0EY%A1Uq%B7%EA%1F%81%88V%E8X%3F%B4%CEy%B7h%D1%A2E%EBohU%FC%D9%AF2fO%8BBeD%BE%F7X%0C%97%A4%D6b7%2Ck%A5%12%E3%9B%60v%B7r%C7%1AI%8C%BD%2B%23r%00c0%B2v%9B%AD%CA%26%0C%1Ek%05A%FD%93%D0%2B%A1u%8B%16-%95q%5Ce%DCSO%8E%E4M%23%8B%F7%C2%FE%40%BB%BD%8C%FC%8A%B5V%EBu%40%F9%3B%A72%FA%AE%8C%D4%01%CC%B5%DA%13%9CB%AB%E2I%18%24%B0n%A9%0CZ*Ce%9C%A22%8E%D8NJ%1E%EB%FF%8F%AE%CAP%19*%C3%BAEKe%AC%D1%AAX%8C*%DEH%8F%C5W%A1e%AD%D4%B7%5C%5B%19%C5%DB%0D%EF%9F%19%1D%7B%5E%86%BD%0C%95%A12%AC%5B*%83%96%CAP%19%F62T%86%CAP%19*%83%96%CA%B8Xe%BC%FE)T%19%A1%17xg%7F%DA%CBP%19*%C3%BA%A52T%86%CAP%19%F62T%86%CA%B0n%A9%0CZ%1DV%C6%3D%F3%FCH%DE%B4%B8~%7F%5CZc%F1%D6%1F%AF%84%F9%0F6%E6%EBVt9%0E~%BEr%AF%23%B0%97%A12T%86%CAP%19%B4T%86%CA%B8Re%D8%CBP%19*%C3%BA%A52huX%19%AE%CA%E5%BC%0C%7B%19*CeX%B7h%A9%0C%95%E1%BC%0C%7B%19*CeX%B7T%06%AD%CB%5E%95%2B%BF.%8F%C5%97%D5%E4%7B%EE%82%D6%FB%CF-%9C%FD%B9%CF%3By%7B%19%F62T%86%CA%B0n%D1R%19*%A3%D3%CA%B0%97%A12T%86uKe%D0%EA%B02*%3F1%99%5DB%2B%A4%B5%F8%3A%7C%BA%2B%8Co%7D%5C%EDe%A8%0C%95a%DDR%19%B4T%C66%82fA%B2%ED%DA%9FC%FC%17GZ%06%C9%E1%B3%E5%2C%1A%9FoiB%EB%96%CA%A0%D5qe4%7B%7D%FD%85%F7%5B%ED_%E0s%07%F0k%951%ECr%0D%B5C%D7-g%D1%A8%0C%EB%96%CA%A0%A52T%C6)*%C3%5E%86%CAP%19%D6-%95A%EB*%95q%F8%BB%E3%F9%AB%F6%E21%ACZ%B7%22%B7%9B%3F%02%85%CB%A2%5B%B7%BA%5E%B7%9C%97%E1%BC%0C%EB%16-%95%A12z%AC%0C%BFc%A22T%86uKe%D0%EA%B02V%DD%AD%8A%2B%8CWhe%5E%AF%CF%F5%3B%26%CE%CBh%5C%19%CE%CB%B0%F3%A4%095%A1%CAP%19*Ce%A8%0C%3BO*Ce%A8%0C%95%A12%3A%AD%8C%0A%82%7B%F0v%1F%2FD%A9%5B%9F%EE%EA%26%AF%03%CA%DF9%7B%19*Ce%A8%0C%95%A12T%86%CA%B8Ze%D8%CBP%19*Ce%A8%0C%95%D1ae%EC%F7%89I%E1%B4%D7M%D7P%8BjU%5C%BB%3E%F2%20%D8%CBP%19*Ce%A8%0C%95%A12T%C6%D5*%C3%5E%86%CAP%19*Ce%B4O%07%7B%F0W%7Bw%1C%7C%1A%8C%B3%3B%D1%EE%AA%5C%D6-%EBV%83%80%5E%D0%CA%10%5CU%2BD%E07YU%86%CAP%19*%E3%9A%95%91%D9%A0%C8%AD%5B%EDv%9E%82%FFKOee%E4%8FUe%A8%0C%95%A12T%C6%1F%A9%8C%C8%3D%5B%A5%15%FD%14%22r%E7B%9F%17l%F8%BF%ED%EAf%2B%7F%CF%ECe%D8%CBP%19*Ce%A8%0C%95%E1%93~%7B%19%F62T%86%CAP%19*Ce%A8%0C%E7%13%DA%CBP%19*Ce%A8%0CZf%8B%16-Z%B4h%D1R%19f%8B%16-Z%B4h%D1R%19%B4%CC%16-Z%B4h%D1R%19%B4%CC%16-Z%B4h%D1%A2%A52%CC%16-Z%B4h%D1%A2%A52h%99-Z%B4h%D1%A2%A52h%99-Z%B4h%D1%A2EKe%98-Z%B4h%D1%A2EKe%D02%5B%B4h%D1%A2EKe%D02%5B%B4h%D1%A2E%8B%96%CA0%5B%B4h%D1%A2E%8B%96%CA%A0e%B6h%D1%A2E%8B%96%CA%A0e%B6h%D1%A2E%8B%16-%95a%B6h%D1%A2E%8B%16-%95A%CBl%D1%A2E%8B%16-%95A%CBl%D1%A2E%8B%16-Z*%C3l%D1%A2E%8B%16-Z*%83%96%D9%A2E%8B%16-Z*%83%96%D9%A2E%8B%16-Z%B4T%86%D9%A2E%8B%16-Z%B4T%06-%B3E%8B%16-Z%B4T%06-%B3E%8B%16-Z%B4h%A9%0C%B3E%8B%16-Z%B4h%A9%0CZf%8B%16-Z%B4h%A9%0CZf%8B%16-Z%B4h%D1R%19f%8B%16-Z%B4h%D1R%19%B4%CC%16-Z%B4h%D1R%19%B4%CC%16-Z%B4h%D1%A2%A52%CC%16-Z%B4h%D1%A2%A52h%99-Z%B4h%D1%A2%A52h%99-Z%B4h%D1%A2EKe%98-Z%B4h%D1%A2EKe%D02%5B%B4h%D1%A2EKe%D02%5B%B4h%D1%A2E%8B%96%CA0%5B%B4h%D1%A2E%8B%96%CA%A0e%B6h%D1%A2E%8B%96%CA%A0e%B6h%D1%A2E%8B%16-%95a%B6h%D1%A2E%8B%16-%95A%CBl%D1%A2E%8B%16-%95A%CBl%D1%A2E%8B%16-Z*%C3l%D1%A2E%8B%16-Z*%83%96%D9%A2E%8B%16-Z*%83%96%D9%A2E%8B%16-Z%B4T%86%D9%A2E%8B%16-Z%B4T%06-%B3E%8B%16-Z%B4T%06-%B3E%8B%16-Z%B4h%A9%0C%B3E%8B%16-Z%B4h%A9%0CZf%8B%16-Z%B4h%A9%0CZf%8B%16-Z%B4h%D1R%19f%8B%16-Z%B4h%D1R%19%B4%CC%16-Z%B4h%D1R%19%B4%CC%16-Z%B4h%D1%A2%A52%CC%16-Z%B4h%D1%A2%A52h%99-Z%B4h%D1%A2%A52h%99-Z%B4h%D1%A2EKe%98-Z%B4h%D1%A2EKe%D02%5B%B4h%D1%A2EKe%D02%5B%B4h%D1%A2E%8B%96%CA0%5B%B4h%D1%A2E%8B%96%CA%A0e%B6h%D1%A2E%8B%96%CA%A0e%B6h%D1%A2E%8B%16-%95a%B6h%D1%A2E%8B%16-%95A%CBl%D1%A2E%8B%16-%95A%CBl%D1%A2E%8B%16-Z*%C3l%D1%A2E%8B%16-Z*%83%96%D9%A2E%8B%16-Z*%83%96%D9%A2E%8B%16-Z%B4T%86%D9%A2E%8B%16-Z%B4T%06-%B3E%8B%16-Z%B4%AE%A4%F5%25%C0%00%DE%BF%5C'%0F%DA%B8q%00%00%00%00IEND%AEB%60%82") repeat-y;

    border-left: 1px solid #BBBBBB;

    border-right: 1px solid #000000;

    border-bottom: 1px dashed #BBBBBB;

}



.overflowRulerX > .firebugRulerV {

    left: 0;

}



.overflowRulerY > .firebugRulerH {

    top: 0;

}



    /* * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * */

.firebugLayoutBox {

    margin: 0;

    padding: 0;

    border: 0 none;

    outline: 0;

}



.firebugLayoutBox:before, .firebugLayoutBox:after {

    content: "";

}



.firebugLayoutBoxOffset {

    z-index: 2147483646;

    position: fixed;

    opacity: 0.8;

}



.firebugLayoutBoxMargin {

    background-color: #EDFF64;

}



.firebugLayoutBoxBorder {

    background-color: #666666;

}



.firebugLayoutBoxPadding {

    background-color: SlateBlue;

}



.firebugLayoutBoxContent {

    background-color: SkyBlue;

}



.firebugLayoutLine {

    z-index: 2147483646;

    background-color: #000000;

    opacity: 0.4;

    margin: 0;

    padding: 0;

    outline: 0;

    border: 0 none;

}



.firebugLayoutLine:before, .firebugLayoutLine:after {

    content: "";

}



.firebugLayoutLineLeft, .firebugLayoutLineRight {

    position: fixed;

    width: 1px;

    height: 100%;

}



.firebugLayoutLineTop, .firebugLayoutLineBottom {

    position: fixed;

    width: 100%;

    height: 1px;

}



.firebugLayoutLineTop {

    margin-top: -1px;

    border-top: 1px solid #999999;

}



.firebugLayoutLineRight {

    border-right: 1px solid #999999;

}



.firebugLayoutLineBottom {

    border-bottom: 1px solid #999999;

}



.firebugLayoutLineLeft {

    margin-left: -1px;

    border-left: 1px solid #999999;

}



.fbProxyElement {

    position: absolute;

    background-color: transparent;

    z-index: 2147483646;

    margin: 0;

    padding: 0;

    outline: 0;

    border: 0 none;

}


</style>

{% endblock %}

<div class="side_categories" style="padding: 8px 0;">
    {% if categories %}
        <ul class="nav nav-list">
            <li class="nav-header">{% trans "Browse categories" %}</li>
            {% for category in categories %}
                <li><a href="{{ category.0.get_absolute_url }}">{{ category.0.name }}</a>
                    {% if category.1 %}
                        <ul>
                            {% for subcategory in category.1 %}
                                <li><a href="{{ subcategory.0.get_absolute_url }}">{{ subcategory.0.name }}</a>
                            {% endfor %}
                        </ul>
                    {% endif %}
                </li>
            {% endfor %}
        </ul>
    {% endif %}
</div>

{% block content %}



    <div class="camera_details">


        <div class="grid_12 camera-cntr" style="margin-top:1px">
            <div class="camera-lft">
                

                <div class="camera-nav">
                    <div class="camera-nav-hdr">
                        <h2>Filter</h2>
                        <span class="camera-nav-collapse" style="display:none;"><a href="#" title="Collapse">Collapse</a></span>
                        <span class="camera-nav-expand"><a href="#" title="Expand">Expand</a></span>
                    </div>

                    

                    <div class="test" >
                        {% get_categories %}
                        
                        <!--<ul class="camera-nav-menu">
                            <li><a href="#">Camera</a></li>
                            <dl class="camera-nav-sub-menu">
                                <dt><a href="#">Square <span>[4]</span></a></dt>
                                <dt><a href="#">DSL <span>[15]</span></a></dt>
                                <dt><a href="#">Flash Bounce <span>[7]</span></a></dt>
                            </dl>
                        </ul>
                        -->
                    </div>



                </div>


                <div class="camera-nav mrgn-top">
                    <div class="camera-nav-hdr">
                        <h2><a href="#">Quick Links</a></h2>
                        <span class="camera-minimize"></span>					</div>
                    <ul class="camera-nav-menu">
                        <dl class="camera-det-shopping-quantity" style="margin-left: 13px;margin-top: 9px;">
                            <dt>
                                <select name="">
                                    <option>Select here</option>
                                </select>
                            </dt>
                        </dl>
                    </ul>
                </div>
		<a target="_blank" href="/feeds">
		<img src="{{STATIC_URL}}images/feedIcon.png" style="padding-top:17px;" title="Produts RSS feed">
		</a>
		
                <!--<div class="camera-thumb-small-list mrgn-top">
                    <h3 class="camera-thumb-small-title">Lens Coffee <br />Mug Canon EF <br />70-200mm f/2.8L</h3>
                    <img src="{{ STATIC_URL }}images/thumb-small-camera.jpg" align="" />
                    <div class="camera-thumb-small-buy"><a href="#" title="Details">Details</a></div>
                    <h5 class="camera-thumb-small-price">AED 99.00/-</h5>
                </div>-->
                <!--<div class="ad_banner mrgn-top flt-lft">
                    <a href="#" target="_blank"><img alt="Need Help" src="{{ STATIC_URL }}images/banner-1.jpg"></a>
                </div>-->
            </div>
            <div class="camera-rht">
                <div class="camera-breadcrumb">
                    <div class="camera-breadcrumb-list">
                        <a href="/" class="camera-breadcrumb-list-main">Home</a>
                        {% if not category %}
                            <a href="/products">Store</a>
                        {% else %}
                            {% for category in category.get_ancestors|slice:":-1" %}
                                <a>></a>
                                <a href="{{ category.get_absolute_url }}">{{ category.name }}</a>
                            {% endfor %}
                            <a class="active">{{ category.name }}</a>
                        {% endif %}



                    </div>


                    <ul class="camera-my-cart">
                        <li><span class="camera-my-cart-icn">&nbsp;</span></li>
                        <li>My Cart</li>
                        <li><span class="camera-my-cart-det"><a href="/products/cart/">{% if request.user.is_authenticated %}{{ request.user.baskets.all.0.num_lines }}{% elif request.basket.all_lines.count %}{{request.basket.all_lines.count}}{% else %}0{% endif %}</a></span></li>
                    </ul>
                </div>

                <div class="camera-thumb-cntr">
                    
                    {% paginate products %}
                    {% for product in products %}
				{% if product.has_stockrecord %}
                        <div style="cursor:pointer" onclick="document.location.href='{{ product.get_absolute_url }}'" class="camera-thumb-list" title="{{ product.get_title}}">
                             <div style="height: 45px;">
<h3 class="camera-thumb-title">{{ product.get_title|truncatewords:5 }}</h3></div>
                             <div><h4 class="camera-thumb-sub-title">{{ product.get_product_class }}</h4></div>
                                                        {% for image in product.images.all|slice:":1" %}
                                                            {% thumbnail image.original "200x240" upscale=False as thumb %}
                                                                <a href="{{ product.get_absolute_url }}"><img src="{{ thumb.url }}" width="{{ thumb.width }}" height="{{ thumb.height }}" title="{{ product.get_title }}" alt="{{ product.get_title }}" class="thumbnail"></a>
                                                            {% endthumbnail %}
                                                        {% endfor %}
                            <div class="camera-thumb-det"><a href="{{ product.get_absolute_url }}" title="Details">Details</a></div>
                            <h5 class="camera-thumb-price">AED  {{ product.stockrecord.price_incl_tax}}/-</h5>
                        </div>
				{% endif %}
                    {% endfor %}
                    {% show_more %}
                    
                </div>
                
            </div>
            {% comment %}
            {% if is_paginated %}
        <div class="pagination">
            <span class="page-links">
                {% if page_obj.has_previous %}
                    <a href="/products?page={{ page_obj.previous_page_number }}">previous</a>
                {% endif %}
                <span class="page-current">
                    Page {{ page_obj.number }} of {{ page_obj.paginator.num_pages }}.
                </span>
                {% if page_obj.has_next %}
                    <a href="/products?page={{ page_obj.next_page_number }}">next</a>
                {% endif %}
            </span>
        </div>

{% endif %}
{% endcomment %}
           
        </div>
        
    </div>
{% endblock %}

{% block extra_javascript %}

    <script>
        // show section when hovered over
        jQuery('.test').click(function(){
            console.log(345);
            // jQuery(this).find('.list-alt').slideToggle();
        });

        jQuery('.test').each(function(){
            console.log(777);
            // hides Categories section, Archives section
            jQuery('.camera-nav-sub-menu',this).hide();

            // show section when hovered over
            jQuery('.test').click(function(){
                console.log(345);
                // jQuery(this).find('.list-alt').slideToggle();
            });
        });
    </script>
<script src="{{ STATIC_URL }}endless_pagination/js/endless.js" type="text/javascript" charset="utf-8"></script>
<script src="{{ STATIC_URL }}endless_pagination/js/endless_on_scroll.js" type="text/javascript" charset="utf-8"></script>
<script type="text/javascript" charset="utf-8">
    var endless_on_scroll_margin = 550;
</script>

{% endblock %}
