{% load i18n %}
<style>
   .classifieds-add-reply-list  h1 {
font-size: 16px;
font-weight: bold;
color: #E2012D;
line-height: 40px;
margin-right: 10px;
margin-left: 0px;
padding: 0px;
margin-top: 0px;
margin-bottom: 0px;
font-family: "arial";
}
</style>
				
                            <h4 style="padding-top:12px;margin-left:12px;color:#E2012D;margin-left: 0px;">Comments:</h4>
				{% if comments %}
                            {% for comment in comments %}
                            <h4 style="margin-bottom:4px;font-size: 15px;">Comment By: {{ comment.name }}</h4>
                            <p style="font-size: 16px;">{{ comment.text }}</p>
                             {% endfor %}
				{% else %}
					<p style="font-size: 16px;">No Comments</p>
				{% endif %}
<div class="classifieds-add-reply-cntr  classifieds-register" style="margin-bottom: 24px;width:540px;height:450px;margin-top:0px;">
                             <h4 style="padding-top:12px;margin-left:12px;color:#E2012D;">Post your comments here..</h4>
                             <div class="classifieds-add-reply-inner  main" style="padding-top:0px;padding-bottom:0px;">
                             <form action="{% url add_product_comment %}" method="post">{% csrf_token %}
                                 <input type="hidden" name="id" value="{{product.id}}">
                                 <ul class="classifieds-add-reply-list">
                                 <li>
                                     <p  style="margin-bottom: 8px;font-weight: bold;font-size: 16px;">Your Name:&nbsp;<font color="#FF0000">*</font></p>
						<div style="font-family:'PT Sans Narrow', sans-serif">
										{{ form.name }}
                                            {{ form.name.errors }}
						</div>
                                  </li>
                                        <li>
                                            <p  style="margin-bottom: 8px;font-weight: bold;font-size: 16px;">Email Address:&nbsp;<font color="#FF0000">*</font></p>
						<div style="font-family:'PT Sans Narrow', sans-serif">
										{{ form.email }}
                                            {{ form.email.errors }}
							</div>
                                        </li>
					<li>
                                            <p  style="margin-bottom: 8px;font-weight: bold;font-size: 16px;">Comment:&nbsp;<font color="#FF0000">*</font></p>
						<div style="font-family:'PT Sans Narrow', sans-serif">
										{{ form.text }}
                                            {{ form.text.errors }}
							</div>
                                        </li>
                                        </ul>
                                 <ul class="classifieds-add-reply-list"  style="width:430px">
                                     <li>
                                 <input name="" type="submit" value="Comment"  class="classifieds-submit-icn" />
                                     </li>
                                 </ul>
                                 
                             </form>
                             </div>
</div>
