{% load i18n %}
{% load thumbnail %}

{% if result %}
 <div class="grid_8 title" style="width: 658px; float: right; margin-right: 10px;">
        <h2>Featured Accessories
            <span style="float: right; margin-right: 5px; position: relative; top: -3px;">
                <a href="/products/accessories/" title="More Accessories"> <img src="/static/images/arrow-more.png" alt="More" width="24px" height="24px"></a>
            </span>
        </h2>
    </div>
       
       
       <div class="grid_8 main" style="width: 658px; height: 205px ! important; float: right; margin-right: 10px;background:transparent;border:0">
	<div style="width: 658px; height: 18px ! important; float: right; margin-right: 10px;background:transparent;border:0"></div>
        <div style="padding-top:1px;margin-left: -21px;">
           
            {% for product in result|slice:":4"  %}
		{% if not product.is_variant %}  
            <div class="product coders_featured " style="cursor: pointer;">
            <a href="{{ product.get_absolute_url }}" title="{{ product.get_title }}" style="padding: 0px;">
                



               
                    {% for image in product.images.all|slice:":1" %}

                    {% thumbnail image.original "100x140" upscale=False as thumb %}
                    <a href="{{ product.get_absolute_url }}"><img src="{{ thumb.url }}" title="{{ product.get_title }}" align="middle" width="100" height="100" alt="{{ product.get_title }}" class="thumbnail"></a>
                    {% endthumbnail %}

                    {% endfor %}
   
                    <!--<img src="home_files/fcae50347dd34239a4476e7f88434617.jpg" width="116"  height="86">-->

                    
                    <div  style="font-family:'PT Sans Narrow', sans-serif;font-size:14px;font-weight: normal;">{{ product.get_title|truncatewords:4 }}</div>
                                


                
            </a>
               </div>
         {% endif %}
            {% endfor %}

	
            <div class="clear"></div>

        </div>
    </div>



{% endif %}
