{% load i18n %}
{% load thumbnail %}
{% for result in results %}
{% if result.class.name == 'DSLR Cameras' %}
<ul class="camera-nav-menu">
        <ul class="camera-nav-menu">
                            <li><a href="/products/catalogue/dslr-cameras/">{{result.class.name}}</a></li>
                            {% for subresult in result.val %}
                            <dl class="camera-nav-sub-menu">
                                <dt><a href="{{ subresult.cat.get_absolute_url }}">{{ subresult.cat.name }} <span>[{{ subresult.count }}]</span></a></dt>
                            {% endfor %}
                        </ul>
                        
   
 </ul>
{% endif %}
 {% endfor %}
{% for result in results %}
{% if result.class.name == 'Lenses' %}
<ul class="camera-nav-menu">
        <ul class="camera-nav-menu">
                            <li><a href="/products/lenses">{{result.class.name}}</a></li>
                            {% for subresult in result.val %}
                            <dl class="camera-nav-sub-menu">
                                <dt><a href="{{ subresult.cat.get_absolute_url }}">{{ subresult.cat.name }} <span>[{{ subresult.count }}]</span></a></dt>
                            {% endfor %}
                        </ul>
                        
   
 </ul>
{% endif %}
 {% endfor %}
{% for result in results %}
{% if result.class.name == 'Accessories' %}
<ul class="camera-nav-menu">
        <ul class="camera-nav-menu">
                            <li><a href="/products/accessories/">{{result.class.name}}</a></li>
                            {% for subresult in result.val %}
                            <dl class="camera-nav-sub-menu" style="padding:10px 0px 3px 0px">
                                <dt><a href="{{ subresult.cat.get_absolute_url }}">{{ subresult.cat.name }} <span>[{{ subresult.count }}]</span></a></dt>
                            {% endfor %}
                        </ul>
                        
   
 </ul>
{% endif %}
 {% endfor %}
