{% load i18n %}
{% load truncate_letters %}
<div class="grid_5 title" style="width:330px;">
    <h2>
        {% trans "Latest in Learning Center" %}
        <span style="float:right; margin-right:5px; position: relative; top: -3px;">
        <a href="/learningcenter/{{ LEARNING_CENTER_ID.NEWS }}/" title="{% trans "More Photos" %}" style="float: right;">
            <img src="{{ STATIC_URL }}images/arrow-more.png" width="24px" height="24px" alt="More"/>
        </a>
    </span>
    </h2>

</div>
<div class="grid_5" style="width:320px;">
    <ul class="sidebar">
        {% for posts in latestPosts %}
            <li>
                <a href="/learningcenter/{{ posts.category.name|lower }}/{{ posts.id }}"
                   style="text-decoration: none; font-family: arial; font-size: 12px; color: #2d5392;">
                    {{ posts.title|truncateletters:45 }}
                </a>
            </li>
        {% endfor %}
    </ul>
</div>