{% extends "common/base.html" %}
{% load i18n %}
{% load endless %}
{% load adzone_tags %}
{% load thumbnail %}
{% block extra_javascript %}
    <script src="{{ STATIC_URL }}endless_pagination/js/endless.js" type="text/javascript" charset="utf-8"></script>
    <script src="{{ STATIC_URL }}endless_pagination/js/endless_on_scroll.js" type="text/javascript" charset="utf-8"></script>
    <script type="text/javascript" charset="utf-8">
        var endless_on_scroll_margin = 550;
    </script>
    <script type="text/javascript" src="{{ STATIC_URL }}js/jquery.nivo.slider.js"></script>
    <script type="text/javascript">
        jQuery(window).load(function () {

            jQuery('#slider').nivoSlider();
        });
    </script>
{% endblock %}
{% block extra_css %}
    <link rel="stylesheet" href="{{ STATIC_URL }}css/nivo-slider.css"/>
    <link rel="stylesheet" href="{{ STATIC_URL }}css/nivo-default-theme.css"/>
{% endblock %}
{% block content %}
    <div class="textsmall">
        <div class="clear"></div>

        <h1>{{ cartegoryName|title }}</h1>

        <div class="clear"></div>

        <div style="width:270px; float:right;">
            <div class="grid_3 main photography" style="float:right;">
                {% if category_id == LEARNING_CENTER_ID.NEWS %}
                    {% random_zone_ad 'learning-center' 'learning-center-news-home-page-block-1' %}
                    <div class="clear" style="height: 5px;"></div>
                    {% random_zone_ad 'learning-center' 'learning-center-news-home-page-block-2' %}
                    <div class="clear" style="height: 5px;"></div>
                    {% random_zone_ad 'learning-center' 'learning-center-news-home-page-block-3' %}
                    <div class="clear" style="height: 5px;"></div>
                    {% random_zone_ad 'learning-center' 'learning-center-news-home-page-block-4' %}
                {% else %}
                    {% if category_id == LEARNING_CENTER_ID.ARTICLES %}
                        {% random_zone_ad 'learning-center' 'learning-center-articles-home-page-block-1' %}
                        <div class="clear" style="height: 5px;"></div>
                        {% random_zone_ad 'learning-center' 'learning-center-articles-home-page-block-2' %}
                        <div class="clear" style="height: 5px;"></div>
                        {% random_zone_ad 'learning-center' 'learning-center-articles-home-page-block-3' %}
                        <div class="clear" style="height: 5px;"></div>
                        {% random_zone_ad 'learning-center' 'learning-center-articles-home-page-block-4' %}
                    {% else %}
                        {% if category_id == LEARNING_CENTER_ID.TUTORIALS %}
                            {% random_zone_ad 'learning-center' 'learning-center-tutorials-home-page-block-1' %}
                            <div class="clear" style="height: 5px;"></div>
                            {% random_zone_ad 'learning-center' 'learning-center-tutorials-home-page-block-2' %}
                            <div class="clear" style="height: 5px;"></div>
                            {% random_zone_ad 'learning-center' 'learning-center-tutorials-home-page-block-3' %}
                            <div class="clear" style="height: 5px;"></div>
                            {% random_zone_ad 'learning-center' 'learning-center-tutorials-home-page-block-4' %}
                        {% endif %}
                    {% endif %}
                {% endif %}
            </div>
        </div>
        {% show_current_number as page_number %}
        {% if  page_number == 1 %}
            <div class="grid_9 main photography">
                <h2 class="lc-title">{% trans 'Featured Posts' %}</h2>

                <div class="clear sep"></div>
                {% for posts in featuredPosts %}
                    <div class="photo_left photo" {% cycle '' 'style="margin:0px; float:right;"' %}>
                        {% thumbnail posts.image "310x110" as im %}
                            <a href="/learningcenter/{{ cartegoryName|lower }}/{{ posts.id }}" title="{{ posts.title }}">
                                <img src="{{ im.url }}" width="{{ im.width }}" height="{{ im.height }}"/>
                            </a>
                        {% endthumbnail %}
                        <br/>
                        <small style="font-size: 100%;">{% trans 'Posted' %}: {{ posts.created_on|date:DATE_FORMAT }}</small>
                        <div class="photodetails">
                            <h2><span class="lc-subtitle">{{ posts.title }}</span></h2>

                            <p style="font-family: arial; font-size: 11px;" align="justify">
                                {{ posts.summary|striptags|truncatewords:20|safe }}
                                <a href="/learningcenter/{{ cartegoryName|lower }}/{{ posts.id }}" title="{{ posts.title }}"
                                   style="font-family: arial; font-size: 11px; color: #2d5392; ">Read More</a>
                            </p>
                        </div>
                    </div>
                    {% cycle '' '<div class="clear sep"></div>' %}
                {% endfor %}
            </div>
        {% endif %}

        <div class="grid_9 main photography">
                <h2 class="lc-title">{% trans 'Latest Posts' %}</h2>

                <div class="clear sep"></div>
                {% paginate 8 latestPosts %}
                {% for posts in latestPosts %}
                    <div class="photo_left photo" {% cycle '' 'style="margin:0px; float:right;"' %}>
                        {% thumbnail posts.image "310x110" as im %}
                            <a href="/learningcenter/{{ cartegoryName|lower }}/{{ posts.id }}" title="{{ posts.title }}">
                                <img src="{{ im.url }}" width="{{ im.width }}" height="{{ im.height }}"/>
                            </a>
                        {% endthumbnail %}
                        <br/>
                        <small style="font-size: 100%;">{% trans 'Posted' %}: {{ posts.created_on|date:DATE_FORMAT }}</small>
                        <div class="photodetails">
                            <h2>
                                 <span class="lc-subtitle">{{ posts.title }}
                                     {%  if posts.featured %}
                                        <h3 style="color: #555555;font-weight: normal;font-size: 15px;">(Featured)</h3>
                                     {% endif %}
                                 </span>
                            </h2>

                            <p style="font-family: arial; font-size: 11px;" align="justify">
                                {{ posts.summary|striptags|truncatewords:20|safe }}
                                <a href="/learningcenter/{{ cartegoryName|lower }}/{{ posts.id }}" title="{{ posts.title }}"
                                   style="font-family: arial; font-size: 11px; color: #2d5392; ">Read More</a>
                            </p>
                        </div>
                    </div>
                    {% cycle '' '<div class="clear sep"></div>' %}
                {% endfor %}
                {% show_more %}
            <div id="dvLoading"></div>
            <div class="clear" style="height:10px;"></div>
            </div>
    </div>
{% endblock %}
