{% load i18n %}
{% load endless %}
{% load adzone_tags %}
{% load thumbnail %}
{% paginate 8 latestPosts %}
                {% for posts in latestPosts %}
                    <div class="photo_left photo" {% cycle '' 'style="margin:0px; float:right;"' %}>
                        {% thumbnail posts.image "310x110" as im %}
                            <a href="/learningcenter/{{ cartegoryName|lower }}/{{ posts.id }}" title="{{ posts.title }}">
                                <img src="{{ im.url }}" width="{{ im.width }}" height="{{ im.height }}"/>
                            </a>
                        {% endthumbnail %}
                        <br/>
                        <small style="font-size: 100%;">{% trans 'Posted' %}: {{ posts.created_on|date:DATE_FORMAT }}</small>
                        <div class="photodetails">
                            <h2>
                                 <span class="lc-subtitle">{{ posts.title }}
                                     {%  if posts.featured %}
                                        <h3 style="color: #555555;font-weight: normal;font-size: 15px;">(Featured)</h3>
                                     {% endif %}
                                 </span>
                            </h2>

                            <p style="font-family: arial; font-size: 11px;" align="justify">
                                {{ posts.summary|striptags|truncatewords:20|safe }}
                                <a href="/learningcenter/{{ cartegoryName|lower }}/{{ posts.id }}" title="{{ posts.title }}"
                                   style="font-family: arial; font-size: 11px; color: #2d5392; ">Read More</a>
                            </p>
                        </div>
                    </div>
                    {% cycle '' '<div class="clear sep"></div>' %}
                {% endfor %}
                {% show_more %}
