{% extends "common/base.html" %}
{% load i18n %}
{% load widget_tweaks %}
{% load thumbnail %}
{% load adzone_tags %}
{% block title %}twiching: {{ post.title }}{% endblock %}
{% block extra_javascript %}
    <script type="text/javascript">var switchTo5x=true;</script>
    <script type="text/javascript" src="http://w.sharethis.com/button/buttons.js"></script>
    <script type="text/javascript">stLight.options({publisher: "488dec4a-40e8-4e47-a7a0-458c25746511"}); </script>
{% endblock %}
{% block content %}
    <div class="textsmall">
        <div class="clear"></div>

        <h1>{{ post.title }}</h1>

        <div class="clear"></div>

        <div style="width:270px; float:right;">
            <div class="grid_3 main photography" style="float:right; background-color: #e7e7e7">
                <h2>{% trans 'Other Recent Articles' %}</h2>
                <ul style="list-style: none;">
                    {% for posts in latestPosts %}
                        <li style="border-bottom-style: inset; border-bottom-width: 1px; margin: 5px 0 5px 0;">
                            <img src="{{ STATIC_URL }}images/twiching-icon-grey.png" title="Twiching Bullets"
                                 alt="Twiching Bullets"/> &nbsp;

                            <a href="/learningcenter/{{ post.category.name|lower }}/{{ posts.id }}"
                               style="font-family: arial; font-size: 12px; color: #2d5392;">
                                {{ posts.title }}
                            </a>
                        </li>
                    {% endfor %}
                </ul>
            </div>
            <div class="grid_3 photography" style="float:right;">
                {% if category_id == LEARNING_CENTER_ID.NEWS %}
                    {% random_zone_ad 'learning-center' 'learning-center-news-view-page-block-1' %}
                    <div class="clear" style="height: 5px;"></div>
                    {% random_zone_ad 'learning-center' 'learning-center-news-view-page-block-2' %}
                    <div class="clear" style="height: 5px;"></div>
                    {% random_zone_ad 'learning-center' 'learning-center-news-view-page-block-3' %}
                    <div class="clear" style="height: 5px;"></div>
                    {% random_zone_ad 'learning-center' 'learning-center-news-view-page-block-4' %}
                {% else %}
                    {% if category_id == LEARNING_CENTER_ID.ARTICLES %}
                        {% random_zone_ad 'learning-center' 'learning-center-articles-view-page-block-1' %}
                        <div class="clear" style="height: 5px;"></div>
                        {% random_zone_ad 'learning-center' 'learning-center-articles-view-page-block-2' %}
                        <div class="clear" style="height: 5px;"></div>
                        {% random_zone_ad 'learning-center' 'learning-center-articles-view-page-block-3' %}
                        <div class="clear" style="height: 5px;"></div>
                        {% random_zone_ad 'learning-center' 'learning-center-articles-view-page-block-4' %}
                    {% else %}
                        {% if category_id == LEARNING_CENTER_ID.TUTORIALS %}
                            {% random_zone_ad 'learning-center' 'learning-center-tutorials-view-page-block-1' %}
                            <div class="clear" style="height: 5px;"></div>
                            {% random_zone_ad 'learning-center' 'learning-center-tutorials-view-page-block-2' %}
                            <div class="clear" style="height: 5px;"></div>
                            {% random_zone_ad 'learning-center' 'learning-center-tutorials-view-page-block-3' %}
                            <div class="clear" style="height: 5px;"></div>
                            {% random_zone_ad 'learning-center' 'learning-center-tutorials-view-page-block-4' %}
                        {% endif %}
                    {% endif %}
                {% endif %}
            </div>
        </div>
        <div class="grid_9 main photography">
            {% thumbnail post.image "310x110" as im %}
                <div class="maintxt" style="text-align: justify;">
                    {{ post.content|safe }}
                    <div class="clear" style="height: 20px;"></div>
                    <span class='st_facebook_hcount' displayText='Facebook' st_url='{{ request.build_absolute_uri }}' st_image="http://{{ request.get_host }}{{ im }}"
                          st_title="{{ posts.title }}" st_summary="{{ posts.summary }}"></span>
                    <span class='st_twitter_hcount' displayText='Tweet' st_url='{{ request.build_absolute_uri }}' st_image="http://{{ request.get_host }}{{ im }}"
                          st_title="{{ posts.title }}" st_summary="{{ posts.summary }}"></span>
                    <span class='st_plusone_hcount' displayText='Google +1' st_url='{{ request.build_absolute_uri }}' st_image="http://{{ request.get_host }}{{ im }}"
                          st_title="{{ posts.title }}" st_summary="{{ posts.summary }}"></span>
                    <span class='st_pinterest_hcount' displayText='Pinterest' st_url='{{ request.build_absolute_uri }}' st_image="http://{{ request.get_host }}{{ im }}"
                          st_title="{{ posts.title }}" st_summary="{{ posts.summary }}"></span>
                    <span class='st_email_hcount' displayText='Email'></span>
                </div>
            {% endthumbnail %}
        </div>
    </div>
{% endblock %}