{% extends "common/base.html" %}
{% load i18n %}
{% load endless %}
{% load photographs %}
{% load accounts %}
{% load thumbnail %}
{% load truncate_letters %}
{% block title %}
    {{ title }}
{% endblock %}
{%  block extra_css %}
    <link rel="stylesheet" href="{{ STATIC_URL }}css/search.css"/>
{% endblock %}

{% block content %}
    <div class="grid_12 srch-filter">
        <form action="/search/user/" name="frm_search_result" id="frm_search_result" method="post" >
            {% csrf_token %}
            <ul class="srch-filter-list">
                <li>
                    <div class="srch-filter-user" >
                        <input name="searchText" id="searchText" type="text" value="{{ searchTerm }}"   />
                    </div>
                </li>
                <!--li>
                    <div class="srch-filter-type2">
                        <select>
                            <option>Select Category</option>
                        </select>
                    </div>
                </li-->
                <li>
                    <div class="srch-filter-type2">
                        <select name="sortBy" id="sortBy">
                            <option value="asc"  {% if sOrder == "asc" %} selected="selected" {% endif %}>Ascending</option>
                            <option value="desc"  {% if sOrder == "desc" %} selected="selected" {% endif %}>Descending</option>
                        </select>
                    </div>
                </li>
                <li>
                    <span class="srch-filter-icn"><a href="#" title="Search"  onclick="setResultAction();">Search</a></span>
                </li>
            </ul>
        </form>
	</div>
    

    <div class="clear"></div>
    
    <div class="clear" style="height: 10px;"></div>
    
    <div class="grid_12  main" >

        <div class="top_bottom_navi" style="padding: 20px 44px;">
            
			<dl class="srch-breadcrumb">
				<dt>{{ searchTerm }}</dt>
				<dd>
					<span class="srch-breadcrumb-icn">Search</span>
				</dd>
				<dd>{{ userCnt }} Profile(s) found</dd>
			</dl>

            <div class="clear" style="height: 20px;"> &nbsp;</div>
            {% paginate data %}
            {% for d in data %}
                <a href='/user/{{ d.username }}' style="padding: 0px;">
                    <div class="photo_left thumb" style="{% cycle '' '' '' ' margin-right: 0px;' %}">
                        <div style="text-align: center !important; min-height:94px;">
                            {% thumbnail d.avatar "138x94" as im %}
                                <img src="{{ im.url }}" width="{{ im.width }}" height="{{ im.height }}"/>
                            {% endthumbnail %}
                        </div>

                        <div class="feature_box_content">

                            <h2>{{ d.full_name|truncateletters:17 }}</h2>
                            {% if d.group_name != '' %}
                                <strong> {{ d.group_name }} </strong><br/>
                            {% endif %}
                            {% trans 'Last Login' %}:
                            {{ d.last_login|date:DATE_FORMAT }}
                            {% if d.country_iso != None %}
                                <img src="{{ STATIC_URL }}flags/{{ d.country_iso }}.gif" width="16" height="11" class="flag"/>
                            {% endif %}
                        </div>
                        {% if d.twichers %}
                            <div class="ribbon"></div>
                        {% endif %}
                    </div>
                </a>
                {% cycle '' '' '' '<div class="clear" style="height:30px;"> &nbsp;</div>' %}
            {% endfor %}
            

            <div style="height: 20px;" class="clear"> &nbsp;</div>
            <div class="top_bottom_navi" style="text-align:center;">
                {% show_pages %}
            </div>

        </div>
    </div>

{% endblock %}