{% load show_menu %}

{% load googletools %}
{% load i18n %}
{% load seo %}
<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN"
        "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml">
<head>
    <meta http-equiv="Content-Type" content="text/html; charset=utf-8"/>
    <meta name="description" content="{% block meta_description %}{% meta_description %}{% endblock %}" />
    <meta name="keywords" content="{% block meta_keyword %}{% meta_keyword %}{% endblock %}" />
    <meta name="msvalidate.01" content="EB318AB505CB4BD91D999C5F72A8E3BD" />
    <title>{% block title %}{% meta_title %}{% endblock %}</title>
    <link rel="shortcut icon" href="{{ STATIC_URL }}images/favicon.ico" type="image/x-icon"/>
    <link rel="stylesheet" href="{{ STATIC_URL }}css/reset.css"/>
    <link rel="stylesheet" href="{{ STATIC_URL }}css/text.css"/>
    <link rel="stylesheet" href="{{ STATIC_URL }}css/960.css"/>
    <link rel="stylesheet" href="{{ STATIC_URL }}css/twiching.css"/>
    <link rel="stylesheet" href="{{ STATIC_URL }}css/jquery-ui.css"/>
    <link rel="stylesheet" href="{{ STATIC_URL }}css/dropmenu.css"/>
    {% block extra_css %}{% endblock %}
    <script type="text/javascript" src="{{ STATIC_URL }}js/jquery.js"></script>
    <script type="text/javascript" src="{{ STATIC_URL }}js/jquery-ui.min.js"></script>
    <script type="text/javascript" src="{{ STATIC_URL }}js/jquery.dropmenu.js"></script>
    <script type="text/javascript" src="{{ STATIC_URL }}js/xcsrf.js"></script>
    <script type="text/javascript" src="{{ STATIC_URL }}js/common.js"></script>
    <script type="text/javascript" src="{{ STATIC_URL }}js/search.js"></script>
    <script type="text/javascript">
        jQuery(document).ready(function () {
            jQuery("#nav-one").dropmenu({
                openAnimation:"slide",
                closeAnimation:"slide",
                openClick:false,
                openSpeed:500,
                closeSpeed:100,
                closeDelay:10
            });

            jQuery("#nav-two").dropmenu({
                openAnimation:"slide",
                closeAnimation:"slide",
                openClick:false,
                openSpeed:500,
                closeSpeed:100,
                closeDelay:10
            });

            jQuery('#loadingDiv')
                    .hide()// hide it initially
                    .ajaxStart(function () {
                        jQuery(this).show();
                    })
                    .ajaxStop(function () {
                        jQuery(this).hide();
                    });
            jQuery('#display_message').delay(5000).fadeOut('slow');


        });

        function rtclickcheck(keyp) {
            if (navigator.appName == "Netscape" && keyp.which == 3) {
                alert(message);
                return false;
            }
            if (navigator.appVersion.indexOf("MSIE") != -1 && event.button == 2) {
                return false;
            }
        }
        document.onmousedown = rtclickcheck;

    </script>
    {% block extra_javascript %}{% endblock %}
    {% analytics_code %}
    <!-- DRLhRd8yuPpY4Kic62mM5XI3fKw -->
</head>
<body class="textsmall">
<div style="position: fixed; bottom: 0px; right: 0px;">
    <a href="/contact-us/" title="Feedback Form">
        <img src="{{ STATIC_URL }}images/feedback-ribbon.png" alt="Feedback Form" width="74px" height="53px" />
    </a>
</div>
{% if messages %}
    <div id='display_message' class="status-message">
        <ul class="messagelist">
            {% for message in messages %}
                <li{% if message.tags %} class="{{ message.tags }}"{% endif %}>{{ message }}</li>
            {% endfor %}
        </ul>
    </div>
{% endif %}
<div id='loadingDiv' class="loading-div">
    <img src="{{ STATIC_URL }}images/ajax-loader.gif" alt="Ajax Loader">
</div>
<div class="container_12">

    <div class="grid_12 header">

        <div class="grid_3 logo">
            <a href="/"><img src="{{ STATIC_URL }}images/logo.png" width="221" height="108" alt="Twiching"/></a>
        </div>

        <div class="grid_8 header_sub">
            {% if user.is_authenticated %}
                <div class="grid_6" style="margin-top: 8px;">
                    <i>Welcome, <strong><a href="/user/{{ user.username }}"
                                           title="{{ user.first_name }} {{ user.last_name }} Profile"
                                           style="text-decoration: none; color: #5D5D5D;"> {{ user.first_name }} {{ user.last_name }}</a></strong></i>
                </div>
            {% endif %}
            <div style="background-image:url({{ STATIC_URL }}images/top-icon-bg.png); background-repeat: repeat-x; width: 128px; float: right;">
                <a href="http://www.facebook.com/twiching" target="_blank" style="border: none; margin: 0px;"><img
                        src="{{ STATIC_URL }}images/twiching_07.png" width="25" height="30"/></a>
                <a href="http://twichingweb.blogspot.com" target="_blank"><img
                        src="{{ STATIC_URL }}images/twiching_08.png" width="20" height="30"/></a>
                <a href="http://www.linkedin.com/profile/view?id=31305910" target="_blank"><img
                        src="{{ STATIC_URL }}images/twiching_09.png" width="20" height="30"/></a>
                <a href="http://www.youtube.com/user/twichingweb" target="_blank"><img
                        src="{{ STATIC_URL }}images/twiching_10.png" width="20" height="30"/></a>
                <a href="http://twitter.com/twichingweb" target="_blank"><img
                        src="{{ STATIC_URL }}images/twiching_11.png" width="27" height="30"/></a>
            </div>
        </div>

        <div class="grid_8 header_sub searchbx">
            <form action="/search/photo/" name="frm_search" id="frm_search" method="post">
                {% csrf_token %}
                <ul class="main-srch">
                    <li>
                        <input id="search_text_box" name="search_text_box" class="srch-txt litetext" value="{{ searchTerm }}" type="text">
                    </li>
                    <li>
                        <select  name="seach_type" id="seach_type" onchange="setSearchType();" class="srch-txt litetext">
                            <option value="photos" {% if searchType == "photos" %} selected="selected" {% endif %}>Photos</option>
                            <option value="learn" {% if searchType == "learn" %} selected="selected" {% endif %}>Learning Center</option>
                            <option value="store" {% if searchType == "store" %} selected="selected" {% endif %}>Store</option>
                            <option value="user" {% if searchType == "user" %} selected="selected" {% endif %}>User</option>
                        </select>
                    </li>
                    <li><div class="main-srch-icn"><a href="#" title="Search" onclick="return setSearchAction();">&nbsp;</a></div></li>
                </ul>
            </form>
        </div>

        <div class="grid_9 header_sub1">
            {% static_menu %}
        </div>

        <div class="grid_9">
            {% header_menu %}
        </div>
    </div>
    {#    <div class="clear"></div>#}
    {#    <div class="grid_12 header_menu_products">#}
    {#        {% ecommerce_category %}#}
    {#    </div>#}

    {% if breadcrumb %}
        {#    <div class="clear" style="height:10px;"></div>#}
        {% if breadcrumb %}
            <div class="grid_12 header_menu">
                <img src="{{ STATIC_URL }}images/twiching_23.jpg" width="10" height="30" style="float:left;"/>

                <div style="float:left; font-family: arial; font-size: 11px">
                    {% for links in breadcrumb %}
                        {% if forloop.last %}
                            <strong>{{ links.name }}</strong>
                        {% else %}
                            <a href="{{ links.url }}"
                               style="text-decoration: none; color: #5d5d5d;">{{ links.name }}</a>&nbsp;&nbsp;&raquo;
                            &nbsp;&nbsp;
                        {% endif %}
                    {% endfor %}
                </div>
                <img src="{{ STATIC_URL }}images/twiching_26.jpg" width="10" height="30" style="float:right;"/>

                <div style="float:right;">
                    {% if user.is_authenticated %}
                        {#                    Welcome {{ user.first_name }} |#}
                        <img src="{{ STATIC_URL }}images/twiching_29.jpg" width="22" height="21"/>
                        {% trans 'Cart' %}: (<strong><a href="/cart" style="text-decoration: none;"
                                                        class="red"></a></strong>)
                    {% endif %}
                </div>
            </div>
        {% endif %}
        <div class="clear" style="height:20px;"></div>
    {% else %}
        <div class="clear" style="height:20px;"></div>
    {% endif %}

    {% block content %}{% endblock %}

    <div class="clear"></div>
</div>
<div class="container_12 footer">
    <div class="container_12">
        <div class="grid_5">
            <h2>{% trans 'newsletter' %} </h2>

            <p>
                <input name="newsletter_email" id="newsletter_email" type="text" class="subscribe_input litetext"
                       style="padding-left: 5px;"/>
                <input name="newsletter_subscribe" type="submit" class="subscribe_btn" id="newsletter_subscribe"
                       value='Subscribe' style="cursor: pointer"/>
            </p>

            <p>
                {% trans 'By entering my email address, I certify that the information I am providing is accurate and that I am at least 13 years of age' %}
            </p>

            <p class="socialicon">
                <a href="http://www.facebook.com/twiching" target="_blank"><img
                        src="{{ STATIC_URL }}images/twiching_59.jpg" alt="" width="32" height="35"/></a>
                <a href="http://www.youtube.com/user/twichingweb" target="_blank"><img
                        src="{{ STATIC_URL }}images/twiching_61.jpg" alt="" width="32" height="35"/></a>
                <a href="http://twitter.com/twichingweb" target="_blank"><img
                        src="{{ STATIC_URL }}images/twiching_63.jpg" alt="" width="32" height="35"/></a>
                <a href="http://twichingweb.blogspot.com" target="_blank"><img
                        src="{{ STATIC_URL }}images/twiching_65.jpg" alt="" width="32" height="35"/></a>
                <a href="http://www.linkedin.com/profile/view?id=31305910" target="_blank"><img
                        src="{{ STATIC_URL }}images/twiching_67.jpg" alt="" width="32" height="35"/></a>
            </p>
        </div>
        <div class="grid_3">
            <h2>{% trans 'events' %} </h2>

            <p style="font-size: 11px;">
                find exclusive events conducted by us...
                <br/>
                <a href="/events">follow »</a>
            </p>

            <h2 style="margin-bottom:5px;">contact our store</h2>
            <img src="{{ STATIC_URL }}images/phone.jpg" alt="" width="188px" height="33px"/></div>
        <div class="grid_2">
            <h2>{% trans 'twiching' %}</h2>
            {% footer_menu %}
        </div>
        <div class="grid_2">
            <h2>{% trans 'my account' %}</h2>
            {% static_menu %}
        </div>
        <div class="clear"></div>
        <div class="grid_7 footer_links">
            <p style=" margin-left:-8px;">{% header_vertical_menu %}<br/></p>

            <p> © 2012 twiching. All Rights Reserved.</p>

            <p>
                <a href="/" style="padding-left: 0px;">
                    <img src="{{ STATIC_URL }}images/twiching_80.jpg" alt="Twiching" width="148" height="44"/>
                </a>
                <a href="http://www.designfirms.org/awards/web/archive/2012/05/show/11050/twiching/" style="padding-left:600px" target="_blank">
                    <img src="http://www.designfirms.org/images/awards/icons/2012-award-web.gif">
                </a>
            </p>
        </div>
        <div class="grid_4 stylefright">
            {#            <p><img src="{{ STATIC_URL }}images/twiching_79.jpg" alt="" width="305" height="28"/></p>#}
        </div>
    </div>
    <div class="clear"></div>
</div>
<script type="text/javascript" src="{{ STATIC_URL }}js/newsletter_subscribe.js"></script>
<script type="text/javascript">
    //Search box fading
    if (document.getElementById('search_text_box').value == '') {
        jQuery("#search_text_box").addClass('litetext');
        document.getElementById('search_text_box').value = "Search"
    } else {
        if (document.getElementById('search_text_box').value != 'Search') {
            jQuery("#search_text_box").removeClass('litetext');
        }
    }

    jQuery("#search_text_box").blur(function () {
        if (document.getElementById('search_text_box').value == '') {
            jQuery("#search_text_box").addClass('litetext');
            document.getElementById('search_text_box').value = "Search"
        }
    });
    jQuery("#search_text_box").focus(function () {
        if (document.getElementById('search_text_box').value == 'Search') {
            jQuery("#search_text_box").removeClass('litetext');
            document.getElementById('search_text_box').value = ""
        }
    });
</script>
</body>
</html>

