{% extends "common/base.html" %}
{% load i18n %}
{% load widget_tweaks %}
{% block title %}twiching: {% trans 'Contact Us' %}{% endblock %}
{% block content %}
    <h1>{% trans 'Contact Us' %}</h1>

    <div class="clear"></div>
    <div class="grid_8 main" style="width: 672px;">
        <div class="maintxt">
            <p>
                {% trans "You got any question or you encountered some errors while browsing this site or do you want to convey your feedback to us? Then use the form below. We are waiting for your message!" %}
            </p>
            {% if form.non_field_errors %}
                <div class="error">
                    {{ form.non_field_errors }}
                </div>
            {% endif %}
            <form method="POST" enctype="multipart/form-data" action=".">
                {% csrf_token %}
                <span class="label2">{{ form.full_name.label_tag }}&nbsp;<em style="color: red">*</em></span> :
                {% if form.full_name.errors %}
                    {{ form.full_name|add_class:"field_input_error" }}
                {% else %}
                    {{ form.full_name }}
                {% endif %}
                <div class="clear"></div>
                <span class="label2">{{ form.email.label_tag }}&nbsp;<em style="color: red">*</em></span> :
                {% if form.email.errors %}
                    {{ form.email|add_class:"field_input_error" }}
                {% else %}
                    {{ form.email }}
                {% endif %}
                <div class="clear"></div>
                <span class="label2">{{ form.topic.label_tag }}&nbsp;<em style="color: red">*</em></span> :
                {% if form.topic.errors %}
                    {{ form.topic|add_class:"field_input_error" }}
                {% else %}
                    {{ form.topic }}
                {% endif %}
                <div class="clear"></div>
                <span class="label2">{{ form.subject.label_tag }}&nbsp;<em style="color: red">*</em></span> :
                {% if form.subject.errors %}
                    {{ form.subject|add_class:"field_input_error" }}
                {% else %}
                    {{ form.subject }}
                {% endif %}
                <div class="clear"></div>
                <span class="label2">{{ form.message.label_tag }}&nbsp;<em style="color: red">*</em></span> :
                {% if form.message.errors %}
                    {{ form.message|add_class:"field_input_error" }}
                {% else %}
                    {{ form.message }}
                {% endif %}
                <div class="clear"></div>
                <span class="label2">{{ form.attachment.label_tag }}</span> :
                {% if form.attachment.errors %}
                    {{ form.attachment|add_class:"field_input_error" }}
                {% else %}
                    {{ form.attachment }}
                {% endif %}
                <div class="clear"></div>

                <div style="margin-left: 90px; float: left;">
                    <strong>Please enter the words below&nbsp;<em style="color: red">*</em></strong>
                </div>
                <div style="margin-left: 90px; float: left;">
                    {{ form.captcha }}
                </div>
                <div class="clear"></div>
                {{ form.captcha.errors }}
                <span class="label2">&nbsp; </span>&nbsp;
                <input type="submit" value="{% trans 'Submit' %}" />
            </form>
        </div>
    </div>

    <div class="grid_4 title" style="float:left; width:255px;">
        <h2>{% trans "Contact Details" %}</h2>
    </div>
    <div class="grid_3 main photography" style="float:left; margin-left: 10px; width: 233px;">
        <strong>Address:-</strong> <br />
        Twiching General Trading LLC , <br />
        Bur Dubai, <br />
        Dubai <br />
        p.o box 79998 <br />
        United Arab Emirates <br />
        <strong>Tele:-</strong> <br />
        +971-6-7315131
    </div>
{% endblock %}