{% extends "common/base.html" %}
{% load i18n %}
{% load widget_tweaks %}
{% block content %}
    <h1>{{ pageData.title }}</h1>
    <div class="clear"></div>
    <div class="grid_12 main">
        <div style="text-align: justify;" class="maintxt">{{ pageData.content|safe }}</div>
    </div>
    <div class="clear"></div>
{% endblock %}