<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN"
        "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml">
<head>
    <meta http-equiv="Content-Type" content="text/html; charset=utf-8"/>
</head>

<body>

<div style="background-color:#eae9e9; width:600px; margin:auto;">
    <img src="http://www.twiching.com/static/images/top.gif" alt="twiching"/>
    <div style="width:540px; margin:auto; color: #7b7b7b; line-height:18px; font-size:13px;">
        <span style="font-family:arial;font-size:24px; font-weight:bold; letter-spacing:-1px; line-height:26px; color: #5F5E5E;"> Admin</span>
        <span style="font-family:arial;font-size:24px; font-weight:bold; letter-spacing:-1px; line-height:26px; color: #999999;">selected one of your photographs as featured.</span>

        <p style="color:#7b7b7b; font-family: Arial; font-size:13px; line-height:18px; text-decoration:none;">
            Congrats,
            <a href="http://www.twiching.com/" style="color:#0a8bdd; font-family: Arial; font-size:13px; line-height:18px; text-decoration:none;">
                Admin
            </a>
             has selected your photograph
             <a href="{{photo_url}}" style="color:#0a8bdd; font-family: Arial; font-size:13px; line-height:18px; text-decoration:none;">
                {{photo_name}}
            </a>

             as featured.

        </p>

    </div>
    <div style="height: 30px;"><img src="http://www.twiching.com/static/images/bottom.gif" alt="twiching"/></div>
</div>
<div style="width:600px; margin:auto; text-align:center;">
    <p style="color:#7b7b7b; font-family: Arial; font-size:10px; line-height:14px; text-decoration:none; text-align:center;">
        
    </p>
</div>


</body>
</html>
