<html>
<body>
<table>
    <tr>
        <td><strong>Topic:</strong></td>
        <td>{{ topic }}</td>
    </tr>
    <tr>
        <td><strong>Subject:</strong></td>
        <td>{{ subject }}</td>
    </tr>
    <tr>
        <td><strong>Name:</strong></td>
        <td>{{ name }}</td>
    </tr>
    <tr>
        <td><strong>Email:</strong></td>
        <td>{{ email }}</td>
    </tr>
    <tr>
        <td colspan="2"><strong>Message:</strong></td>
    </tr>
    <tr>
        <td colspan="2">{{ message }}</td>
    </tr>
</table>
</body>
</html>