Hello {{name}}
<br />
You got a message from {{sender_name}} (Twiching Profile URL: {{sender_profile}})
<br />
<br />
<hr>
<span style="border: 1px; height: auto; width: 90px;">{{message|safe}}</span>
<hr>
<br />
To reply to this message please visit following URL {{sender_contact_url}}
<br />
<hr>
<p>
This email is send by Twiching.com since you are a registered member of the site and you have agreed to received any emails
send by other users through our site. Your email address is hidden from the sender of this message. If you would like to
get any further information please contact twiching customer team.
</p>