<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN"
        "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml">
<head>
    <meta http-equiv="Content-Type" content="text/html; charset=utf-8"/>
</head>

<body>

<div style="background-color:#eae9e9; width:600px; margin:auto;">
    <img src="http://{{ http_host }}/static/images/top.gif" alt="twiching"/>
    <div style="width:540px; margin:auto; color: #7b7b7b; line-height:18px; font-size:13px;">
        <span style="font-family:arial;font-size:24px; font-weight:bold; letter-spacing:-1px; line-height:26px; color: #5F5E5E;"> {{commenter_name}}</span>
        <span style="font-family:arial;font-size:24px; font-weight:bold; letter-spacing:-1px; line-height:26px; color: #999999;">following you</span>

        <p style="color:#7b7b7b; font-family: Arial; font-size:13px; line-height:18px; text-decoration:none;">
            Congrats,
            <a href="{{commenter_profile_link}}" style="color:#0a8bdd; font-family: Arial; font-size:13px; line-height:18px; text-decoration:none;">
                {{commenter_name}}
            </a>
            is now following you in twiching.com

        </p>

    </div>
    <div><img src="http://{{ http_host }}/static/images/bottom.gif" alt="twiching"/></div>
</div>
<div style="width:600px; margin:auto; text-align:center;">
    <p style="color:#7b7b7b; font-family: Arial; font-size:10px; line-height:14px; text-decoration:none; text-align:center;">
        If you do not want to receive this mailer, <span>
        <a href="{{ unsubscribe_link }}" style="color:#0a8bdd; font-family: Arial; font-size:10px; line-height:14px; text-decoration:none;">unsubscribe</a></span>
    </p>
</div>


</body>
</html>
