<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN"
        "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml">
{% load i18n %}
<head>
    <meta http-equiv="Content-Type" content="text/html; charset=utf-8"/>
    <title>500 Server Error</title>
</head>
<body>
<div align="center" style="padding-top: 100px;">
    <a href="/" title="Home Page"><img src="/media/images/500.jpg" alt="500 Error Page" /></a>
</div>
</body>
</html>
