{% load mptt_tags %}
{% load i18n %}
<a href="/" name="{% trans 'Home' %}">{% trans 'home' %}</a> |
{% recursetree nodes %}
    {% if node.login_required == 1 %}
        {% if authenticated == 1 %}
            {% if node.user_type_id != None %}
                {% if node.user_type_id == group %}
                    {% if node.new_window == 1 %}
                        <a href="{{ node.url }}" name="{{ node.name }}" target="_blank">{{ node.name }}</a>
                    {% else %}
                        <a href="{{ node.url }}" name="{{ node.name }}">{{ node.name }}</a>
                    {% endif %}
                {% endif %}
            {% else %}
                {% if node.new_window == 1 %}
                    <a href="{{ node.url }}" name="{{ node.name }}" target="_blank">{{ node.name }}</a>
                {% else %}
                    <a href="{{ node.url }}" name="{{ node.name }}">{{ node.name }}</a>
                {% endif %}
            {% endif %}
        {% endif %}
    {% else %}
        {% if node.new_window == 1 %}
            <a href="{{ node.url }}" name="{{ node.name }}" target="_blank">{{ node.name }}</a>
        {% else %}
            <a href="{{ node.url }}" name="{{ node.name }}">{{ node.name }}</a>
        {% endif %}
    {% endif %}
    |
{% endrecursetree %}