{% load mptt_tags %}
{% block extra_javascript %}
<script type="text/javascript">
        jQuery(document).ready(function () {
            jQuery("#nav-one").dropmenu({
                openAnimation:"slide",
                closeAnimation:"slide",
                openClick:false,
                openSpeed:500,
                closeSpeed:100,
                closeDelay:10
            });
            jQuery('#loadingDiv')
                    .hide()  // hide it initially
                    .ajaxStart(function() {
                        jQuery(this).show();
                    })
                    .ajaxStop(function() {
                        jQuery(this).hide();
                    });
            jQuery('#display_message').delay(5000).fadeOut('slow');
        });



        function rtclickcheck(keyp) {
            if (navigator.appName == "Netscape" && keyp.which == 3) {
                alert(message);
                return false;
            }
            if (navigator.appVersion.indexOf("MSIE") != -1 && event.button == 2) {
                return false;
            }
        }
        document.onmousedown = rtclickcheck;
    </script>
{% endblock %}

<ul id="nav-one" class="dropmenu">
    {% recursetree nodes %}
        <li{% if not node.get_next_sibling %} style="background-image: none; padding-right: 0;" {% endif %}>
            {% if node.login_required == 1 %}
                {% if authenticated == 1 %}
                    {% if node.user_type_id != None %}
                        {% if node.user_type_id == group %}
                            {% if node.new_window == 1 %}
                                <a href="{{ node.url }}" name="{{ node.name }}" target="_blank">{{ node.name }}</a>
                            {% else %}
                                <a href="{{ node.url }}" name="{{ node.name }}">{{ node.name }}</a>
                            {% endif %}
                        {% endif %}
                    {% else %}
                        {% if node.new_window == 1 %}
                            <a href="{{ node.url }}" name="{{ node.name }}" target="_blank">{{ node.name }}</a>
                        {% else %}
                            <a href="{{ node.url }}" name="{{ node.name }}">{{ node.name }}</a>
                        {% endif %}
                    {% endif %}
                {% endif %}
            {% else %}
                {% if node.new_window == 1 %}
                    <a href="{{ node.url }}" name="{{ node.name }}" target="_blank">{{ node.name }}</a>
                {% else %}
                    <a href="{{ node.url }}" name="{{ node.name }}">{{ node.name }}</a>
                {% endif %}
            {% endif %}
            {% if not node.is_leaf_node %}
                <ul>
                    {{ children }}
                </ul>
            {% endif %}
        </li>
    {% endrecursetree %}
</ul>
