<ul>
    {% if userAvailable %}
        <li>
            <a href="/user/{{ username }}">My Profile </a>
        </li>
        <li>
            <a href="/wall">My Wall </a>
        </li>
        <li>
            <a href="/accounts/dashboard">My Account </a>
        </li>
        <li>
            <a href="/wishlist/">My Wishlist </a>
        </li>
        <li>
            <a href="/products/cart/">My Cart</a>
        </li>

        <li>
            <a href="/accounts/logout/">Sign Out </a>
        </li>
    {% else %}
        <li>
            <a href="/accounts/register/">Register</a>
        </li>
        <li>
            <a href="/accounts/login/">Sign In</a>
        </li>
    {% endif %}

</ul>