<ul>
    <li>
        <a href="/about-us/" name="About Us">About Us</a>
    </li>
    <li>
        <a href="/contact-us/" name="Contact Us">Contact Us</a>
    </li>
    <li>
        <a href="/terms-and-conditions/" name="Terms and Conditions">Terms and Conditions</a>
    </li>
    <li>
        <a href="/privacy-policy/" name="Privacy Policy">Privacy Policy</a>
    </li>
</ul>