{% load i18n thumbnail endless future %}
{% block js %}
    {{ block.super }}
    <script src="http://code.jquery.com/jquery-latest.js"></script>
    <script src="{{ STATIC_URL }}endless_pagination/js/endless-pagination.js"></script>
    <script>
        $.endlessPaginate({
            paginateOnScroll: true,
            paginateOnScrollMargin: 20
        });
    </script>
{% endblock %}

{% paginate 3 products %}
{% if products %}
<ul>
    {% for product in products %}
                        <div class="camera-thumb-list">
                            <h3 class="camera-thumb-title">{{ product.get_title|truncatewords:5 }}</h3>
                            <h4 class="camera-thumb-sub-title">{{ product.get_product_class }}</h4>
                                                        {% for image in product.images.all|slice:":1" %}
                                                            {% thumbnail image.original "200x240" upscale=False as thumb %}
                                                                <a href="{{ product.get_absolute_url }}"><img src="/media/{{ image.original }}" width="{{ thumb.width }}" height="{{ thumb.height }}" alt="{{ product.get_title }}" class="thumbnail"></a>
                                                            {% endthumbnail %}
                                                        {% endfor %}
                            <div class="camera-thumb-det"><a href="{{ product.get_absolute_url }}" title="Details">Details</a></div>
                            <h5 class="camera-thumb-price">AED  {{ product.stockrecord.price_incl_tax}}/-</h5>
                        </div>
                    {% endfor %}
</ul>
{% show_more %}
{% else %}
<ul><li>{% trans 'Sorry, no more results' %} &hellip; </li></ul>
{% endif %}

