{% extends "common/base.html" %}
{% load i18n %}
{% load widget_tweaks %}
{% block title %}Twiching: {{ flatpage.title }}{% endblock %}
{% block content %} 
<h1> {{ flatpage.title }}</h1>
<div class="clear"></div>
<div class="grid_12 main">
	<div class="maintxt" >{{ flatpage.content }}</div>
</div>
<div class="clear"></div>
{% endblock %}