{% load i18n %}
{% load endless %}
{% load adzone_tags %}
{% load thumbnail %}
{% paginate featuredPosts %}
{% for posts in featuredPosts %}
            <dl class="srch-det-list">
				<dt>
                    {% thumbnail posts.image "150x110" as im %}
                        <a href="/learningcenter/{{ posts.category.name|lower }}/{{ posts.id }}" title="{{ posts.title }}">
                            <img src="{{ im.url }}" width="{{ im.width }}" height="{{ im.height }}"/>
                        </a>
                    {% endthumbnail %}
				</dt>
				<dd>
					<h3 class="srch-det-title"> {{ posts.title }}</h3>
					<p class="srch-det-desc"> {{ posts.summary|striptags }}
                    </p>
				</dd>
			</dl>
            {% endfor %}

            {% show_more %}