{% load i18n %}
{% load widget_tweaks %}
{% load accounts %}
{% load thumbnail %}
{% load truncate_letters %}
{% load endless %}
{% load photographs %}

{% paginate photoObjects %}
            {% for images in photoObjects %}
                <a href='/user/{{ images.user.username }}/photo/{{ images.id }}/' title="{{ images.title }}" style="padding: 0px;">
                    <div class="photo_left3" style="height:180px; width: 180px; cursor: pointer; {% cycle '' '' 'padding: 0; margin:0;' %}">
                        {% thumbnail images.image "180x180" crop="center" as im %}
                            <img src="{{ im.url }}" width="{{ im.width }}" height="{{ im.height }}" />
                        {% endthumbnail %}

                        <div class="photo_disc_over"><strong>{{ images.title|truncateletters:25 }}</strong>
                            <br/>
                            {{ images.user.first_name }}&nbsp;{{ images.user.last_name }}<br/>
                            <strong class="number">{% if images.popularity == None %} 0 {% else %}{{ images.popularity }} {% endif %}%</strong><span
                                    style="color: #c2c2c2;"> Popular</span></div>
                    </div>
                </a>
                {% cycle '' '' ' <div class="clear" style="height:20px;"> &nbsp;</div>' %}

            {% endfor %}

            {% show_more %}