{% extends "common/base.html" %}
{% load i18n %}
{% load widget_tweaks %}
{% load accounts %}
{% load thumbnail %}
{% load truncate_letters %}
{% load endless %}
{% load photographs %}
{% block title %}
    {{ title }}
{% endblock %}
{%  block extra_css %}
<link rel="stylesheet" href="{{ STATIC_URL }}css/search.css"/>
{% endblock %}
{% block extra_javascript %}
    <script src="{{ STATIC_URL }}endless_pagination/js/endless.js" type="text/javascript" charset="utf-8"></script>
    <script src="{{ STATIC_URL }}endless_pagination/js/endless_on_scroll.js" type="text/javascript" charset="utf-8"></script>
    <script type="text/javascript" charset="utf-8">
        var endless_on_scroll_margin = 550;
    </script>
{% endblock %}
{% block content %}
    <div class="grid_12 srch-filter">
        <form action="/search/photo/" name="frm_search_result" id="frm_search_result" method="post" >
            {% csrf_token %}
            <ul class="srch-filter-list">
                <li>
                    <div class="srch-filter-type1">
                        <input name="searchText" id="searchText" type="text" value="{{ searchTerm }}"  />
                    </div>
                </li>
                <li>
                    <div class="srch-filter-type2">
                        <select name="selCat" id="selCat">
                            <option value="">Select Category</option>
                            {% for category in categoryList %}
                                <option value="{{ category.id }}" {% if category.id == selectedCat %} selected="selected" {% endif %}>{{ category.name }}</option>
                            {% endfor %}
                        </select>
                    </div>
                </li>
                <li>
                    <div class="srch-filter-type2">
                        <select name="sortBy" id="sortBy">
                            <option value="asc"  {% if sOrder == "asc" %} selected="selected" {% endif %}>Ascending</option>
                            <option value="desc"  {% if sOrder == "desc" %} selected="selected" {% endif %}>Descending</option>
                        </select>
                    </div>
                </li>
                <li>
                    <span class="srch-filter-icn"><a href="#" title="Search" onclick="setResultAction();">Search</a></span>
                </li>
            </ul>
        </form>
	</div>
    

    <div class="clear"></div>
    
    <div class="clear" style="height: 10px;"></div>
    
    <div class="grid_12  main" >

        <div class="top_bottom_navi" style="padding: 20px 44px;">
            
			<dl class="srch-breadcrumb">
				<dt>{{ searchTerm }}</dt>
				<dd>
					<span class="srch-breadcrumb-icn">Search</span>
				</dd>
				<dd>{{ imgCnt }} Photos found</dd>
			</dl>

            <div class="clear" style="height: 20px;"> &nbsp;</div>


            {% paginate photoObjects %}
            {% for images in photoObjects %}
                <a href='/user/{{ images.user.username }}/photo/{{ images.id }}/' title="{{ images.title }}" style="padding: 0px;">
                    <div class="photo_left3" style="height:180px; width: 180px; cursor: pointer; {% cycle '' '' 'padding: 0; margin:0;' %}">
                        {% thumbnail images.image "180x180" crop="center" as im %}
                            <img src="/media/{{ images.image }}" width="{{ im.width }}" height="{{ im.height }}" />
                        {% endthumbnail %}

                        <div class="photo_disc_over"><strong>{{ images.title|truncateletters:25 }}</strong>
                            <br/>
                            {{ images.user.first_name }}&nbsp;{{ images.user.last_name }}<br/>
                            <strong class="number">{% if images.popularity == None %} 0 {% else %}{{ images.popularity }} {% endif %}%</strong><span
                                    style="color: #c2c2c2;"> Popular</span></div>
                    </div>
                </a>
                {% cycle '' '' ' <div class="clear" style="height:20px;"> &nbsp;</div>' %}

            {% endfor %}
                 <div class="clear" style="height: 20px;"> &nbsp;</div>


                {% show_more %}



        </div>
    </div>
{% endblock %}
