{% extends "common/base.html" %}
{% load i18n %}
{% load endless %}
{% load adzone_tags %}
{% load thumbnail %}
{% block title %}
    {{ title }}
{% endblock %}
{% block extra_javascript %}
    <script type="text/javascript" src="{{ STATIC_URL }}js/jquery.nivo.slider.js"></script>
    <script type="text/javascript">
        jQuery(window).load(function () {
            jQuery('#slider').nivoSlider();

        });

    </script>
    <script src="{{ STATIC_URL }}endless_pagination/js/endless.js" type="text/javascript" charset="utf-8"></script>
    <script src="{{ STATIC_URL }}endless_pagination/js/endless_on_scroll.js" type="text/javascript" charset="utf-8"></script>
    <script type="text/javascript" charset="utf-8">
        var endless_on_scroll_margin = 550;
    </script>
{% endblock %}
{% block extra_css %}
    <link rel="stylesheet" href="{{ STATIC_URL }}css/nivo-slider.css"/>
    <link rel="stylesheet" href="{{ STATIC_URL }}css/nivo-default-theme.css"/>
    <link rel="stylesheet" href="{{ STATIC_URL }}css/search.css"/>
{% endblock %}

{% block content %}

<div class="grid_12 srch-filter">
    <form action="/search/learnCenter/" name="frm_search_result" id="frm_search_result" method="post" >
        {% csrf_token %}
		<ul class="srch-filter-list">
			<li>
				<div class="srch-filter-type1">
					<input name="searchText" id="searchText" type="text" value="{{ searchTerm }}"  />
				</div>
			</li>
			<li>
				<div class="srch-filter-type2">
					<select name="selCat" id="selCat">
						<option value="">Select Category</option>
                        <option value="1"  {% if selectedCat == 1 %} selected="selected" {% endif %}>News</option>
                        <option value="2"  {% if selectedCat == 2 %} selected="selected" {% endif %}>Articles</option>
                        <option value="3"  {% if selectedCat == 3 %} selected="selected" {% endif %}>Twichorials</option>
					</select>
				</div>
			</li>			
			<li>
				<div class="srch-filter-type2">
					<select name="sortBy" id="sortBy">
                        <option value="asc"  {% if sOrder == "asc" %} selected="selected" {% endif %}>Ascending</option>
                        <option value="desc"  {% if sOrder == "desc" %} selected="selected" {% endif %}>Descending</option>
					</select>
				</div>
			</li>
			<li>
				<span class="srch-filter-icn"><a href="#" title="Search" onclick="setResultAction();">Search</a></span>
			</li>
		</ul>
    </form>
</div>
    

    <div class="clear"></div>
    
    <div class="clear" style="height: 10px;"></div>
    
    <div class="grid_12  main" >

        <div class="top_bottom_navi" style="padding: 20px 44px;">
            
			<dl class="srch-breadcrumb">
				<dt>{{ searchTerm }}</dt>
				<dd>
					<span class="srch-breadcrumb-icn">Search</span>
				</dd>
				<dd>{{ postCnt }} result(s) found</dd>
			</dl>

            <div class="clear" style="height: 20px;"> &nbsp;</div>
            {% paginate featuredPosts %}
            {% for posts in featuredPosts %}
            <dl class="srch-det-list">
				<dt>
                    {% thumbnail posts.image "150x110" as im %}
                        <a href="/learningcenter/{{ posts.category.name|lower }}/{{ posts.id }}" title="{{ posts.title }}">
                            <img src="/media/{{ posts.image }}" width="{{ im.width }}" height="{{ im.height }}"/>
                        </a>
                    {% endthumbnail %}
				</dt>
				<dd>
					<h3 class="srch-det-title"> {{ posts.title }}</h3>
					<p class="srch-det-desc"> {{ posts.summary|striptags }}
                    </p>
				</dd>
			</dl>
            {% endfor %}
			
			<div style="height: 20px;" class="clear"> &nbsp;</div>
            	
            
                {% show_more %}
            

        </div>
    </div>
{% endblock %}
