{% extends "common/base.html" %}
{% load i18n %}
{% load widget_tweaks %}
{% load accounts %}
{% load thumbnail %}
{% load truncate_letters %}
{% load endless %}
{% load photographs %}
{% block title %}
{{ title }}
{% endblock %}
{%  block extra_css %}
<link rel="stylesheet" href="{{ STATIC_URL }}css/search.css"/>
{% endblock %}
{% block extra_javascript %}
    <script src="{{ STATIC_URL }}endless_pagination/js/endless.js" type="text/javascript" charset="utf-8"></script>
    <script src="{{ STATIC_URL }}endless_pagination/js/endless_on_scroll.js" type="text/javascript" charset="utf-8"></script>
    <script type="text/javascript" charset="utf-8">
        var endless_on_scroll_margin = 550;
    </script>
{% endblock %}
{% block content %}
<div class="grid_12 srch-filter">
    <form action="/search/store/" name="frm_search_result" id="frm_search_result" method="post" >
        {% csrf_token %}
        <ul class="srch-filter-list">
            <li>
                <div class="srch-filter-type1">
                    <input name="searchText" id="searchText" type="text" value="{{ searchTerm }}"  />
                </div>
            </li>
            <!--li>
                <div class="srch-filter-type2">
                    <select>
                        <option>Select Category</option>
                    </select>
                </div>
            </li-->
            <li>
                <div class="srch-filter-type2">
                    <select name="sortBy" id="sortBy">
                        <option value="asc"  {% if sOrder == "asc" %} selected="selected" {% endif %}>Ascending</option>
                        <option value="desc"  {% if sOrder == "desc" %} selected="selected" {% endif %}>Descending</option>
                    </select>
                </div>
            </li>
            <li>
                <span class="srch-filter-icn"><a href="#" title="Search" onclick="setResultAction();">Search</a></span>
            </li>
        </ul>
    </form>
</div>


<div class="clear"></div>

<div class="clear" style="height: 10px;"></div>

<div class="grid_12  main" >

    <div class="top_bottom_navi" style="padding: 20px 44px;">

        <dl class="srch-breadcrumb">
            <dt>{{ searchTerm }}</dt>
            <dd>
                <span class="srch-breadcrumb-icn">Search</span>
            </dd>
            <dd>{{ prdCnt }} Products found</dd>
        </dl>

        <div class="clear" style="height: 20px;"> &nbsp;</div>
        {% paginate products %}

        {% for product in products %}

        <div class="product {% cycle '' '' '' 'end' %}" style="border-width: 0px; text-align:center; position: relative;">
            {% for photo in product.images.all %}
            {% if forloop.first %}
            {% thumbnail photo.original "116x86" crop="center" as im %}
            <a href="/products/{{ product.id }}" >
                <img src="{{im.url}}" width="{{ im.width }}" height="{{ im.height }}"/>
            </a>
            {% endthumbnail %}
            {% endif %}
            {% endfor %}
            <br />
            <strong> {{ product.title }}</strong>

            </p>
            <div class="clear"></div>
        </div>
        {% cycle '' '' '' '<div class="clear"></div>' %}
        {% endfor %}


        <div class="clear"></div>
       {% show_more %}


    </div>
</div>

{% endblock %}
