{% load i18n %}
{% load widget_tweaks %}
{% load accounts %}
{% load thumbnail %}
{% load truncate_letters %}
{% load endless %}
{% load photographs %}

{% paginate products %}

        {% for product in products %}

        <div class="product {% cycle '' '' '' 'end' %}" style="border-width: 0px; text-align:center; position: relative;">
            {% for photo in product.images.all %}
            {% if forloop.first %}
            {% thumbnail photo.original "116x86" crop="center" as im %}
            <a href="/products/{{ product.id }}" >
                <img src="{{im.url}}" width="{{ im.width }}" height="{{ im.height }}"/>
            </a>
            {% endthumbnail %}
            {% endif %}
            {% endfor %}
            <br />
            <strong> {{ product.title }}</strong>

            </p>
            <div class="clear"></div>
        </div>
        {% cycle '' '' '' '<div class="clear"></div>' %}
        {% endfor %}


        <div class="clear"></div>
       {% show_more %}
