{% load i18n %}
{% load endless %}
{% load photographs %}
{% load accounts %}
{% load thumbnail %}
{% load truncate_letters %}

{% paginate data %}
            {% for d in data %}
                <a href='/user/{{ d.username }}' style="padding: 0px;">
                    <div class="photo_left thumb" style="{% cycle '' '' '' ' margin-right: 0px;' %}">
                        <div style="text-align: center !important; min-height:94px;">
                            {% thumbnail d.avatar "138x94" as im %}
                                <img src="{{ im.url }}" width="{{ im.width }}" height="{{ im.height }}"/>
                            {% endthumbnail %}
                        </div>

                        <div class="feature_box_content">

                            <h2>{{ d.full_name|truncateletters:17 }}</h2>
                            {% if d.group_name != '' %}
                                <strong> {{ d.group_name }} </strong><br/>
                            {% endif %}
                            {% trans 'Last Login' %}:
                            {{ d.last_login|date:DATE_FORMAT }}
                            {% if d.country_iso != None %}
                                <img src="{{ STATIC_URL }}flags/{{ d.country_iso }}.gif" width="16" height="11" class="flag"/>
                            {% endif %}
                        </div>
                        {% if d.twichers %}
                            <div class="ribbon"></div>
                        {% endif %}
                    </div>
                </a>
                {% cycle '' '' '' '<div class="clear" style="height:30px;"> &nbsp;</div>' %}
            {% endfor %}

            {% show_more %}