{% load i18n %}
{% load thumbnail %}
{% if data.name != '' %}
    <div class="grid_5 title" style="width:320px;">
        <h2>
            {% trans 'Latest Event' %}
            <span style="float:right; margin-right:5px; position: relative; top: -3px;">
                <a href="/events/" title="{% trans "More Events" %}" style="float: right;">
                    <img src="{{ STATIC_URL }}images/arrow-more.png" width="24px" height="24px" alt="More" />
                </a>
            </span>
        </h2>

    </div>
    <div class="grid_5 small" style="width:320px;">
        <h2>
            <a href="/event/{{ eventData.id }}"
               style="text-decoration: none; color: #2D5392; font-size: 14px; font-weight: bold; font-family: Arial;">
                {% if eventData.defaultPhoto != None %}
                    {% thumbnail eventData.defaultPhoto "120x120" crop="center" as im %}
                        <img src="{{ im.url }}" width="{{ im.width }}" height="{{ im.height }}" style="float:left; margin-right:15px;"/>
                    {% endthumbnail %}
                {% else %}
                    <img src="{{ STATIC_URL }}images/no_image_available.gif"
                         width="120" height="120" style="float:left; margin-right:15px;"/>
                {% endif %}
            </a>
            <a href="/event/{{ eventData.id }}" style="text-decoration: none; color: #2D5392; font-size: 14px; font-weight: bold; font-family: Arial;">{{ eventData.name }}</a></h2>

        <div style="padding-bottom: 5px; padding-top: 6px;">
            <strong>
                {% trans 'Location' %}:</strong>
            <br/>
            {{ eventData.city }}, {{ eventData.country }}
        </div>
        {% if eventData.sponsor != None %}
            <div style="padding-bottom: 5px;">
                <strong>
                    {% trans 'Sponsor' %}:
                </strong>
                <br/>
                {{ eventData.sponsor }}
            </div>
        {% endif %}

        <div>
            <strong>
                {% trans 'Date' %}:
            </strong>
            <br/>
            {{ eventData.date|date:DATE_FORMAT }}
        </div>
    </div>
{% endif %}