{% extends "common/base.html" %}
{% load i18n %}
{% load widget_tweaks %}
{% block title %}
    {% trans "Twiching: Events" %}
{% endblock %}
{% load endless %}
{% load thumbnail %}
{% block extra_css %}
    <link rel="stylesheet" href="{{ STATIC_URL }}css/prettyPhoto.css" type="text/css" media="screen" charset="utf-8" />
{% endblock %}
{% block extra_javascript %}
    <script src="{{ STATIC_URL }}js/jquery.prettyPhoto.js" type="text/javascript" charset="utf-8"></script>
    <script type="text/javascript">
        jQuery(document).ready(function(){
                jQuery("a[rel^='eventAlbum']").prettyPhoto({
                    theme: 'dark_rounded',
                    slideshow:5000,
                    autoplay_slideshow:true,
                    social_tools: false
                });
        });
    </script>
    {# for share features .Added by Aswathy Raju #}
    <script type="text/javascript">var switchTo5x = true;</script>
    <script type="text/javascript" src="http://w.sharethis.com/button/buttons.js"></script>
    <script type="text/javascript">stLight.options({publisher:"488dec4a-40e8-4e47-a7a0-458c25746511"}); </script>

{% endblock %}
{% block content %}
<h1>{% trans "Events" %}</h1>
<div class="clear"></div>
<div class="grid_12 events">
    <div class="grid_8 ">
        {% paginate eventList %}
        {% for data in eventList %}
        <div class="eventpost">
            <h1><a href="/event/{{ data.event.id }}" style="text-decoration: none; color: #333333; ">{{ data.event.name }}</a></h1>

            <p class="postdate" style="float: none;">
                <strong>{% trans 'Date' %}:</strong> {{ data.event.date|date:DATE_FORMAT }}&nbsp;&nbsp; |&nbsp;&nbsp;
                <strong>{% trans 'Location' %}:</strong> {{ data.event.city }}, {{ data.event.country.printable_name }} &nbsp;&nbsp;
                {% if data.event.sponsor != None %}
                |&nbsp;&nbsp; <strong>{% trans 'Sponsor' %}:</strong> {{ data.event.sponsor }}
                {% endif %}
            </p>
            <div class="clear"></div>

            {# for share features Added by Aswathy Raju #}
            {% thumbnail data.default_photo.image  "900x800" as im %}
                <span style="float:left; margin-bottom: 12px;">
                            <span class='st_facebook_hcount' displayText='Facebook' st_url='http://{{ request.get_host }}/event/{{ data.event.id }}' st_image="{{ im.url }}"
                                  st_title="{{ data.event.name }}" st_summary="{{ data.event.name }}"></span>
                            <span class='st_twitter_hcount' displayText='Tweet' st_url='http://{{ request.get_host }}/event/{{ data.event.id }}' st_image="{{ im.url }}"
                                  st_title="{{ data.event.name }}" st_summary="{{ data.event.name }}"></span>
                            <span class='st_plusone_hcount' displayText='Google +1' st_url='http://{{ request.get_host }}/event/{{ data.event.id }}' st_image="{{ im.url }}"
                                  st_title="{{ data.event.name }}" st_summary="{{ data.event.name }}"></span>
                            <span class='st_pinterest_hcount' displayText='Pinterest'
                                  st_url='http://{{ request.get_host }}/event/{{ data.event.id }}' st_image="{{ im.url }}"
                                  st_title="{{ data.event.name }}" st_summary="{{ data.event.name }}"></span>
                            <span class='st_email_hcount' displayText='Email' st_url='http://{{ request.get_host }}/event/{{ data.event.id }}' st_image="{{ im.url }}"
                                  st_title="{{ data.event.name }}" st_summary="{{ data.event.name }}"></span>
                </span>
            {% endthumbnail %}
            <div class="clear"></div>
            <p style="min-height: 95px; text-align: justify;">
                {% thumbnail data.default_photo.image "900x800" as im_big %}
                    <a href="{{ im_big.url }}" rel="eventAlbum[gallery_{{ data.event.id }}]" title="{{ data.default_photo.title }}">
                        {% thumbnail data.default_photo.image "196x196" crop="center" as im %}
                            <img src="{{ im.url }}" width="{{ im.width }}" height="{{ im.height }}" style="float:left; padding-right:20px; padding-bottom: 20px;"/>
                        {% endthumbnail %}
                    </a>
                {% empty %}
                     <img src="{{ STATIC_URL }}images/no_image_available.gif" width="196" height="196" style="float:left; padding-right:20px; padding-bottom: 20px;"/>
                {% endthumbnail %}
                {{ data.event.content|safe }}
            </p>
            <div class="clear"></div>
                {% for photo in data.photos %}
                    {%  if forloop.first %}
                        <h2>{% trans 'Photo Gallery' %}</h2>
                    {% endif %}
                    {% thumbnail photo.image "900x800" as im_big %}
                        <a href="{{ im_big.url }}" rel="eventAlbum[gallery_{{ data.event.id }}]" title="{{ photo.title }}">
                             {% thumbnail photo.image "48X48" as im %}
                                <img src="{{ im.url }}" width="{{ im.width }}" height="{{ im.height }}" />
                             {% endthumbnail %}
                        </a>
                    {% endthumbnail %}
                {% endfor %}
        </div>
        <div class="clear"></div>
        {% endfor %}
        <div style="width: 100%" align="center" id="pagination">
            {% show_pages %}
        </div>
    </div>

    <div class="grid_4 " style="float:right;">
        <h1> {% trans 'Event Category' %}  </h1>
        <ul class="sidebar">
            <li>
                <a href="/events/">{% if categoryId == 0 %}<strong>All</strong>{% else %} All {% endif %}</a>
            </li>
            {% for category in categoryList %}
            <li>
                <a href="/events/{{ category.id }}">{% if categoryId == category.id %}<strong>{{ category.name }}</strong>{% else %}{{ category.name }}{% endif %}</a>
            </li>
            {% endfor %}
        </ul>
    </div>


{#    <div class="grid_4 " style="float:right;">#}
{#        <h1>Search Events</h1>#}
{#        <select name="">#}
{#            <option>By Date</option>#}
{#        </select><br/>#}
{##}
{##}
{#        <select name="">#}
{#            <option>By Location</option>#}
{#        </select><br/>#}
{##}
{##}
{#        <select name="">#}
{#            <option>By Sponsor</option>#}
{#        </select><br/>#}
{##}
{#        <input name="" type="button"/>#}
{#    </div>#}
</div>
{% endblock %}
      